<template>
  <div id="chart">
    <vue-apex-charts @click="LeftSectionActive(element.type)" type="bar" height="350" :options="barChart.chartOptions"
                     :series="barChart.series"></vue-apex-charts>
  </div>
</template>
<script>
  import VueApexCharts from 'vue-apexcharts'

  export default {
    props: {
      element: {},
    },
    components: {
      VueApexCharts,
    },
    data() {
      return {
        themeColors: ['#7367F0', '#28C76F', '#EA5455', '#FF9F43', '#1E1E1E'],
        barChart: {
          series: [{
            data: [400, 430, 448, 470, 540, 580, 690, 1100, 1200, 1380]
          }],
          chartOptions: {
            colors: this.themeColors,
            plotOptions: {
              bar: {
                horizontal: true,
              }
            },
            dataLabels: {
              enabled: false
            },
            xaxis: {
              categories: ['South Korea', 'Canada', 'United Kingdom', 'Netherlands', 'Italy', 'France', 'Japan',
                'United States', 'China', 'Germany'
              ],
            }
          }
        }
      }
    },

    mounted() {
      let _self = this;
      this.$hub.$on("transferSubmitDataSource", function (data) {
        _self.SubmitDataSource(data);
      });
    },
    methods: {
      SubmitDataSource(data) {
        if (data == 1) {
          this.barChart.series[0].data = [200, 330, 548, 670, 240, 380, 490, 1200, 1400, 1180];
        } else {
          this.barChart.series[0].data = [300, 330, 548, 770, 240, 580, 890, 1400, 1400, 1680];
        }
      },
      LeftSectionActive(type) {
        // this.emit('section_change', type)
        this.$hub.$emit("sectionChange", type);
      },
    }
  }
</script>

