<template>
  <div class="editor" style="margin-top: 30px">
    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <div class="demo centex">
        <vs-button :class="{ 'is-active': isActive.bold() }" @click="commands.bold" size="small" color="primary"
                   type="filled">
          <i class="fa fa-bold"></i>
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.italic() }" @click="commands.italic" size="small" color="primary"
                   type="filled">
          <i class="fa fa-italic"></i>
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.underline() }" @click="commands.underline" size="small"
                   color="primary"
                   type="filled">
          <i class="fa fa-underline"></i>
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.strike() }" @click="commands.strike" size="small" color="primary"
                   type="filled">
          <i class="fa fa-strikethrough"></i>
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.paragraph() }" size="small" color="primary"
                   type="filled">
          <i class="fa fa-paragraph"></i>
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.heading({level : 1}) }" @click="commands.heading({level : 1})"
                   size="small" color="primary"
                   type="filled">
          H1
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.heading({level : 2}) }"
                   @click="commands.heading({level : 2})" size="small" color="primary"
                   type="filled">
          H2
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.heading({level : 3}) }"
                   @click="commands.heading({level : 3})" size="small" color="primary"
                   type="filled">
          H3
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.bullet_list() }" @click="commands.bullet_list" size="small"
                   color="primary"
                   type="filled">
          <i class="fa fa-list"></i>
        </vs-button>

        <vs-button :class="{ 'is-active': isActive.ordered_list() }" @click="commands.ordered_list" size="small"
                   color="primary"
                   type="filled">
          <i class="fa fa-list-ol"></i>
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.blockquote() }" @click="commands.blockquote" size="small"
                   color="primary"
                   type="filled">
          <i class="fa fa-blockquote"></i>
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.code() }" @click="commands.code" size="small" color="primary"
                   type="filled">
          <i class="fa fa-code"></i>
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.code_block() }" @click="commands.code_block" size="small"
                   color="primary"
                   type="filled">
          <i class="fa fa-code_block"></i>
        </vs-button>
        <vs-button :class="{ 'is-active': isActive.horizontal_rule() }" @click="commands.horizontal_rule" size="small"
                   color="primary"
                   type="filled">
          <i class="fa fa-horizontal_rule"></i>
        </vs-button>
      </div>

    </editor-menu-bar>

    <editor-content class="editor__content" :editor="editor"/>
  </div>
</template>

<script>
  import {Editor, EditorContent, EditorMenuBar} from 'tiptap'
  import {
    Blockquote,
    CodeBlock,
    HardBreak,
    Heading,
    HorizontalRule,
    OrderedList,
    BulletList,
    ListItem,
    TodoItem,
    TodoList,
    Bold,
    Code,
    Italic,
    Link,
    Strike,
    Underline,
    History,
  } from 'tiptap-extensions'

  export default {
    props: ['value'],
    components: {
      EditorContent,
      EditorMenuBar,
    },
    data() {
      return {
        innerValue: " ",
        editor: null,
      }
    },

    beforeDestroy() {
      this.editor.destroy()
    },
    mounted() {
      this.editor = new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({levels: [1, 2, 3]}),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
        ],
        content: '',
        onUpdate: ({getHTML}) => {
          this.$emit('input', getHTML())
        }
      });
      this.editor.setContent(this.value)
    },
  }
</script>

<style lang="scss">
  .editor__content {
    .ProseMirror {
      min-height: 150px;
      border: 1px solid #999696;
      padding: 15px;
      border-top-color: transparent !important;

      &:focus {
        outline: none;
      }

      &.ProseMirror-focused {
        min-height: 150px;
        border: 1px solid #999696;
        border-top-color: transparent !important;
        padding: 15px;
      }
    }
  }

  .editor {
    .v-btn:not(.v-btn--text):not(.v-btn--outlined).v-btn--active:before {
      opacity: 0;
    }

    .v-btn {
      &.is-active {
        &::before {
          opacity: 0.18 !important;
        }
      }
    }

    .editor__content {
      p {
        font-size: 1rem;
      }
    }

    .v-slide-group__wrapper {
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
  }
</style>
