<template>
  <div id="image" @click="LeftSectionActive(element.type)">
    <div
      class="item-view-primary-action-btn p-3 rounded-lg flex flex-grow items-center cursor-pointer mb-3"
      :class="classAlign">
      <vue-gallery v-model="user.photo"></vue-gallery>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      element: {},
    },
    data() {
      return {
        classAlign: 'justify-center',
        imageWidth: '',
        user: {
          photo: ''
        },
      }
    },

    mounted() {
      let _self = this;
      this.$hub.$on("transferChangeImageAlign", function (data) {
        _self.classAlign = 'justify-' + data;
      });
    },
    methods: {
      LeftSectionActive(type) {
        // this.emit('section_change', type)
        this.$hub.$emit("sectionChange", type);
      },
    }
  }
</script>

