<template>
  <div id="chart">
    <vue-apex-charts @click="LeftSectionActive(element.type)" type="line" height="350"
                     :options="lineChartSimple.chartOptions"
                     :series="lineChartSimple.series"></vue-apex-charts>
  </div>
</template>


<script>
  import VueApexCharts from 'vue-apexcharts'

  export default {
    props: {
      element: {},
    },
    components: {
      VueApexCharts,
    },
    data() {
      return {
        themeColors: ['#7367F0', '#28C76F', '#EA5455', '#FF9F43', '#1E1E1E'],
        lineChartSimple: {
          series: [{
            name: "Desktops",
            data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
          }],
          chartOptions: {
            chart: {
              height: 350,
              zoom: {
                enabled: false
              }
            },
            colors: this.themeColors,
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'straight'
            },
            title: {
              text: this.element.name,
              align: 'left'
            },
            grid: {
              row: {
                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
              },
            },
            xaxis: {
              categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
            }
          }
        }
      }
    },

    mounted() {
      let _self = this;
      this.$hub.$on("transferSubmitDataSource", function (data) {
        _self.SubmitDataSource(data);
      });
    },
    methods: {
      SubmitDataSource(data) {
        if (data==1){
          this.lineChartSimple.series[0].data = [20, 51, 25, 31, 19, 62, 59, 61, 748];
        }else {
          this.lineChartSimple.series[0].data = [20, 51, 45, 71, 29, 62, 59, 81, 348];
        }
        console.log(this.lineChartSimple.series[0].data)
        // this.lineChartSimple.chartOptions.xaxis.categories = ['Jan', 'Feb', 'May', 'Jun', 'Jul', 'Sep'],
        // console.log(this.lineChartSimple.chartOptions.xaxis.categories)
        console.log(this.lineChartSimple.series[0].data)
      },
      LeftSectionActive(type) {
        // this.emit('section_change', type)
        this.$hub.$emit("sectionChange", type);
      },
    }
  }
</script>

