<template>
    <div id="vx-row">
        <div class="vx-col w-full">
            <EmailEditor
                ref="emailEditor"
                v-on:load="editorLoaded"
                :options="{ width: '100%' }"
            />
            <div id="template-builder" class="text-right">
                <!-- <button v-on:click="saveDesign">Save Design</button> -->
                <!-- <button v-on:click="exportHtml">Save PDF</button> -->
                <vs-button flat v-on:click="exportHtml" class="m-2">
                    View & Save PDF
                </vs-button>
            </div>
            <loading
                :active.sync="isLoading"
                :can-cancel="true"
                :is-full-page="false"
                :width="30"
                :height="30"
            >
            </loading>
            <div class="centerx">
                <vs-popup
                    v-if="popupActive && !isLoading"
                    class="popup-style"
                    fullscreen
                    title="PDF View"
                    :active.sync="popupActive"
                >
                    <object
                        :data="baseUrl + '/export-file/' + pdfFileName"
                        type="application/pdf"
                        width="100%"
                        height="800"
                    ></object>
                </vs-popup>
            </div>
        </div>
    </div>
</template>

<script>
import pdf from "vue-pdf";
import { EmailEditor } from "vue-email-editor";
import sample from "./sample.json";
import ApiService from "../../../services/api.service";
export default {
    name: "TemplateBuilder",
    components: {
        EmailEditor,
        pdf
    },
    data() {
        return {
            baseUrl: process.env.MIX_APP_URL,
            pdfFileName: "",
            popupActive: false,
            isLoading: false
        };
    },

    methods: {
        editorLoaded() {
            this.$refs.emailEditor.editor.loadDesign();
        },

        saveDesign() {
            this.$refs.emailEditor.editor.saveDesign(design => {
                console.log("saveDesign", design);
            });
        },

        exportHtml() {
            this.$refs.emailEditor.editor.exportHtml(data => {
                console.log(data);
                this.isLoading = true;
                ApiService.post("/template/export-pdf", {
                    body: data.chunks.body,
                    css: data.chunks.css
                })
                    .then(response => {
                        this.pdfFileName = response.data.fileName;
                        this.isLoading = false;
                        this.popupActive = true;
                        this.$toastr(
                            "success",
                            "Successfully Export PDF",
                            "Export PDF"
                        );
                    })
                    .catch(error => {
                        this.$vs.dialog({
                            color: "danger",
                            title: `Something Went Wrong`,
                            text: error.response.data.message
                        });
                    });
            });
        }
    },

    mounted() {}
};
</script>

<style>
.unlayer-editor {
    height: 700px !important;
}

.u_row > .container {
    max-width: 100% !important;
    width: 100% !important;
}

.blockbuilder-branding {
    display: none !important;
}
</style>
