<template>
  <div id="chart">
    <vue-apex-charts @click="LeftSectionActive(element.type)" type="pie" height="350" :options="pieChart.chartOptions"
                     :series="pieChart.series"></vue-apex-charts>
  </div>
</template>


<script>
  import VueApexCharts from 'vue-apexcharts'

  export default {
    props: {
      element: {},
    },
    components: {
      VueApexCharts,
    },
    data() {
      return {
        themeColors: ['#7367F0', '#28C76F', '#EA5455', '#FF9F43', '#1E1E1E'],
        pieChart: {
          series: [44, 55, 13, 43],
          chartOptions: {
            labels: ['Team A', 'Team B', 'Team C', 'Team D'],
            colors: this.themeColors,
            responsive: [{
              breakpoint: 480,
              options: {
                chart: {
                  width: 200
                },
                legend: {
                  position: 'bottom'
                }
              }
            }]
          }
        }
      }
    },

    mounted() {
      let _self = this;
      this.$hub.$on("transferSubmitDataSource", function (data) {
        _self.SubmitDataSource(data);
      });
    },
    methods: {
      SubmitDataSource(data) {
        if (data == 1) {
          this.pieChart.series = [54, 35, 23, 33];
        } else {
          this.pieChart.series = [64, 75, 33, 23];
        }
      },
      LeftSectionActive(type) {
        // this.emit('section_change', type)
        this.$hub.$emit("sectionChange", type);
      },
    }
  }
</script>

