<template>
  <div class="vx-row">
    <!-- CARD 6: Product Orders -->
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-2/3 xl:w-2/3 mb-base">
      <vx-card title="Drag & Drop Template Builder">
        <draggable class="builder" :list="myArray2" group="people">
          <div class="w-100 element" v-for="(element,index) in myArray2" :key="element.id">
            <template v-if="element.type == 'line_chart'">
              <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
                <vs-button class="float-left" color="primary" @click="SectionClone(element)" type="filled"
                           icon-pack="feather"
                           icon="icon-plus"></vs-button>
                <vs-button class="float-left" color="warning" @click="SectionRemove(index)" type="filled"
                           icon-pack="feather"
                           icon="icon-archive"></vs-button>
              </div>
              <LineChart :element="element"></LineChart>
            </template>
            <template v-if="element.type == 'bar_chart'">
              <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
                <vs-button class="float-left" color="primary" @click="SectionClone(element)" type="filled"
                           icon-pack="feather"
                           icon="icon-plus"></vs-button>
                <vs-button class="float-left" color="warning" @click="SectionRemove(index)" type="filled"
                           icon-pack="feather"
                           icon="icon-archive"></vs-button>
              </div>
              <BarChart :element="element"></BarChart>
            </template>
            <template v-if="element.type == 'pie_chart'">
              <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
                <vs-button class="float-left" color="primary" @click="SectionClone(element)" type="filled"
                           icon-pack="feather"
                           icon="icon-plus"></vs-button>
                <vs-button class="float-left" color="warning" @click="SectionRemove(index)" type="filled"
                           icon-pack="feather"
                           icon="icon-archive"></vs-button>
              </div>
              <PieChart :element="element"></PieChart>
            </template>
            <template v-if="element.type == 'participants'">
              <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
                <vs-button class="float-left" color="primary" @click="SectionClone(element)" type="filled"
                           icon-pack="feather"
                           icon="icon-plus"></vs-button>
                <vs-button class="float-left" color="warning" @click="SectionRemove(index)" type="filled"
                           icon-pack="feather"
                           icon="icon-archive"></vs-button>
              </div>
              <h1>Participants</h1>
            </template>
            <template v-if="element.type == 'image'">
              <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
                <vs-button class="float-left" color="primary" @click="SectionClone(element)" type="filled"
                           icon-pack="feather"
                           icon="icon-plus"></vs-button>
                <vs-button class="float-left" color="warning" @click="SectionRemove(index)" type="filled"
                           icon-pack="feather"
                           icon="icon-archive"></vs-button>
              </div>
              <ImageSection :element="element"></ImageSection>
            </template>
            <template v-if="element.type == 'text'">
              <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
                <vs-button class="float-left" color="primary" @click="SectionClone(element)" type="filled"
                           icon-pack="feather"
                           icon="icon-plus"></vs-button>
                <vs-button class="float-left" color="warning" @click="SectionRemove(index)" type="filled"
                           icon-pack="feather"
                           icon="icon-archive"></vs-button>
              </div>
              <TextSection :element="element"></TextSection>
            </template>
          </div>
          <div v-if="myArray2.length == 0">
            <p class="nothing-here">Drag and drop tools here</p>
          </div>
        </draggable>
      </vx-card>
    </div>
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/3 mb-base">
      <vx-card title="TOOLS">
        <draggable v-if="leftSecActive=='draggable'"
                   class="d-flex align-content-start flex-wrap tools"
                   :list="myArray"
                   :group="{ name: 'people', pull: 'clone', put: false }"
        >
          <div class="tool" v-for="element in myArray" :key="element.id">
            <span v-html="element.icon"></span>
            <p>{{ element.name }}</p>
          </div>
        </draggable>
        <template v-else-if="leftSecActive=='line_chart'">
          <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
            <vs-button @click="leftSecRemove()" color="primary" type="filled" icon-pack="feather" size="small"><i
              class="fa fa-arrow-left"></i></vs-button>
          </div>
          <vs-collapse accordion type="border">
            <vs-collapse-item>
              <div slot="header">
                Data Source
              </div>
              <div>
                <vx-card>
                  <div class="vx-row mb-6">
                    <div class="vx-col w-full">
                      <vs-select v-model="data_source" class="w-full select-large" label="Source">
                        <vs-select-item :key="index" :value="dataSourchOption.value" :text="dataSourchOption.text"
                                        v-for="(dataSourchOption,index) in dataSourchOptions" class="w-full"/>
                      </vs-select>
                    </div>
                  </div>
                  <div class="vx-row">
                    <div class="vx-col w-full">
                      <vs-button @click="SubmitDataSource" class="mr-3 mb-2">Save</vs-button>
                    </div>
                  </div>
                </vx-card>
              </div>
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                Size & Color
              </div>

            </vs-collapse-item>

          </vs-collapse>
        </template>
        <template v-else-if="leftSecActive=='bar_chart'">
          <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
            <vs-button @click="leftSecRemove()" color="primary" type="filled" icon-pack="feather" size="small"><i
              class="fa fa-arrow-left"></i></vs-button>
          </div>
          <vs-collapse accordion type="border">
            <vs-collapse-item>
              <div slot="header">
                Data Source
              </div>
              <div>
                <vx-card>
                  <div class="vx-row mb-6">
                    <div class="vx-col w-full">
                      <vs-select v-model="data_source" class="w-full select-large" label="Source">
                        <vs-select-item :key="index" :value="dataSourchOption.value" :text="dataSourchOption.text"
                                        v-for="(dataSourchOption,index) in dataSourchOptions" class="w-full"/>
                      </vs-select>
                    </div>
                  </div>
                  <div class="vx-row">
                    <div class="vx-col w-full">
                      <vs-button @click="SubmitDataSource" class="mr-3 mb-2">Save</vs-button>
                    </div>
                  </div>
                </vx-card>
              </div>
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                Size & Color
              </div>

            </vs-collapse-item>

          </vs-collapse>
        </template>
        <template v-else-if="leftSecActive=='pie_chart'">
          <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
            <vs-button @click="leftSecRemove()" color="primary" type="filled" icon-pack="feather" size="small"><i
              class="fa fa-arrow-left"></i></vs-button>
          </div>
          <vs-collapse accordion type="border">
            <vs-collapse-item>
              <div slot="header">
                Data Source
              </div>
              <div>
                <vx-card>
                  <div class="vx-row mb-6">
                    <div class="vx-col w-full">
                      <vs-select v-model="data_source" class="w-full select-large" label="Source">
                        <vs-select-item :key="index" :value="dataSourchOption.value" :text="dataSourchOption.text"
                                        v-for="(dataSourchOption,index) in dataSourchOptions" class="w-full"/>
                      </vs-select>
                    </div>
                  </div>
                  <div class="vx-row">
                    <div class="vx-col w-full">
                      <vs-button @click="SubmitDataSource" class="mr-3 mb-2">Save</vs-button>
                    </div>
                  </div>
                </vx-card>
              </div>
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                Size & Color
              </div>

            </vs-collapse-item>

          </vs-collapse>
        </template>
        <template v-else-if="leftSecActive=='image'">
          <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
            <vs-button @click="leftSecRemove()" color="primary" type="filled" icon-pack="feather" size="small"><i
              class="fa fa-arrow-left"></i></vs-button>
          </div>
          <vs-collapse accordion type="border">
            <vs-collapse-item>
              <div slot="header">
                Image Align
              </div>
              <div>
                <vx-card>
                  <div class="vx-row mb-6">
                    <div class="vx-col w-full">
                      <vs-select @change="changeImageAlign" v-model="image_align" class="w-full select-large"
                                 label="Source">
                        <vs-select-item :key="index" :value="imageAlignOption.value" :text="imageAlignOption.text"
                                        v-for="(imageAlignOption,index) in imageAlignOptions" class="w-full"/>
                      </vs-select>
                    </div>
                  </div>
                </vx-card>
              </div>
            </vs-collapse-item>
            <vs-collapse-item>
              <div slot="header">
                Image Width
              </div>
              <div>
                <vx-card>
                  <div class="vx-row mb-6">
                    <div class="vx-col w-full">
                      <vs-input
                        class="vs-col w-full m-0"
                        label="Width"
                        v-model="imageWidth"
                      />
                    </div>
                  </div>
                  <div class="vx-row">
                    <div class="vx-col w-full">
                      <vs-button @click="changeImageWidth()" color="primary" type="filled">Save</vs-button>
                    </div>
                  </div>
                </vx-card>
              </div>
            </vs-collapse-item>

          </vs-collapse>
        </template>
        <template v-else-if="leftSecActive=='text'">
          <div class="btn-group btn-group-sm action-btn" role="group" aria-label="Basic example">
            <vs-button @click="leftSecRemove()" color="primary" type="filled" icon-pack="feather" size="small"><i
              class="fa fa-arrow-left"></i></vs-button>
          </div>
          <vs-collapse accordion type="border">

            <vs-collapse-item>
              <div slot="header">
                Size & Color
              </div>

            </vs-collapse-item>

          </vs-collapse>
        </template>
      </vx-card>
    </div>
  </div>

</template>

<script>
  import draggable from 'vuedraggable'
  import data from "./sample.json";
  import LineChart from "./LineChart";
  import BarChart from "./BarChart";
  import PieChart from "./PieChart";
  import ImageSection from "./ImageSection";
  import TextSection from "./TextSection";
  import {ImageIcon} from 'vue-feather-icons'

  export default {
    components: {
      LineChart, BarChart, PieChart, ImageSection, TextSection,
      draggable,
      ImageIcon
    },
    data() {
      return {
        user: {
          photo: ''
        },
        tools: [],
        myArray: [],
        myArray2: [],
        leftSecActive: 'draggable',
        dataSourchOptions: [
          {text: 'Source 1', value: '1'},
          {text: 'Source 2', value: '2'},
        ],
        imageAlignOptions: [
          {text: 'Left', value: 'left'},
          {text: 'Center', value: 'center'},
        ],
        data_source: '',
        image_align: 'center',
        imageWidth: ''
      }
    },

    mounted() {
      let _self = this;
      this.myArray = data.list
      this.$hub.$on("sectionChange", function (type) {
        _self.leftSecActive = type;
      });
    },
    methods: {
      SectionClone(element) {
        this.myArray2.push(element);
      },
      SectionRemove(index) {
        this.myArray2.splice(index, 1)
        this.leftSecActive = 'draggable'
      },
      SubmitDataSource() {
        this.$hub.$emit("transferSubmitDataSource", this.data_source);
      },
      changeImageAlign() {
        this.$hub.$emit("transferChangeImageAlign", this.image_align);
      },
      changeImageWidth() {
        this.$hub.$emit("transferChangeImageWidth", this.imageWidth);
      },
      leftSecRemove() {
        this.leftSecActive = "draggable";
      }
    }
  }
</script>

<style lang="scss">
  .demo-alignment > * {
    margin-right: 0.5rem !important;
  }

  .demo-alignment > * {
    margin-top: 0.5rem !important;
  }

  .demo-alignment {
    float: right !important;
    z-index: 100;
  }

  .apexcharts-toolbar {
    display: none !important;
  }

  .align-content-start {
    align-content: flex-start !important;
  }

  .d-flex {
    display: flex !important;
  }

  .flex-wrap {
    flex-wrap: wrap !important;
  }

  .tools {
    height: 75vh;
    border-left: 1px solid darken(#ffffff, 25%);

    .tool {
      height: 121px;
      width: 121px;
      overflow: hidden;
      border: 1px solid #acabab;
      padding: 10px 15px;
      font-size: 3rem;
      color: #454444;
      margin: 5px;
      text-align: center;

      p {
        font-size: 11px;
      }
    }
  }

  .builder {
    height: 75vh;
    overflow-y: scroll;

    .element {
      position: relative;
      border: 1px dotted gray;
      min-height: 150px;

      &:hover {
        .action-btn {
          display: block;
        }
      }

      .action-btn {

        display: none;
        position: absolute;
        right: 0;
      }
    }
  }

  .nothing-here {
    font-size: 3rem;
    color: darken(#ffffff, 40%);
    line-height: 650px;
    vertical-align: middle;
    text-align: center;
  }
</style>
