<template>
  <div id="text" @click="LeftSectionActive(element.type)">
    <div class="item-view-primary-action-btn p-3 rounded-lg flex flex-grow items-center justify-center cursor-pointer mb-3">
      <editor v-model="mytext" ref="editor"></editor>
    </div>
  </div>
</template>


<script>
  // Import the editor
  import Editor from "./Editor.vue";
  export default {
    props: {
      element: {},
    },
    data() {
      return {
        mytext: 'aadsfasd fasd fadf',

      }
    },
    components: {
      Editor,
    },
    mounted() {
      let _self = this;
      this.$hub.$on("transferSubmitDataSource", function (data) {
        _self.SubmitDataSource(data);
      });
    },
    methods: {
      LeftSectionActive(type) {
        // this.emit('section_change', type)
        this.$hub.$emit("sectionChange", type);
      },
    }
  }
</script>

