<template>
    <!-- <div class="vx-row">
        <div class="vx-col md:w-1/1 w-full mb-base">
            <vx-card title="Profile">
                <div class="vx-row">
                    <div class="vx-col md:w-1/4 w-full mb-base">
                        <ul class="profile-menu">
                            <li :class="{ active: activeComponent == 'viewprofile' }" @click="showComponent('viewprofile')">View Profile</li>
                            <li :class="{ active: activeComponent == 'changepassword' }" @click="showComponent('changepassword')">Change Password</li>
                            <li :class="{ active: activeComponent == 'loginhisotry' }" @click="showComponent('loginhisotry')">Login History</li>
                        </ul>
                    </div>
                    <div class="vx-col md:w-3/4 w-full mb-base">
                        <loading :active.sync="isLoading"
                                 :can-cancel="true"
                                 :is-full-page="false"
                                 :width="30"
                                 :height="30">
                        </loading>
                        <div v-show="!isLoading">
                            <ViewProfile v-if="activeComponent == 'viewprofile'"></ViewProfile>
                            <ChangePassword v-if="activeComponent == 'changepassword'"></ChangePassword>
                            <LoginHistory v-if="activeComponent == 'loginhisotry'"></LoginHistory>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div> -->

    <vs-tabs :position="isSmallerScreen ? 'top' : 'left'" class="tabs-shadow-none" id="profile-tabs" :key="isSmallerScreen">

    <!-- GENERAL -->
        <vs-tab icon-pack="feather" icon="icon-user" :label="!isSmallerScreen ? 'View Profile' : ''">
            <div class="tab-general md:ml-4 md:mt-0 mt-4 ml-0">
                <view-profile />
                
            </div>
        </vs-tab>
        <vs-tab icon-pack="feather" icon="icon-lock" :label="!isSmallerScreen ? 'Change Password' : ''">
            <div class="tab-change-pwd md:ml-4 md:mt-0 mt-4 ml-0">
                <change-password />
            </div>
        </vs-tab>
        <vs-tab icon-pack="feather" icon="icon-info" :label="!isSmallerScreen ? 'Login History' : ''">
            <div class="tab-info md:ml-4 md:mt-0 mt-4 ml-0">
                <login-history />
            </div>
        </vs-tab>
    </vs-tabs>
</template>

<script>
import ViewProfile from "./components/ViewProfile"
import ChangePassword from "./components/ChangePassword"
import LoginHistory from "./components/LoginHistory";




export default {
    name: "Profile",

    components: {
        ViewProfile,
        ChangePassword,
        LoginHistory
    },
    data() {
        return {
            activeComponent: "viewprofile",
            isLoading: false,
        }
    },
    computed: {
        isSmallerScreen () {
        return this.$store.state.windowWidth < 768
        }
    },

    methods: {
        showComponent(value) {
            this.activeComponent = value;
        },
    }
};
</script>

<style scoped lang="scss">
.profile-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.profile-menu > li {
    font-size: 12px;
    font-weight: 600;
    margin: 15px 0px;
}

.profile-menu > li:hover {
    cursor: pointer;
}

.profile-menu > .active {
    color: blue;
}

.vx-card {
    min-height: 500px;
}

#profile-tabs {
  .vs-tabs--content {
    padding: 0;
  }
}
</style>
