<template>
  <div class="vx-row justify-center">
    <div class="vx-col w-full lg:w-1/2 mb-base">
        <div class="centerx">
          <form @submit.prevent="updateCompany">
            <div class="vx-row mb-6">
              <div class="vx-col sm:w-1/2">
                <vs-select
                  class="w-full"
                  placeholder="Search and select"
                  autocomplete
                  label="Title"
                  :danger="$v.companyUser.title.$error ? true : false"
                  :danger-text="$v.companyUser.title.$error ? 'Title is required' : ''"
                  v-model.trim="$v.companyUser.title.$model"
                >
                  <vs-select-item
                    :key="index"
                    :value="title.value"
                    :text="title.value"
                    v-for="(title, index) in titles"
                  />
                </vs-select>
              </div>
              <div class="vx-col sm:w-1/2">
                <vs-input
                  label="First Name"
                  class="w-full"
                  icon-pack="feather"
                  icon="icon-user"
                  val-icon-danger="clear"
                  :danger="$v.companyUser.first_name.$error ? true : false"
                  :danger-text="$v.companyUser.first_name.$error ? 'First Name is Required.' : ''"
                  v-model.trim="$v.companyUser.first_name.$model"
                />
              </div>
            </div>

          <div class="vx-row mb-6">
            <div class="vx-col sm:w-1/2">
              <vs-input
                label="Last Name"
                class="w-full"
                icon-pack="feather"
                icon="icon-user"
                val-icon-danger="clear"
                :danger="$v.companyUser.last_name.$error ? true : false"
                :danger-text="$v.companyUser.last_name.$error ? 'Last Name is Required.' : ''"
                v-model.trim="$v.companyUser.last_name.$model"
              />
            </div>
            <div class="vx-col sm:w-1/2">
              <vs-input
                label="Phone"
                class="w-full"
                type="phone"
                icon-pack="feather"
                icon="icon-smartphone"
                val-icon-danger="clear"
                :danger="$v.companyUser.phone.$error ? true : false"
                :danger-text="$v.companyUser.phone.$error ? 'Phone number at least 10 alphabets' : ''"
                v-model.trim="$v.companyUser.phone.$model"
              />
            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col sm:w-1/2">
              <vs-input
                label="Email"
                class="w-full"
                type="email"
                icon-pack="feather"
                icon="icon-mail"
                val-icon-danger="clear"
                :danger="$v.companyUser.email.$error ? true : false"
                :danger-text="$v.companyUser.email.$error ? 'Please insert a valid email address.' : ''"
                v-model.trim="$v.companyUser.email.$model"
              />
            </div>
            <div class="vx-col sm:w-1/2">
              <vs-select
                class="w-full"
                placeholder="Search and select"
                autocomplete
                label="Time Zone"
                :danger="$v.companyUser.time_zone.$error ? true : false"
                :danger-text="$v.companyUser.time_zone.$error ? 'Timezone is required' : ''"
                v-model.trim="$v.companyUser.time_zone.$model"
              >
                <vs-select-item
                  :key="index"
                  :value="time_zone"
                  :text="time_zone"
                  v-for="(time_zone, index) in time_zones"
                />
              </vs-select>
            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <label class="vs-input--label">Address</label>
              <vs-textarea
                rows="5"
                class="w-full mb-0 shadow-none"
                type="text"
                val-icon-danger="clear"
                :class="$v.companyUser.address.$error ? 'textarea-danger' : ''"
                v-model.trim="$v.companyUser.address.$model"
              />
              <small v-if="$v.companyUser.address.$error" class="textarea-danger-text">Address is required.</small>
            </div>
          </div>


            <div class="vx-row">
              <div class="vx-col sm:w-1/3 w-full ml-auto text-right">
                <vs-button class="mr-3 mb-2" button="submit">Update</vs-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</template>

<script>
import ApiService from "@/services/api.service";
import { timeZones } from "../../../../timezones";
import {required, minLength, email } from 'vuelidate/lib/validators'
export default {
  name: "EditCompany",
  props: {
    companyUser_id : Number,
    plans          : Array
  },
  data() {
    return {
      time_zones: timeZones,
      roles     :[],
      companyUser: {
        title: '',
        first_name : '',
        last_name : '',
        email      : '',
        phone      : '',
        address    : '',
        time_zone  : '',
      },
      titles: [
        {value: 'Mr.'},
        {value: 'Mrs.'},
        {value: 'Miss'},
      ],
      isLoading    : true,
      companyPopup : false
    };
  },
  validations: {
    companyUser: {
      title: { required },
      first_name       : { required },
      last_name       : { required },
      email      : { required, email },
      phone      : { required, minLength: minLength(10) },
      address    : { required },
      time_zone  : { required },
    }
  },
  methods: {
    getCompany() {
      this.isLoading = true;
      ApiService.get(`company/user/${this.$route.params.participantId}`)
        .then(response =>{
          this.companyUser = response.data;
          this.companyUser.time_zone = response.data.timezone;
        }).catch(error =>{
        console.error(error);
      }).finally(()=>{
        this.isLoading = false;
      })
    },
    updateCompany() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        ApiService.update(`/company/user/${this.$route.params.participantId}`, this.companyUser)
          .then(response => {
            this.$toastr(
              "success",
              "Successfully Company User Updated",
              "Company User Updated!"
            );
          })
          .catch(error => {
            this.$toastr(
              "danger",
              error.response.data.message,
              "Company Participant Updated!"
            );
          });
      }
    },
  },
  mounted() {
    this.getCompany();
    this.roles = [
      {
        text: 'User',
        value: 'user'
      },
      {
        text: 'HR',
        value: 'hr'
      }
    ];
  },
  watch: {
    companyPopup(val, oldval) {
      if(!val) this.companyUser = {};
    },
  }
};
</script>
