<template>
  <div>
    <form @submit.prevent="CreateUpdateNote">
      <div class="vx-row mt-5">
        <div class="vx-col sm:w-full md:w-1/2">
          <label>Note</label>
          <quill-editor ref="company_note" :options="editorOption" v-model="companyUser.participant_note"/>
        </div>
      </div>
      <div class="vx-row mt-4">
        <div class="vx-col sm:w-2/3 w-full">
          <vs-button class="mr-3 mb-2" button="submit">Update</vs-button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
  import 'quill/dist/quill.core.css';
  import 'quill/dist/quill.snow.css';
  import {quillEditor} from 'vue-quill-editor';
  import ApiService from '@/services/api.service';

  export default {
    name: "FrontendManagement",
    components: {
      quillEditor
    },
    props: {},
    data() {
      return {
        companyUser: {
          participant_note: ''
        },
        editorOption: {
          modules: {
            toolbar: [
              ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
              [{'header': 1}, {'header': 2}],
              [{'list': 'ordered'}, {'list': 'bullet'}],
              [{'font': []}]
            ]
          },
          placeholder: 'Note'
        }
      };
    },
    methods: {
      getCompany() {
        this.isLoading = true;
        ApiService.get(`company/user/${this.$route.params.participantId}`)
          .then(response => {
            let data = response.data;
            this.companyUser = {
              participant_note: data.participant_note,
            }
          }).catch(error => {
          console.error(error);
        }).finally(() => {
          this.isLoading = false;
        })
      },
      CreateUpdateNote() {
        ApiService.update(`/company/user/note/${this.$route.params.participantId}`, this.companyUser)
          .then(response => {
            this.$toastr(
              "success",
              "Successfully Note Updated",
              "Company User Updated!"
            );
            this.$emit("getCompanyUsers");
            this.$v.$reset();
          })
          .catch(error => {
            this.$vs.dialog({
              color: "danger",
              title: `Something Went Wrong`,
              text: error.response.data.message
            });
          });
      },
    },

    mounted() {
      this.getCompany();
    },
    watch: {}
  }
</script>
