<template>
<div class="vx-row">
  <div class="vx-col w-full">
    <vx-card>
      <div class="vx-row justify-between">
        <div class="vx-col">
        </div>
        <div class="vx-col">
          <span @click="goBackRouter" class="cursor-pointer">
            <ArrowLeftIcon></ArrowLeftIcon>
          </span>
        </div>
<!--        <router-link :to="`/project/${projectSlug}`" title="Back">-->
<!--          <ArrowLeftIcon></ArrowLeftIcon>-->
<!--        </router-link>-->
      </div>
      <vs-tabs v-model="selectedTab">
        <vs-tab @click="changeUrl('AccountDetails')"  label="Account Details" icon-pack="feather" icon="icon-user">
          <AccountComponent></AccountComponent>
        </vs-tab>
        <vs-tab @click="changeUrl('Communication')"  label="Communication" icon-pack="feather" icon="icon-info">
          <CommunicationComponent></CommunicationComponent>
        </vs-tab>
        <vs-tab @click="changeUrl('UserLog')"  label="User Log" icon-pack="feather" icon="icon-info">
          <ParticipantLoginHistory></ParticipantLoginHistory>
        </vs-tab>
        <vs-tab @click="changeUrl('UserNote')"  label="Note" icon-pack="fontawesome" icon="far fa-sticky-note">
          <ParticipantNote></ParticipantNote>
        </vs-tab>
        <vs-tab @click="changeUrl('FileManager')"  label="File Manager" icon-pack="fontawesome" icon="far fa-folder">
          <FileManager></FileManager>
        </vs-tab>
      </vs-tabs>
    </vx-card>
  </div>
</div>
</template>

<script>
import AccountComponent from "./AccountComponent";
import PermissionComponent from "./PermissionComponent";
import CommunicationComponent from "./UserCommunicationComponent";
import ParticipantNote from "./ParticipantNote";
import FileManager from "../../../media/components/Media";
import ParticipantLoginHistory from "./ParticipantLoginHistory";
import { ArrowLeftIcon } from 'vue-feather-icons';
export default {
  name:"UserEdit",
  components: {
    AccountComponent,
    PermissionComponent,
    CommunicationComponent,
    ParticipantNote,
    FileManager,
    ArrowLeftIcon,
    ParticipantLoginHistory
  },
  data() {
    return {
      selectedTab: this.getHash(),
    }
  },
  methods: {
    goBackRouter() {
      this.$router.go(-1);
    },
    changeUrl: function (hash) {
      this.$router.push(`/${this.$route.params.companyId ? 'company' : 'project'}/${this.$route.params.projectSlug ? this.$route.params.projectSlug : this.$route.params.companyId}/participants/${this.$route.params.participantId}#${hash}`).catch(() => {
      })
    },
    getHash() {
      let allTabs = [
        'AccountDetails',
        'Communication',
        'UserLog',
        'UserNote',
        'FileManager',
      ];
      let fullUrl = window.location.href;
      let tabName = _.last(_.split(fullUrl, '#'));
      return _.indexOf(allTabs, tabName);
    },
  }
};
</script>
