<template>
    <div class="the-navbar__user-meta flex items-center" v-if="activeUserInfo.role">

        <div class="text-right leading-tight hidden sm:block">
            <p class="font-semibold">{{ activeUserInfo.first_name }} {{ activeUserInfo.last_name }}</p>
            <small>Available</small>
        </div>

        <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">

            <div class="con-img ml-3">
                <img v-if="activeUserInfo.photo" key="onlineImg" :src="activeUserInfo.photo" alt="user-img" width="40" height="40"
                     class="rounded-full shadow-md cursor-pointer block"/>
                <vs-avatar v-if="!activeUserInfo.photo"></vs-avatar>
            </div>

            <vs-dropdown-menu class="vx-navbar-dropdown">
                <ul style="min-width: 9rem">

                    <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white">
                        <feather-icon icon="UserIcon" svgClasses="w-4 h-4"/>
                        <router-link to="/profile/view-profile" class="ml-2 hover:text-white text-black">Profile</router-link>
                        <!-- <span class="ml-2">Profile</span> -->
                    </li>

                    <!-- <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white">
                        <feather-icon icon="MailIcon" svgClasses="w-4 h-4"/>
                        <span class="ml-2">Inbox</span>
                    </li>

                    <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white">
                        <feather-icon icon="CheckSquareIcon" svgClasses="w-4 h-4"/>
                        <span class="ml-2">Tasks</span>
                    </li>

                    <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white">
                        <feather-icon icon="MessageSquareIcon" svgClasses="w-4 h-4"/>
                        <span class="ml-2">Chat</span>
                    </li>

                    <li class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white">
                        <feather-icon icon="HeartIcon" svgClasses="w-4 h-4"/>
                        <span class="ml-2">Wish List</span>
                    </li> -->

                    <vs-divider class="m-1"/>

                    <li
                        class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
                        @click="logout">
                        <feather-icon icon="LogOutIcon" svgClasses="w-4 h-4"/>
                        <span class="ml-2">Logout</span>
                    </li>
                </ul>
            </vs-dropdown-menu>
        </vs-dropdown>
    </div>
</template>

<script>

import JwtService from '../../../../services/jwt.service'
import ApiService from '../../../../services/api.service'

export default {
    computed: {
        activeUserInfo () {
            return this.$store.state.AppActiveUser
        }
    },
    methods: {
        logout () {
            JwtService.destroyToken()
            ApiService.get('/logout').then(response => {
                // console.log(response.data);
                this.$router.push({name: 'login'}).catch(() => {
                })
                localStorage.removeItem('old_access_token');
                localStorage.removeItem('old_id');
            }).catch((error) => {

            })
            // This is just for demo Purpose. If user clicks on logout -> redirect
            //
        }
    }
}
</script>
