<template>
  <vx-card>
    <div class="vx-row justify-center">
      <div class="vx-col w-1/2 mb-base">
        <div class="vx-col w-full mb-3">
          <h4>Details</h4>
        </div>
        <div class="vx-col w-full">
          <loading
                  :active.sync="isLoading"
                  :can-cancel="true"
                  :is-full-page="false"
                  :width="30"
                  :height="30"
          ></loading>

          <vs-table stripe :data="[company, companyPaymentHistory, lastSinglePaymentAmount, lastSinglePaymentCurrency]">
            <template>
              <vs-tr>
                <vs-td>
                  Company Name
                </vs-td>
                <vs-td class="text-right" :data="company.name">
                  {{ company.name}}
                </vs-td>
              </vs-tr>


              <vs-tr>
                <vs-td>
                  Subscribed at
                </vs-td>
                <vs-td class="text-right" :data="company.subscribed_at">
                  <strong v-if="!isLoading && company.subscribed_at && company.subscribed_at.length > 0">
                    {{ company.subscribed_at }}
                  </strong>
                  <strong v-else="">
                    {{ 'Not yet subscribed' }}
                  </strong>
                </vs-td>
              </vs-tr>

              <vs-tr>
                <vs-td>
                  Expires at
                </vs-td>
                <vs-td class="text-right" :data="companyPaymentHistory">
                  <strong v-if="!isLoading && companyPaymentHistory && companyPaymentHistory.date_to">
                    {{ companyPaymentHistory.date_to }}
                  </strong>
                  <strong v-else="">
                    {{ 'Not yet subscribed' }}
                  </strong>
                </vs-td>
              </vs-tr>

              <vs-tr>
                <vs-td>
                  Last Payment
                </vs-td>
                <vs-td class="text-right" :data="[lastSinglePaymentAmount, lastSinglePaymentCurrency]">
                  <strong>
                    {{ lastSinglePaymentAmount+''+lastSinglePaymentCurrency }}
                  </strong>
                </vs-td>
              </vs-tr>
            </template>
          </vs-table>
        </div>
      </div>
      <div class="vx-col w-1/2 mb-base">
        <div class="vx-col w-full mb-3">
          <h4>Paypal Pay</h4>
        </div>
        <div class="vx-col w-full">
          <form @submit.prevent="" method="post" id="payment-form">
            <vs-row class="mb-5">
              <vs-col class="w-full">
                <label for="payment-plan" class="mb-3">
                  Plan
                  <vs-select
                    id="payment-plan"
                    placeholder="Search and select"
                    class="selectExample w-full"
                    autocomplete
                    v-model="plan"
                    size="large"
                  >
                    <vs-select-item
                      :key="index"
                      :value="item.id"
                      :text="item.interval+' Months ('+item.price+item.currency+'/m)'"
                      v-for="(item,index) in plans"
                    />
                  </vs-select>
                </label>
              </vs-col>
            </vs-row>
            <vs-row v-if="!isLoading && user.paypal_id && user.paypal_id.length > 0" class="mb-3">
              <vs-col class="w-full">
                <ul class="centerx">
                  <li>
                    <vs-checkbox color="#ffc439" v-model="continueSaved">Continue with last saved card</vs-checkbox>
                  </li>
                </ul>
              </vs-col>
            </vs-row>
            <vs-row v-if="!continueSaved" class="mb-3">
              <vs-col class="w-full">
                <ul class="centerx">
                  <li>
                    <vs-checkbox color="#ffc439" v-model="saveThisCard">Save this card for further use</vs-checkbox>
                  </li>
                </ul>
              </vs-col>
            </vs-row>
<!--            <vs-row class="mb-6" :style="plan == '' || (!isLoading && continueSaved) ? 'display: none; !important;':'display: block; !important;'">-->
<!--              <vs-col class="w-full">-->
<!--                <div class="row justify-content-center">-->
<!--                  <div class="col-md-12">-->
<!--                    <div class="card">-->
<!--                      <div class="card-body">-->
<!--                        <div class="text-center" ref="paypal"></div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </vs-col>-->
<!--            </vs-row>-->

            <vs-row class="mb-6 hidd" :class="{'hidden': !plan || (plan && continueSaved)}">
              <vs-col class="w-full">
                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="text-center" ref="paypal"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </vs-col>
            </vs-row>
            <!--<vs-button v-if="!continueSaved" id="card-button" @click="btnClick()" class="mt-3">Submit Payment</vs-button>-->
            <vs-button v-if="!isLoading && continueSaved && plan != ''" @click="renewNow()" color="warning" class="mt-3">Continue Payment</vs-button>
          </form>
        </div>
      </div>
    </div>
  </vx-card>
</template>
<script>
  import ApiService from '@/services/api.service'
  export default {
    name: 'StripeSubscriptionManagement',
    data() {
      return {
        payPalClientId: 'AVK5j1cyfM_KFsf7bo3PiBvI00xXj6MMHPNMONy3qezW-VoekKoENFZcc9Gw4KVDfcWECEN3-Bv9E9R4',
        stripe        : '',
        elements      : '',
        card          : '',
        cardHolderName: '',
        cardButton    : '',
        plan          : '',
        currency      : '',
        price         : '',
        intent        : '',

        payment_method: 'paypal',
        order         : {},
        payerID       : '',
        orderID       : '',

        user            : JSON.parse(localStorage.getItem('userInfo')),
        company         : {
          subscribed_at: ' '
        },
        plans           : {},
        companies       : {},
        company_user_id : '',

        companyPaymentHistory : {
          date_to: ' '
        },
        isLoading                : true,
        saveThisCard             : false,
        continueSaved            : false,
        lastSinglePayment        : [],
        lastSinglePaymentAmount  : 0,
        lastSinglePaymentCurrency: '',


        product: {
          price: 0.01,
          currency: 'USD',
          description: "backlink from"
        }

      }
    },
    mounted() {
      this.includePayPal();
      //this.getIntent();
      this.getCompany();
      this.getPlans();
      this.getUser();
    },
    methods: {

      setLoaded: function(resp) {
        window.paypal
          .Buttons({
            createOrder: (data, actions) => {
              return actions.order.create({
                purchase_units: [
                  {
                    description: this.product.description,
                    amount: {
                      currency_code: this.product.currency,
                      value: this.product.price
                    }
                  }
                ]
              });
            },
            onApprove: async (data, actions, resp) => {
              this.isLoading = true;
              const order = await actions.order.capture();
              this.order = order;
              this.payerID = data.payerID;
              this.orderID = this.order.id;

              this.cardHolderName = this.order.payer.name.given_name+' '+this.order.payer.name.surname;

              console.log(data);
              console.log(this.payerID);
              console.log(this.order);
              console.log(this.cardHolderName);

              //console.log(actions);
              //console.log(resp);

              //this.renewNow();
              this.subscribeNow();
            },
            onError: err => {
              console.log(err);
            }
          })
          .render(this.$refs.paypal);
      },


      getPlans() {
        ApiService.get(`/membership/plans`)
        .then(response => {
          this.plans = response.data.data;
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },

      getUser() {
        ApiService.get(`/user`)
        .then(response => {
          this.user = response.data;
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },

      saveSubscriptionToLocal(subscriptionData) {
        this.isLoading = true;
        let thisSubscription = [];
        for (var i=0; i< parseInt(subscriptionData.plan.interval); i++){
          thisSubscription[i] = {
            company_id: this.company.id,
            payment_type: 'online',
            payment_id: subscriptionData.params.order_id,

            card_holder_name: this.cardHolderName,

            amount: subscriptionData.plan.price,
            currency: this.product.currency,
            date_from: '',
            date_to: '',

            payment_method: 'paypal',
            status: this.order.status

          };
        }

        ApiService.post('/company-payment-history', thisSubscription)
        .then(response => {
          this.getCompany();
          this.getInvoice(subscriptionData.params.order_id);
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },

      getInvoice(payment_id) {
        console.log(payment_id);
        //ApiService.get(`/company-payment-history/send-invoice/${payment_id}`)
        //for fake purpose
        ApiService.post(`/company-payment-history/send-invoice`, {payment_id, payment_method: "Paypal"})
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            this.$toastr('error', error.response.data.message, 'Error');
          });

      },

      getCompanyPaymentHistory() {
        this.isLoading = true;
        this.lastSinglePaymentAmount = 0;
        ApiService.get(`/company-payment-history`)
        .then(response => {
          this.companyPaymentHistory = response.data.paymentStatus;
          this.lastSinglePayment = _.toArray(response.data.lastPaid);

          this.lastSinglePayment.filter(ele => {
            ele.filter(el => {
              this.lastSinglePaymentAmount   += parseInt(el.amount);
              this.lastSinglePaymentCurrency = el.currency;
            })
          })
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        }).finally(()=>{
          this.isLoading = false;
        });
      },
      getCompany() {
        this.isLoading = true;
        ApiService.get(`/getCompany/user/${this.user.id}`)
        .then(response => {
          this.company = response.data.company_user.company;
          this.getCompanyPaymentHistory();
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },

      subscribeNow() {
        this.isLoading = true;
        let params     = {
          plan           : this.plan,
          this_payment   : this.payment_method,
          saveThisCard   : this.saveThisCard,
          payer_id       : this.payerID,
          order_id       : this.orderID
        };
        console.log(params);
        ApiService.post(`/membership/subscribe/new/${this.user.id}?company_id=${this.company.id}`, params)
        .then(response => {
          this.$toastr('success', 'Subscription successfully done!', 'Success');
          this.company_user_id = '';

          this.saveSubscriptionToLocal(response.data);
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },
      renewNow() {
        this.isLoading = true;
        let params     = {
          plan           : this.plan,
          this_payment   : this.payment_method,
          saveThisCard   : this.saveThisCard,
          payer_id       : this.payerID,
          order_id       : this.orderID
        };
        console.log(params);
        ApiService.post(`/membership/subscribe/old/${this.user.id}?company_id=${this.company.id}`, params)
        .then(response => {
          this.isLoading = false;
          this.$toastr('success', 'Subscription successfully done!', 'Success');
          this.company_user_id = '';
          console.log(response.data)

          //this.saveSubscriptionToLocal(response.data);
        })
        .catch(error => {
          this.isLoading = false;
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },

      includePayPal(){
        const script = document.createElement("script");
        script.src = `https://www.paypal.com/sdk/js?currency=${this.product.currency}&client-id=${this.payPalClientId}`;
        script.addEventListener("load", this.setLoaded);
        document.body.appendChild(script);
        this.isLoading = false;
      }
    },
    watch: {
      plan(new_, old_) {
        this.isLoading = true;
        this.product.currency = 'USD';
        this.product.price = 0.01;
        this.plans.filter(element => {
          if(element.id == new_) {
            this.product.currency = element.currency.toLocaleUpperCase();
            this.product.price = element.price * parseInt(element.interval);
          }
        })
        this.includePayPal();
      },
      continueSaved(new_, old_) {
        if(!new_) this.includePayPal();
      }
    }
  }
</script>
<style scoped>
  /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
  .StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  #card-element {
    border: 1px solid #ccc;
  }

  #card-holder-name, input#payment-plan, input#payment-plan.hasValue {
    background-color: #ffc439 !important;
    border-radius: 4px !important;
    border: none !important;
  }
</style>
