<template>
  <div class="vx-row justify-center">
    <div class="vx-col w-1/2 mb-base">
      <div class="centrex">
        <vx-card>
          <div class="vx-row">
            <div class="vx-col w-full mb-3">
              <h4>Add Plan</h4>
            </div>
            <div class="vx-col w-full">
              <form @submit.prevent="addPlans">
                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/2">
                    <vs-input
                      class="w-full"
                      label="Plan Name"
                      icon-pack="feather"
                      icon="icon-type"
                      val-icon-danger="clear"
                      :danger="$v.plans.name.$error ? true : false"
                      :danger-text="$v.plans.name.$error ? 'Plan Name is required' : ''"
                      v-model.trim="$v.plans.name.$model"
                    />
                  </div>

                  <div class="vx-col sm:w-1/2">
                    <vs-select
                            class="w-full"
                            placeholder="Search and select"
                            autocomplete
                            label="Interval"
                            :danger="$v.plans.interval.$error ? true : false"
                            :danger-text="$v.plans.interval.$error ? 'Interval is required' : ''"
                            v-model.trim="$v.plans.interval.$model"
                    >
                      <vs-select-item
                              :key="index"
                              :value="interval.value"
                              :text="interval.text"
                              v-for="(interval, index) in allInterval"
                      />
                    </vs-select>
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/2">
                    <!--<vs-input
                      class="w-full"
                      label="Currency"
                      type="text"
                      icon-pack="feather"
                      icon="icon-dollar-sign"
                      val-icon-danger="clear"
                      :danger="$v.plans.currency.$error ? true : false"
                      :danger-text="$v.plans.currency.$error ? 'Currency is required' : ''"
                      v-model.trim="$v.plans.currency.$model"
                    />-->

                    <vs-select
                            class="w-full"
                            placeholder="Search and select"
                            autocomplete
                            label="Currency"
                            :danger="$v.plans.currency.$error ? true : false"
                            :danger-text="$v.plans.currency.$error ? 'Interval is required' : ''"
                            v-model.trim="$v.plans.currency.$model"
                    >
                      <vs-select-item
                              :key="index"
                              :value="currency.value"
                              :text="currency.text"
                              v-for="(currency, index) in allCurrency"
                      />
                    </vs-select>
                  </div>

                  <div class="vx-col sm:w-1/2">
                    <vs-input
                            class="w-full"
                            label="Unit Price"
                            type="number"
                            icon-pack="feather"
                            icon="icon-dollar-sign"
                            val-icon-danger="clear"
                            :danger="$v.plans.price.$error ? true : false"
                            :danger-text="$v.plans.price.$error ? 'Plan Price is required' : ''"
                            v-model.trim="$v.plans.price.$model"
                    />
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/1 w-full">
                    <label class="vs-input--label">Description</label>
                    <vs-textarea
                      class="w-full mb-0 shadow-none"
                      :class="$v.plans.description.$error ? 'textarea-danger' : ''"
                      v-model.trim="$v.plans.description.$model"
                    />
                    <small v-if="$v.plans.description.$error" class="textarea-danger-text">Description is required.</small>
                  </div>
                </div>

                <div class="vx-row">
                  <div class="vx-col sm:w-2/3 w-full ml-auto text-right">
                    <vs-button class="mr-3 mb-2" button="submit" >Submit</vs-button>
                    <vs-button color="warning" type="border" class="mb-2" @click="resetAddPlansForm">Reset</vs-button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
  import ApiService from "../../../services/api.service";
  import { required, minLength } from 'vuelidate/lib/validators';
  import { currency } from "../../../currency";
  export default {
    name:"AddPlan",
    data () {
      return {
        plans: {
          name          : "",
          price         : "",
          description   : "",
          currency      : "",
          interval      : ""
        },
        /*allCurrency: [
          {
            value: 'bdt',
            text: 'BDT'
          },
          {
            value: 'eur',
            text: 'EURO'
          },
          {
            value: 'usd',
            text: 'USD'
          },
        ],*/
        allCurrency: currency,
        allInterval: [
          {
            value: '1',
            text: 'Monthly'
          },
          {
            value: '3',
            text : '3 Months'
          },
          {
            value: '6',
            text : 'Half Yearly'
          },
          {
            value: '12',
            text : 'Yearly'
          },
        ],
      }
    },
    validations: {
      plans: {
        name          : { required, minLength: minLength(4) },
        price         : { required },
        description   : { required },
        currency      : { required },
        interval      : { required }
      }
    },

    mounted() {},

    methods: {
      addPlans() {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          ApiService.post('/membership/plans', this.plans).then(response => {
            this.$toastr('success', 'Successfully Plan Created.', 'Plan Created');
            this.$router.push({name: 'ViewPlans'});
            this.$v.$touch();
            this.resetAddPlansForm();
          }).catch(error => {
            this.$toastr('error', error.response.data.message, 'Error')
          })
        }
      },

      resetAddPlansForm() {
        this.$v.$reset();
        this.plans = {}
      },
    }
  }
</script>
