<template>
  <div>
    <vs-button
      @click="viewPlanPopup = true; getPlan()"
      title="View plan details"
      color="success"
      type="gradient"
      size="small"
      class="px-2 py-1 rounded-none rounded-l"
    >
      View
    </vs-button>

    <vs-popup
      classContent="popup-example"
      title="View Plan Details"
      :active.sync="viewPlanPopup"
    >
      <div class="centrex">
        <loading
          :active.sync="isLoading"
          :can-cancel="true"
          :is-full-page="false"
          :width="30"
          :height="30"
          :opacity="0"
        ></loading>
        <vs-table stripe :data="[plandata]">
          <template>
            <vs-tr>
              <vs-td>
                Name
              </vs-td>
              <vs-td :data="plandata.name">
                {{ plandata.name }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Price
              </vs-td>
              <vs-td :data="plandata.price">
                {{ plandata.price }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Currency
              </vs-td>
              <vs-td :data="plandata.currency">
                {{ plandata.currency }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Interval
              </vs-td>
              <vs-td :data="plandata.interval">
                {{ plandata.interval }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Description
              </vs-td>
              <vs-td :data="plandata.description">
                {{ plandata.description }}
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>
    </vs-popup>
  </div>
</template>

<script>
  import ApiService from "../../../services/api.service";

  export default {
    name:"ViewPlan",
    props: {
      plan_id: Number
    },
    data () {
      return {
        plandata: {},
        isLoading: false,
        viewPlanPopup: false
      }
    },

    methods: {
      getPlan() {
        this.isLoading = true;
        ApiService.get('/membership/plans/'+this.plan_id).then(response => {
          this.isLoading = false;
          this.plandata = response.data;
        }).catch(error => {
          this.isLoading = false;
          this.$toastr('error', error.response.data.message, 'Error');
        });
      }
    }
  }
</script>
