
<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <loading
        :active.sync="isLoading"
        :can-cancel="true"
        :is-full-page="false"
        :width="30"
        :height="30"
      ></loading>

      <vx-card title="">
        <div class="vx-row justify-between">
          <div class="vx-col">
            <h4>Plans List</h4>
          </div>
          <div class="vx-col text-right">
            <div class="vx-col">
              <vs-select
                placeholder="Export File"
                class="w-full"
                label-placeholder="Status"
                autocomplete
                v-model="selectValue"
                @change="exportPdfOrExcel(selectValue)"
              >

                <vs-select-item :value="'export-pdf'" :text="'Export Pdf'"  />
                <vs-select-item :value="'export-excel'" :text="'Export Excel'" />

              </vs-select>
            </div>
          </div>
        </div>

        <div class="vx-row mt-3">
          <div class="vx-col w-1/5">
            <vs-input @keyup="getPlansLazy()" type="text" class="w-full" v-model="search.name" placeholder="name" label="Name" />
          </div>

          <div class="vx-col w-1/5">
            <vs-input @keyup="getPlansLazy()" type="text" class="w-full" v-model="search.description" placeholder="description" label="Description" />
          </div>
        </div>

        <div class="vx-row mt-3">
          <div class="vx-col w-full">
            <vs-table stripe :data="plans">
              <template slot="thead">
                <vs-th>Name</vs-th>
                <vs-th>Price</vs-th>
                <vs-th>Description</vs-th>
                <vs-th>Currency</vs-th>
                <vs-th>Interval</vs-th>
                <!--<vs-th>Active</vs-th>-->
                <vs-th>Action</vs-th>
              </template>

              <template>
                <vs-tr :key="index" v-for="(plan, index) in plans">
                  <vs-td :data="plan.name">
                    {{ plan.name }}
                  </vs-td>
                  <vs-td :data="plan.price">
                    {{ plan.price }}
                  </vs-td>
                  <vs-td :data="plan.description">
                    {{ plan.description }}
                  </vs-td>
                  <vs-td :data="plan.currency">
                    {{ plan.currency }}
                  </vs-td>
                  <vs-td :data="plan.interval">
                    {{ plan.interval }}
                  </vs-td>
                  <!--<vs-td :data="plan.active">
                    <span v-if="plan.active" class="text-success">Active</span>
                    <span v-else class="text-danger">Inactive</span>
                  </vs-td>-->
                  <vs-td>
                    <div class="flex">
                      <!--<ViewPlan :plan_id="plan.id"></ViewPlan>-->
                      <EditPlan :plan_id="plan.id" @getPlansData="getPlansData"></EditPlan>
                      <div>
                          <Trash2Icon   @click="deletePlanPopup = true;  plan_id = plan.id" size="1.5x"    class="cursor-pointer text-dark"></Trash2Icon>
                      </div>
                    </div>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </div>

        <vs-row class="justify-center mt-3">
          <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage" class="w-full text-center"></vs-pagination>
        </vs-row>
      </vx-card>

      <!-- Add Plans Popup-->
      <vs-popup
        classContent="popup-example"
        title="Add Plan"
        :active.sync="addPlanPopup"
      >
        <AddPlan @getPlansData="getPlansData"></AddPlan>
      </vs-popup>

      <!-- Delete plan popup-->
      <vs-popup title="Are you sure?" :active.sync="deletePlanPopup">
        <p class="my-5">
          This plan will be delete permanently.
        </p>
        <vs-row class="mt-3 text-right">
          <vs-button @click="deletePlan" color="danger" type="filled" class="mr-2">Confirm</vs-button>
          <vs-button @click="deletePlanPopup=false" color="warning" type="border" class="mr-2">Cancel</vs-button>
        </vs-row>
      </vs-popup>

    </div>
  </div>
</template>

<script>
  import ApiService from "@/services/api.service";
  import AddPlan from "./AddPlan";
  import ViewPlan from "./ViewPlan";
  import EditPlan from "./EditPlan";
  import {
    RefreshCwIcon,
    PlusIcon,
    Trash2Icon,
    EditIcon,
    FilePlusIcon,
    FileTextIcon
  } from "vue-feather-icons";
  export default {
    data () {
      return {
        plans           : [],
        search          : [],
        isLoading       : false,
        addPlanPopup    : false,
        deletePlanPopup : false,
        plan_id         : 0,
        deletePlanId    : Number,
        selectValue     : '',

        totalPages      : 1,
        currentPage     : 1
      }
    },

    components: {
      AddPlan,
      ViewPlan,
      EditPlan,
      RefreshCwIcon,
      PlusIcon,
      EditIcon,
      Trash2Icon,
      FilePlusIcon,
      FileTextIcon
    },

    methods: {
      getPlansLazy() {
        this.getPlansData();
      },

      getPlansData(page=0) {
        this.isLoading = true;
        let get      = page == 0 ? '?':'?page='+page+'&';
        let count    = 0;
        let length   = Object.keys(this.search).length;
        for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');
        ApiService.get(`/membership/plans${get}`).then(response => {
          this.plans     = response.data.data;
          this.totalPages  = response.data.last_page;
          this.currentPage = response.data.current_page;
          this.addPlanPopup = false;
        }).catch(error => {
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        }).finally(() => {
          this.isLoading = false;
        });
      },

      exportPdfOrExcel(value) {
        this.isLoading = true;
        let get      = '?';
        let count    = 0;
        let length   = Object.keys(this.search).length;
        for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');
        ApiService.get(`/membership/${value}${get}`)
        .then(response => {
          this.isLoading = false;
          this.fileDownload(response.data);
          // window.open(response.data);
        })
        .catch(error => {
          this.isLoading = false;
          this.$toastr('error', error.response.data.message, 'Error');
        })
          .finally(()=>{
            this.selectValue = null;
          });
      },

      deletePlan() {
        ApiService.delete(`/membership/plans/${this.plan_id}`).then(response => {
          this.deletePlanPopup = false;
          this.$toastr('success', 'Plan Deleted', 'Success!');
          this.getPlansData();
        }).catch(error => {
          this.deletePlanPopup = false;
          this.$toastr('error', error.response.data.message, 'Error');
        })
      }
    },

    watch: {
      currentPage: function(val, oldVal){
        this.getPlansData(val)
      }
    },

    mounted() {
      this.getPlansData();
    },

    created() {
      this.getPlansLazy = _.debounce(this.getPlansData, 500);
    },
  }
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
