<template>
  <div class="vx-row">
    <div class="vx-col md:w-1/1 w-full mb-base">
      <vx-card title="Zoom API">
        <div class="vx-row">
          <div class="vx-col w-1/3"></div>
          <div class="vx-col w-1/3">
            <form >
              <div class="vx-row mb-6">
                <div class="vx-col w-full">
                  <label>Developer Key <span class="text-danger">*</span></label>
                  <vs-input class="w-full" required/>
                </div>
              </div>

              <div class="vx-row mb-6">
                <div class="vx-col w-full">
                  <label>Client ID <span class="text-danger">*</span></label>
                  <vs-input class="w-full" required/>
                </div>
              </div>

              <div class="vx-row mb-6">
                <div class="vx-col w-full">
                  <label>App ID <span class="text-danger">*</span></label>
                  <vs-input class="w-full" required/>
                </div>
              </div>

              <div class="vx-row mb-6">
                <div class="vx-col w-full">
                  <label>Scopes <span class="text-danger">*</span></label>
                  <vs-input class="w-full" required/>
                </div>
              </div>

              <div class="vx-row">
                <div class="vx-col w-full ml-auto">
                  <vs-button class="mr-3 mb-2 w-full" button="button" >Save</vs-button>
                </div>
              </div>
            </form>
          </div>
          </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
  export default {
    name: "AddPaymentApi",
    components: {
    },
    data() {
      return {
      }
    },
    methods: {
    }
  }
</script>

<style scoped>
  .payment-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .payment-menu > li {
    font-size: 12px;
		font-weight: 600;
    margin: 15px 0px;
  }

  .payment-menu > li:hover {
    cursor: pointer;
  }
  
  .payment-menu > .active {
    color: blue;
  }

  .vx-card {
    min-height: 500px;
  }
</style>