<template>
  <component v-bind:is="active"></component>
</template>

<script>
import SuperAdminComponent from '../moduels/dashboards/SuperAdminComponent'
import AdminComponent from '../moduels/dashboards/AdminComponent'
import ParticipantComponent from '../moduels/dashboards/ParticipantComponent'

export default {
  components: {
    super_admin: SuperAdminComponent,
    admin: AdminComponent,
    hrRole: AdminComponent,
    participant: ParticipantComponent
  },
  computed: {
    active () {
      if(this.$store.state.AppActiveUser.role == 'hr') {
        return 'hrRole';
      } else {
        return this.$store.state.AppActiveUser.role;
      }
    }
  }

}
</script>
