<template>
  <div>
    <vs-button @click="addPopup=true; $v.$reset()" title="Add Schedule" color="primary" type="gradient" class="px-2 py-1">
      <PlusIcon size="1.5x" class="custom-class"></PlusIcon>
    </vs-button>
    <div class="centerx">
      <vs-popup classContent="popup-example" title="Add Schedule" :active.sync="addPopup">
        <form @submit.prevent="saveSchedule">
          <div class="vx-row mb-6">
            <div class="vx-col w-1/1">
            <vs-input
              class="vs-col w-full m-0"
              label="Title"
              icon-pack="feather"
              icon="icon-type"
              val-icon-danger="clear"
              v-model="addSchedule.title"
              :danger="$v.addSchedule.title.$error ? true : false"
              :danger-text="$v.addSchedule.title.$error ? 'Title is required and must be between 4 to 190 alphabets' : ''"
              v-model.trim="$v.addSchedule.title.$model"
            />
            </div>
          </div>
          <div class="vx-row mb-6">
            <label class="vs-input--label">Description</label>
            <vs-textarea
              rows="2"
              class="vs-col w-full m-0 shadow-none"
              placeholder="Write in detail..."
              :class="$v.addSchedule.body.$error ? 'textarea-danger' : ''"
              v-model.trim="$v.addSchedule.body.$model"
            />
            <small v-if="$v.addSchedule.body.$error" class="textarea-danger-text">Body is required.</small>
          </div>

         <div class="vx-row mb-6">
           <vs-input
             level="Date"
             class="w-full"
             type="date"
             :danger="$v.addSchedule.date.$error ? true : false"
             :danger-text="$v.addSchedule.date.$error ? 'Date is required' : ''"
             v-model.trim="$v.addSchedule.date.$model"
           />
         </div>

         <div class="vx-row mb-6">
           <label class="vs-input--label">Address</label>
           <vs-textarea
             level="Address"
             rows="2"
             class="vs-col w-full m-0 shadow-none"
             placeholder="Write in detail..."
             :class="$v.addSchedule.address.$error ? 'textarea-danger' : ''"
             v-model.trim="$v.addSchedule.address.$model"
           />
           <small v-if="$v.addSchedule.address.$error" class="textarea-danger-text">Address is required.</small>
         </div>
         <div>
           <vs-select
             class="w-full"
             placeholder="Search and select"
             autocomplete
             label="Repeat"
             :danger="$v.addSchedule.repeat.$error ? true : false"
             :danger-text="$v.addSchedule.repeat.$error ? 'Repeat is required' : ''"
             v-model.trim="$v.addSchedule.repeat.$model"
           >
             <vs-select-item
             />
           </vs-select>
         </div>
          <vs-button class="mr-3 mb-2" button="submit"
          >Submit</vs-button
          >
          <vs-button
            color="warning"
            type="border"
            class="mb-2"
            @click=""
          >Reset</vs-button
          >
        </form>
      </vs-popup>
    </div>
  </div>
</template>


<script>
import ApiService from '@/services/api.service'
import { PlusIcon } from 'vue-feather-icons'
import VueGallery from "@/components/v-gallery/VueGallery"
import {required, minLength, maxLength} from 'vuelidate/lib/validators'

export default {
  name:'AddSchedule',
  props: {
    user_id: Number
  },
  data () {
    return {
      addSchedule: {
        title     : '',
        body      : '',
        date      : '',
        address   : '',
        repeat    : '',
      },
      addPopup: false
    }
  },

  validations: {
    addSchedule:{
      title     : { required, minLength: minLength(4), maxLength: maxLength(190) },
      body      : { required, minLength: minLength(100) },
      date      :  { required },
      address   :  { required },
      repeat    :  { required }
    }
  },
  methods: {
    saveSchedule() {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        this.addTicket.user_id = this.user_id

        ApiService.post('/ticket', this.addTicket).then(response => {
          this.resetForm();
          this.$emit('getTickets')
          this.$toastr('success', 'Ticket Saved', 'Success!');
          this.addPopup = false;
        }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      } else {
        this.$toastr('error', 'Error in form validation');
      }
    },
    resetForm(){
      this.$v.$reset();
      this.addTicket = {
        title     : '',
        body      : '',
        my_files  : ''
      };
    }
  },
  components: {
    VueGallery,
    PlusIcon
  }
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
