<template>
  <div>
    <vs-button @click="popupTicketEdit=true; editTicket={}; getTicket()" color="warning" type="gradient" size="small" class="px-2 py-1 rounded-none" :disabled="ticketReplies.length > 0">Edit</vs-button>
    <div class="centerx">
      <vs-popup classContent="popup-example"  title="Edit Ticket" :active.sync="popupTicketEdit">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :width="30"
                 :height="30">
        </loading>
        <vs-row class="mb-3">
          <vs-input
            class="vs-col w-full m-0"
            label="Title"
            placeholder="Title"
            v-model="editTicket.title"
            :danger="$v.editTicket.title.$error ? true : false"
            :danger-text="$v.editTicket.title.$error ? 'Title is required and must be between 4 to 190 alphabets' : ''"
            v-model.trim="$v.editTicket.title.$model"
          />
        </vs-row>
        <vs-row class="mb-3">
          <div class="w-full">
            <vs-select
              placeholder="Search and select"
              class="w-full m-0"
              label="Priority"
              autocomplete
              v-model="editTicket.priority"
            >

              <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="item,index in priorities" />

            </vs-select>
          </div>
        </vs-row>
        <vs-row class="mb-3">
          <div class="w-full">
            <vs-select
              placeholder="Search and select"
              class="w-full m-0"
              label="Status"
              autocomplete
              v-model="editTicket.status"
            >

              <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="item,index in statuses" />

            </vs-select>
          </div>
        </vs-row>
        <vs-row class="mb-3">
          <vs-textarea
            rows="5"
            class="vs-col w-full m-0 shadow-none"
            label="Description"
            placeholder="Write in detail..."
            :class="$v.editTicket.body.$error ? 'textarea-danger' : ''"
            v-model.trim="$v.editTicket.body.$model"
          />
          <span v-if="$v.editTicket.body.$error" class="con-text-validation span-text-validation-danger vs-input--text-validation-span v-enter-to ">
            Description is required and must be greater than 100 alphabets
          </span>
        </vs-row>
        <vs-row class="mb-3">
          <VueGallery v-model="editTicket.my_files"></VueGallery>
        </vs-row>
        <vs-row class="mb-3">
          <div class="w-1/6 relative" v-for="(file, index) in editTicket.files">
            <vs-button class="absolute p-0" title="Delete" color="danger" type="gradient" size="small" @click="deleteThisFile(index)">
              <XIcon size="1.5x" class="custom-class"></XIcon>
            </vs-button>
            <img class="w-full" :src="file.file" alt="image">
          </div>
        </vs-row>

        <vs-button @click="updateTicket(editTicket.id)" color="primary" type="filled">Update</vs-button>
        <vs-button @click="popupTicketEdit=false" color="warning" type="border">Cancel</vs-button>
      </vs-popup>
    </div>
  </div>
</template>


<script>
import ApiService from "@/services/api.service"
import { XIcon } from 'vue-feather-icons'
import VueGallery from "@/components/v-gallery/VueGallery"
import {required, minLength, maxLength} from 'vuelidate/lib/validators'

export default {
  name:"EditSchedule",
  props: {
    user_id       : Number,
    ticketId      : Number,
    priorities    : Array,
    statuses      : Array,
    ticketReplies : Array
  },
  data () {
    return {
      // addTicket       : {},
      isLoading       : true,
      editTicket      : {},
      popupTicketEdit : false
    }
  },
  validations: {
    editTicket: {
      title : { required, minLength: minLength(4), maxLength: maxLength(190) },
      body  : { required, minLength: minLength(100) }
    }
  },
  methods: {
    deleteThisFile(index) {
      let id = this.editTicket.files[index].id
      ApiService.delete(`/ticket/file/${id}`).then(response => {
        this.$toastr('success', 'File Deleted', 'Success!')
        _.pullAt(this.editTicket.files, index)
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },
    updateTicket(id) {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        let update = _.pick(this.editTicket, ['title', 'user_id', 'status', 'priority', 'body', 'my_files']);

        ApiService.update(`/ticket/${id}`, update).then(response => {
          this.$emit('getTickets')
          this.$toastr('success', 'Ticket Updated', 'Success!')
          this.popupTicketEdit = false
        }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        }).finally(() => {
          // this.popupTicketEdit = false;
        })
      }
    },
    getTicket() {
      this.isLoading = true;

      ApiService.get(`/ticket/${this.ticketId}`).then(response => {
        this.editTicket = response.data;
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        // this.popupTicketEdit = false;
        this.isLoading = false;
      })
    },
    resetForm() {
      this.addTicket = {
        title     : '',
        body      : '',
        my_files  : ''
      };
    }
  },
  mounted() {
    // this.getTicket();
  },
  components: {
    VueGallery,
    XIcon
  }
};
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
