
<template>
  <div>
    <loading :active.sync="isLoading"
             :can-cancel="true"
             :is-full-page="false"
             :width="30"
             :height="30">
    </loading>
    <vx-card title="">

      <vs-row class="justify-between mb-5">
        <h4>Schedule List</h4>
        <div class="flex">
          <vs-button title="Refresh" @click="search={}; getSchedules()" color="success" type="gradient" class="px-2 py-1 mr-1">
            <RefreshCwIcon size="1.5x" class="custom-class" :class="{'fa-pulse': isLoading}"></RefreshCwIcon>
          </vs-button>

          <vs-button
            @click="exportPdfOrExcel('export-pdf')"
            title="Export Pdf"
            color="warning"
            type="gradient"
            class="px-2 py-1 mr-1"
            :disabled="!tickets.length"
          >
            <FilePlusIcon
              size="1.5x"
              class="custom-class"
            ></FilePlusIcon>
          </vs-button>

          <vs-button
            @click="exportPdfOrExcel('export-excel')"
            title="Export Excel"
            color="warning"
            type="gradient"
            class="px-2 py-1 mr-1"
            :disabled="!tickets.length"
          >
            <FileTextIcon
              size="1.5x"
              class="custom-class"
            ></FileTextIcon>
          </vs-button>
          <!-- Add Schedule Component -->
          <AddSchedule :user_id="user.id" @getSchedules="getSchedules"></AddSchedule>
        </div>
      </vs-row>

      <form @submit.prevent="getSchedules()" class="vx-row mb-3">

        <div class="vx-col w-1/5">
          <vs-input @keyup="getSchedulesLazy()" type="text" class="w-full" v-model="search.title" placeholder="title" label="Title" />
        </div>
        <div class="vx-col w-1/5">
          <vs-input @keyup="getSchedulesLazy()" type="text" class="w-full" v-model="search.body" placeholder="description" label="Description" />
        </div>
        <div class="vx-col w-1/5">
          <vs-input @keyup="getSchedulesLazy()" type="date" class="w-full" v-model="search.date" label="Date and Time" />
        </div>
      </form>

      <vs-table stripe :data="tickets">
        <template slot="thead">
            <vs-th>#</vs-th>
            <vs-th>Title</vs-th>
            <vs-th>Description</vs-th>
            <vs-th>Date and Time</vs-th>
            <vs-th>Repeat</vs-th>
            <vs-th class="text-center">Action</vs-th>
        </template>

        <template>
            <vs-tr :key="index" v-for="(ticket, index) in tickets">
              <vs-td :data="index+1">
                {{ index + 1 }}
              </vs-td>
              <vs-td :data="ticket.title">
                {{ ticket.title }}
              </vs-td>
              <vs-td width="40%" class="capitalize" :data="ticket.body">
                {{ ticket.body }}
              </vs-td>
              <vs-td>date</vs-td>
              <vs-td>Never</vs-td>
              <vs-td>
                <div class="flex">
                  <EditSchedule
                    :user_id="user.id"
                    :ticketId="ticket.id"
                    :ticketReplies="ticket.replies"
                    :priorities="priorities"
                    :statuses="statuses"
                    @getSchedules="getSchedules"
                  ></EditSchedule>
                  <div>
                    <vs-button @click="popupDelete=true; deleteId=ticket.id" color="danger" type="gradient" size="small" class="px-2 py-1 rounded-none rounded-r" :disabled="ticket.replies.length > 0">Delete</vs-button>
                  </div>
                </div>

              </vs-td>
            </vs-tr>
        </template>
      </vs-table>
      <vs-row class="justify-center mt-3">
        <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage" class="w-full text-center"></vs-pagination>
      </vs-row>
    </vx-card>

    <div class="centerx">
      <vs-popup class="holamundo"  title="Are you sure?" :active.sync="popupDelete">
        <p class="my-5">
          This ticket will be deleted permanently!
        </p>
        <vs-row class="mt-3 text-right">
          <vs-button @click="deleteThisTicket()" color="danger" type="filled" class="mr-2">Confirm</vs-button>
          <vs-button @click="popupDelete=false" color="warning" type="border" class="mr-2">Cancel</vs-button>
        </vs-row>
      </vs-popup>
    </div>

  </div>
</template>

<script>
import ApiService from '@/services/api.service'
import { CheckSquareIcon, XIcon, ClockIcon, PlusIcon, FilePlusIcon, FileTextIcon, RefreshCwIcon } from 'vue-feather-icons'
import AddSchedule from './AddSchedule'
import EditSchedule from './EditSchedule'

export default {
  data () {
    return {
      users         : [],
      user          : [],
      tickets       : [],
      addTicket     : {},
      search        : [],
      priorities    : [],
      statuses      : [],

      totalPages    : 1,
      currentPage   : 1,
      items         : 10,
      isLoading     : true,

      deleteId      : '',
      editTicket    : {},
      editTicketTmp : {},
      popupDelete   : false,

      select1:3,
      options1:[
        {text:'IT', value:0},
        {text:'Blade Runner', value:2},
        {text:'Thor Ragnarok', value:3}
      ]
    }
  },

  methods: {
    getSchedulesLazy() {
      this.getSchedules();
    },
    getSchedules(page=0) {
      this.isLoading = true;

      let get      = page > 0 ? '?page='+page+'&':'?';
      let count    = 0;
      let length   = Object.keys(this.search).length;

      for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');

      ApiService.get(`/ticket${get}`).then(response => {
        this.tickets     = response.data.data;
        this.totalPages  = response.data.last_page;
        this.currentPage = response.data.current_page;
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        this.isLoading = false;
      });
    },

    getAllUser() {
      ApiService.get('all-user').then(response => {
        this.users = response.data;
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },

    deleteThisTicket () {
      ApiService.delete(`/schedule/${this.deleteId}`).then(response => {
        this.getSchedules();
        this.$toastr('success', 'Ticket Deleted', 'Success!')
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        this.popupDelete = false;
      })
    },

    exportPdfOrExcel(value) {
      this.isLoading = true;
      let get      = '?';
      let count    = 0;
      let length   = Object.keys(this.search).length;
      for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');
      ApiService.get(`/ticket/${value}/${get}`)
        .then(response => {
          this.isLoading = false;
          window.open(response.data);
        })
        .catch(error => {
          this.isLoading = false;
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        });
    }
  },

  mounted() {
    this.getAllUser()
    this.getSchedules()

    this.user       = this.$store.state.AppActiveUser;
    this.priorities = [
      {
        text: 'High',
        value: 'high'
      },
      {
        text: 'Middle',
        value: 'middle'
      },
      {
        text: 'Low',
        value: 'low'
      }
    ];
    this.statuses = [
      {
        text: 'Open',
        value: 'open'
      },
      {
        text: 'Close',
        value: 'close'
      },
      {
        text: 'Cancel',
        value: 'cancel'
      }
    ];
  },
  watch: {
    currentPage: function(val, oldVal){
      this.getSchedules(val)
    }
  },
  created() {
    this.getSchedulesLazy = _.debounce(this.getSchedules, 500)
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    }
  },
  components: {
    AddSchedule, EditSchedule,
    CheckSquareIcon, XIcon, ClockIcon, PlusIcon, RefreshCwIcon, FilePlusIcon, FileTextIcon
  }
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
<style lang="stylus">
.popup-example
  .vs-input
    float left
    width 50%
    margin 10px
    margin-top 5px
  .con-select
    margin-left 10px
    width 50%
    margin-bottom 10px
</style>
