<template>
  <vx-card>
    <div class="vx-row justify-center">
      <div class="vx-col w-1/2 mb-base">
        <div class="vx-col w-full mb-3">
          <h4>Details</h4>
        </div>
        <div class="vx-col w-full">
          <loading
                  :active.sync="isLoading"
                  :can-cancel="true"
                  :is-full-page="false"
                  :width="30"
                  :height="30"
          ></loading>

          <vs-table stripe :data="[company, companyPaymentHistory, lastSinglePaymentAmount, lastSinglePaymentCurrency]">
            <template>
              <vs-tr>
                <vs-td>
                  Company Name
                </vs-td>
                <vs-td class="text-right" :data="company.name">
                  {{ company.name}}
                </vs-td>
              </vs-tr>


              <vs-tr>
                <vs-td>
                  Subscribed at
                </vs-td>
                <vs-td class="text-right" :data="company.subscribed_at">
                  <strong v-if="!isLoading && company.subscribed_at && company.subscribed_at.length > 0">
                    {{ company.subscribed_at }}
                  </strong>
                  <strong v-else="">
                    {{ 'Not yet subscribed' }}
                  </strong>
                </vs-td>
              </vs-tr>

              <vs-tr>
                <vs-td>
                  Expires at
                </vs-td>
                <vs-td class="text-right" :data="companyPaymentHistory">
                  <strong v-if="!isLoading && companyPaymentHistory && companyPaymentHistory.date_to">
                    {{ companyPaymentHistory.date_to }}
                  </strong>
                  <strong v-else="">
                    {{ 'Not yet subscribed' }}
                  </strong>
                </vs-td>
              </vs-tr>

              <vs-tr>
                <vs-td>
                  Last Payment
                </vs-td>
                <vs-td class="text-right" :data="[lastSinglePaymentAmount, lastSinglePaymentCurrency]">
                  <strong>
                    {{ lastSinglePaymentAmount+''+lastSinglePaymentCurrency }}
                  </strong>
                </vs-td>
              </vs-tr>
            </template>
          </vs-table>
        </div>
      </div>
      <div class="vx-col w-1/2 mb-base">
        <div class="vx-col w-full mb-3">
          <h4>Fatture Pay</h4>
        </div>
        <div class="vx-col w-full">
          <form @submit.prevent="" method="post" id="payment-form">
            <!--<vs-row class="mb-6">
              <vs-col class="w-full">
                <label for="card-holder-name" class="mb-3">
                  Company
                  <vs-select
                          placeholder="Search and select"
                          class="selectExample w-full"
                          autocomplete
                          @change="getIntent()"
                          v-model="company_user_id"
                  >
                    <vs-select-item
                      :key="index"
                      :value="item.company_user.user.id"
                      :text="item.company_user.user.name"
                      v-for="item,index in companies"
                    />
                  </vs-select>
                </label>
              </vs-col>
            </vs-row>-->
            <vs-row class="mb-6">
              <vs-col class="w-full">
                <label for="card-holder-name" class="mb-3">
                  Plan
                  <vs-select
                    placeholder="Search and select"
                    class="selectExample w-full"
                    autocomplete
                    v-model="plan"
                  >
                    <vs-select-item :key="index" :value="item.id" :text="item.interval+' Months ('+item.price+item.currency+'/m)'" v-for="item,index in plans" />
                  </vs-select>
                </label>
              </vs-col>
            </vs-row>
            <vs-row class="mb-6">
              <vs-col class="w-full">
                <label for="card-holder-name" class="mb-3">
                  Card Holder Name
                  <vs-input id="card-holder-name" type="text" class="w-full" v-model="cardHolderName"/>
                </label>
              </vs-col>
            </vs-row>
            <vs-row v-if="!isLoading && user.stripe_id && user.stripe_id.length > 0" class="mb-6">
              <vs-col class="w-full">
                <ul class="centerx">
                  <li>
                    <vs-checkbox v-model="continueSaved">Continue with last saved card</vs-checkbox>
                  </li>
                </ul>
              </vs-col>
            </vs-row>
            <vs-row class="mb-6" :style="(!isLoading && continueSaved) ? 'display: none; !important;':''">
              <vs-col class="w-full">
                <label for="card-element">
                  Credit or debit card
                </label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>
                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
              </vs-col>
            </vs-row>
            <vs-row v-if="!continueSaved">
              <vs-col class="w-full">
                <ul class="centerx">
                  <li>
                    <vs-checkbox v-model="saveThisCard">Save this card for further use</vs-checkbox>
                  </li>
                </ul>
              </vs-col>
            </vs-row>

            <vs-button v-if="!continueSaved" id="card-button" @click="btnClick()" class="mt-3">Submit Payment</vs-button>
            <vs-button v-else="" @click="renewNow()" color="warning" class="mt-3">Continue Payment</vs-button>
          </form>
        </div>
      </div>
    </div>
  </vx-card>
</template>
<script>
  import ApiService from '@/services/api.service'
  export default {
    name: 'StripeSubscriptionManagement',
    data() {
      return {
        stripeAPIToken: 'pk_test_51HUtZNFTA0IDTfw7vRV1CbM7EgkgdTA4gq6P4ZQmtDaXdhMSqJBEPK30sm3Mu6fesxqvcYtMLU2IMDyz1ffZhH1z00rifWsGB0',
        stripe        : '',
        elements      : '',
        card          : '',
        cardHolderName: '',
        cardButton    : '',
        plan          : '',
        intent        : '',
        payment_method: '',

        user            : JSON.parse(localStorage.getItem('userInfo')),
        company         : {
          subscribed_at: ' '
        },
        plans           : {},
        companies       : {},
        company_user_id : '',

        companyPaymentHistory : {
          date_to: ' '
        },
        isLoading                : true,
        saveThisCard             : false,
        continueSaved            : false,
        lastSinglePayment        : [],
        lastSinglePaymentAmount  : 0,
        lastSinglePaymentCurrency: '',

      }
    },
    mounted() {
      this.includeStripe('js.stripe.com/v3/', function(){
        this.configureStripe();
      }.bind(this) );

      this.getIntent();
      this.getCompany();
      this.getPlans();
      this.getUser();
    },
    methods: {
      getPlans() {
        ApiService.get(`/membership/plans`)
        .then(response => {
          this.plans = response.data.data;
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },

      getUser() {
        ApiService.get(`/user`)
        .then(response => {
          this.user = response.data;
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },

      saveSubscriptionToLocal(subscriptionData) {
        this.isLoading = true;
        let thisSubscription = [];
        for (var i=0; i< parseInt(subscriptionData.plan.interval); i++){
          thisSubscription[i] = {
            company_id: this.company.id,
            payment_type: 'online',
            payment_id: subscriptionData.conf.id,

            card_holder_name: this.cardHolderName,

            amount: subscriptionData.plan.price,
            currency: subscriptionData.conf.currency,
            date_from: '',
            date_to: '',

            payment_method: 'stripe',
            status: subscriptionData.conf.status

          };
        }

        ApiService.post('/company-payment-history', thisSubscription)
        .then(response => {
          this.getCompany();
          this.getInvoice(subscriptionData.conf.id);
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },

      getInvoice(payment_id) {
        console.log(payment_id);
        //ApiService.get(`/company-payment-history/send-invoice/${payment_id}`)
        //for fake purpose
        ApiService.post(`/company-payment-history/send-invoice`, {payment_id, payment_method: "Fatture"})
          .then(response => {
            console.log(response);
          })
          .catch(error => {
            this.$toastr('error', error.response.data.message, 'Error');
          });

      },

      getCompanyPaymentHistory() {
        this.isLoading = true;
        this.lastSinglePaymentAmount = 0;
        ApiService.get(`/company-payment-history`)
        .then(response => {
          this.companyPaymentHistory = response.data.paymentStatus;
          this.lastSinglePayment = _.toArray(response.data.lastPaid);

          this.lastSinglePayment.filter(ele => {
            ele.filter(el => {
              this.lastSinglePaymentAmount   += parseInt(el.amount);
              this.lastSinglePaymentCurrency = el.currency;
            })
          })
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        }).finally(()=>{
          this.isLoading = false;
        });
      },
      getCompany() {
        this.isLoading = true;
        ApiService.get(`/getCompany/user/${this.user.id}`)
        .then(response => {
          this.company = response.data.company_user.company;
          this.getCompanyPaymentHistory();
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },

      subscribeNow() {
        this.isLoading = true;
        ApiService.post(`/membership/subscribe/new/${this.user.id}?company_id=${this.company.id}`,{
          plan           : this.plan,
          payment_method : this.payment_method,
          saveThisCard   : this.saveThisCard
        })
        .then(response => {
          this.getIntent();

          this.$toastr('success', 'Subscription successfully done!', 'Success');
          this.company_user_id = '';
          this.saveSubscriptionToLocal(response.data);
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },
      renewNow() {
        this.isLoading = true;
        ApiService.post(`/membership/subscribe/old/${this.user.id}?company_id=${this.company.id}`,{
          plan           : this.plan,
          payment_method : this.payment_method,
          saveThisCard   : this.saveThisCard,
          continueSaved  : this.continueSaved,
          customer       : this.user.stripe_id
        })
        .then(response => {
          this.isLoading = false;
          this.getIntent();

          this.$toastr('success', 'Subscription successfully done!', 'Success');
          this.company_user_id = '';
          this.saveSubscriptionToLocal(response.data);
        })
        .catch(error => {
          this.isLoading = false;
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },
      getIntent() {
        this.isLoading = true;
        ApiService.get(`/user/get-intent/${this.user.id}`)
        .then(response => {
          this.intent = response.data.client_secret;
          console.log(this.intent);
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        });
      },
      /*
          Includes Stripe.js dynamically
      */
      includeStripe( URL, callback ){
        let documentTag = document, tag = 'script',
          object = documentTag.createElement(tag),
          scriptTag = documentTag.getElementsByTagName(tag)[0];
        object.src = '//' + URL;
        if (callback) { object.addEventListener('load', function (e) { callback(null, e); }, false); }
        scriptTag.parentNode.insertBefore(object, scriptTag);
      },
      /*
        Configures Stripe by setting up the elements and
        creating the card element.
      */
      configureStripe(){
        this.stripe = Stripe( this.stripeAPIToken );

        this.elements = this.stripe.elements();
        this.card = this.elements.create('card');

        this.card.mount('#card-element');
      },
      async btnClick(){
        this.isLoading = true;
        const clientSecret = this.intent;

        const { setupIntent, error } = await this.stripe.confirmCardSetup(
          clientSecret, {
            payment_method: {
              card: this.card,
              billing_details: { name: this.cardHolderName }
            }
          }
        );

        if (error) {
          // Display "error.message" to the user...
          this.$toastr('error', error.message, 'Error');
        } else {
          this.payment_method = setupIntent.payment_method;

          if(!_.trim(this.company.subscribed_at)) this.subscribeNow();
          else this.renewNow();
          //console.log('handling...', setupIntent.payment_method);
        }
      }
    }
  }
</script>
<style>
  /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
  .StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  #card-element {
    border: 1px solid #ccc;
  }
</style>
