<template>
  <div>
    <vs-card class="py-10">
      <vs-row class="justify-center">
        <vs-col class="w-1/2 flex justify-center">
          <div v-if="!takeBack">
            <div v-if="token.length == 0">Please wait, Sending OTP<span>{{dots}}</span></div>
            <div v-else>
              <vs-input label="Enter Code" placeholder="" v-model="inputToken"></vs-input>
              <vs-button :color="'#7367f0'" class="rounded mt-2" type="filled" @click="checkCode()" size="small">Check</vs-button>
            </div>
          </div>
          <div v-else="">
            Taking Back...
          </div>
        </vs-col>
      </vs-row>
    </vs-card>
  </div>
</template>

<script>
  import ApiService from "../../services/api.service";
  import JwtService from "../../services/jwt.service";

  export default {
    name: "LoginAs",
    data() {
      return {
        dots         : '',
        dotInt       : '',
        token        : '',
        otp_response : '',
        inputToken   : '',
        old_userInfo : {},
        takeBack     : false,

        backUserId   : '',

        thisUserId   : this.$route.params.userId,
        thisUser     : {},
        access_token : '',
        expires_at   : '',

        lastUser     : {},

        loginAsTree  : []
      };
    },
    mounted() {

      this.old_userInfo = JSON.parse(localStorage.getItem('userInfo'));
      this.lastUser     = JSON.parse(localStorage.getItem('userInfo'));
      let initUserData  = {
        id           : this.lastUser.id,
        access_token : localStorage.getItem('access_token'),
        expires_at   : localStorage.getItem('expires_at'),
        detail       : this.lastUser
      }
      this.loginAsTree  = localStorage.getItem('loginAsTree') ? JSON.parse(localStorage.getItem('loginAsTree')):[initUserData];

      // this.updateLoginAsTree();

      if (this.$route.params.action == 'back') {
        this.takeBack = true;
        // console.log(this.loginAsTree, this.thisUserId, 'back');

        let getIndex = null;

        this.loginAsTree.filter((elements, index) => {
          if(parseInt(elements.id) == parseInt(this.thisUserId)) {
            getIndex = index
          }
          // console.log(elements, index, getIndex, 'mounted');
        });
        if(getIndex > 0) {
          // console.log(this.loginAsTree[getIndex - 1], 'last mount');
          this.thisUserId = this.loginAsTree[getIndex - 1].id;
          this.loginAsTree.splice(getIndex, 1);
          // console.log(this.loginAsTree);

          if(getIndex == 1) {
            localStorage.removeItem('loginAsTree');
          } else {
            localStorage.setItem('loginAsTree', JSON.stringify(this.loginAsTree));
          }
        }
        getIndex = null;
        this.login();
      }
      else {
        this.takeBack = false;
        this.loginOTP();
        this.loading();
      }
    },
    methods: {
      updateLoginAsTree() {
        let userChecker = false;

        this.loginAsTree.filter((elements, index) => {
          // console.log(elements, index, 'fil');
          if(parseInt(elements.id) == parseInt(this.thisUserId)) {
            userChecker = true;
          }
          //console.log(userChecker)
        });

        if(!userChecker) this.loginAsTree.push({
          id           : this.thisUserId,
          access_token : this.access_token,
          expires_at   : this.expires_at,
          detail       : this.thisUser
        });
        localStorage.setItem('loginAsTree', JSON.stringify(this.loginAsTree));
        // console.log(this.loginAsTree, 'as', userChecker);
        userChecker = false;
      },
      loading() {
        let x = 0;
        this.dotInt = setInterval(()=>{
          switch (++x%3) {
            case 2:
              this.dots = '...';
              break;
            case 1:
              this.dots = '..\xa0';
              break;
            default:
              this.dots = '.\xa0\xa0';
              break;
          }
        }, 500)
      },
      checkCode(){
        if(this.token == this.inputToken) {
          this.login();
          this.$toastr('success', 'Token Matched and Redirecting!', 'Success');
        }
        else this.$toastr('error', 'Token Expired or Wrong!', 'Error');
      },
      loginOTP() {
        ApiService.get(`/login-as-otp/${this.$route.params.userId}`)
          .then(response => {
            clearInterval(this.dotInt);
            this.token = response.data.token;
            this.otp_response = response.data;
            console.log(response.data);
          });
      },
      login() {
        ApiService.get(`/login-as/${this.thisUserId}`)
        .then(response => {
          this.thisUser     = response.data.user;
          this.access_token = response.data.access_token;
          this.expires_at   = response.data.expires_at;

          if (this.$route.params.action != 'back') {
            this.updateLoginAsTree();
          }

          localStorage.setItem(
            "old_access_token",
            localStorage.getItem('access_token')
          );
          localStorage.setItem(
            "old_id",
            JSON.parse(localStorage.getItem('userInfo')).id
          );

          JwtService.saveToken(response.data.access_token);
          localStorage.setItem(
            "expires_at",
            response.data.expires_at
          );
          ApiService.init();
          window.location = '/';
        })
        .catch(error => {
          console.log(error);
          this.$vs.dialog({
            color: "danger",
            title: `Credentials doesn't match`,
            text:
              "Your given Credentials is not correct or not match with our system. please try again",
            accept: "Close"
          });
        });
      }
    }
  };
</script>

<style scoped></style>
