<template>
  <vx-card no-shadow>
    <div class="vx-col w-full mb-base">
      <h6>Change Password</h6>
      <br />
      <hr />
      <br /><br />
      <div class="vx-row">
        <div class="vx-col w-1/3">
          <form @submit.prevent="changePassword">
            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>New Password <span class="text-danger">*</span></label>
                <vs-input class="w-full" v-model="user.password" required />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label
                  >Confirmation Password<span class="text-danger"
                    >*</span
                  ></label
                >
                <vs-input class="w-full" required />
              </div>
            </div>

            <div class="vx-row">
              <div class="vx-col w-full ml-auto">
                <vs-button class="mr-3 mb-2 w-full" button="submit"
                  >Update</vs-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </vx-card>
</template>

<script>
export default {
  name: "ChangePassword",
  data() {
    return {
      user: {}
    };
  },

  methods: {
    changePassword() {}
  },

  mounted() {}
};
</script>
