<template>
  <vx-card no-shadow>
    <div class="vx-col md:w-1/1 w-full mb-base">
      <!--<vs-list>
                <vs-list-item v-for="(item,index) in logged_in_devices" :key="index" :title="item.name" :subtitle="diffForHumans(item.created_at)">
                    <vs-button @click="logoutFromDevice(item.id)" color="danger">log out</vs-button>
                </vs-list-item>
            </vs-list>-->
      <div class="relative">
        <loading
          :active.sync="isLoading"
          :can-cancel="true"
          :is-full-page="false"
          :width="30"
          :height="30"
        >
        </loading>
        <vs-table stripe :data="logged_in_devices">
          <template slot="header">
            <h3 class="pb-3">
              Login Histories
            </h3>
          </template>
          <template slot="thead">
            <vs-th>
              #
            </vs-th>
            <vs-th>
              Operating System
            </vs-th>
            <vs-th>
              Browser
            </vs-th>
            <vs-th>
              Time
            </vs-th>
            <vs-th>
              Action
            </vs-th>
          </template>

          <template slot-scope="{ data }">
            <vs-tr :key="indextr" v-for="(tr, indextr) in data">
              <vs-td :data="indextr">
                {{ indextr + 1 }}
              </vs-td>
              <vs-td :data="indextr">
                {{ split(data[indextr].name, "0", " - ") }}
              </vs-td>

              <vs-td :data="data[indextr].username">
                {{ split(data[indextr].name, "1", " - ") }}
              </vs-td>

              <vs-td :data="data[indextr].id">
                {{ data[indextr].created_at | diffForHumans }}
              </vs-td>

              <vs-td :data="data[indextr].id">
                <vs-button
                  @click="logoutFromDevice(data[indextr].id)"
                  color="danger"
                  size="small"
                  >log out</vs-button
                >
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>
    </div>
  </vx-card>
</template>

<script>
import ApiService from "@/services/api.service";
import { SmartphoneIcon } from "vue-feather-icons";

export default {
  name: "LoginHistory",
  data() {
    return {
      isLoading: true,
      logged_in_devices: []
    };
  },
  methods: {
    split(str, index = null, key = " - ") {
      let data = _.split(str, key);
      if (index) return data[index];
      else return data;
    },

    logoutFromDevice(id) {
      this.isLoading = true;
      ApiService.get(`/logout-from-device/${id}`)
        .then(response => {
          this.getLoginHistory();
        })
        .catch(error => {})
        .finally(() => {
          this.isLoading = false;
        });
    },

    getLoginHistory() {
      this.isLoading = true;
      ApiService.get("/login-history")
        .then(response => {
          this.logged_in_devices = response.data.data;
          console.log(response.data.data);
        })
        .catch(error => {})
        .finally(() => {
          this.isLoading = false;
        });
    },


  },
  mounted() {
    this.getLoginHistory();
  },
  components: {
    SmartphoneIcon
  }
};
</script>

<style scoped></style>
