<template>
  <vx-card no-shadow>
    <div class="vx-col w-full mb-base">
      <h6>View Profile</h6>
      <br />
      <hr />
      <br /><br />
      <div class="vx-row">
        <div class="vx-col w-1/3">
          <form @submit.prevent="updateUser">
            <vue-gallery v-model="user.photo"></vue-gallery>
            <br />
            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>First Name <span class="text-danger">*</span></label>
                <vs-input
                  class="form__input w-full"
                  :danger="$v.user.first_name.$error ? true : false"
                  :danger-text="
                    $v.user.first_name.$error
                      ? 'First Name is Required.'
                      : ''
                  "
                  v-model.trim="$v.user.first_name.$model"
                />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Last Name <span class="text-danger">*</span></label>
                <vs-input
                  class="form__input w-full"
                  :danger="$v.user.last_name.$error ? true : false"
                  :danger-text="
                    $v.user.last_name.$error
                      ? 'First Name is Required.'
                      : ''
                  "
                  v-model.trim="$v.user.last_name.$model"
                />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Email<span class="text-danger">*</span></label>
                <vs-input
                  class="form__input w-full"
                  :danger="$v.user.email.$error ? true : false"
                  :danger-text="
                    $v.user.email.$error ? 'Please enter a valid email' : ''
                  "
                  v-model.trim="$v.user.email.$model"
                />
              </div>
            </div>

            <div class="vx-row">
              <div class="vx-col w-full ml-auto">
                <vs-button class="mr-3 mb-2 w-full" button="submit"
                  >Update</vs-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </vx-card>
</template>

<script>
import ApiService from "../../../../services/api.service";
import { required, email, minLength, between } from "vuelidate/lib/validators";

export default {
  name: "ViewProfile",
  data() {
    return {
      user: {
        first_name: "",
        last_name: "",
        email: ""
      }
    };
  },
  mounted() {
    ApiService.get("/user").then(response => {
      this.user = response.data;
    });
  },

  validations: {
    user: {
      first_name: { required },
      last_name: { required },
      email: { required, email }
    }
  },
  methods: {
    updateUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        ApiService.update(`/profile/update-profile`, this.user)
          .then(response => {
            this.$store.commit("UPDATE_USER_INFO", response.data);
            this.$toastr("success", "Profile Saves", "Success");
          })
          .catch(error => {
            if (error.response.status == 422) {
              for (let property in error.response.data.errors) {
                this.$toastr(
                  "error",
                  error.response.data.errors[property],
                  "Error"
                );
              }
            }
          });
      }
    }
  }
};
</script>
