<template>
  <div class="vx-row">
    <div class="vx-col w-full mb-base">
      <div class="centrex">
        <form @submit.prevent="addOrUpdateHoganApi">
          <div class="vx-row mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <span>Client ID</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="hogan.clientid"/>
            </div>
          </div>
          <div class="vx-row mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <span>Username</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" v-model="hogan.username" />
            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col sm:w-1/3 w-full">
              <span>Password</span>
            </div>
            <div class="vx-col sm:w-2/3 w-full">
              <vs-input class="w-full" type="password"  v-model="hogan.password" />
            </div>
          </div>

          <div class="vx-row">
            <div class="vx-col sm:w-2/3 w-full ml-auto">
              <vs-button class="mr-3 mb-2" button="submit" >Update</vs-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from "@/services/api.service";
export default {
  name:"AddEditHoganAPI",
  props: {
    hogan: Object
  },

  data () {
    return {
      hoganData: {
        clientid: "",
        username: "",
        password: "",
      }
    }
  },

  methods: {
    addOrUpdateHoganApi() {
      ApiService.post('/hogan', this.hogan).then(response => {
        this.$toastr('success', 'Successfully Hogan API Updated.', 'Hogan API Updated.');
        this.$emit('closeAddEditHoganPopup');
      }).catch(error => {
        this.$vs.dialog({
          color: 'danger',
          title: `Something Went Wrong`,
          text: error.response.data.message
        })
      })
    },
  },

}
</script>
