<template>
  <div class="vx-row match-height">
    <div class="vx-col sm:w-1/4 w-full"></div>
    <div class="vx-col sm:w-1/2 w-full">
      <loading
        :active.sync="isLoading"
        :can-cancel="true"
        :is-full-page="false"
        :width="30"
        :height="30"
      ></loading>

      <vx-card title="">
        <div class="vx-row justify-between">
          <div class="vx-col">
            <h4>Hogan API Setup</h4>
          </div>
          <div class="vx-col">
            <vs-switch color="success" v-model="hogan.active">
              <template #off>
                Test
              </template>
              <template #on>
                Live
              </template>
            </vs-switch>
          </div>
        </div>
        <hr class="mt-5 mb-5"/>

        <form @submit.prevent="addOrUpdateHoganApi">
          <template v-if="!hogan.active">
            <div class="vx-col mb-6">
              <vs-input label="Test Link" class="w-full" v-model="hogan.development_link" />
            </div>
            <div class="vx-col mb-6">
              <vs-input
                label="Test Halo Client ID"
                class="w-full"
                v-model="hogan.development_halo_client_id"
              />
            </div>
            <div class="vx-col mb-6">
              <vs-input
                label="Test Client ID"
                class="w-full"
                v-model="hogan.development_client_id"
              />
            </div>
            <div class="vx-col mb-6">
              <vs-input label="Test User ID" class="w-full" v-model="hogan.development_user_id" />
            </div>
            <div class="vx-col mb-6">
              <vs-input label="Test Password" class="w-full" v-model="hogan.development_password" />
            </div>
          </template>

          <template v-else>
            <div class="vx-col mb-6">
              <vs-input label="Production Link" class="w-full" v-model="hogan.production_link" />
            </div>
            <div class="vx-col mb-6">
              <vs-input
                label="Production Halo Client ID"
                class="w-full"
                v-model="hogan.production_halo_client_id"
              />
            </div>
            <div class="vx-col mb-6">
              <vs-input
                label="Production Client ID"
                class="w-full"
                v-model="hogan.production_client_id"
              />
            </div>

            <div class="vx-col mb-6">
              <vs-input
                label="Production User ID"
                class="w-full"
                v-model="hogan.production_user_id"
              />
            </div>
            <div class="vx-col mb-6">
              <vs-input
                label="Production Password"
                class="w-full"
                v-model="hogan.production_password"
              />
            </div>
          </template>
          <div class="vx-row">
            <div class="vx-col w-full ml-auto">
              <vs-button class="mr-3 mb-2" button="submit">Update</vs-button>
            </div>
          </div>
        </form>
      </vx-card>
    </div>
  </div>
</template>

<script>
import ApiService from "@/services/api.service";
import {
  RefreshCwIcon,
  PlusIcon,
  FilePlusIcon,
  FileTextIcon,
} from "vue-feather-icons";

export default {
  name: "Hogan",
  components: {
    RefreshCwIcon,
    PlusIcon,
    FilePlusIcon,
    FileTextIcon,
  },
  data() {
    return {
      isLoading: false,
      addEditHoganAPI: false,
      hogan: {
        active: "",
        production_link: "",
        production_halo_client_id: "",
        production_client_id: "",
        production_user_id: "",
        production_password: "",
        development_link: "",
        development_halo_client_id: "",
        development_client_id: "",
        development_user_id: "",
        development_password: "",
      },
    };
  },

  methods: {
    addOrUpdateHoganApi() {
      ApiService.post("/hogan", this.hogan)
        .then((response) => {
          this.$toastr(
            "success",
            "Successfully Hogan API Setup Updated.",
            "Hogan API Updated."
          );
          this.$emit("closeAddEditHoganPopup");
        })
        .catch((error) => {
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message,
          });
        });
    },
    getHoganApiData() {
      this.isLoading = true;
      ApiService.get("/hogan")
      .then((response) => {
        this.hogan = response.data;
        this.isLoading = false;
      })
      .catch((error) => {
        this.isLoading = false;
        this.$toastr(
          "error",
          error.response.data.message,
          "Something Went Wrong."
        );
      });
    },
  },

  mounted() {
    this.getHoganApiData();
  },
};
</script>
