.textarea-danger textarea {
  border: 1px solid #EA5455 !important;
}

.textarea-danger-text {
  color: #EA5455 !important;
  font-size: 9px !important;
  padding: 0px 3px !important;
}

.ql-container{
  height: 200px !important;
}

.media-gallery-modal .vs-dialog {
  width: 100% !important;
  max-width: 100%!important;
}

.mail-view .vs-dialog{
  max-width: 700px !important;
}

.l-0 {left: 0px !important;}
.r-0 {right: 0px !important;}
.t-0 {top: 0px !important;}
.b-0 {bottom: 0px !important;}

.quill-editor > .ql-toolbar {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
.quill-editor > .ql-container {
  border-bottom-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.border-gray {
  border: 2px solid slategrey;
  border-radius: 4px;
}
.border-active {
  border: 2px solid #766bf0;
  border-radius: 4px;
}
