<template>
  <div>
    <form @submit.prevent="sendInvoiceToCompany" ref="sendInvoiceForm">
      <div class="vx-row mb-6">
        <div class="vx-col w-full">
          <label>Company Name<span class="text-danger">*</span></label>
          <vs-select
            class="w-full"
            placeholder="Search and select"
            autocomplete
            label
            v-model="invoice.company_id"
            @change="getCompanyDetails()"
          >
            <vs-select-item
              :key="index"
              :value="company.id"
              :text="company.name"
              v-for="(company, index) in companies"
            />
          </vs-select>
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col w-1/2">
          <label>Billing Month<span class="text-danger">*</span></label>
          <vs-select
            class="w-full"
            placeholder="Search and select"
            autocomplete
            label
            v-model="invoice.billing_month"
          >
            <vs-select-item
              :key="index"
              :value="month.value"
              :text="month.name"
              v-for="(month, index) in months"
            />
          </vs-select>
        </div>
        <div class="vx-col w-1/2">
          <label>Billing Year<span class="text-danger">*</span></label>
          <vs-select
            class="w-full"
            placeholder="Search and select"
            autocomplete
            label
            v-model="invoice.billing_year"
          >
            <vs-select-item
              :key="index"
              :value="year.value"
              :text="year.value"
              v-for="(year, index) in years"
            />
          </vs-select>
        </div>
      </div>

      <div class="vx-row mb-6" v-if="invoice.billing_month && invoice.billing_year">
        <div class="vx-col w-full">
          <label>Payment Status<span class="text-danger">*</span></label>
          <vs-select
            class="w-full"
            placeholder="Search and select"
            autocomplete
            label
            v-model="invoice.payment_status"
          >
            <vs-select-item
              :key="index"
              :value="status.value"
              :text="status.value"
              v-for="(status, index) in payment_statuses"
            />
          </vs-select>
        </div>
      </div>

      <div class="vx-row mb-6" v-if="invoice.billing_month && invoice.billing_year">
        <div class="vx-col w-full">
          <label>Amount<span class="text-danger">*</span></label>
          <vs-input class="w-full" v-model="invoice.billing_amount"/>
        </div>
      </div>


      <div class="vx-row mb-6">
        <div class="vx-col w-full text-right">
          <vs-button color="primary" type="filled" :disabled="invoice.payment_status != 'Not Payed' " button="submit">Send Invoice</vs-button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import ApiService from "@/services/api.service";
export default {
  name: "SendInvoice",
  components: {
  },
  props: {
    company: Object
  },
  data() {
    return {
      months: [
        { name: 'January', value: 1 },
        { name: 'February', value: 2 },
        { name: 'March', value: 3 },
        { name: 'April', value: 4 },
        { name: 'May', value: 5 },
        { name: 'June', value: 6 },
        { name: 'July', value: 7 },
        { name: 'August', value: 8 },
        { name: 'September', value: 9 },
        { name: 'October', value: 10 },
        { name: 'November', value: 11 },
        { name: 'December', value: 12 },
      ],
      companies: [],
      years: [
        { value: 2022 },
        { value: 2021 },
        { value: 2020 },
        { value: 2019 },
      ],
      payment_statuses: [
        { value: 'Payed' },
        { value: 'Not Payed' },
        { value: 'Cancelled' },
      ],
      invoice: {
        company_id: Number,
        billing_month: '',
        billing_year: '',
        payment_status: 'Due',
        billing_amount: ''
      },
      isLoading: false,
      totalPages      : 1,
      currentPage     : 1,
    }
  },

  methods: {
    sendInvoiceToCompany() {
      this.isLoading = false;
      ApiService.post(`custom-payment`, this.invoice)
      .then(response =>{
        this.isLoading = false;
        this.$toastr('success', 'Successfully Invoice Created.', 'Successfully Created');
        this.$emit('closeAddInvoiceForm');
      }).catch(error =>{
        this.isLoading = false;
        console.error(error);
      })
    },

    getCompaniesData(page=0) {
      this.isLoading = true;
      let get  = page > 0 ? '?page='+page+'&':'?';
      ApiService.get(`/company/api${get}`)
        .then(response => {
          this.companies    = response.data.data;
          console.log(response.data.data);
          this.totalPages   = response.data.last_page;
          this.currentPage  = response.data.current_page;
          this.isLoading    = false;
        })
        .catch(error => {
          this.isLoading = false;
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        }).finally(() => {
          this.isLoading = false;
      });
    },

    getCompanyDetails() {
      this.isLoading = true;
      ApiService.get(`company/api/${this.invoice.company_id}`)
      .then(response =>{
        this.isLoading = false;
        this.invoice.billing_amount = response.data.company_plan.plan.price;
      }).catch(error =>{
        this.isLoading = false;
        console.error(error);
      }).finally(()=>{
        this.isLoading = false;
      })
    }
  },

  mounted() {
    this.getCompaniesData();
  }
}
</script>
