<template>
  <div>
    <loading
      :active.sync="isLoading"
      :can-cancel="true"
      :is-full-page="false"
      :width="30"
      :height="30"
    ></loading>
    <vx-card title="">
      <div class="vx-row justify-between">
        <div class="vx-col">
          <h4>Invoices List</h4>
        </div>
        <div class="vx-col text-right">
          <vs-button
            @click="sendInvoicePopup = true"
            title="Add Plan"
            color="primary"
            type="gradient"
            class="px-2 py-1 mr-1"
          >
            <PlusIcon
              size="1.5x"
              class="custom-class"
            ></PlusIcon>
          </vs-button>
        </div>
      </div>

      <div class="vx-row mt-3">
        <div class="vx-col w-full">
          <vs-table stripe :data="companies">
            <template slot="thead">
              <vs-th>Company Name</vs-th>
              <vs-th>Company Phone</vs-th>
              <vs-th>Company Email</vs-th>
              <vs-th>Company Address</vs-th>
              <vs-th>Billing Time</vs-th>
              <vs-th>Billing Amount</vs-th>
              <vs-th>Payment Status</vs-th>
            </template>

            <template>
              <vs-tr
                :key="index"
                v-for="(invoice, index) in invoices"
              >
                <vs-td :data="invoice.company.name"
                >{{ invoice.company.name }}
                </vs-td>
                <vs-td :data="invoice.company.phone"
                >{{ invoice.company.phone }}
                </vs-td>
                <vs-td :data="invoice.company.email"
                >{{ invoice.company.email }}
                </vs-td>
                <vs-td :data="invoice.company.address"
                >{{ invoice.company.address }}
                </vs-td>
                <vs-td :data="invoice.billing_month"
                >{{ invoice.billing_month }}, {{ invoice.billing_year }}
                </vs-td>
                <vs-td :data="invoice.billing_amount"
                >{{ invoice.billing_amount }}
                </vs-td>
                <vs-td :data="invoice.billing_amount"
                >{{ invoice.payment_status }}
                </vs-td>
              </vs-tr>
            </template>
          </vs-table>
          <vs-row class="justify-center mt-3">
            <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage" class="w-full text-center"></vs-pagination>
          </vs-row>
        </div>
      </div>
    </vx-card>

    <vs-popup
      classContent="popup-example"
      title="Send Invoice"
      :active.sync="sendInvoicePopup"
    >
      <AddInvoice :company="companyData" @closeAddInvoiceForm="closeAddInvoiceForm"> </AddInvoice>
    </vs-popup>
  </div>
</template>

<script>
import ApiService from "@/services/api.service";
import {
  RefreshCwIcon,
  PlusIcon,
  FilePlusIcon,
  FileTextIcon
} from "vue-feather-icons";
import AddInvoice from "./AddInvoice";
export default {
  name: 'BankPayment',

  components: {
    AddInvoice,
    PlusIcon
  },

  data() {
    return {
      companies: [],
      invoices: [],
      companyData: {},
      totalPages      : 1,
      currentPage     : 1,
      sendInvoicePopup: false,
      isLoading: false,
    }
  },

  methods: {
    getAllCompanies(page=-0) {
      this.isLoading = true;
      let get      = page > 0 ? '?page='+page+'&':'?';
      ApiService.get(`/company/api/${get}`).then(response => {
        this.companies  = response.data.data;
        this.isLoading = false;
      }).catch(error => {
        this.isLoading = false;
        this.$vs.dialog({
          color: "danger",
          title: `Something Went Wrong`,
          text: error.response.data.message
        });
      });
    },

    closeAddInvoiceForm() {
      this.getAllInvoices();
      this.sendInvoicePopup = false;
    },

    getAllInvoices(page = 0) {
      this.isLoading = true;
      let get;
      get = page > 0 ? '?page=' + page + '&' : '?';
      ApiService.get(`/custom-payment/${get}`).then(response => {
        this.invoices  = response.data.data;
        this.isLoading = false;
      }).catch(error => {
        this.isLoading = false;
        this.$vs.dialog({
          color: "danger",
          title: `Something Went Wrong`,
          text: error.response.data.message
        });
      });
    }
  },

  watch: {
    currentPage: function(val, oldVal){
      this.getAllCompanies(val)
    }
  },

  mounted() {
    this.getAllCompanies();
    this.getAllInvoices();
  }
}
</script>
