<template>
  <div>
    <vx-card>
      <h4 class="text-center mt-3 mb-10">Check one for default pay</h4>
      <br/>
      <div class="grid-layout-container alignment-block">
        <loading
                :active.sync="isLoading"
                :can-cancel="true"
                :is-full-page="false"
                :width="30"
                :height="30"
        ></loading>
        <vs-row vs-align="center" vs-type="flex" vs-justify="center" vs-w="12">
          <vs-col vs-type="flex" vs-justify="center" vs-align="center" class="p-3 w-full lg:w-1/4 relative">
            <vs-checkbox @change="default_name_ = default_payment.stripe ? 'stripe':''; saveDefaultPayment()" v-model="default_payment.stripe" class="checkBoxPosition absolute"></vs-checkbox>
            <router-link
              to="/membership/payments/stripe"
              class="w-full text-center p-10 cursor-pointer c-bg-gray rounded-none"
              :class="default_name == 'stripe' ? 'border-active':'border-gray'"
            >
              <DollarSignIcon size="2.5x" class="custom-class text-dark"></DollarSignIcon>
              <h4
                :class="default_name == 'stripe' ? 'text-primary font-bold':''"
              >Stripe</h4>
            </router-link>
          </vs-col>
          <vs-col vs-type="flex" vs-justify="center" vs-align="center" class="p-3 w-full lg:w-1/4 relative">
            <vs-checkbox @change="default_name_ = default_payment.paypal ? 'paypal':''; saveDefaultPayment()" v-model="default_payment.paypal" class="checkBoxPosition absolute"></vs-checkbox>
            <router-link
              to="/membership/payments/paypal"
              class="border-gray w-full text-center p-10 cursor-pointer c-bg-gray rounded-none"
              :class="default_name == 'paypal' ? 'border-active':'border-gray'"
            >
              <DollarSignIcon size="2.5x" class="custom-class text-dark"></DollarSignIcon>
              <h4
                :class="[
                  default_name == 'paypal' ? 'text-primary font-bold':''
                ]"
              >PayPal</h4>
            </router-link>
          </vs-col>
          <vs-col vs-type="flex" vs-justify="center" vs-align="center" class="p-3 w-full lg:w-1/4 relative">
            <vs-checkbox @change="default_name_ = default_payment.fatture ? 'fatture':''; saveDefaultPayment()" v-model="default_payment.fatture" class="checkBoxPosition absolute"></vs-checkbox>
            <router-link
              to="/membership/payments/fatture"
              class="border-gray w-full text-center p-10 cursor-pointer c-bg-gray rounded-none"
              :class="[
                default_name == 'fatture' ? 'border-active':'border-gray'
              ]"
            >
              <DollarSignIcon size="2.5x" class="custom-class text-dark"></DollarSignIcon>
              <h4
                :class="[
                  default_name == 'fatture' ? 'text-primary font-bold':''
                ]"
              >Fatture</h4>
            </router-link>
          </vs-col>
        </vs-row>
      </div>
    </vx-card>
  </div>
</template>
<script>
  import ApiService from '@/services/api.service'
  import { PlusCircleIcon, DollarSignIcon } from 'vue-feather-icons'
  export default {
    name: 'PaymentOverview',
    components: {
      PlusCircleIcon, DollarSignIcon
    },
    data(){
      return {
        isLoading: true,
        company_default: {},
        default_name: '',
        default_name_: '',
        default_payment: {
          stripe: false,
          paypal: false,
          fatture: false,
        }
      }
    },
    mounted() {
      this.getDefaultPayment();
    },
    methods: {
      getDefaultPayment() {
        this.isLoading = true;
        ApiService.get(`/company-payment-default`)
        .then(response => {
          this.company_payment_default = response.data;
          this.default_name = this.company_payment_default.payment_method;
          this.default_name_ = this.company_payment_default.payment_method;
          this.makeDefault(this.default_name);
          console.log(this.company_payment_default);
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        })
        .finally(() => {
          this.isLoading = false;
        });
      },
      saveDefaultPayment() {
        this.isLoading = true;
        let params = {
          payment_method: this.default_name_
        }
        console.log(params);
        ApiService.post(`/company-payment-default`, params)
        .then(response => {
          this.company_payment_default = response.data;
          this.default_name = this.company_payment_default.payment_method;
          this.makeDefault(this.default_name);
        })
        .catch(error => {
          this.$toastr('error', error.response.data.message, 'Error');
        })
        .finally(() => {
          this.isLoading = false;
        });
      },
      makeDefault(val) {
        this.default_payment = {
          stripe: val == 'stripe' ? true:false,
          paypal: val == 'paypal' ? true:false,
          fatture: val == 'fatture' ? true:false,
        }
      }
    }
  }
</script>
<style>
  .vx-card {
    min-height: 400px !important;
  }
  /*.border-gray {
    border: 2px solid slategrey;
    border-radius: 4px;
  }
  .border-selected {
    border: 2px solid #766bf0;
    border-radius: 4px;
  }*/
  .c-bg-gray:hover {
    background-color: #9188f338;
  }
  .checkBoxPosition {
    right: 1px !important;
    top: 10px !important;
  }
  .checkbox_x.vs-checkbox {
    border: 2px solid slategrey;
  }
</style>

