<template>
    <div
            class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center"
            id="page-login"
    >
        <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">
                    <div class="vx-row no-gutter justify-center items-center">
                        <div class="vx-col hidden lg:block lg:w-1/2">
                            <img
                                    src="@assets/images/pages/login.png"
                                    alt="login"
                                    class="mx-auto"
                            />
                        </div>

                        <div v-if="show_reset" class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
                            <div class="p-8 py-12 login-tabs-container">
                                <div class="vx-card__title mb-4">
                                    <h4 class="mb-4">Reset Password</h4>
                                </div>

                                <form @submit.prevent="">
                                    <vs-input
                                        name="password"
                                        icon-no-border
                                        icon="icon icon-lock"
                                        icon-pack="feather"
                                        label-placeholder="Password"
                                        v-model="password"
                                        class="w-full"
                                        type="password"
                                    />
                                    <vs-input
                                        name="confirm_password"
                                        icon-no-border
                                        icon="icon icon-lock"
                                        icon-pack="feather"
                                        label-placeholder="Confirm Password"
                                        v-model="confirm_password"
                                        class="w-full"
                                        type="password"
                                    />


                                    <br />
                                    <br />
                                    <vs-button
                                            type="filled"
                                            @click="resetPassword()"
                                            class=""
                                    >Reset</vs-button>
                                    <router-link to="/login" class="btn btn-warning float-right">
                                        <vs-button color="warning" type="border" class="mr-3 mb-2">Back to Login</vs-button>
                                    </router-link>
                                    <br />
                                </form>
                            </div>
                        </div>
                        <div v-else="" class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
                            <div v-if="token.length > 0 || token_send">
                                <div v-if="!valid_token" class="p-8 py-12 login-tabs-container">
                                    <div class="vx-card__title mb-4">
                                        <h4 class="mb-4 text-danger">{{invalidTokenMessage}}</h4>
                                    </div>

                                    <form @submit.prevent="">
                                        <vs-input
                                            name="code"
                                            icon-no-border
                                            icon="icon icon-lock"
                                            icon-pack="feather"
                                            label-placeholder="Code"
                                            v-model="code"
                                            class="w-full"
                                            disabled=""
                                        />


                                        <br />
                                        <br />
                                        <vs-button
                                                type="filled"
                                                @click="checkCode()"
                                                class=""
                                                disabled=""
                                        >Check</vs-button>
                                        <router-link to="/login" class="btn btn-warning float-right">
                                            <vs-button color="warning" type="border" class="mr-3 mb-2">Back to Login</vs-button>
                                        </router-link>
                                        <a href="/forget-password" class="btn btn-warning float-right">
                                            <vs-button color="warning" type="filled" class="mr-3 mb-2">Resend Code</vs-button>
                                        </a>
                                        <br />
                                    </form>
                                </div>
                                <div v-else="" class="p-8 py-12 login-tabs-container">
                                    <div class="vx-card__title mb-4">
                                        <h4 class="mb-4">Enter Code</h4>
                                    </div>

                                    <form @submit.prevent="">
                                        <vs-input
                                            name="code"
                                            icon-no-border
                                            icon="icon icon-lock"
                                            icon-pack="feather"
                                            label-placeholder="Code"
                                            v-model="code"
                                            class="w-full"
                                        />


                                        <br />
                                        <br />
                                        <vs-button
                                            type="filled"
                                            @click="checkCode()"
                                            class=""
                                        >Check</vs-button>
                                        <router-link to="/login" class="btn btn-warning float-right">
                                            <vs-button color="warning" type="border" class="mr-3 mb-2">Back to Login</vs-button>
                                        </router-link>
                                        <vs-button
                                                type="filled"
                                                @click="sendCode()"
                                                color="warning"
                                                class="float-right mr-3 mb-2"
                                        >Resend Code</vs-button>
                                        <br />
                                    </form>
                                </div>
                            </div>

                            <div v-else="">
                            <div class="p-8 py-12 login-tabs-container">
                                <div class="vx-card__title mb-4">
                                    <h4 class="mb-4">Reset Password</h4>
                                </div>

                                <form @submit.prevent="">
                                    <vs-input
                                        name="email"
                                        icon-no-border
                                        icon="icon icon-mail"
                                        icon-pack="feather"
                                        label-placeholder="Email"
                                        v-model="email"
                                        class="w-full"
                                    />


                                    <br />
                                    <br />
                                    <vs-button
                                        type="filled"
                                        @click="sendCode()"
                                        class=""
                                    >Send Reset Code</vs-button>
                                    <router-link to="/login" class="btn btn-warning float-right">
                                        <vs-button color="warning" type="border" class="mr-3 mb-2">Back to Login</vs-button>
                                    </router-link>
                                    <br />
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>
    import ApiService from "../../services/api.service";

    export default {
        name: "ForgetPassword",
        data() {
            return {
                email : '',
                code  : '',
                token : '',

                password         : '',
                confirm_password : '',
                invalidTokenMessage : 'Code expired or wrong!',
                confirmPasswordMissMatches : 'Password is not matching with confirm password',

                token_send       : false,
                show_reset       : false,
                valid_token      : true,
            };
        },
        mounted() {
            if(this.$route.params.code_token){
                this.token = this.$route.params.code_token;
                this.checkToken();
            }
        },
        methods: {
            sendCode() {
                ApiService.post("/forget-password/send-code", {
                    email: this.email
                })
                .then(response => {
                    this.token_send = true;
                    this.$toastr('success', 'Please, check your email', 'Success');
                })
                .catch(error => {
                    this.token_send = false;
                    this.$vs.dialog({
                        color  : "danger",
                        title  : `Oops!`,
                        text   : "Wrong email address!",
                        accept : "Close"
                    });
                });
            },
            checkCode() {
                ApiService.post("/forget-password/check-code", {
                    email : this.email ? this.email:'',
                    token : this.token ? this.token:'',
                    code  : this.code
                })
                .then(response => {
                    this.show_reset = response.data;
                    if(!this.show_reset) this.$toastr('error', this.invalidTokenMessage, 'Error')
                    else this.$toastr('success', 'Insert new password', 'Success');
                    console.log(response.data);
                })
                .catch(error => {
                    this.$vs.dialog({
                        color  : "danger",
                        title  : `Oops!`,
                        text   : "Something went wrong!",
                        accept : "Close"
                    });
                });
            },
            resetPassword() {
                if(this.password == this.confirm_password) {
                    ApiService.post("/forget-password/reset-password", {
                        email    : this.email ? this.email:'',
                        token    : this.token ? this.token:'',
                        password : this.password
                    })
                    .then(response => {
                        if(response.data.status) {
                            this.$toastr('success', response.data.message, 'Success');
                        } else {
                            this.$toastr('error', response.data.message, 'Error');
                        }
                    })
                    .catch(error => {
                        this.$vs.dialog({
                            color  : "danger",
                            title  : `Oops!`,
                            text   : "Something went wrong!",
                            accept : "Close"
                        });
                    });
                } else {
                    this.$toastr('error', this.confirmPasswordMissMatches, 'Error')
                }
            },
            checkToken() {
                ApiService.get(`/forget-password/check-token/${this.token}`)
                .then(response => {
                    this.email = response.data.email;
                    if(response.data.status) this.valid_token = true;
                    else this.valid_token = false;
                    console.log(response.data);
                })
                .catch(error => {
                    this.$vs.dialog({
                        color  : "danger",
                        title  : `Oops!`,
                        text   : "Wrong email address!",
                        accept : "Close"
                    });
                });
            }
        }
    };
</script>

<style scoped></style>
