<template>
    <div
        class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center"
        id="page-login"
    >
        <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">
                    <div class="vx-row no-gutter justify-center items-center">
                        <div class="vx-col hidden lg:block lg:w-1/2">
                            <img
                                src="@assets/images/pages/login.png"
                                alt="login"
                                class="mx-auto"
                            />
                        </div>

                        <div
                            class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg"
                        >
                            <div class="p-8 login-tabs-container">
                                <div class="vx-card__title mb-4">
                                    <h4 class="mb-4">Login</h4>
                                    <p>
                                        Welcome back, please login to your
                                        account.
                                    </p>
                                </div>

                                <form @submit.prevent="login">
                                    <vs-input
                                        name="email"
                                        icon-no-border
                                        icon="icon icon-user"
                                        icon-pack="feather"
                                        label-placeholder="Email"
                                        v-model="email"
                                        class="w-full"
                                    />

                                    <vs-input
                                        type="password"
                                        name="password"
                                        icon-no-border
                                        icon="icon icon-lock"
                                        icon-pack="feather"
                                        label-placeholder="Password"
                                        v-model="password"
                                        class="w-full mt-6"
                                    />

                                    <div
                                        class="flex flex-wrap justify-between my-5"
                                    >
                                        <vs-checkbox
                                            v-model="remember_me"
                                            class="mb-3"
                                            >Remember Me</vs-checkbox
                                        >
                                        <router-link to="forget-password"
                                            >Forgot Password?</router-link
                                        >
                                    </div>
                                    <!--                                    <vs-button  type="border">Register</vs-button>-->
                                    <vs-button
                                        type="filled"
                                        @click="login"
                                        class="float-right"
                                        >Login</vs-button
                                    >
                                    <br />
                                    <br />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>
import ApiService from "../../services/api.service";
import JwtService from "../../services/jwt.service";

export default {
    name: "Login",
    data() {
        return {
            email: "",
            password: "",
            remember_me: false
        };
    },
    methods: {
        login() {
            ApiService.post("/login", {
                email: this.email,
                password: this.password,
                remember_me: this.remember_me
            })
                .then(response => {
                    console.log(response);
                    JwtService.saveToken(response.data.access_token);
                    // localStorage.setItem('refresh_token', response.data.refresh_token);
                    localStorage.setItem(
                        "expires_at",
                        response.data.expires_at
                    );
                    ApiService.init();
                    this.$router.push({ name: "home" });
                })
                .catch(error => {
                    console.log(error);
                    this.$vs.dialog({
                        color: "danger",
                        title: `Credentials doesn't match`,
                        text:
                            "Your given Credentials is not correct or not match with our system. please try again",
                        accept: "Close"
                    });
                });
        }
    }
};
</script>

<style scoped></style>
