<template>
  <div
    class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center"
    id="page-login"
  >
    <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
      <vx-card>
        <div slot="no-body" class="full-page-bg-color">
          <div class="vx-row no-gutter justify-center items-center">
            <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
              <img src="@assets/images/pages/reset-password.png" alt="login" class="mx-auto">
            </div>
            <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center  d-theme-dark-bg">
              <form @submit.prevent="resetPassword">
                <div class="p-8">
                  <div class="vx-card__title mb-8">
                    <h4 class="mb-4">Reset Password</h4>
                    <p>Please enter your new password.</p>
                  </div>
                  <vs-input readonly="" type="email" icon-no-border icon="icon icon-user" icon-pack="feather"
                            label-placeholder="Email" v-model="user.email" class="w-full mb-6"/>
                  <vs-input type="password" icon-no-border icon="icon icon-lock" icon-pack="feather"
                            label-placeholder="Password" v-model="user.password" class="w-full mb-6"/>
                  <vs-input type="password" icon-no-border icon="icon icon-lock" icon-pack="feather"
                            label-placeholder="Confirm Password" v-model="user.password_confirmation" class="w-full mb-8"/>

                  <div class="flex flex-wrap justify-between flex-col-reverse sm:flex-row">
                    <vs-button type="border" to="/pages/login" class="w-full sm:w-auto mb-8 sm:mb-auto mt-3 sm:mt-auto">
                      Go
                      Back To Login
                    </vs-button>
                    <vs-button  @click="resetPassword" class="w-full sm:w-auto">Reset</vs-button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
  import ApiService from "../../services/api.service";
  import JwtService from "../../services/jwt.service";

  export default {
    name: "Login",
    data() {
      return {
        user: {
          email: "",
          password: "",
          password_confirmation: "",
        }
      };
    },
    mounted() {
      this.getUser();
    },
    methods: {
      getUser() {
        ApiService.get(`/password/reset?token=${this.$route.query.token}`).then(response => {
          this.user = response.data
          console.log(this.user)
        }).catch(error => {
          console.log(error);
          this.$vs.dialog({
            color: "danger",
            title: `Credentials doesn't match`,
            text:
              "Your given Credentials is not correct or not match with our system. please try again",
            accept: "Close"
          });
        });
      },
      resetPassword() {
        ApiService.post("/password/reset", {
          email: this.user.email,
          password: this.user.password,
          password_confirmation: this.user.password_confirmation,
          token: this.$route.query.token
        })
          .then(response => {
            console.log(response);
            JwtService.saveToken(response.data.access_token);
            // localStorage.setItem('refresh_token', response.data.refresh_token);
            localStorage.setItem(
              "expires_at",
              response.data.expires_at
            );
            ApiService.init();
            this.$router.push({name: "home"});
          })
          .catch(error => {
            console.log(error);
            this.$vs.dialog({
              color: "danger",
              title: `Credentials doesn't match`,
              text:
                "Your given Credentials is not correct or not match with our system. please try again",
              accept: "Close"
            });
          });
      }
    }
  };
</script>

<style scoped></style>
