<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <ViewCompanyHR></ViewCompanyHR>
    </div>
  </div>
</template>

<script>
import ViewCompanyHR from "../company/component/ViewCompanyHR";
export  default {
  components: {
    ViewCompanyHR
  }
}
</script>
