
<template>
  <div>
  <div class="relative">
    <loading :active.sync="isLoading"
             :can-cancel="true"
             :is-full-page="false"
             :width="30"
             :height="30">
    </loading>
  </div>
  <div class="vx-row justify-center">
    <div class="vx-col w-2/3 mb-base">
      <div class="centrex">
        <vx-card>
          <div class="vx-row">
            <div class="vx-col w-full mb-3">
              <h4>Edit Language</h4>
            </div>
          </div>
          <div class="vx-row mt-3">
            <div class="vx-col w-full">
              <vs-table stripe :data="languages" >
                <template slot="thead">
                  <vs-th>Name</vs-th>
                  <vs-th >Input</vs-th>
                </template>
                <template>
                  <vs-tr  :key="index" v-for="(language, index) in languages">
                    <vs-td>{{language.title}}</vs-td>
                    <vs-td>
                      <vs-input
                      class="w-full"
                      :value="language.value"
                    /></vs-td>
                  </vs-tr>

                </template>
              </vs-table>
              <vs-row class="mt-3 text-right">
                <vs-button class="mr-3 mb-2"  >Update</vs-button>
              </vs-row>
            </div>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import ApiService from '@/services/api.service'

export default {
  name: 'EditLanguage',
  data () {
    return {
      isLoading : true,
      id : this.$route.params.languageId,
      languages :[
        {
          "title": "Add",
          "value": "add"
        },
        {
          "title": "Edit",
          "value": "edit"
        },
      ]
    }
  },
  methods: {},
  mounted() {
    this.isLoading = false;
    console.log('Language Loaded!')
  },
  watch: {},
  components: {}
}
</script>

<style scoped>
.vx-card {
  min-height: 500px;
}
</style>
<style lang="stylus">

</style>
