<template>
  <div class="relative">
    <loading :active.sync="isLoading"
             :can-cancel="true"
             :is-full-page="false"
             :width="30"
             :height="30">
    </loading>
    <vs-row>
      <div class="vs-col w-full ">
        <vx-card>
          <div class="flex justify-between">
            <h4>Language List</h4>
            <vs-button class=" py-0 pt-1 px-2 rounded" :to="`/language/add`" >
              <PlusIcon size="1.5x" class="custom-class"></PlusIcon>
            </vs-button>
          </div>
          <div class="vx-row mt-3">
            <div class="vx-col w-full">
              <vs-table stripe :data="savedLanguages">
                <template slot="thead">
                  <vs-th>Name</vs-th>
                  <vs-th >View</vs-th>
                  <vs-th class="float-right">Action</vs-th>
                </template>

                <template>
                <vs-tr :key="index" v-for="(language, index) in savedLanguages">
                  <vs-td>
                    {{ allLanguages[language.code].name }}
                  </vs-td>
                  <vs-td>
                    <div @click="changeStatus(language.id, language.status, index)">
                      <div v-if="language.status" title="Disable">
                        <EyeIcon size="1.5x" class="cursor-pointer text-dark"></EyeIcon>
                      </div>
                      <div v-else="" title="Enable">
                        <EyeOffIcon size="1.5x" class="cursor-pointer text-dark"></EyeOffIcon>
                      </div>
                    </div>
                  </vs-td>
                  <vs-td class="float-right">
                    <div class="flex">
                      <div>
                        <router-link :to="`/language/${language.code}/edit`">
                          <EditIcon size="1.5x" class="cursor-pointer text-dark"></EditIcon>
                        </router-link>
                      </div>
                      <!--<div>
                        <Trash2Icon size="1.5x" class="cursor-pointer text-dark"></Trash2Icon>
                      </div>-->
                    </div>
                  </vs-td>
                </vs-tr>
                </template>
              </vs-table>
            </div>
          </div>

        </vx-card>
      </div>
    </vs-row>
  </div>
</template>

<script>
import ApiService from '@/services/api.service';
import { languages } from "../../../languages";
import {
  PlusIcon,
  Trash2Icon,
  EditIcon,
  FilePlusIcon,
  EyeIcon,
  EyeOffIcon,
  FileTextIcon, RefreshCwIcon
} from "vue-feather-icons";

export default {
  name: 'LanguageList',
  data () {
    return {
      isLoading      : true,
      savedLanguages : [],
      allLanguages   : languages
    }
  },
  methods: {
    changeStatus(id, status, index) {
      ApiService.update(`language/${id}`)
      .then(response => {
        if (response.data){
          if(response.data.status) this.$toastr('success', 'Language enabled', 'Success!')
          else this.$toastr('success', 'Language disabled', 'Success!')
          this.savedLanguages[index].status = response.data.status;
        } else {
          this.$toastr('error', 'Something went wrong...', 'Error!')
        }
      }).catch(error => {
        this.$toastr('error', error.response.data.message, 'Error!')
      }).finally(() => {
        this.isLoading = false;
      });
    },
    getLanguages() {
      this.isLoading = true;
      ApiService.get(`language`)
      .then(response => {
        this.savedLanguages = response.data;
      }).catch(error => {
        this.$toastr('error', error.response.data.message, 'Error!')
      }).finally(() => {
        this.isLoading = false;
      })
    },
  },
  mounted() {
    this.getLanguages();
  },
  watch: {},
  components: {
    PlusIcon,
    EditIcon,
    Trash2Icon,
    FilePlusIcon,
    EyeIcon,
    EyeOffIcon,
    FileTextIcon
  }
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
<!--
<style lang="stylus">
.popup-example
  .vs-input
    float left
    width 50%
    margin 10px
    margin-top 5px
  .con-select
    margin-left 10px
    width 50%
    margin-bottom 10px
</style>
