
<template>
  <div>
  <div class="vx-row justify-center">
    <div class="vx-col w-2/3 mb-base">
      <div class="centrex">
        <vx-card>
          <div class="vx-row">
            <div class="vx-col w-full mb-3">
              <h4 v-if="$route.params.languageCode">Edit Language</h4>
              <h4 v-else="">Add Language</h4>
            </div>
          </div>

          <!--<vs-input class="w-full" v-model="code" label="Language Name" />-->
          <vs-select
            class="w-full mb-6"
            placeholder="Search and select"
            autocomplete
            label="Language"
            v-model.trim="code"
            :disabled="$route.params.languageCode"
            @change="getLanguageData(code)"
          >
            <vs-select-item
              :key="index"
              :value="index"
              :text="language.name"
              v-for="(language, index) in allLanguages"
            />
          </vs-select>

          <div class="vx-row mt-3">
            <div class="vx-col w-full" v-if="code != defaultCode">

              <loading :active.sync="isLoading"
                       :can-cancel="true"
                       :is-full-page="false"
                       :width="30"
                       :height="30">
              </loading>
              <vs-table stripe :data="standardTranslations"
              >
                <template slot="thead">
                  <vs-th>Standard</vs-th>
                  <vs-th>Translate</vs-th>
                </template>
                <template>
                  <vs-tr  :key="index" v-for="(language, index) in standardTranslations">
                    <vs-td class="w-1/2">
                      <vs-input

                        class="w-full"
                        v-model="standardTranslations[index]"
                        :placeholder="'New Key'"
                      />
                      <!--<span v-else="">
                        {{language}}
                      </span>-->
                    </vs-td>
                    <vs-td class="w-1/2">
                      <vs-input
                        class="w-full"
                        v-model="thisTranslations[index]"
                        :placeholder="language"
                      />
                    </vs-td>
                  </vs-tr>

                </template>
              </vs-table>
              <vs-row class="mt-3 text-right">
                <vs-button @click="standardTranslations.push('')" color="success" class="rounded-none rounded-l py-1 px-2" title="Add New">
                  <PlusIcon size="1.5x" class="custom-class"></PlusIcon>
                </vs-button>
                <vs-button @click="saveLanguageData()" :disabled="code.length == 0" class="rounded-none rounded-r py-1 px-3" title="Save">
                  <SaveIcon size="1.5x" class="custom-class"></SaveIcon>
                </vs-button>
              </vs-row>
            </div>
            <div v-else="" class="vx-col w-full text-center mt-10">
              <h3 style="color: #b9b9b9">{{defaultLanguageError}}</h3>
            </div>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import ApiService from '@/services/api.service';
import { languages } from "../../../languages";
import { SaveIcon, PlusIcon } from 'vue-feather-icons';

export default {
  name: 'SingleLanguage',
  data () {
    return {
      isLoading    : true,
      code         : '',
      defaultCode  : 'en',
      allLanguages : languages,
      standardTranslations : [],
      thisTranslations     : [],
      defaultLanguageError : `Default Language can't be edited`
    }
  },
  methods: {
    getLanguageData(code) {
      this.isLoading = true;
      ApiService.get(`language/${code}`)
      .then(response => {
        if(response) {
          if (code == this.defaultCode) {
            this.standardTranslations = JSON.parse(response.data.language);
            this.standardTranslations = _.reject(this.standardTranslations, _.isEmpty);
          }
          else this.thisTranslations = JSON.parse(response.data.language);
        }
      }).catch(error => {
        this.$toastr('error', error.response.data.message, 'Error!')
      }).finally(() => {
        this.isLoading = false;
      })
    },
    saveLanguageData() {
      this.isLoading = true;
      let data = {
        defaultLanguage:{
          code     : this.defaultCode,
          language : this.standardTranslations
        },
        customLanguage:{
          code     : this.code,
          language : this.thisTranslations
        }
      };

      ApiService.post(`language`, data)
      .then(response => {
        this.$toastr('success', `Saved Successfully!`, 'Success!');
        this.standardTranslations = _.reject(this.standardTranslations, _.isEmpty);
      }).catch(error => {
        this.$toastr('error', error.response.data.message, 'Error!')
      }).finally(() => {
        this.isLoading = false;
      })
    }
  },
  mounted() {
    if(this.defaultCode == this.code) {
      this.$toastr('error', this.defaultLanguageError, 'Error!')
    }

    if(this.$route.params.languageCode && this.allLanguages[this.$route.params.languageCode]){
      this.code = this.$route.params.languageCode;
    } else {
      this.code = '';
      if(this.$route.params.languageCode) this.$toastr('error', 'Invalid language code', 'Error!')
    }
    this.getLanguageData(this.defaultCode)
  },
  watch: {},
  components: {
    SaveIcon, PlusIcon
  }
}
</script>

<style scoped>
.vx-card {
  min-height: 500px;
}
</style>
<style lang="stylus">

</style>
