<template>
  <div>
    <form @submit.prevent="updateCompany">
      <div class="vx-row mt-5">
        <div class="vx-col sm:w-full md:w-1/2">
          <label class="mb-3">Company Logo</label>
          <h6 class="mt-3 mb-3" v-if = "!company.logo">No Company Logo Found.</h6>
          <div class="mt-5 sm:w-1/4 relative my-auto" v-else>
            <vs-button v-if="company.logo"
             radius
             color="danger"
             @click="company.logo = ''"
             class="absolute right-0 top-0"
             size="small"
             type="filled"
             icon="close"
            >
            </vs-button>
            <div>
              <img v-if="company.logo && fileType(company.logo) === 'image'"  :src="company.logo" class="mt-3 w-full"/>
              <img v-if="company.logo && fileType(company.logo) !== 'image'" :src="'/images/file-icons/'+fileType(company.logo)+'.png'" class="mt-3 w-full" style="height: 200px;"/>
            </div>
          </div>
          <vue-gallery v-model="company.logo" :type="'button'" ></vue-gallery>
        </div>
      </div>

      <div class="vx-row mt-5">
        <div class="vx-col sm:w-full md:w-1/2">
          <label class="mb-3">Participant Background Image</label>
          <h6 class="mt-3 mb-3" v-if = "!company.participant_bgimage">No Participant Background Image Found.</h6>
          <div class="mt-5 sm:w-1/4 relative my-auto" v-else>
            <vs-button v-if="company.participant_bgimage"
             radius
             color="danger"
             @click="company.participant_bgimage = ''"
             class="absolute right-0 top-0"
             size="small"
             type="filled"
             icon="close"
            >
            </vs-button>
            <div>
              <img v-if="company.participant_bgimage && fileType(company.participant_bgimage) === 'image'"  :src="company.participant_bgimage" class="mt-3 w-full"/>
              <img v-if="company.participant_bgimage && fileType(company.participant_bgimage) !== 'image'" :src="'/images/file-icons/'+fileType(company.participant_bgimage)+'.png'" class="mt-3 w-full" style="height: 200px;"/>
            </div>
          </div>
          <vue-gallery v-model="company.participant_bgimage" :type="'button'" ></vue-gallery>
        </div>
      </div>

      <div class="vx-row mt-5">
        <div class="vx-col sm:w-full md:w-1/2">
          <label>Company Note</label>
          <quill-editor ref="company_note" :options="editorOption" v-model="company.note"/>
        </div>
      </div>

      <div class="vx-row mt-4">
        <div class="vx-col sm:w-2/3 w-full">
          <vs-button class="mr-3 mb-2" button="submit">
            Update</vs-button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.snow.css';
import { quillEditor } from 'vue-quill-editor';
import ApiService from '@/services/api.service';
export default {
  name: "FrontendManagement",
  components: {
    quillEditor
  },
  props: {},
  data() {
    return {
      company: {
        id: '',
        name:'',
        phone: '',
        email: '',
        address: '',
        city: '',
        country: '',
        logo: '',
        note: '',
        participant_bgimage: ''
      },

      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
            [{'header': 1}, {'header': 2}],
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'font': []}]
          ]
        },
        placeholder: 'Message'
      }
    };
  },
  methods: {
    getCompany() {
      this.isLoading = true;
      ApiService.get(`company/api/get-single-company`)
        .then(response => {
          console.log(response.data);
          this.company = response.data;
        }).catch(error => {
        this.$toastr(
          "error",
          error.response.data.message,
          "Something Went Wrong"
        );
      }).finally(() => {
        this.isLoading = false;
      })
    },

    updateCompany() {
      ApiService.update(`/company/api/update-single-company`, this.company)
        .then(response => {
          this.$toastr(
            "success",
            "Successfully Company Information Updated",
            "Company Updated!"
          );
        })
        .catch(error => {
          this.$toastr(
            "error",
            error.response.data.message,
            "Something Went Wrong"
          );
        });
    },
  },

  mounted() {
    this.getCompany();
  },
  watch: {}
}
</script>
