<template>
  <div>
   <!-- <vs-button @click="addPopup=true; $v.$reset()" title="Add Ticket" color="primary" type="gradient" class="px-2 py-1">
      <PlusIcon size="1.5x" class="custom-class"></PlusIcon>
    </vs-button>-->
    <div class="centerx">
    <!--  <vs-popup classContent="popup-example" title="Add Ticket" :active.sync="addPopup">-->
        <vs-row class="mb-3">
          <vs-input
            class="vs-col w-full m-0"
            label="Title"
            icon-pack="feather"
            icon="icon-type"
            val-icon-danger="clear"
            :danger="$v.addTicket.title.$error ? true : false"
            :danger-text="$v.addTicket.title.$error ? 'Title is required and must be between 4 to 190 alphabets' : ''"
            v-model.trim="$v.addTicket.title.$model"
          />
        </vs-row>
        <vs-row class="mb-3">
          <label class="vs-input--label">Description</label>
          <vs-textarea
            rows="5"
            class="vs-col w-full m-0"
            title="Body"
            placeholder="Write in detail..."
            :class="$v.addTicket.body.$error ? 'textarea-danger' : ''"
            v-model.trim="$v.addTicket.body.$model"
          />
          <small v-if="$v.addTicket.body.$error" class="textarea-danger-text">Body is required and must be greater than 100 alphabets.</small>
        </vs-row>
        <vs-row class="mb-3">
          <VueGallery v-model="addTicket.my_files"></VueGallery>
        </vs-row>
        <div class="vx-col sm:w-2/3 w-full ml-auto text-right">
          <vs-button @click="saveTicket()" color="primary" type="filled">Save</vs-button>
          <vs-button
            color="warning"
            type="border"
            class="mb-2"
            @click="resetForm"
          >Reset</vs-button
          >
        </div>
   <!--   </vs-popup>-->
    </div>
  </div>
</template>


<script>
import ApiService from '@/services/api.service'
import { PlusIcon } from 'vue-feather-icons'
import VueGallery from "@/components/v-gallery/VueGallery"
import {required, minLength, maxLength} from 'vuelidate/lib/validators'

export default {
  name:'OpenTicket',
  props: {
    user_id: Number
  },
  data () {
    return {
      addTicket: {
        title     : '',
        body      : '',
        my_files  : ''
      },
     // addPopup: true
    }
  },

  validations: {
    addTicket: {
      title : { required, minLength: minLength(4), maxLength: maxLength(190) },
      body  : { required, minLength: minLength(100) }
    }
  },
  methods: {
    saveTicket() {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        this.addTicket.user_id = this.user_id

        ApiService.post('/ticket', this.addTicket).then(response => {
          this.resetForm();
          this.$emit('getTickets')
          this.$toastr('success', 'Ticket Saved', 'Success!');
          this.addPopup = false;
        }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      } else {
        this.$toastr('error', 'Error in form validation');
      }
    },
    resetForm() {
      this.$v.$reset();
      this.addTicket = {
        title     : '',
        body      : '',
        my_files  : ''
      };
    }
  },
  components: {
    VueGallery,
    PlusIcon
  }
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
