<template>
  <div class="project-overview">
    <loading
      :active.sync="isLoading"
      :can-cancel="true"
      :is-full-page="false"
      :width="30"
      :height="30">
    </loading>

    <vx-card>
      <h4 class="text-center mt-3 mb-10">Create or select one</h4>
      <br/>
      <div v-if="!isLoading" class="grid-layout-container alignment-block">
        <vs-row vs-align="center" vs-type="flex" vs-justify="center" vs-w="12">
          <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="3" class="p-3">
            <div class="border-gray w-full text-center p-10 cursor-pointer c-bg-gray rounded-none" @click="createNewProject">
              <PlusCircleIcon size="3.5x" class="custom-class"></PlusCircleIcon>
              <h4>Add Project</h4>
            </div>
          </vs-col>
          <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="3" class="p-3" :key="index" v-for="(project, index) in projects">
            <router-link :to="`/project/${project.slug}`" class="w-full">
              <div class="border-gray w-full text-center p-10 cursor-pointer" @click="">
                <ShoppingBagIcon size="3.5x" class="custom-class"></ShoppingBagIcon>
                <h4>{{project.name}}</h4>
              </div>
            </router-link>
          </vs-col>
        </vs-row>
      </div>
    </vx-card>

    <vs-popup class="holamundo"  title="Add Project" :active.sync="newProject">
      <div class="con-content">
        <vs-row>
          <vs-col class="w-3/5">
            <vs-input class="inputx rounded-none rounded-l projectInput w-full" placeholder="Project Name" v-model="group.groupName" />
          </vs-col>
          <vs-col class="w-2/5">
            <vs-button class="rounded-none rounded-r w-full" @click="saveProject()">Create Now</vs-button>
          </vs-col>
        </vs-row>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import ApiService from '@/services/api.service'
import {
  Trash2Icon, ShoppingBagIcon, PlusCircleIcon
} from 'vue-feather-icons'

export default {
  data () {
    return {
      newProject : false,
      users         : [],
      user          : [],
      projects      : [],
      addProject    : {},
      search        : [],
      group         : {
        groupName     : '',
      },

      totalPages    : 1,
      currentPage   : 1,
      items         : 10,
      isLoading     : true,

      deleteId       : '',
      popupDelete    : false,

      hogan: {
        active: 0,
        production_link: null,
        production_halo_client_id: null,
        production_client_id: null,
        production_user_id: null,
        production_password: null,
        development_link: null,
        development_halo_client_id: null,
        development_client_id: null,
        development_user_id: null,
        development_password: null,
      },
    }
  },

  methods: {
    getProjectsLazy() {
      this.getProjects();
    },
    saveProject() {
      ApiService.post('/project', this.group)
      .then(response => {
        if(response.data.message) {
          this.$toastr('error', 'Project Exists', 'Error!');
        } else {
          this.getProjects();
          this.group.groupName = '';
          this.newProject = false;
          this.$toastr('success', 'Project Created', 'Success!');
        }
      }).catch(error => {
        if(error.response.status == 400) {
          this.$toastr('error', error.response.data.message, 'Error!');
        }
        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error');
          }
        }
      });
    },

    getProjects(page=0) {
      this.isLoading = true;

      let get      = page > 0 ? '?page='+page+'&':'?';
      let count    = 0;
      let length   = Object.keys(this.search).length;

      for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');

      ApiService.get(`/project${get}`).then(response => {
        this.projects     = response.data.data;
        this.totalPages  = response.data.last_page;
        this.currentPage = response.data.current_page;
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        this.isLoading = false;
      });
    },

    deleteThisProject () {
      ApiService.delete(`/project/${this.deleteId}`).then(response => {
        this.getProjects();
        this.$toastr('success', 'Project Deleted', 'Success!')
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        this.popupDelete = false;
      })
    },

    createNewProject() {
      if(this.hogan.active == 0) {
        if(this.hogan.development_link == null || this.hogan.development_halo_client_id == null ||
          this.hogan.development_client_id == null || this.hogan.development_user_id == null || this.hogan.development_password == null) {
          this.$toastr('warning', 'Please Setup the Hogan Test Credential', 'Something went wrong.');
        } else {
          this.newProject = true;
        }
      } else if (this.hogan.active  == 1) {
        if(this.hogan.production_link == null || this.hogan.production_halo_client_id == null ||
          this.hogan.production_client_id == null || this.hogan.production_user_id == null || this.hogan.production_password == null) {
          this.$toastr('warning', 'Please Setup the Hogan Live Credential', 'Something went wrong.');
        } else {
          this.newProject = true;
        }
      }
    },

    getHoganApiData() {
      ApiService.get("/hogan")
        .then((response) => {
          this.hogan = response.data;
          console.log(this.hogan);
        })
        .catch((error) => {
          this.$toastr(
            "error",
            error.response.data.message,
            "Something Went Wrong."
          );
        });
    },
  },

  mounted() {
    this.getProjects();
    this.getHoganApiData();
    this.user = this.$store.state.AppActiveUser;
  },
  watch: {
    //For Pagination
    currentPage: function(val, oldVal){
      this.getProjects(val)
    }
  },
  created() {
    //For Delay on search
    this.getProjectsLazy = _.debounce(this.getProjects, 500)
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    }
  },
  components: {
    Trash2Icon, ShoppingBagIcon, PlusCircleIcon
  }
}
</script>

<style>
  .project-overview .vx-card {
    min-height: 400px !important;
  }
  .border-gray {
    border: 2px solid slategrey;
    border-radius: 4px;
  }
  .c-bg-gray:hover {
    background-color: #9188f338;
  }
</style>
