<template>
  <div class="vx-row">
    <!-- TITLE COLOR -->
    <div class="vx-col w-full">
      <loading :active.sync="isLoading"
               :can-cancel="true"
               :is-full-page="false"
               :width="30"
               :height="30">
      </loading>

      <vx-card title="">
        <div class="vx-row justify-between">
          <div class="vx-col">
            <h5>SEND NEW COMMUNICATION</h5>
          </div>
          <div class="vx-col text-right">
            <vs-button :disabled="!email.mail_subject || !email.mail_body"  color="primary" class="pl-2 pr-2" button="button" @click="previewEmailPopup = true" size="small">Preview Email</vs-button>
          </div>
        </div>
        <form @submit.prevent="sendMail" ref="composeEmailForm">
          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <label>To <span class="text-danger">*</span></label>
              <multiselect @search-change="asyncFind" v-model="email.mail_to" tag-placeholder="Add this as new tag" placeholder="Search Participant"
                           :options="participant_mails" :multiple="true" :taggable="true" @tag="addTag"></multiselect>
            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <label>Subject <span class="text-danger">*</span></label>

              <vs-input class="w-full" :danger="$v.email.mail_subject.$error ? true : false"
                        :danger-text="$v.email.mail_subject.$error ? 'Subject Must be required.' : ''"
                        v-model.trim="$v.email.mail_subject.$model"/>
            </div>
          </div>

          <div class="vx-row mb-2">
            <div class="vx-col w-full">
              <label>Description <span class="text-danger">*</span></label>
              <vs-button :color="'#cccccc'" type="filled"
                         size="small" class="px-2 py-1 rounded mr-3" @click="addVariableToEditor(communicationVariable.value)" v-for="(communicationVariable,index) in communication_variables" :key="index">
                {{ communicationVariable.value }}
              </vs-button>
              <quill-editor ref="email-body" :class="$v.email.mail_body.$error ? 'textarea-danger' : ''"
                            v-model.trim="$v.email.mail_body.$model" :options="editorOption"
                            style="{'height': '300px', 'background-color': 'lightgrey'}"/>
              <small v-if="$v.email.mail_body.$error" class="textarea-danger-text">Email body Must be required.</small>
            </div>
          </div>

          <div class="vx-row mb-3 justify-between">
            <div class="vx-col w-full">
              <div class="vx-row" v-if="tempAttachments.length">
                <div class="vx-col w-full lg:w-1/4 relative my-auto" v-for="(attachment,index) in tempAttachments" :key="index">
                  <vs-button v-if="attachment"
                   radius
                   color="danger"
                   @click="tempAttachments.splice(index,1)"
                   class="absolute right-0 top-0"
                   size="small"
                   type="filled"
                   icon="close"
                  >
                  </vs-button>
                  <div>
                    <img v-if="attachment && fileType(attachment) === 'image' "  :src="attachment" class="mt-3 w-full"/>
                    <img v-else :src="'/images/file-icons/'+fileType(attachment)+'.png'" class="mt-3 w-full" style="height: 200px;"/>
                  </div>
                </div>
              </div>
              <br/>
              <vue-gallery v-model="attachment_path" :type="'button'" ></vue-gallery>
            </div>
          </div>

          <div class="vx-row mb-3">
            <div class="vx-col w-1/3">
              <label>Schedule Time</label>
              <flat-pickr :config="configDateTimePicker" v-model="email.schedule_time" placeholder="Date Time" />
            </div>
          </div>

          <div class="vx-row mb-6 mt-6">
            <div class="vx-col w-full text-right">
              <vs-button color="primary" type="filled" button="submit">Send Mail</vs-button>
            </div>
          </div>
        </form>
      </vx-card>

      <vs-popup  title="Preview Email" :active.sync="previewEmailPopup">
        <PreviewEmail ref="view-email" :mailData="email" :tempAttachments="tempAttachments"></PreviewEmail>
      </vs-popup>
    </div>
  </div>
</template>

<script>
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.snow.css';
import { quillEditor } from 'vue-quill-editor';
import ApiService from '@/services/api.service';
import {required, email} from 'vuelidate/lib/validators';
import Multiselect from 'vue-multiselect';
import PreviewEmail from "../../mail/components/PreviewMail";
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';


export default {
  name: 'ProjectParticipantComposeMail',
  components: {
    quillEditor,
    Multiselect,
    PreviewEmail,
    flatPickr
  },
  data () {
    return {
      configDateTimePicker: {
        enableTime: true,
        dateFormat: 'Y-m-d H:i'
      },
      attachment_path: '',
      email: {
        mail_from: this.$store.state.AppActiveUser.email,
        mail_to: [],
        mail_subject: '',
        mail_body: '',
        mail_attachment: [],
        mail_sent: true,
        participant_id: '',
        project_slug: this.$route.params.projectSlug,
      },

      previewEmailPopup: false,

      participant_mails: [],


      tempAttachments: [],

      isLoading: false,
      communication_variables: {},

      company: {},

      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
            [{'header': 1}, {'header': 2}],
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'font': []}]
          ]
        },
        placeholder: 'Message'
      }
    }
  },

  validations: {
    email: {
      mail_subject: {required},
      mail_body: {required}
    }
  },

  methods: {
    getLazyParticipant() {
      this.getProjectParticipant();
    },

    sendMail () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        if(this.email.mail_to.length) {
          this.isLoading = true;
          this.email.mail_attachment = this.tempAttachments;
          // Api Called
          ApiService.post('/mail/send-multiple-participant-email', this.email).then(response => {
            this.$toastr('success', 'Successfully Email Send.', 'Successfully Send');
            this.$emit('sendMailSuccess');
            this.isLoading = false;
            this.resetForm();
          }).catch(error => {
            this.isLoading = false;
            this.$toastr('error', error.response.data.message, 'Something Wrong');
          })
        } else {
          this.$toastr('error', 'Please Enter a valid send to email.', 'Something Went Wrong');
        }
      }
    },

    getProjectParticipant(query='') {
      this.isLoading = true;
      ApiService.get(`company/user/get-project-participant/${this.$route.params.projectSlug}?search_value=${query}`)
        .then(response =>{
          this.participant_mails = response.data;
          this.isLoading = false;
          console.log(response.data);
        }).catch(error =>{
        this.isLoading = false;
        console.error(error);
      }).finally(()=>{
        this.isLoading = false;
      })
    },

    addTag (newTag) {
      function validateEmail(email) {
        const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      }

      if(validateEmail(newTag)) {
        this.participant_mails.push(newTag);
        this.email.mail_to.push(newTag);
      } else {
        this.$toastr('warning', 'Please Enter a valid Email', 'Something Went Wrong');
      }
    },

    asyncFind(query) {
      this.getProjectParticipant(query);
    },

    resetForm() {
      this.$v.$reset();
      this.tempAttachments = [];
      this.email = {
        mail_from: this.$store.state.AppActiveUser.email,
        mail_to: [],
        mail_subject: '',
        mail_body: '',
        mail_attachment: [],
        mail_sent: true
      };
    },
  },
  mounted() {
    this.getProjectParticipant();
  },

  created() {
    this.getLazyParticipant = _.debounce(this.getProjectParticipant, 500);
  },

  watch: {
    attachment_path : function(val, oldVal) {
      if(this.tempAttachments.includes(val)) {
        this.$toastr('error', 'Same file cannot be uploaded.', 'No file select.');
      } else {
        this.tempAttachments.push(val);
      }

    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>



