<template>
<div>
    <vs-card>
        <ProjectTabs></ProjectTabs>
    </vs-card>
</div>
</template>

<script>
import ProjectTabs from "./ProjectTabs";
export default {
    name: "ProjectParent",
    props: {},
    data() {
        return {
          projectSlug: this.$route.params.projectSlug
        };
    },
    mounted() {},
    methods: {},
    watch: {},
    components: {
      ProjectTabs
    }
};
</script>
