<template>
  <div>
    <vs-tabs grow v-model="selectedTab">
      <vs-tab @click="changeUrl('Overview')" label="Overview" icon-pack="fontawesome" icon="fa fa-list">
        <ViewProject></ViewProject>
      </vs-tab>
      <vs-tab @click="changeUrl('Participants')" label="Participants" icon-pack="feather" icon="icon-user">
        <ParticipantList></ParticipantList>
      </vs-tab>
      <vs-tab @click="changeUrl('Communication')" label="Communication" icon-pack="feather" icon="icon-info">
        <ProjectParticipantCommunication></ProjectParticipantCommunication>
      </vs-tab>
      <vs-tab @click="changeUrl('FileManager')" label="File Manager" icon-pack="fontawesome" icon="far fa-folder">
        <FileManager></FileManager>
      </vs-tab>
      <vs-tab @click="changeUrl('Support')" label="Support" icon-pack="fontawesome" icon="fa fa-help">
        <Ticket :project="projectData" :user_id="user_id"></Ticket>
      </vs-tab>
      <vs-tab @click="changeUrl('Permissions')" label="Permissions" icon-pack="feather" icon="icon-user">
        Permissions
      </vs-tab>
      <vs-tab @click="changeUrl('Report')" label="Report" icon-pack="feather" icon="icon-user">
        Report
      </vs-tab>
      <vs-tab @click="changeUrl('FrontendManagement')" label="Frontend Management" icon-pack="feather" icon="icon-user">
        <FrontendManagement></FrontendManagement>
      </vs-tab>
      <vs-tab @click="changeUrl('AdditionalEvent')" label="Additional Event" icon-pack="feather" icon="icon-user">
        Additional Event
      </vs-tab>
    </vs-tabs>
  </div>
</template>
<script>
  import ProjectParticipantCommunication from "./ProjectParticipantCommunication";
  import ViewProject from "./ViewProject";
  import FrontendManagement from "./FrontendManagement";
  import ViewProjectUsers from "./ViewProjectUsers";
  import FileManager from "../../media/components/Media";
  import ApiService from "@/services/api.service";

  import ParticipantList from "../../user-management/components/UsersList";
  import Ticket from "../../ticket/ticketmenu/components/participant/ParentWithOpenTicket";
  export default {
    name: 'ProjectTabs',
    data() {
      return {
        projectSlug: this.$route.params.projectSlug,
        projectData: {},
        user_id: JSON.parse(localStorage.getItem('userInfo')).id,
        selectedTab: this.getHash(),
      }
    },

    methods: {
      changeUrl(hash) {
        this.$router.push(`/project/${this.projectSlug}#${hash}`).catch(() => {
        });
      },
      getHash() {
        let allTabs = [
          'Overview',
          'Participants',
          'Communication',
          'FileManager',
          'Support',
          'Permissions',
          'Report',
          'FrontendManagement',
          'AdditionalEvent'
        ];
        let fullUrl = window.location.href;
        let tabName = _.last(_.split(fullUrl, '#'));
        return _.indexOf(allTabs, tabName);
      },

      getProject() {
        ApiService.get(`/project/${this.projectSlug}`)
        .then(response => {
          this.projectData = response.data;
        }).catch(error => {
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      },
    },
    components: {
      ParticipantList, ProjectParticipantCommunication,
      ViewProjectUsers, ViewProject, FileManager, Ticket,
      FrontendManagement
    },

    mounted() {
      this.getProject();
      //this.getHash();
    },
  };
</script>
