<template>
  <div>
    <vs-button @click="popupReplay=true; getReplies()" title="Replay to this ticket" color="success" type="gradient" size="small" class="px-2 py-1 rounded-none rounded-l">
      Replay
    </vs-button>
    <div class="centerx">
      <vs-popup classContent="popup-example"  title="Replay Ticket" :active.sync="popupReplay">

        <vs-row class="mb-3">
          <h4 class="block w-full">{{ thisTicket.title }}</h4>
          <small class="block w-full">{{ thisTicket.created_at }}</small>
        </vs-row>
        <vs-row class="mb-3">
          <p>{{ thisTicket.body }}</p>
        </vs-row>
        <p class="rounded px-0 mt-3 justify-between flex">
          <span>
            <span :key="ind" v-for="(file, ind) in thisTicket.files" :title="file.file">
              <FileIcon size="1.5x" class="custom-class cursor-pointer"></FileIcon>
            </span>
          </span>
          <span>
            <span title="Open">
              <ClockIcon size="1.5x" class="custom-class cursor-pointer" :class="{'text-warning' : thisTicket.status=='open'}"></ClockIcon>
            </span>

            <span title="Close">
              <CheckSquareIcon size="1.5x" class="custom-class cursor-pointer" :class="{'text-success' : thisTicket.status=='close'}"></CheckSquareIcon>
            </span>

            <span title="Cancel">
              <XIcon size="1.5x" class="custom-class cursor-pointer" :class="{'text-danger' : thisTicket.status=='cancel'}"></XIcon>
            </span>

          </span>
        </p>
        <hr class="my-3" />

        <vs-row class="mb-3">
          <vs-textarea rows="3" class="vs-col w-full m-0" title="Description" placeholder="Write in detail..." v-model="replayTicket.body" />
        </vs-row>
        <vs-row class="mb-3">
          <VueGallery v-model="replayTicket.my_files"></VueGallery>
        </vs-row>

        <vs-button @click="saveTicketReplay()" color="primary" type="filled">Save</vs-button>

        <hr class="my-3" />

        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :width="30"
                 :height="30">
        </loading>
        <vs-row class="mb-3" v-if="replies.length > 0">
          <vs-col :key="index" v-for="(replay, index) in replies" class="mb-2 bg-grey p-2 rounded">
            <strong class="block text-white">{{replay.user.name}}</strong>
            <small class="block">{{ replay.created_at }}</small>
            <p class="bg-grey-light rounded px-2 mt-3 py-3">{{replay.body}}</p>
            <p class="rounded px-0 mt-3">
              <span :key="ind" v-for="(file, ind) in replay.files" :title="file.file">
                <FileIcon size="1x" class="custom-class cursor-pointer"></FileIcon>
              </span>
            </p>
          </vs-col>

        </vs-row>
        <vs-row class="my-3 text-center text-secondary block" v-else >
          No Replies Available
        </vs-row>

      </vs-popup>
    </div>
  </div>
</template>


<script>
import ApiService from '@/services/api.service'
import { PlusIcon, FileIcon, ClockIcon, CheckSquareIcon, XIcon } from 'vue-feather-icons'
import VueGallery from "@/components/v-gallery/VueGallery"
export default {
  name:'ReplayTicket',
  props: {
    user_id    : Number,
    thisTicket : Object,
    ticketId   : parseInt(this.$route.params.ticketId)
  },
  data () {
    return {
      replayTicket : {},
      replies      : {},
      popupReplay  : false,
      isLoading    : true
    }
  },
  methods: {
    getReplies() {
      this.isLoading = true;
      ApiService.get(`/ticket/replay/${this.ticketId}`).then(response => {
        this.replies = response.data;
        // this.$emit('getTickets')
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(()=>{
        this.isLoading = false;
      })
    },
    saveTicketReplay() {
      this.replayTicket.user_id   = this.user_id
      this.replayTicket.parent_id = this.thisTicket.id
      console.log(this.replayTicket)

      ApiService.post('/ticket/replay', this.replayTicket).then(response => {
        this.replayTicket = {};
        this.replies = response.data;
        this.$emit('getTickets')
        this.$toastr('success', 'Replay Saved', 'Success!');
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        // this.popupReplay= false;
      })
    },
  },
  components: {
    VueGallery,
    PlusIcon, FileIcon, ClockIcon, CheckSquareIcon, XIcon
  }
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
