<template>
  <div class="vx-row">
    <div class="vx-col w-full mb-base">
      <vx-card no-shadow title="">

<!--        <div class="vx-row justify-between">-->
<!--          <div class="vx-col">-->
<!--            <h4>Project Details</h4>-->
<!--          </div>-->
<!--        </div>-->
        <div class="grid-layout-container alignment-block">
          <vs-row vs-align="center" vs-type="flex" vs-justify="center" vs-w="12">
            <vs-col vs-type="flex" vs-justify="center" vs-align="left" class="p-3">
              <router-link :to="`/project/${projectSlug}/hogan`" class="w-full">
                <div class="border-gray w-1/5 text-center p-10 cursor-pointer" @click="">
                  <ShoppingBagIcon size="3.5x" class="custom-class"></ShoppingBagIcon>
                  <h4>Hogan</h4>
                </div>
              </router-link>
            </vs-col>
          </vs-row>
        </div>
      </vx-card>
    </div>
<!--    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-2/3 mb-base">-->
<!--      <ViewCompanyHR></ViewCompanyHR>-->
<!--    </div>-->
  </div>
</template>

<script>
import ApiService from "@/services/api.service";
import ViewCompanyHR from "../../company/component/ViewCompanyHR";
import {
  Trash2Icon, ShoppingBagIcon, PlusCircleIcon
} from 'vue-feather-icons'

export default {
  name: "ViewProject",

  components: {
    Trash2Icon, ShoppingBagIcon, PlusCircleIcon, ViewCompanyHR
  },

  data() {
    return {
      projectSlug : this.$route.params.projectSlug
    };
  },

  methods: {},

  watch: {},

  mounted() {},

  created() {},
};
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
<style>
  .projectInput input {
    border-radius: 4px 0 0 4px;
    height: 39px !important;
  }
</style>
<style lang="stylus">
  .popup-example
    .vs-input
      float left
      width 50%
      margin 10px
      margin-top 5px
    .con-select
      margin-left 10px
      width 50%
      margin-bottom 10px
</style>

<style>
  .border-gray {
    border: 2px solid slategrey;
    border-radius: 4px;
  }
  .c-bg-gray:hover {
    background-color: #9188f338;
  }
</style>
