<template>
  <div class="vx-row">
    <loading
      :active.sync="isLoading"
      :can-cancel="true"
      :is-full-page="false"
      :width="30"
      :height="30">
    </loading>
    <div class="vx-col w-full">
      <vx-card title="">

        <div class="vx-row justify-between">
          <div class="vx-col">
            <h5>Project Name: <strong>{{project.name}}</strong></h5>
          </div>
          <router-link :to="`/project/${projectSlug}`" title="Back">
            <ArrowLeftIcon></ArrowLeftIcon>
          </router-link>
        </div>

        <vs-row class="mt-3">
<!--          <vs-col class="w-1/2 px-2">-->
<!--            <vs-card class="p-0 m-0">-->
<!--              <div class="vx-row justify-between">-->
<!--                <div class="vx-col">-->
<!--                  <h4 class="px-3">Hogan Project Name: <strong>{{project.name}}</strong></h4>-->
<!--                </div>-->
<!--              </div>-->
<!--            </vs-card>-->
<!--          </vs-col>-->
<!--          <vs-col class="w-1/2 px-2">-->
<!--            <vs-card class="p-0 m-0">-->
<!--              <div class="grid-layout-container alignment-block">-->
<!--                <vs-input label="Hogan Client ID" v-model="hoganClient.id"/>-->
<!--                <vs-checkbox class="py-3" v-model="hoganClient.isRecovery">Data recovery only</vs-checkbox>-->
<!--                <vs-input label="Project Name" v-model="hoganClient.groupName"/>-->
<!--              </div>-->
<!--            </vs-card>-->
<!--          </vs-col>-->
          <vs-col class="w-1/2 px-2">
            <vs-card class="p-0 m-0">
              <div class="vx-row justify-between">
                <div class="vx-col">
                  <h4 class="px-3">Reports</h4>
                </div>
              </div>
              <div class="grid-layout-container alignment-block">
                <vs-row vs-align="left" vs-type="flex" vs-justify="left" vs-w="12">
                  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4" class="p-3">
                    <div class="border-gray w-full text-center p-5 px-2 cursor-pointer" @click="newReport=true;">
                      <PlusCircleIcon size="3.5x" class="custom-class"></PlusCircleIcon>
                      <h6>Add Reports</h6>
                    </div>
                  </vs-col>
                  <vs-col vs-type="flex" :title="report.value" vs-justify="center" vs-align="center" vs-w="4"
                          class="p-3" :key="index" v-for="(report, index) in myReports">
                    <div class="border-gray w-full text-center p-5 px-2 cursor-pointer" @click="">
                      <FileTextIcon size="3.5x" class="custom-class"></FileTextIcon>
                      <h6 class="t-ellipsis">{{report.key}}</h6>
                    </div>
                  </vs-col>
                </vs-row>
              </div>
            </vs-card>
          </vs-col>

          <vs-col class="w-1/2 px-2">
            <vs-card class="p-0 m-0">
              <div class="vx-row justify-between">
                <div class="vx-col">
                  <h4 class="px-3">Assessments</h4>
                </div>
              </div>
              <div class="grid-layout-container alignment-block">
                <vs-row vs-align="left" vs-type="flex" vs-justify="left" vs-w="12">
                  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="4" class="p-3">
                    <div class="border-gray w-full text-center p-5 px-2 cursor-pointer" @click="newAssessment=true;">
                      <PlusCircleIcon size="3.5x" class="custom-class"></PlusCircleIcon>
                      <h6>Add Assessments</h6>
                    </div>
                  </vs-col>
                  <vs-col vs-type="flex" :title="assessment.value" vs-justify="center" vs-align="center" vs-w="4"
                          class="p-3" :key="index" v-for="(assessment, index) in myAssessments">
                    <div class="border-gray w-full text-center p-5 px-2 cursor-pointer" @click="">
                      <FileTextIcon size="3.5x" class="custom-class"></FileTextIcon>
                      <h6 class="t-ellipsis">{{assessment.key}}</h6>
                    </div>
                  </vs-col>
                </vs-row>
              </div>
            </vs-card>
          </vs-col>
        </vs-row>
      </vx-card>
    </div>

    <vs-popup class="holamundo" title="Edit Assessment" :active.sync="newAssessment">
      <div class="con-content">
        <ul class="centerx">
          <li v-for="(assessment, index) in assessments" :key="index">
            <label class="block">
              <input v-model="checkAssessments" :value="assessment.key" type="checkbox"> {{ assessment.value }}
            </label>
          </li>
        </ul>
        <vs-button color="primary" class="mt-3" @click="saveAssessment">Save</vs-button>
      </div>
    </vs-popup>
    <vs-popup class="holamundo" title="Edit Report" :active.sync="newReport">
      <div class="con-content">
        <ul class="centerx">
          <li v-for="(report, index) in reports" :key="index">
            <label class="block">
              <input v-model="checkReports" :value="report.key" type="checkbox"> {{ report.value }}
            </label>
          </li>
        </ul>
        <vs-button color="primary" class="mt-3" @click="saveReport">Save</vs-button>
      </div>
    </vs-popup>
  </div>
</template>

<script>
  import ApiService from '@/services/api.service'
  import {
    Trash2Icon, ShoppingBagIcon, PlusCircleIcon, ArrowLeftIcon, FileTextIcon
  } from 'vue-feather-icons'

  export default {
    name: 'ViewProjectManagement',

    components: {
      Trash2Icon,
      ShoppingBagIcon,
      PlusCircleIcon,
      ArrowLeftIcon,
      FileTextIcon
    },

    data () {
      return {
        projectSlug: this.$route.params.projectSlug,
        project: {},
        hoganClient: {
          id: '',
          isRecovery: false,
          groupName: ''
        },
        newAssessment: false,
        newReport: false,
        isLoading: true,

        reports: [],
        assessments: [],

        checkAssessments : [],
        myAssessments    : [],
        saveAssessments  : [],

        checkReports : [],
        myReports    : [],
        saveReports  : []
      }
    },

    methods: {
      getAllReports () {
        ApiService.get(`/company-report/get-all-reports`)
          .then(response => {
            this.reports = response.data;
          }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        });
      },
      getAllAssessments () {
        ApiService.get(`/company-assessment/get-all-assessments`)
          .then(response => {
            this.assessments = response.data;
          }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        });
      },
      getAssessment () {
        ApiService.get(`/company-assessment/${this.project.company_id}/${this.project.id}`)
          .then(response => {
            this.myAssessments = response.data

            this.myAssessments.filter(ele => {
              this.checkAssessments.push(ele.key);
            });
          }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      },
      getReport () {
        ApiService.get(`/company-report/${this.project.company_id}/${this.project.id}`)
        .then(response => {
          this.myReports = response.data

          this.myReports.filter(ele => {
            this.checkReports.push(ele.key);
          });

          this.isLoading = false;
        }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      },
      getProject () {
        ApiService.get(`/project/${this.projectSlug}`)
          .then(response => {
            this.project = response.data;

            this.hoganClient.groupName = this.project.name;

            this.getAssessment();
            this.getReport();
          }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      },
      saveAssessment () {
        this.myAssessments = []
        this.saveAssessments = []

        let otherData = {
          company_id: this.project.company_id,
          project_id: this.project.id
        }

        _.forEach(this.checkAssessments, (value, index) => {
          let data = {}
          this.assessments.filter(element => {
            if(element.key == value) {
              data.assessment_id = element.id;
              this.myAssessments[index] = element
            }
          })
          data = {...data, ...otherData}
          this.saveAssessments[index] = data
        })

        ApiService.post(`/company-assessment?company_id=${otherData.company_id}&project_id=${otherData.project_id}`, this.saveAssessments)
          .then(response => {
            this.$toastr('success', 'Assessments Updated Successfully!', 'Success!')
          }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })

        this.newAssessment = false
      },
      saveReport () {
        this.myReports = []
        this.saveReports = []

        let otherData = {
          company_id: this.project.company_id,
          project_id: this.project.id
        }

        _.forEach(this.checkReports, (value, index) => {
          let data = {}
          this.reports.filter(element => {
            if(element.key == value) {
              data.report_id = element.id;
              this.myReports[index] = element
            }
          })
          data = {...data, ...otherData}
          this.saveReports[index] = data
        })


        ApiService.post(`/company-report?company_id=${otherData.company_id}&project_id=${otherData.project_id}`, this.saveReports)
          .then(response => {
            this.$toastr('success', 'Reports Updated Successfully!', 'Success!')
          }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })

        this.newReport = false
      },
    },

    watch: {},

    mounted () {

      this.getAllAssessments();
      this.getAllReports();
      this.getProject();
    },

    created () {
    }
  }
</script>


<style>
  .vx-card {
    min-height: 400px !important;
  }

  .border-gray {
    border: 2px solid slategrey;
    border-radius: 4px;
  }

  .c-bg-gray:hover {
    background-color: #9188f338;
  }
  .t-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
  }
</style>
