<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <vx-card title="">

        <div class="vx-row justify-between">
          <div class="vx-col">
            <h4>User List</h4>
          </div>
          <div class="vx-col flex text-right">
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import ApiService from "@/services/api.service";

export default {
  name: "ViewProjectUsers",

  components: {},

  data() {
    return {};
  },

  methods: {},

  watch: {},

  mounted() {},

  created() {},
};
</script>

<style scoped>
.vx-card {
  min-height: 500px;
}
</style>
