<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <vx-card>
        <div class="vx-row justify-between">
          <div class="vx-col">
          </div>
          <div class="vx-col">
          <span @click="goBackRouter" class="cursor-pointer">
            <ArrowLeftIcon></ArrowLeftIcon>
          </span>
          </div>
        </div>
        <vs-tabs grow v-model="selectedTab">
          <vs-tab @click="changeUrl('AccountDetails')" label="Account Details" icon-pack="feather" icon="icon-user">
            <AccessorAccountComponent></AccessorAccountComponent>
          </vs-tab>
          <vs-tab @click="changeUrl('Communication')" label="Communication" icon-pack="feather" icon="icon-info">
            <AccessorCommunicationComponent></AccessorCommunicationComponent>
          </vs-tab>
          <vs-tab @click="changeUrl('UserLog')" label="User Log" icon-pack="feather" icon="icon-info">
            <AccessorLog></AccessorLog>
          </vs-tab>
        </vs-tabs>
      </vx-card>
    </div>
  </div>
</template>

<script>
import AccessorAccountComponent from "./AccessorAccountComponent";
import AccessorCommunicationComponent from "./AccessorCommunicationComponent";
import AccessorLog from "./AccessorLog";
import { ArrowLeftIcon } from 'vue-feather-icons';
export default {
  name:"UserEdit",
  components: {
    AccessorAccountComponent,
    AccessorCommunicationComponent,
    ArrowLeftIcon,
    AccessorLog
  },

  data() {
    return {
      selectedTab: this.getHash(),
      companyUserId: parseInt(this.$route.params.companyUserId),
    }
  },

  methods: {
    goBackRouter() {
      this.$router.go(-1);
    },
    changeUrl(hash) {
      this.$router.push(`/company-users/${this.companyUserId}#${hash}`).catch(() => {});
    },
    getHash() {
      let allTabs = [
        'AccountDetails',
        'Communication',
        'UserLog'
      ];
      let fullUrl = window.location.href;
      let tabName = _.last(_.split(fullUrl, '#'));
      return _.indexOf(allTabs, tabName);
    },
  }
};
</script>
