<template>
  <vx-card no-shadow>
    <div class="vx-col md:w-1/1 w-full mb-base">
      <div class="relative">
        <loading
          :active.sync="isLoading"
          :can-cancel="true"
          :is-full-page="false"
          :width="30"
          :height="30"
        >
        </loading>
        <vs-table stripe :data="logged_in_devices">
          <template slot="thead">
            <vs-th>
              #
            </vs-th>
            <vs-th>
              Operating System
            </vs-th>
            <vs-th>
              Browser
            </vs-th>
            <vs-th>
              Time
            </vs-th>
            <vs-th>
              Action
            </vs-th>
          </template>

          <template slot-scope="{ data }" v-if="data.length">
            <vs-tr :key="indextr" v-for="(tr, indextr) in data">
              <vs-td :data="indextr">
                {{ indextr + 1 }}
              </vs-td>
              <vs-td :data="indextr">
                {{ split(data[indextr].name, "0", " - ") }}
              </vs-td>

              <vs-td :data="data[indextr].username">
                {{ split(data[indextr].name, "1", " - ") }}
              </vs-td>

              <vs-td :data="data[indextr].id">
                {{ data[indextr].created_at | diffForHumans }}
              </vs-td>

              <vs-td :data="data[indextr].id">
                <vs-button
                  :disabled="data[indextr].revoked === 1"
                  @click="logoutFromDevice(data[indextr].id)"
                  color="danger"
                  size="small"
                >log out</vs-button
                >
              </vs-td>
            </vs-tr>
          </template>

          <template v-else>
            <vs-tr>
              <vs-td>
                <h5>This user has not login yet.</h5>
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>
    </div>
    <vs-row class="justify-center mt-3">
      <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage" class="w-full text-center"></vs-pagination>
    </vs-row>
  </vx-card>
</template>

<script>
import ApiService from "@/services/api.service";
import { SmartphoneIcon } from "vue-feather-icons";

export default {
  name: "AccessorLoginHistory",
  components: {
    SmartphoneIcon
  },
  data() {
    return {
      isLoading: true,
      logged_in_devices: [],

      totalPages      : 1,
      currentPage     : 1
    };
  },
  methods: {
    split(str, index = null, key = " - ") {
      let data = _.split(str, key);
      if (index) return data[index];
      else return data;
    },

    logoutFromDevice(id) {
      this.isLoading = true;
      ApiService.get(`/logout-from-device/${id}`)
        .then(response => {
          this.getLoginHistory();
        })
        .catch(error => {})
        .finally(() => {
          this.isLoading = false;
        });
    },

    getLoginHistory(page=0) {
      this.isLoading = true;
      let get = page == 0 ? '?':'?page='+page;
      ApiService.get(`/login-history/${ this.$route.params.companyUserId }${get}`)
        .then(response => {
          this.logged_in_devices = response.data.data;
          this.totalPages  = response.data.last_page;
          this.currentPage = response.data.current_page;
        })
        .catch(error => {})
        .finally(() => {
          this.isLoading = false;
        });
    },
  },

  mounted() {
    this.getLoginHistory();
  },

  watch: {
    currentPage: function(val, oldVal){
      this.getLoginHistory(val)
    }
  },
};
</script>
