<template>
  <div class="vx-row">
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/3 mb-base">
       <TicketList
         @showReplyTicket="showReplyTicket"
         @showOpenTicket="showOpenTicket"
         :project="project"
         ref="ticket-list"
       ></TicketList>
    </div>
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-2/3 xl:w-2/3 mb-base">
      <div class="open-ticket-section" v-if="openTicketFlag">
        <vx-card class="no-shadow card-border">
          <div class="vx-row">
            <div class="vx-col w-full mb-3">
              <h4>Create Ticket</h4>
            </div>
            <div class="vx-col w-full">
              <vs-row class="mb-3">
                <vs-input
                  class="vs-col w-full m-0"
                  label="Ticket Code"
                  v-model.trim="addTicket.code"
                  readonly
                />
              </vs-row>
              <vs-row class="mb-3">
                <vs-input
                  class="vs-col w-full m-0"
                  label="Subject"
                  icon-pack="feather"
                  icon="icon-type"
                  val-icon-danger="clear"
                  :danger="$v.addTicket.title.$error ? true : false"
                  :danger-text="$v.addTicket.title.$error ? 'Title is required and must be between 4 to 190 alphabets' : ''"
                  v-model.trim="$v.addTicket.title.$model"
                />
              </vs-row>
              <vs-row class="mb-3">
                  <vs-input
                    class="vs-col w-full m-0"
                    label="Author"
                  />
              </vs-row>
              <vs-row class="mb-3">
                <vs-input
                  class="vs-col w-full m-0"
                  label="Company"
                />
              </vs-row>
              <vs-row class="mb-3">
                <div class="vx-col w-full">
                  <vs-select
                    placeholder="Search and select"
                    class="w-full m-0"
                    label="Priority"
                    :danger="$v.addTicket.priority.$error ? true : false"
                    :danger-text="$v.addTicket.priority.$error ? 'Priority is required' : ''"
                    v-model.trim="$v.addTicket.priority.$model"
                    autocomplete
                  >
                    <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in priorities" />
                  </vs-select>
                </div>
              </vs-row>
              <vs-row class="mb-3">
                <label>Description</label>
                <quill-editor
                  placeholder="Write in detail..."
                  class="vs-col w-full m-0"
                  :class="$v.addTicket.body.$error ? 'textarea-danger' : ''"
                  v-model.trim="$v.addTicket.body.$model"
                  :options="editorOption"
                />
                <small v-if="$v.addTicket.body.$error" class="textarea-danger-text">Body is required and must be greater than 100 alphabets.</small>
              </vs-row>
              <vs-row class="mb-3">
                <div class="vs-col w-full">
                  <div class="vx-row" v-if="addTicket.my_files.length">
                    <div class="vx-col" v-for="(attachment,index) in addTicket.my_files" :key="index" style="position: relative;">
                      <vs-button v-if="attachment" radius color="danger"  @click="addTicket.my_files.splice(index,1)" style="position: absolute; top: -5px; left: 137px;"  size="small" type="filled" icon="close"></vs-button>
                      <img v-if="attachment" :src="attachment" width="150px" height="150px" class="mt-3 mb-3"/>
                    </div>
                  </div>
                  <VueGallery v-model="attachment_paths" :type="'button'" ></VueGallery>
                </div>
              </vs-row>
              <div class="vx-col sm:w-2/3 w-full ml-auto text-right">
                <vs-button @click="saveTicket()" color="primary" type="filled">Save</vs-button>
                <vs-button
                  color="warning"
                  type="border"
                  class="mb-2"
                  @click="resetForm"
                >Reset</vs-button
                >
              </div>
            </div>
          </div>
        </vx-card>
      </div>

      <div class="reply-ticket-section" v-else>
        <ReplyTicket :ticketId="parseInt(ticketId)"></ReplyTicket>
      </div>
    </div>
  </div>
</template>


<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import {quillEditor} from 'vue-quill-editor'
import ApiService from '@/services/api.service'
import { PlusIcon } from 'vue-feather-icons'
import VueGallery from "@/components/v-gallery/VueGallery"
import {required, minLength, maxLength} from 'vuelidate/lib/validators'
import TicketList from "./TicketList";
import ReplyTicket from "./ReplyTicket";
export default {
  name:'ParentWithOpenTicket',
  props: {
    user_id: Number,
    project: Object
  },
  data () {
    return {
      openTicketFlag: true,
      ticketId      : '',
      addTicket: {
        title     : '',
        priority  : '',
        body      : '',
        code      : '',
        my_files  : []
      },
      attachment_paths : '',
      priorities       : '',
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
            [{'header': 1}, {'header': 2}],
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'font': []}]
          ]
        },
        placeholder: 'Write in detail...'
      }
     // addPopup: true
    }
  },

  validations: {
    addTicket: {
      title : { required, minLength: minLength(4), maxLength: maxLength(190) },
      priority  : { required },
      body  : { required, minLength: minLength(100) }
    }
  },
  methods: {
    getUniqueTicketCode() {
      console.log('called')
      this.addTicket.code = this.$route.params.projectSlug+'_'+this.user_id+'_'+_.random(11111111, 99999999)
    },
    saveTicket() {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        this.addTicket.user_id = this.user_id
        this.addTicket.project_id = this.project.id

        // console.log(this.addTicket)

        ApiService.post('/ticket', this.addTicket).then(response => {
          this.$refs['ticket-list'].getTickets();
          this.$toastr('success', 'Ticket Saved', 'Success!');
          // this.addPopup = false;
          this.resetForm();

        }).catch(error => {

          if (error.response.status === 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      } else {
        this.$toastr('error', 'Error in form validation');
      }
    },
    resetForm() {
      this.attachment_paths = '';
      this.addTicket = {
        title     : '',
        priority  : '',
        body      : '',
        code      : '',
        my_files  : []
      };
      this.$v.$reset();
      this.getUniqueTicketCode();
    },
    showReplyTicket(ticketId) {
      this.ticketId = ticketId;
      this.openTicketFlag = false;
    },

    showOpenTicket() {
      this.openTicketFlag = true;
    }
  },
  components: {
    quillEditor,
    VueGallery,
    TicketList,
    PlusIcon,
    ReplyTicket
  },
  mounted() {
    this.getUniqueTicketCode();
    this.priorities = [
      {
        text: 'High',
        value: 'high'
      },
      {
        text: 'Middle',
        value: 'middle'
      },
      {
        text: 'Low',
        value: 'low'
      }
    ];
  },

  watch: {
    attachment_paths : function(val, oldVal) {
      if(this.addTicket.my_files.includes(val)) {
        this.$toastr('error', 'Same file cannot be uploaded.', 'No file select.');
      } else {
        val ? this.addTicket.my_files.push(val):'';
      }
    }
  }
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
