<template>
  <vx-card class="no-shadow card-border">
    <div class="vx-row">
      <div class="vx-col w-1/3">
        <div class="ticket-card-menu">
          <vs-card class="border rounded">
            <div slot="header">
              <h4>Galileo Ticket</h4>
            </div>
            <div>
              <form>
                <div class="vx-row mb-6">
                  <div class="vx-col w-full">
                    <label>Ticket Code</label>
                    <vs-input
                      class="w-full"
                      v-model.trim="thisTicket.code"
                      readonly
                    />
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col w-full">
                    <label>Object <span class="text-danger">*</span></label>
                    <vs-input class="w-full" />
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col w-full">
                    <vs-input
                      class="w-full"
                      label="Author"
                    />
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col w-full">
                    <vs-input
                      class="vs-col w-full m-0"
                      label="Company"
                    />
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col w-full">
                    <vs-select
                      placeholder="Search and select"
                      class="w-full m-0"
                      label="Priority"
                      v-model.trim="thisTicket.priority"
                      autocomplete
                    >
                      <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in priorities" />
                    </vs-select>
                  </div>
                </div>

                <div class="vx-row">
                  <div class="vx-col">
                    <vs-button @click=" updateTicket(thisTicket.id)" color="primary" button="button">Save Ticket</vs-button>
                  </div>
                </div>
              </form>
            </div>
            <div slot="footer">
            </div>
          </vs-card>
        </div>
      </div>
      <div class="vx-col w-2/3">
        <h4 class="block w-full">{{ thisTicket.title }}</h4>
        <small class="block w-full">{{ thisTicket.created_at }}</small>
        <div v-html="thisTicket.body" class="mt-3">
        </div>
        <div class="mt-10 mb-10 border border-dashed"></div>
        <form>
          <div class="vx-row mb-6">
              <label>Message <span class="text-danger">*</span></label>
              <quill-editor
                class="w-full"
                ref="email-body"
                :options="editorOption"
                :class="$v.replayTicket.body.$error ? 'textarea-danger' : ''"
                v-model.trim="$v.replayTicket.body.$model"
            />
            <small v-if="$v.replayTicket.body.$error" class="textarea-danger-text">Body is required and must be greater than 100 alphabets.</small>
          </div>
          <div class="vx-row mb-6">
            <vs-row class="mb-3">
              <div class="vx-row" v-if=" replayTicket.my_files.length ">
                <div class="vx-col" v-for="(attachment,index) in  replayTicket.my_files" :key="index" style="position: relative;">
                  <vs-button v-if="attachment" radius color="danger"  @click=" replayTicket.my_files.splice(index,1); uploadFileType.splice(index,1);id-- " style="position: absolute; top: -5px; left: 137px;"  size="small" type="filled" icon="close"></vs-button>
                  <img v-if="uploadFileType[index] && attachment"  src="/images/file-icons/fileIcon.png" width="150px" height="150px" class="mt-3"/>
                  <img  v-if="!uploadFileType[index] && attachment"  :src="attachment" width="150px" height="150px" class="mt-3"/>
                </div>
              </div>

              <VueGallery v-model="attachment_paths" :type="'button'" class="cursor-pointer w-full mt-3"></VueGallery>

            </vs-row>
          </div>

          <div class="vx-row">
            <div class="vx-col w-full text-right">
              <vs-button color="primary" @click="saveTicketReplay">Save</vs-button>
            </div>
          </div>
        </form>
        <hr class="my-3" />

        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :width="30"
                 :height="30">
        </loading>
        <vs-row class="mb-3" v-if="replies.length > 0">
          <vs-col :key="index" v-for="(replay, index) in replies" class="mb-2 bg-grey p-2 rounded">
            <strong class="block text-white">{{replay.user.title}} {{replay.user.first_name}} {{replay.user.last_name}}</strong>
            <small class="block">{{ replay.created_at }}</small>
            <p class="bg-grey-light rounded px-2 mt-3 py-3 " v-html="replay.body"></p>
            <p class="rounded px-0 mt-3">
              <span :key="ind" v-for="(file, ind) in replay.files" :title="file.file">
                <FileIcon  @click="openFile(file)"  size="1.5x" class="custom-class cursor-pointer"></FileIcon>
              </span>
            </p>
          </vs-col>

        </vs-row>
        <vs-row class="my-3 text-center text-secondary block" v-else >
          No Replies Available
        </vs-row>
        <vs-popup :fullscreen="fileType" title="Files" :active.sync="popupFile">
          <iframe v-if="fileType" :src="file" height="800px" width="100%"></iframe>
          <img v-else :src="file" class="w-full"/>
        </vs-popup>

      </div>
    </div>
  </vx-card>
</template>

<script>
import ApiService from '@/services/api.service'
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.snow.css';
import { quillEditor } from 'vue-quill-editor';
import VueGallery from "@/components/v-gallery/VueGallery";
import { PlusIcon, FileIcon, ClockIcon, CheckSquareIcon, XIcon } from 'vue-feather-icons';
import { required, minLength, maxLength} from 'vuelidate/lib/validators'
export default {
  name: "Mail",
  props:{
   ticketId: Number
  },
  components: {
    VueGallery,quillEditor,
    PlusIcon, FileIcon, ClockIcon, CheckSquareIcon, XIcon
  },
  data() {
    return {
      replayTicket     : {
        body      : '',
        my_files  : []
      },
      replies          : {},
      thisTicket       : {},
      isLoading        : false,
      attachment_paths : '',
      popupFile        : false,
      file             : '',
      fileType         : true,
      uploadFileType   : [],
      id               : 0,
      priorities       : '',
      items: [
        {key: 0, value: 'item 1'},
        {key: 1, value: 'item 2'},
      ],
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
            [{'header': 1}, {'header': 2}],
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'font': []}]
          ]
        },
        placeholder: 'Write in detail...'
      },
      ticketBody: '',
    }
  },
  validations: {
    replayTicket: {
      body  : { required, minLength: minLength(100) }
    }
  },
  methods: {
    getReplies() {
      this.isLoading = true;
      ApiService.get(`/ticket/replay/${this.ticketId}`).then(response => {
        this.replies = response.data.replies;
        this.thisTicket = response.data.ticket;
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(()=>{
        this.isLoading = false;
      })
    },
    updateTicket(id) {
      let update = _.pick(this.thisTicket, ['priority', 'body', 'title']);
      update.my_files = this.my_files;

      ApiService.update(`/ticket/${id}`, update).then(response => {
        this.$emit('getTickets')
        this.$toastr('success', 'Ticket Updated', 'Success!')
        this.popupTicketEdit = false
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        // this.popupTicketEdit = false;
      })
    },
    saveTicketReplay() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.replayTicket.user_id = this.thisTicket.user_id
        this.replayTicket.parent_id = this.thisTicket.id
        ApiService.post('/ticket/replay', this.replayTicket).then(response => {
          this.replayTicket = {};
          this.replies = response.data;
          this.$toastr('success', 'Replay Saved', 'Success!');
        }).catch(error => {
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        }).finally(() => {
          // this.popupReplay= false;
          this.resetForm();
          this.getReplies();
        })
      }
    },
    getFileExtension(file){
      let FileType = file.split('.')
      return ( FileType[FileType.length-1]).toLowerCase();
    },

    openFile(file){

      let fileType = this.getFileExtension(file.file);

      let   imageFormat = ['jpeg','jpg','png','psd','gif','eps','raw'];
      for (let x of imageFormat){
        if( x == fileType){
          this.fileType = false ;
          break;
        }
        else  this.fileType = true ;
      }
      this.file = file.file;
      this.popupFile = true;
    },
    resetForm() {
      this.attachment_paths = '';
      this.file             = '';
      this.fileType         = true;
      this.uploadFileType   = [];
      this.id               = 0 ;
      this.replayTicket = {
        body      : '',
        my_files  : [],
      };
    }
  },
  mounted() {
    this.getReplies();
    this.priorities = [
      {
        text: 'High',
        value: 'high'
      },
      {
        text: 'Middle',
        value: 'middle'
      },
      {
        text: 'Low',
        value: 'low'
      }
    ];
  },
  watch: {
    attachment_paths : function(val, oldVal) {
      if(this.replayTicket.my_files.includes(val)) {
        this.$toastr('error', 'Same file cannot be uploaded.', 'No file select.');
      } else {
        this.replayTicket.my_files.push(val);

        let fileType = this.getFileExtension( this.replayTicket.my_files[this.replayTicket.my_files.length-1])
        let   imageFormat = ['jpeg','jpg','png','psd','gif','eps','raw'];
        for (let x of imageFormat){
          if( x == fileType){
            this.uploadFileType[this.id] = false ;
            break;
          }
          else this.uploadFileType[this.id] = true ;
        }
        this.id++;
      }
    },
    ticketId: function (val, oldvalue) {
      this.getReplies();
    }
  },
}
</script>

<style>
.ticket-card-menu .con-vs-card {
  border-radius: 0px;
  border: 1px solid #c0c0c0;
}

.ticket-card-menu .vs-card--header {
  border-bottom: 1px solid #c0c0c0;
}
.ticket-card-menu .vs-card--content {
  padding: 20px;
}
</style>
