<template>
  <div>
    <vx-card class="no-shadow card-border">
      <div class="vx-row justify-between mb-3">
        <div class="vx-col">
          <h3>All Ticket</h3>
        </div>

        <div class="vx-col">
          <plus-square-icon size="2.2x" class="custom-class cursor-pointer" @click="showOpenTicket"></plus-square-icon>
        </div>
      </div>
      <loading :active.sync="isLoading"
               :can-cancel="true"
               :is-full-page="false"
               :width="30"
               :height="30">
      </loading>
      <vs-table  :data="tickets">
        <template>
          <vs-tr :key="index" v-for="(ticket, index) in tickets" :style=" isActive==ticket.id ? 'background-color: #E2D6FF' : ''" >
              <vs-td>
              <h5>Ticket Code : {{ ticket.code }} </h5>
                <span>{{ ticket.title }} </span>
              </vs-td>
              <vs-td >
                <ExternalLinkIcon class="cursor-pointer text-right" type="button"  @click="showTicketDetails(ticket.id)"></ExternalLinkIcon>
              </vs-td>
            </vs-tr>
        </template>
      </vs-table>
      <vs-row class="justify-center mt-3">
        <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage" class="w-full text-center"></vs-pagination>
      </vs-row>
    </vx-card>
  </div>
</template>

<script>
import ApiService from '@/services/api.service'
import {
  CheckSquareIcon,
  XIcon,
  ClockIcon,
  PlusIcon,
  FilePlusIcon,
  FileTextIcon,
  RefreshCwIcon,
  MoreVerticalIcon,
  Trash2Icon, EditIcon, PlusSquareIcon,ExternalLinkIcon
} from 'vue-feather-icons'
import OpenTicket from './ParentWithOpenTicket'
import EditTicket from '../EditTicket'
// import ReplayTicket from './ReplayTicket'

export default {
  name: 'ParticipantTicketList',
  props:{
    project: Object
  },
  data () {
    return {
      projectSlug   : this.$route.params.projectSlug,
      localProject  : this.project,
      users         : [],
      user          : [],
      tickets       : [],
      addTicket     : {},
      search        : [],
      priorities    : [],
      statuses      : [],

      totalPages    : 1,
      currentPage   : 1,
      items         : 10,
      isLoading     : true,

      deleteId      : '',
      editTicket    : {},
      editTicketTmp : {},
      popupDelete   : false,
      selectValue   : '',
      isActive      : '',

      select1:3,
      options1:[
        {text:'IT', value:0},
        {text:'Blade Runner', value:2},
        {text:'Thor Ragnarok', value:3}
      ]
    }
  },

  methods: {
    showTicketDetails(id) {
      this.isActive = id
      this.$emit('showReplyTicket', id);
    },

    showOpenTicket(id) {
      this.isActive= null
      this.$emit('showOpenTicket');
    },

    getTicketsLazy() {
      this.getTickets();
    },


    getProject() {
      ApiService.get(`/project/${this.projectSlug}`)
      .then(response => {
        this.localProject = response.data;
        this.getTickets()
      }).catch(error => {
        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },
    getTickets(page=0) {
      this.isLoading = true;

      let get      = (page > 0 ? '?page='+page+'&':'?')+`project_id=${this.localProject.id}`;
      let count    = 0;
      let length   = Object.keys(this.search).length;

      for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');

      ApiService.get(`/ticket${get}`).then(response => {
        this.tickets     = response.data.data;
        this.totalPages  = response.data.last_page;
        this.currentPage = response.data.current_page;
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        this.isLoading = false;
      });
    },

    getAllUser() {
      ApiService.get('/users/roleWiseUsers').then(response => {
        this.users = response.data;
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },

    deleteThisTicket () {
      ApiService.delete(`/ticket/${this.deleteId}`).then(response => {
        this.getTickets();
        this.$toastr('success', 'Ticket Deleted', 'Success!')
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        this.popupDelete = false;
      })
    },

    exportPdfOrExcel(value) {
      this.isLoading = true;
      let get      = '?';
      let count    = 0;
      let length   = Object.keys(this.search).length;
      for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');
      ApiService.get(`/ticket/${value}/${get}`)
        .then(response => {
          this.isLoading = false;
          window.open(response.data);
        })
        .catch(error => {
          this.isLoading = false;
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        })
        .finally(()=>{
          this.selectValue = null;
        });
    }
  },

  mounted() {
    this.getAllUser()
    // this.getTickets()

    if(_.isEmpty(this.localProject)) this.getProject();
    else this.getTickets();

    this.user       = this.$store.state.AppActiveUser;
    this.priorities = [
      {
        text: 'High',
        value: 'high'
      },
      {
        text: 'Middle',
        value: 'middle'
      },
      {
        text: 'Low',
        value: 'low'
      }
    ];
    this.statuses = [
      {
        text: 'Open',
        value: 'open'
      },
      {
        text: 'Close',
        value: 'close'
      },
      {
        text: 'Cancel',
        value: 'cancel'
      }
    ];
  },
  watch: {
    //For Pagination
    currentPage: function(val, oldVal){
      this.getTickets(val)
    }
  },
  created() {
    //For Delay on search
    this.getTicketsLazy = _.debounce(this.getTickets, 500)
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    }
  },
  components: {
    OpenTicket, EditTicket, /*ReplayTicket,*/ Trash2Icon, EditIcon,PlusSquareIcon,ExternalLinkIcon,
    CheckSquareIcon, XIcon, ClockIcon, PlusIcon, RefreshCwIcon, FilePlusIcon, FileTextIcon, MoreVerticalIcon
  }
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
<style lang="stylus">
.popup-example
  .vs-input
    float left
    width 50%
    margin 10px
    margin-top 5px
  .con-select
    margin-left 10px
    width 50%
    margin-bottom 10px
</style>
