<template>
  <div id="dashboard-analytics">
    <div class="vx-row">
      <!-- CARD 6: Product Orders -->
      <div class="vx-col w-full">
        <vx-card title="">
          <!-- HORIZONTAL LAYOUT -->
          <div class="vx-row">
            <div class="vx-col md:w-1/2 w-full mb-base">
              <vx-card title="SECTION I – Personal Data and Training">
                <div class="vx-row mb-6">
                  <div class="vx-col w-full">
                    <vs-input class="w-full" label="Place of birth"/>
                  </div>
                </div>
                <div class="vx-row mb-6">
                  <div class="vx-col w-full">
                    <vs-input class="w-full" type="text" label="Date of birth"/>
                  </div>
                </div>
                <div class="vx-row mb-6">
                  <div class="vx-col w-full">
                    <vs-input class="w-full" label="Degree"/>
                  </div>
                </div>
                <div class="vx-row mb-6">
                  <div class="vx-col w-full">
                    <vs-input class="w-full" type="text" label="Master/Academic qualifications"/>
                  </div>
                </div>
                <div class="vx-row">
                  <div class="vx-col w-full">
                    <vs-button @click="saveAndContinue()" class="mr-3 mb-2">Save & Continue</vs-button>
                  </div>
                </div>
              </vx-card>
            </div>
          </div>
          <div class="vx-row">
            <div class="vx-col w-full mb-base">
              <vx-card title="SECTION II- Professional experiences and current role">
                <template>
                  <p>Synthetic summarize of your professional experience (beginning from the most recent)</p>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/3 w-full mt-5">
                      <label>Company</label>
                    </div>
                    <div class="vx-col md:w-1/3 w-full mt-5">
                      <label>Title of the position</label>
                    </div>
                    <div class="vx-col md:w-1/3 w-full mt-5">
                      <label>Period</label>
                    </div>
                  </div>
                  <div class="vx-row" v-for="sectionTwoInput in sectionTwoInputs">
                    <div class="vx-col md:w-1/3 w-full mt-5">
                      <vs-input v-model="sectionTwoInput.company" class="w-full"/>
                    </div>
                    <div class="vx-col md:w-1/3 w-full mt-5">
                      <vs-input v-model="sectionTwoInput.position" class="w-full"/>
                    </div>
                    <div class="vx-col md:w-1/3 w-full mt-5">
                      <vs-input type="email" v-model="sectionTwoInput.period" class="w-full"/>
                    </div>
                  </div>
                  <br>
                  <div class="vx-row">
                    <div class="vx-col w-full">
                      <vs-button @click="sectionTwoAddMore()" class="mr-3 mb-2">+</vs-button>
                    </div>
                  </div>
                </template>
                <template>
                  <p>Which are the main objectives connected to your position and the activities you are responsible
                    for? )</p>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/2 w-full mt-5">
                      <label>Objectives</label>
                    </div>
                    <div class="vx-col md:w-1/2 w-full mt-5">
                      <label>Activities</label>
                    </div>
                  </div>
                  <div class="vx-row" v-for="sectionTwotextarea in sectionTwoTextareas">
                    <div class="vx-col md:w-1/2 w-full mt-5">
                      <vs-textarea height="100px" v-model="sectionTwotextarea.objectives"/>
                    </div>
                    <div class="vx-col md:w-1/2 w-full mt-5">
                      <vs-textarea height="100px" v-model="sectionTwotextarea.activities"/>
                    </div>
                  </div>
                  <br>
                  <div class="vx-row">
                    <div class="vx-col w-full">
                      <vs-button @click="sectionTwoTextareaAddMore()" class="mr-3 mb-2">+</vs-button>
                    </div>
                  </div>
                </template>
                <template>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <label>How are the relations you have with your clients? (please indicate the best and the worst
                        and explain why you choose them)</label>
                      <vs-textarea height="100px"/>
                    </div>
                  </div>
                </template>
                <template>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <label>Describe the professional success you are most proud of. What did you achieve? What does it
                        make you so proud?</label>
                      <vs-textarea height="100px"/>
                    </div>
                  </div>
                </template>
                <template>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <label>How are the relations you have with your clients? (please indicate the best and the worst
                        and explain why you choose them)</label>
                      <vs-textarea height="100px"/>
                    </div>
                  </div>
                </template>
                <div class="vx-row">
                  <div class="vx-col w-full">
                    <vs-button @click="saveAndContinue()" class="mr-3 mb-2">Save & Continue</vs-button>
                  </div>
                </div>
              </vx-card>
            </div>
          </div>
          <div class="vx-row">
            <div class="vx-col w-full mb-base">
              <vx-card title="SECTION III- Professional aspiration and career goals">
                <template>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <label>How do you imagine your professional future? Which career objectives have you set for
                        yourself in the next two years?</label>
                      <vs-textarea height="100px"/>
                    </div>
                  </div>
                </template>
                <template>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <label>Which are your professional aspirations in the medium-long term (5-10 years)?</label>
                      <vs-textarea height="100px"/>
                    </div>
                  </div>
                </template>
                <template>
                  <p>Which behavioral and/or managerial skills (for example: negotiation skills, communication skills,
                    strategic thinking, people management, etc.) would support you in reaching your career goals (please
                    do not indicate technical skills)? Why?</p>

                  <div class="vx-row" v-for="sectionThreeInput in sectionThreeInputs">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <vs-input v-model="sectionThreeInput.skills" class="w-full"/>
                    </div>
                  </div>
                  <br>
                  <div class="vx-row">
                    <div class="vx-col w-full">
                      <vs-button @click="sectionThreeInputAddMore()" class="mr-3 mb-2">+</vs-button>
                    </div>
                  </div>
                </template>
                <template>
                  <p>Which behavioral and/or managerial skills would you like to improve</p>

                  <div class="vx-row" v-for="sectionThree2Input in sectionThree2Inputs">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <vs-input v-model="sectionThree2Input.improve" class="w-full"/>
                    </div>
                  </div>
                  <br>
                  <div class="vx-row">
                    <div class="vx-col w-full">
                      <vs-button @click="sectionThree2InputAddMore()" class="mr-3 mb-2">+</vs-button>
                    </div>
                  </div>
                </template>
                <template>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <label>Are you available for mobility? If yes, where?</label>
                      <vs-textarea height="100px"/>
                    </div>
                  </div>
                </template>
                <template>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <label>If you think it could be useful, please add any information regarding your professional
                        experience or your present position which you would like to share.</label>
                      <vs-textarea height="100px"/>
                    </div>
                  </div>
                </template>
                <template>
                  <p>Please, indicate your level of language proficiency</p>
                  <div class="vx-row">
                    <div class="vx-col md:w-1/1 w-full mt-5">
                      <table class="table-add" rid="5" style="width:100%">
                        <tbody>
                        <tr v-for="sectionThreeRadioInput in sectionThreeRadioInputs"
                            style="border-top:1px dashed #aaa;border-bottom:1px dashed #aaa">
                          <td class="p-1">
                            <vs-input v-model="sectionThreeRadioInput.ln" class="w-full"/>
                          </td>
                          <td><label class="radio radio-primary">
                            <input checked="" v-model="sectionThreeRadioInput.mt" type="radio" name="language_level[0]"
                                   value="Mother tongue"><span> Mother tongue</span><span
                            class="checkmark"></span></label></td>
                          <td><label class="radio radio-primary">
                            <input type="radio" v-model="sectionThreeRadioInput.ad" name="language_level[0]"
                                   value="Advanced"><span> Advanced</span><span
                            class="checkmark"></span></label></td>
                          <td><label class="radio radio-primary">
                            <input type="radio" v-model="sectionThreeRadioInput.in" name="language_level[0]"
                                   value="Intermediate"><span> Intermediate</span><span
                            class="checkmark"></span></label></td>
                          <td><label class="radio radio-primary">
                            <input type="radio" v-model="sectionThreeRadioInput.be" name="language_level[0]"
                                   value="Beginner"><span> Beginner</span><span
                            class="checkmark"></span></label></td>
                          <td><label class="radio radio-primary">
                            <input type="radio" v-model="sectionThreeRadioInput.no" name="language_level[0]"
                                   value="None"><span> None</span><span
                            class="checkmark"></span></label></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <br>
                  <div class="vx-row">
                    <div class="vx-col w-full">
                      <vs-button @click="sectionThreeRadioAddMore()" class="mr-3 mb-2">+</vs-button>
                    </div>
                  </div>
                </template>
                <div class="vx-row">
                  <div class="vx-col w-full">
                    <vs-button @click="saveAndContinue()" class="mr-3 mb-2">Save & Continue</vs-button>
                  </div>
                </div>
              </vx-card>
            </div>
          </div>
        </vx-card>
      </div>
    </div>

  </div>
</template>

<script>

  export default {
    name: 'AdminComponent',
    data() {
      return {
        sectionTwoInputs: [{
          company: '',
          position: '',
          period: ''
        }]
        ,
        sectionTwoTextareas: [{
          objectives: '',
          activities: '',
        }],
        sectionThreeInputs: [{
          skills: '',
        }],
        sectionThree2Inputs: [{
          improve: '',
        }],
        sectionThreeRadioInputs: [
          {
            ln: 'English',
            mt: '',
            ad: '',
            in: '',
            be: '',
            no: '',
          }, {
            ln: 'French',
            mt: '',
            ad: '',
            in: '',
            be: '',
            no: '',
          }, {
            ln: 'German',
            mt: '',
            ad: '',
            in: '',
            be: '',
            no: '',
          },
        ]

      }
    },

    methods: {
      saveAndContinue() {
        this.$toastr('success', 'Save Successfully', 'Success!')

      },
      sectionTwoAddMore() {
        this.sectionTwoInputs.push({
          company: '',
          position: '',
          period: ''
        })
      },
      sectionTwoTextareaAddMore() {
        this.sectionTwoTextareas.push({
          objectives: '',
          activities: '',
        })
      },
      sectionThreeInputAddMore() {
        this.sectionThreeInputs.push({
          skills: '',
        })
      },
      sectionThree2InputAddMore() {
        this.sectionThree2Inputs.push({
          improve: '',
        })
      },
      sectionThreeRadioAddMore() {
        this.sectionThreeRadioInputs.push({
          ln: '',
          mt: '',
          ad: '',
          in: '',
          be: '',
          no: '',
        })
      }
    }
    ,
    created() {

    }
  }
</script>

<style lang="scss">
  .user-profile .header-cover {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
  }

  .user-profile .header-cover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
  }

  .user-profile .profile-picture {
    border-radius: 50%;
    border: 4px solid #fff;
  }

  .avatar-lg {
    width: 80px;
    /* height: 80px; */
  }

  .user-profile .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    z-index: 9;
  }

  .text-24 {
    font-size: 24px;
  }

  .m-0 {
    margin: 0 !important;
  }

  .text-muted {
    color: #70657b !important;
  }

  span.line-vs-tabs {
    /*left: 733px !important;*/
  }

  .mb-3, .my-3 {
    margin-bottom: 1rem !important;
  }

  img {
    max-width: 100%;
  }

  /*-------------add new----------------*/

  /*! rtl:begin:ignore */
  #dashboard-analytics {
    .greet-user {
      position: relative;

      .decore-left {
        position: absolute;
        left: 0;
        top: 0;
      }

      .decore-right {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    @media(max-width: 576px) {
      .decore-left, .decore-right {
        width: 140px;
      }
    }
  }

  /*! rtl:end:ignore */
</style>

