<template>
  <div class="vx-row">
    <div class="vx-col md:w-1/1 w-full mb-base">
      <vx-card>
        <div class="vx-row">
          <vs-tabs>
            <vs-tab label="Local files" @click="getUploadedFile">
              <div class="vx-col md:w-1/4 w-full mb-base">
                <div class="vx-row mb-4">
                  <div class="vx-col w-full">
                    <vs-input v-model="file_search" placeholder="Search..." class="w-full"/>
                  </div>
                </div>
              </div>
              <div class="con-tab-ejemplo con-tab-ejemplo-x" @dragover.prevent @drop.stop.prevent="onDrop">
                <div class="vx-row-x" style="width: 100%">
                  <div :class="leftSection" class="vx-row mb-6" id="imagescroll"
                       :style="selected_file ? 'width: 80%' : ''"
                       @scroll.passive="loadMoreResources">

                    <template v-if="files.length">
                      <div class="image-block" v-for="(image,index) in files"
                           :class="image.id == selected_file.id ? 'selected' : ''"
                           @click="selectGalleryDetails(image)">
                        <img :src="image.file_url" class="img-fluid" alt=""
                             v-if="(image.type == 'image/jpeg') || (image.type == 'image/jpg') || (image.type == 'image/png')"
                        >
                        <img v-if="image.type == 'application/pdf'" class="img-fluid"
                             src="/images/file-upload/pdf.png" alt="" :id="image.id">

                        <img v-if="image.type == 'application/msword'" class="img-fluid"
                             src="/images/file-upload/doc.png" alt="" :id="image.id">
                        <img
                          v-if="image.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
                          class="img-fluid" src="/images/file-upload/doc.png" alt=""
                          :id="image.id">

                      </div>
                    </template>
                    <template v-else>
                      <div class="flex justify-center text-center w-full" style="align-items: center;">
                        <h2>No file found!</h2>
                      </div>
                    </template>
                  </div>

                  <div :class="rightSection"
                       :style="selected_file ? 'width: 18%; margin-left : 35px' : 'display: none'">
                    <i @click="RemovedSelectFile()"
                       class="vs-icon notranslate icon-scale vs-popup--close vs-popup--close--icon material-icons null"
                       style="background: rgb(255, 255, 255);">close</i>
                    <SelectedGallaryDetails @SelectedMedia="[getUploadedFile(), RemovedSelectFile()]"
                                            :gallaryDetails="selected_file"></SelectedGallaryDetails>
                  </div>
                </div>
              </div>

            </vs-tab>
            <vs-tab label="Import from cloud">
              <cloud-file-picker></cloud-file-picker>
            </vs-tab>
            <vs-tab label="Upload from your computer">
              <div class="con-tab-ejemplo">
                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                              :useCustomSlot=true
                              v-on:vdropzone-sending="uploadDropzoneFile"
                              v-on:vdropzone-success="uploadFileSuccessDropzone">
                  <div class="dropzone-custom-content">
                    <h3 class="dropzone-custom-title">Drag and drop to upload content!</h3>
                    <div class="subtitle">...or click to select a file from your computer</div>
                  </div>
                </vue-dropzone>
              </div>
            </vs-tab>
          </vs-tabs>
        </div>
      </vx-card>
    </div>
  </div>
</template>


<script>
  import VueGallery from "@/components/v-gallery/VueGallery";
  import CloudFilePicker from '@/components/v-gallery/CloudFilePicker'

  var $ = require('jquery')
  import ApiService from '@/services/api.service'
  import JwtService from '@/services/jwt.service'

  import SelectedGallaryDetails from '@/components/v-gallery/SelectedGallaryDetails'

  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  export default {
    name: 'Media',
    components: {
      vueDropzone: vue2Dropzone,
      SelectedGallaryDetails,
      CloudFilePicker,
      VueGallery
    },
    data() {
      return {
        uploader_id: this.$route.params.participantId,
        file_search: '',
        activeSelect: '',
        leftSection: '',
        rightSection: '',
        scrollLoading: false,
        pagination: '',
        page: 1,
        pause_next_scroll: false,
        load_more: true,
        files: [],
        attachment: [],
        param: [],
        selected_file: '',
        detailsVisible: false,
        gallaryDetails: {},
        dropzoneOptions: {
          url: '/api/media',
          thumbnailWidth: 150,
          addRemoveLinks: true,
          maxFilesize: 20,
          maxFiles: 300,
          paramName: function () {
            return 'file[]'
          },
          dictDefaultMessage: '<i class=\'fa fa-cloud-upload\'></i> Drop file here to upload',
          headers: {'Authorization': `Bearer ${JwtService.getToken()}`},
          uploadMultiple: true,
          parallelUploads: 20,
          acceptedFiles: '.jpeg,.jpg,.png,.pdf,.doc,.docx'
        },
        activeComponent: "LocalFile",
        popupActivo4: false,
        my_image: 'https://picsum.photos/id/1001/200/300',
      }
    },
    mounted() {
      this.detailsVisible = false
      this.getUploadedFile()
    },
    watch: {
      file_search(after, before) {
        this.page = 1
        this.getUploadedFile()
      }
    },
    methods: {
      onDrop(event) {
        for (var i = 0; i < event.dataTransfer.files.length; i++) {
          var file = event.dataTransfer.files[i];
          this.attachment.push((file))
        }
        let formData = new FormData();
        for (var i = 0; i < this.attachment.length; i++) {
          formData.append('file[' + i + ']', this.attachment[i]);
        }
        formData.append('uploader_id', this.uploader_id);
        ApiService.post(`/media`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(response => {
          if (response.data.status == 'success') {
            this.$toastr('success', response.data.message, 'Success!');
            this.options = ''
            this.alloptions = false
          } else {
            this.$toastr('error', response.data.message, 'Error')
          }
          this.attachment = [];
          this.getUploadedFile()
        }).catch(error => {
          console.log(error)
          this.$toastr('error', error.response.data, 'Error')
        })
      },
      RemovedSelectFile() {
        this.leftSection = ''
        this.rightSection = ''
        this.selected_file = ''
      },
      // load image on scroll
      loadMoreResources($event) {
        if (this.getCurrentScrollPosition($event) > 70 && this.pause_next_scroll == false) {
          this.pause_next_scroll = true
          if (this.pagination.next_page_url) {
            this.page = ++this.page
            this.getUploadedFile()
          }
        }
      },
      // get scroll position according to given scroll event
      getCurrentScrollPosition($event) {
        let scrollTop = $event.target.scrollTop
        let scrollHeight = $event.target.scrollHeight
        let clientHeight = $event.target.clientHeight
        let scrollPosition = scrollTop / (scrollHeight - clientHeight)
        return 100 * scrollPosition
      },

      // get files
      getUploadedFile() {
        this.unSelectedAllFiles()
        ApiService.get(`/media?page=${this.page}&file_search=${this.file_search}&uploader_id=${this.uploader_id}`).then(response => {
          if (this.page == 1) {
            this.files = []
          }
          let res_files = this.files
          response.data.data.forEach(data => {
            res_files.push(data)
          })
          this.pagination = Object.assign({}, response.data, {data: ''})
          this.pause_next_scroll = false
        }).catch(error => {
          console.log(error)
        })
      },

      uploadDropzoneFile(file, xhr, formData) {
        formData.append('uploader_id', this.uploader_id);
        // this.$toastr('success', 'Successfully uploaded file from local computer.', 'Successfully uploaded file.');
      },

      uploadFileSuccessDropzone(file, response) {
        this.$toastr('success', 'Successfully uploaded file from local computer.', 'Successfully uploaded file.')
      },

      openModalWithRecord() {
        this.getUploadedFile()
        this.detailsVisible = false
        this.popupActivo4 = true
      },

      selectGalleryDetails(file) {
        this.leftSection = 'leftSection'
        this.rightSection = 'rightSection'
        this.selected_file = file
      },

      populatedGalleryData() {
        this.popupActivo4 = false
        this.$emit('input', this.selected_file.file_url)
      },

      unSelectedAllFiles() {
        var allListElement = document.getElementsByClassName('list-display-image')
        for (var i = 0; i < allListElement.length; i++) {
          allListElement[i].style.border = '0px solid teal'
          allListElement[i].style.padding = '0px'
        }
      },
      showComponent(value) {
        this.activeComponent = value;
      }
    }
  }
</script>

<style lang="stylus">
  .image-upload {
    width: 200px;
    height: 150px;
    border: 1px solid #ddd;
    background-color: aliceblue;
    border-radius: 0px;
    font: 400 13.3333px Arial;
  }

  .btn-image-upload {
    width: 200px;
    height: 30px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
  }

  .btn-group button {
    padding: 6px 10px !important;
  }

  .btn-group-tab {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ddd !important;
    border-radius: 0px !important;
    padding: 6px 10px !important;
    font-size: 12px;
    font-weight: 500;
  }

  .vs-button-primary.vs-button-filled:hover {
    box-shadow: none;
  }

  .file-group {
    margin-top: 15px;
  }

  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

  .preview {
    height: 200px;
    width: 200px;
    background-color: gray;
    vertical-align: middle;
  }

  #scrollImageGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #scrollImageGallery .list-diplay {
    width: 90px;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .img-fluid-file {
    width: 90px;
    height: 80px;
    object-fit: fill;
  }

  .btn-group-cloud {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ddd !important;
    border-radius: 0px !important;
    padding: 6px 10px !important;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
  }

  .btn-group-cloud img {
    width: 28px;
    height: 24px;
    margin-right: 5px;
  }

  .dropzone-custom-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .dropzone-custom-title {
    margin-top: 0;
    color: #00b782;
  }

  .subtitle {
    color: #314b5f;
  }

  .vx-row-x {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .vx-row-x > .vx-col-x {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .vx-col-x > .list-diplay {
    margin-right: 5px;
  }

  .vs-popup--content {
    height: 100%;
    overflow: hidden !important;
  }

  .con-vs-tabs {
    height: 100% !important;
  }

  .con-vs-tabs .con-slot-tabs {
    position: relative;
    display: block;
    overflow: hidden;
    /*height: 100%;*/
  }

  .vs-tabs--content {
    position: relative;
    width: 100%;
    display: block;
    padding: 10px;
    height: 100%;
  }

  .con-tab-ejemplo-x {
    height: 100%;
  }

  .display-sidebar {
    flex: 0 0 300px !important;
    padding-left: 10px;
    border-left: 1px solid #ddd;
    max-width: 300px !important;
  }

  .image-block.selected {
    /*border-color: #7569f1;*/
    border: 2px solid #7569f1;
  }

  .image-block {
    height: 200px;
    vertical-align: middle;
    width: 200px;
    overflow: hidden;
    display: flex;
    border: 1px solid #aea9a9;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;

  &
  .selected {
    /*border-color: green;*/
  }

  img {
    /*height: 200px;*/
    width: 100%;
    margin: auto;
  }

  }

  #imagescroll {
    height: 630px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .leftSection {
      display: none;
    }

    .rightSection {
      width: 100% !important;
      display: block;
    }

    #imagescroll {
      width: 100% !important;
    }
  }
</style>
