<template>
  <div id="dashboard-analytics">
    <div class="vx-row">
      <!-- CARD 6: Product Orders -->
      <div class="vx-col w-full">
        <vx-card title="">
          <div class="card user-profile o-hidden mb-4 dashboard">
            <div class="header-cover" :style="{'background-image': companyData.company_user.company.participant_bgimage?'url('+companyData.company_user.company.participant_bgimage+')':'url('+bgimage+')'}"></div>
            <div class="user-info">
              <router-link style="z-index: 2" to="/">
                <img class="profile-picture avatar-lg mb-2" :src="companyData.company_user.company.logo?companyData.company_user.company.logo:logo" alt="">
              </router-link>
            </div>
          </div>
          <div class="vx-row" v-if="assessments.length">
            <div vs-type="flex" class="vx-col p-3" vs-justify="center" vs-align="center" vs-w="2"  v-for="(assessment, index) in assessments" :key="index">
              <div class="border-gray w-full text-center p-10 cursor-pointer">
                <users-icon size="3.5x" class="custom-class"></users-icon>
                <h3>{{ assessment.assessment.key }}</h3>
                <vs-button color="primary" @click="gotoParticipantTestUrl(assessment.assessment.key)" class="mt-2">Start Test</vs-button>
              </div>
            </div>
          </div>

          <div v-else class="vx-row">
            <div class="vx-col text-center w-full">
              <span><b>Note:</b></span> <span>No Assessment Assign for you. Please, contact with company owner.</span>
            </div>
          </div>
        </vx-card>
      </div>
    </div>

  </div>
</template>

<script>
  import ApiService from "../../services/api.service";
  import { UsersIcon } from 'vue-feather-icons'

  export default {
    name: 'ParticipantSelectTestComponent',
    data() {
      return {
        companyData: {
          company_user: {
            company: {}
          }
        },
        userId: Number,
        myInterval: '',
        logo: 'https://simone.galileo-hr.eu/img/logo.jpg',
        bgimage: 'https://simone.galileo-hr.eu/companies/31/background_luiss.jpg',
        assessments: [],
      }
    },
    components: {
      UsersIcon
    },
    mounted() {
      this.myInterval = setInterval(()=>{
        if(this.$store.state.AppActiveUser.id) {
          this.userId = this.$store.state.AppActiveUser.id;
          this.getAssessmentData();
          this.getCompanyData();
        }
      }, 20);
    },
    methods: {
      getAssessmentData() {
        clearInterval(this.myInterval);
        ApiService.get(`/company-assessment/get-participant-assessment/${this.userId}`)
          .then(response => {
            this.assessments = response.data;
          }).catch(error => {
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        });
      },

      gotoParticipantTestUrl(key) {
        ApiService.get(`/company-assessment/goto-participant-test-url/${key}`).then(response => {
          console.log(response.data);
        }).catch((error) => {
          console.log(error);
        })
      },

      getCompanyData() {
        clearInterval(this.myInterval);
        ApiService.get(`/getCompany/user/${this.userId}`)
          .then(response => {
            this.companyData = response.data;
          }).catch(error => {
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        });
      }
    },

    created() {

    }
  }
</script>

<style lang="scss">
  .user-profile .header-cover {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
  }
  .user-profile .header-cover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
  }
  .user-profile .profile-picture {
    border-radius: 50%;
    border: 4px solid #fff;
  }
  .avatar-lg {
    width: 80px;
  }
  .user-profile .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    z-index: 9;
  }
  .text-24 {
    font-size: 24px;
  }
  .m-0 {
    margin: 0 !important;
  }
  .text-muted {
    color: #70657b !important;
  }

  .mb-3, .my-3 {
    margin-bottom: 1rem !important;
  }
  img {
    max-width: 100%;
  }
</style>

<style>
.border-gray {
  border: 2px solid slategrey;
}
</style>

