<template>
  <div id="dashboard-analytics">
    <div class="vx-row">
      <!-- CARD 6: Product Orders -->
      <div class="vx-col w-full">
        <vx-card title="">
          <div class="card user-profile o-hidden mb-4 dashboard">
            <div class="header-cover" :style="{'background-image': companyData.company_user.company.participant_bgimage?'url('+companyData.company_user.company.participant_bgimage+')':'url('+bgimage+')'}"></div>
            <div class="user-info">
              <a style="z-index: 2" href="#">
                <img class="profile-picture avatar-lg mb-2" :src="companyData.company_user.company.logo?companyData.company_user.company.logo:logo" alt="">
              </a>
            </div>
          </div>
          <vs-tabs>
            <vs-tab label="Home">
              <div class="vx-row">
                <div class="vx-col sm:w-full md:w-1/4">
                  <vx-card title="" class="mt-base">
                    <img class="card-img-left mb-3" src="https://www.hoganassessments.com/wp-content/uploads/2018/03/Hogan_Logo_Horiz_FC_16.png" alt="">

                    <div class="user-bio">
                      <p>By clicking on the “Start” button below, you will access the Hogan Assessment Test.
                        It is a tool that provides you the means to share the professional experience and skills that you have acquired up until now, as well as to collect your expectations for the future.
                        Please, fill the designated fields – abt. 45/50 mins. To do so, you are free to choose either English or Italian language.
                        To stop the session and recover it at a later time, please click on the “Save & Continue” button, placed at the end of each section.
                        To definitively end the completion, please click on the "Finish" button, placed at the bottom of the webpage.</p>
                      <br/>
                      <ol>
                        <li>HPI</li>
                        <li>JUDA</li>
                        <li>HDS</li>
                      </ol>
                    </div>
                    <div class="flex mt-base">
                      <vs-button color="primary" type="filled" to="participant/participant-select-test">Select Test</vs-button>
                     </div>
                  </vx-card>
                </div>
                <div class="vx-col sm:w-full md:w-1/4">
                  <vx-card title="Admin Note" class="mt-base">
                    <span v-html="user.participant_note?user.participant_note:'No participant note.'"></span>
                  </vx-card>
                </div>
              </div>
            </vs-tab>
            <vs-tab label="My Report">
              <h2>My Report</h2>
            </vs-tab>
          </vs-tabs>
        </vx-card>
      </div>
    </div>

  </div>
</template>

<script>
  import ApiService from "../../services/api.service";
  import { UsersIcon } from 'vue-feather-icons'

  export default {
    name: 'AdminComponent',
    data() {
      return {
        companyData: {
          company_user: {
            company: {
              logo: '',
              participant_bgimage: ''
            }
          }
        },
        user : this.$store.state.AppActiveUser,
        userId: Number,
        logo: 'https://simone.galileo-hr.eu/img/logo.jpg',
        bgimage: 'https://simone.galileo-hr.eu/companies/31/background_luiss.jpg',
      }
    },
    components: {
      UsersIcon
    },
    mounted() {
      this.myInterval = setInterval(()=>{
        if(this.$store.state.AppActiveUser.id) {
          this.userId = this.$store.state.AppActiveUser.id;
          this.getCompanyData();
        }
      }, 20);
    },
    methods: {
      getCompanyData() {
        clearInterval(this.myInterval);
        ApiService.get(`/getCompany/user/${ this.userId }`)
          .then(response => {
            this.companyData = response.data;
          }).catch(error => {
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        });
      }
    },
    created() {

    }
  }
</script>

<style lang="scss">
  .user-profile .header-cover {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
  }
  .user-profile .header-cover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
  }
  .user-profile .profile-picture {
    border-radius: 50%;
    border: 4px solid #fff;
  }
  .avatar-lg {
    width: 80px;
  }
  .user-profile .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    z-index: 9;
  }
  .text-24 {
    font-size: 24px;
  }
  .m-0 {
    margin: 0 !important;
  }
  .text-muted {
    color: #70657b !important;
  }

  .mb-3, .my-3 {
    margin-bottom: 1rem !important;
  }
  img {
    max-width: 100%;
  }
</style>

<style>
.border-gray {
  border: 2px solid slategrey;
}
</style>

