<!-- =========================================================================================
  File Name: DashboardAnalytics.vue
  Description: Dashboard Analytics
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="dashboard-analytics">
    <div class="vx-row">

      <!-- CARD 1: CONGRATS -->
      <div class="vx-col w-full lg:w-1/2 mb-base">
        <vx-card slot="no-body" class="text-center bg-primary-gradient greet-user">
          <img src="@assets/images/elements/decore-left.png" class="decore-left" alt="Decore Left" width="200">
          <img src="@assets/images/elements/decore-right.png" class="decore-right" alt="Decore Right" width="175">
          <feather-icon icon="AwardIcon" class="p-6 mb-8 bg-primary inline-flex rounded-full text-white shadow"
                        svgClasses="h-8 w-8"></feather-icon>
          <h1 class="mb-6 text-white">Welcome to {{ checkpointReward.userName }}</h1>
        </vx-card>
      </div>

      <!-- CARD 2: SUBSCRIBERS GAINED -->
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line icon="UsersIcon" :statistic="dashboard.total_company" statisticTitle="Total Company"
                              :chartData="subscribersGained.series" type="area"></statistics-card-line>
      </div>

      <!-- CARD 3: ORDER RECIEVED -->
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line icon="ShoppingBagIcon" statistic="0" statisticTitle="Total Project"
                              :chartData="ordersRecevied.series" color="warning" type="area"></statistics-card-line>
      </div>
    </div>

    <div class="vx-row">

      <!-- CARD 4: SESSION -->
      <div class="vx-col w-full md:w-1/2 mb-base">
        <vx-card>
          <div class="vx-row flex-col-reverse md:flex-col-reverse sm:flex-row lg:flex-row">

            <!-- LEFT COL -->
            <div class="vx-col w-full md:w-full sm:w-1/2 lg:w-1/2 xl:w-1/2 flex flex-col justify-between"
                 v-if="salesBarSession.analyticsData">
              <div>
                <h2 class="mb-1 font-bold">0.00</h2>
                <span class="font-medium">Total Company Income</span>

                <!-- Previous Data Comparison -->
                <p class="mt-2 text-xl font-medium">
                  <span :class="salesBarSession.analyticsData.comparison.result >= 0 ? 'text-success' : 'text-danger'">
                    <span v-if="salesBarSession.analyticsData.comparison.result > 0">+</span>
                    <span>{{ salesBarSession.analyticsData.comparison.result }}</span>
                  </span>
                  <span> vs </span>
                  <span>{{ salesBarSession.analyticsData.comparison.str }}</span>
                </p>
              </div>
              <vs-button icon-pack="feather" icon="icon-chevrons-right" icon-after
                         class="shadow-md w-full lg:mt-0 mt-4">View Details
              </vs-button>
            </div>

            <!-- RIGHT COL -->
            <div
              class="vx-col w-full md:w-full sm:w-1/2 lg:w-1/2 xl:w-1/2 flex flex-col lg:mb-0 md:mb-base sm:mb-0 mb-base">
              <change-time-duration-dropdown class="self-end"/>
              <vue-apex-charts type="bar" height="200" :options="analyticsData.salesBar.chartOptions"
                               :series="salesBarSession.series" v-if="salesBarSession.series"/>
            </div>

          </div>
          <vs-divider class="my-6"></vs-divider>
          <div class="vx-row">
            <div class="vx-col w-1/2 mb-3">
              <p>Goal: $100000</p>
              <vs-progress class="block mt-1" :percent="50" color="primary"></vs-progress>
            </div>
            <div class="vx-col w-1/2 mb-3">
              <p>Users: 100K</p>
              <vs-progress class="block mt-1" :percent="60" color="warning"></vs-progress>
            </div>
            <div class="vx-col w-1/2 mb-3">
              <p>Retention: 90%</p>
              <vs-progress class="block mt-1" :percent="70" color="danger"></vs-progress>
            </div>
            <div class="vx-col w-1/2 mb-3">
              <p>Duration: 1yr</p>
              <vs-progress class="block mt-1" :percent="90" color="success"></vs-progress>
            </div>
          </div>
        </vx-card>
      </div>

      <!-- CARD 5: SUPPORT TRACKER -->
      <div class="vx-col w-full md:w-1/2 lg:w-1/2 xl:w-1/2 mb-base">
        <vx-card title="Support Tracker">
          <!-- CARD ACTION -->
          <template slot="actions">
            <change-time-duration-dropdown/>
          </template>

          <div slot="no-body" v-if="supportTracker.analyticsData">
            <div class="vx-row text-center">

              <!-- Open Tickets Heading -->
              <div
                class="vx-col w-full lg:w-1/5 md:w-full sm:w-1/5 flex flex-col justify-between mb-4 lg:order-first md:order-last sm:order-first order-last">
                <div class="lg:ml-6 lg:mt-6 md:mt-0 md:ml-0 sm:ml-6 sm:mt-6">
                  <h1 class="font-bold text-5xl">{{ dashboard.ticket.total_ticket }}</h1>
                  <small>Tickets</small>
                </div>
              </div>

              <!-- Chart -->
              <div
                class="vx-col w-full lg:w-4/5 md:w-full sm:w-4/5 justify-center mx-auto lg:mt-0 md:mt-6 sm:mt-0 mt-6">
                <vue-apex-charts type="radialBar" height="385"
                                 :options="analyticsData.supportTrackerRadialBar.chartOptions"
                                 :series="[dashboard.ticket.complete_ticket]"/>
              </div>
            </div>

            <!-- Support Tracker Meta Data -->
            <div class="flex flex-row justify-between px-8 pb-4 mt-4">
              <p class="text-center">
                <span class="block">New Tickets</span>
                <span class="text-2xl font-semibold">{{ dashboard.ticket.new_ticket }}</span>
              </p>
              <p class="text-center">
                <span class="block">Open Tickets</span>
                <span class="text-2xl font-semibold">{{ dashboard.ticket.open_ticket }}</span>
              </p>
            </div>
          </div>
        </vx-card>
      </div>
    </div>

    <div class="vx-row">
      <!-- CARD 6: Product Orders -->
      <div class="vx-col w-full lg:w-1/3 mb-base">
        <vx-card title="Product Orders">
          <!-- CARD ACTION -->
          <template slot="actions">
            <change-time-duration-dropdown/>
          </template>

          <!-- Chart -->
          <div slot="no-body">
            <vue-apex-charts type="radialBar" height="420" :options="analyticsData.productOrdersRadialBar.chartOptions"
                             :series="productsOrder.series"/>
          </div>

          <ul>
            <li v-for="orderData in productsOrder.analyticsData" :key="orderData.orderType"
                class="flex mb-3 justify-between">
                            <span class="flex items-center">
                                    <span class="inline-block h-4 w-4 rounded-full mr-2 bg-white border-3 border-solid"
                                          :class="`border-${orderData.color}`"></span>
                                    <span class="font-semibold">{{ orderData.orderType }}</span>
                            </span>
              <span>{{ orderData.counts }}</span>
            </li>
          </ul>
        </vx-card>
      </div>

      <!-- CARD 7: Sales Stats -->
      <div class="vx-col w-full lg:w-1/3 mb-base">
        <vx-card title="Sales Stats" subtitle="Last 6 Months">
          <template slot="actions">
            <feather-icon icon="MoreVerticalIcon" svgClasses="w-6 h-6 text-grey"></feather-icon>
          </template>
          <div class="flex">
            <span class="flex items-center"><div
              class="h-3 w-3 rounded-full mr-1 bg-primary"></div><span>Sales</span></span>
            <span class="flex items-center ml-4"><div
              class="h-3 w-3 rounded-full mr-1 bg-success"></div><span>Visits</span></span>
          </div>
          <div slot="no-body-bottom">
            <vue-apex-charts type="radar" height="385" :options="analyticsData.statisticsRadar.chartOptions"
                             :series="salesRadar.series"/>
          </div>
        </vx-card>
      </div>

      <!-- CARD 8: Activity Timeline -->
      <div class="vx-col w-full lg:w-1/3 mb-base">
        <vx-card title="Activity Timeline">
          <vx-timeline :data="timelineData"/>
        </vx-card>
      </div>
    </div>

    <div class="vx-row">
      <!-- CARD 9: DISPATCHED ORDERS -->
      <div class="vx-col w-full">
        <vx-card title="Dispatched Orders">
          <div slot="no-body" class="mt-4">
            <vs-table :data="dispatchedOrders" class="table-dark-inverted">
              <template slot="thead">
                <vs-th>ORDER NO.</vs-th>
                <vs-th>STATUS</vs-th>
                <vs-th>OPERATORS</vs-th>
                <vs-th>LOCATION</vs-th>
                <vs-th>DISTANCE</vs-th>
                <vs-th>START DATE</vs-th>
                <vs-th>EST DELIVERY DATE</vs-th>
              </template>

              <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                  <vs-td :data="data[indextr].orderNo">
                    <span>#{{data[indextr].orderNo}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].status">
                    <span class="flex items-center px-2 py-1 rounded"><div class="h-3 w-3 rounded-full mr-2"
                                                                           :class="'bg-' + data[indextr].statusColor"></div>{{data[indextr].status}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].orderNo">
                    <ul class="users-liked user-list">
                      <li v-for="(user, userIndex) in data[indextr].usersLiked" :key="userIndex">
                        <vx-tooltip :text="user.name" position="bottom">
                          <vs-avatar :src="user.img" size="30px"
                                     class="border-2 border-white border-solid -m-1"></vs-avatar>
                        </vx-tooltip>
                      </li>
                    </ul>
                  </vs-td>
                  <vs-td :data="data[indextr].orderNo">
                    <span>{{data[indextr].location}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].orderNo">
                    <span>{{data[indextr].distance}}</span>
                    <vs-progress :percent="data[indextr].distPercent" :color="data[indextr].statusColor"></vs-progress>
                  </vs-td>
                  <vs-td :data="data[indextr].orderNo">
                    <span>{{data[indextr].startDate}}</span>
                  </vs-td>
                  <vs-td :data="data[indextr].orderNo">
                    <span>{{data[indextr].estDelDate}}</span>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>

        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
  import VueApexCharts from 'vue-apexcharts'
  import StatisticsCardLine from './components/StatisticsCardLine.vue'
  import analyticsData from './components/analyticsData.js'
  import ChangeTimeDurationDropdown from './components/ChangeTimeDurationDropdown.vue'
  import VxTimeline from './components/VxTimeline'
  import ApiService from "../../services/api.service";
  import {mapGetters} from "vuex";

  export default {
    name: 'SuperAdminComponent',
    data() {
      return {
        dashboard: {
          total_company: '',
          ticket: {
            total_ticket: '',
            new_ticket: '',
            open_ticket: '',
            complete_ticket: '',
          }
        },
        checkpointReward: {
          userName: this.$store.state.AppActiveUser.first_name + ' ' + this.$store.state.AppActiveUser.last_name,
          progress: '57.6%'
        },
        subscribersGained: {
          series: [
            {
              name: 'Subscribers',
              data: [28, 40, 36, 52, 38, 60, 55]
            }
          ],
          analyticsData: {
            subscribers: 92600
          }
        },

        ordersRecevied: {
          series: [
            {
              name: 'Orders',
              data: [10, 15, 8, 15, 7, 12, 8]
            }
          ],
          analyticsData: {
            orders: 97500
          }
        },

        salesBarSession: {
          series: [
            {
              name: 'Sessions',
              data: [75, 125, 225, 175, 125, 75, 25]
            }
          ],
          analyticsData: {
            session: 2700,
            comparison: {
              str: 'Last 7 Days',
              result: +5.2
            }
          }
        },

        supportTracker: {
          analyticsData: {
            openTickets: 163,
            meta: {
              'New Tickets': 29,
              'Open Tickets': 63,
              'Response Time': '1d'
            }
          },
          series: [83]
        },

        productsOrder: {
          analyticsData: [
            {
              'orderType': 'Finished',
              'counts': 23043,
              'color': 'primary'
            },
            {
              'orderType': 'Pending',
              'counts': 14658,
              'color': 'warning'
            },
            {
              'orderType': 'Rejected ',
              'counts': 4758,
              'color': 'danger'
            }
          ],
          series: [70, 52, 26]
        },

        salesRadar: {
          series: [
            {
              name: 'Visits',
              data: [90, 50, 86, 40, 100, 20]
            },
            {
              name: 'Sales',
              data: [70, 75, 70, 76, 20, 85]
            }
          ]
        },

        timelineData: [
          {
            color: 'primary',
            icon: 'PlusIcon',
            title: 'Client Meeting',
            desc: 'Bonbon macaroon jelly beans gummi bears jelly lollipop apple',
            time: '25 mins Ago'
          },
          {
            color: 'warning',
            icon: 'MailIcon',
            title: 'Email Newsletter',
            desc: 'Cupcake gummi bears soufflé caramels candy',
            time: '15 Days Ago'
          },
          {
            color: 'danger',
            icon: 'UsersIcon',
            title: 'Plan Webinar',
            desc: 'Candy ice cream cake. Halvah gummi bears',
            time: '20 days ago'
          },
          {
            color: 'success',
            icon: 'LayoutIcon',
            title: 'Launch Website',
            desc: 'Candy ice cream cake. Halvah gummi bears Cupcake gummi bears soufflé caramels candy.',
            time: '25 days ago'
          },
          {
            color: 'primary',
            icon: 'TvIcon',
            title: 'Marketing',
            desc: 'Candy ice cream cake. Halvah gummi bears Cupcake gummi bears.',
            time: '28 days ago'
          }
        ],


        analyticsData,
        dispatchedOrders: [
          {
            orderNo: 879985,
            status: 'Moving',
            statusColor: 'success',
            operator: 'Cinar Knowles',
            operatorImg: require('@assets/images/portrait/small/avatar-s-2.jpg'),
            usersLiked: [
              {
                name: 'Vennie Mostowy',
                img: require('@assets/images/portrait/small/avatar-s-5.jpg')
              },
              {
                name: 'Elicia Rieske',
                img: require('@assets/images/portrait/small/avatar-s-7.jpg')
              },
              {
                name: 'Julee Rossignol',
                img: require('@assets/images/portrait/small/avatar-s-10.jpg')
              },
              {
                name: 'Darcey Nooner',
                img: require('@assets/images/portrait/small/avatar-s-8.jpg')
              }
            ],
            location: 'Anniston, Alabama',
            distance: '130 km',
            distPercent: 80,
            startDate: '26/07/2018',
            estDelDate: '28/07/2018'
          },
          {
            orderNo: 156897,
            status: 'Pending',
            statusColor: 'warning',
            operator: 'Britany Ryder',
            operatorImg: require('@assets/images/portrait/small/avatar-s-4.jpg'),
            usersLiked: [
              {
                name: 'Trina Lynes',
                img: require('@assets/images/portrait/small/avatar-s-1.jpg')
              },
              {
                name: 'Lilian Nenez',
                img: require('@assets/images/portrait/small/avatar-s-2.jpg')
              },
              {
                name: 'Alberto Glotzbach',
                img: require('@assets/images/portrait/small/avatar-s-3.jpg')
              }
            ],
            location: 'Cordova, Alaska',
            distance: '234 km',
            distPercent: 60,
            startDate: '26/07/2018',
            estDelDate: '28/07/2018'
          },
          {
            orderNo: 568975,
            status: 'Moving',
            statusColor: 'success',
            operator: 'Kishan Ashton',
            operatorImg: require('@assets/images/portrait/small/avatar-s-1.jpg'),
            usersLiked: [
              {
                name: 'Lai Lewandowski',
                img: require('@assets/images/portrait/small/avatar-s-6.jpg')
              },
              {
                name: 'Elicia Rieske',
                img: require('@assets/images/portrait/small/avatar-s-7.jpg')
              },
              {
                name: 'Darcey Nooner',
                img: require('@assets/images/portrait/small/avatar-s-8.jpg')
              },
              {
                name: 'Julee Rossignol',
                img: require('@assets/images/portrait/small/avatar-s-10.jpg')
              },
              {
                name: 'Jeffrey Gerondale',
                img: require('@assets/images/portrait/small/avatar-s-9.jpg')
              }
            ],
            location: 'Florence, Alabama',
            distance: '168 km',
            distPercent: 70,
            startDate: '26/07/2018',
            estDelDate: '28/07/2018'
          },
          {
            orderNo: 245689,
            status: 'Canceled',
            statusColor: 'danger',
            operator: 'Anabella Elliott',
            operatorImg: require('@assets/images/portrait/small/avatar-s-6.jpg'),
            usersLiked: [
              {
                name: 'Vennie Mostowy',
                img: require('@assets/images/portrait/small/avatar-s-5.jpg')
              },
              {
                name: 'Elicia Rieske',
                img: require('@assets/images/portrait/small/avatar-s-7.jpg')
              }
            ],
            location: 'Clifton, Arizona',
            distance: '125 km',
            distPercent: 95,
            startDate: '26/07/2018',
            estDelDate: '28/07/2018'
          }
        ]
      }
    },
    components: {
      VueApexCharts,
      StatisticsCardLine,
      ChangeTimeDurationDropdown,
      VxTimeline
    },
    created() {

    },
    computed: {
      // getDashboardDataVuex () {
      //   return this.$store.getters['dashboard/getDashboardDataVuex']
      // },
      // ...mapGetters(["getDashboardDataVuex"])
    },
    mounted() {
      // this.$store.dispatch['dashboard/getDashboardDataVuex']
      // console.log(this.getDashboardDataVuex)
      this.getDashboardData()
    },
    methods: {
      getDashboardData() {
        ApiService.get('/dashboard').then(response => {
          this.dashboard = response.data;
          this.dashboard.ticket.complete_ticket = this.dashboard.ticket.complete_ticket.toFixed(2);
        }).catch((error) => {

        })
      }
    }
  }
</script>

<style lang="scss">
  /*! rtl:begin:ignore */
  #dashboard-analytics {
    .greet-user {
      position: relative;

      .decore-left {
        position: absolute;
        left: 0;
        top: 0;
      }

      .decore-right {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    @media(max-width: 576px) {
      .decore-left, .decore-right {
        width: 140px;
      }
    }
  }

  /*! rtl:end:ignore */
</style>

