<template>
  <!-- <div class="vx-row">
    <div class="vx-col md:w-1/1 w-full mb-base">
      <vx-card title="Stroage API">
        <div class="vx-row">
          <div class="vx-col md:w-1/4 w-full mb-base">
            <ul class="payment-menu">
              <li
                :class="{ active: activeComponent == 'GoogleDrive' }"
                @click="showComponent('GoogleDrive')"
              >
                Google Drive
              </li>
              <li
                :class="{ active: activeComponent == 'DropBox' }"
                @click="showComponent('DropBox')"
              >
                Dropbox
              </li>
              <li
                :class="{ active: activeComponent == 'OneDrive' }"
                @click="showComponent('OneDrive')"
              >
                Onedrive
              </li>
              <li
                :class="{ active: activeComponent == 'S3Drive' }"
                @click="showComponent('S3Drive')"
              >
                S3 Drive
              </li>
            </ul>
          </div>
          <div class="vx-col md:w-3/4 w-full mb-base">
            <loading
              :active.sync="isLoading"
              :can-cancel="true"
              :is-full-page="false"
              :width="30"
              :height="30"
            >
            </loading>
            <div v-show="!isLoading">
              <GoogleDrivePicker
                v-if="activeComponent == 'GoogleDrive'"
                :storagesApiData="storagesApiData"
              ></GoogleDrivePicker>
              <DropboxPicker
                v-if="activeComponent == 'DropBox'"
                :storagesApiData="storagesApiData"
              ></DropboxPicker>
              <OneDrivePicker
                v-if="activeComponent == 'OneDrive'"
                :storagesApiData="storagesApiData"
              ></OneDrivePicker>
              <S3Drive
                v-if="activeComponent == 'S3Drive'"
                :storagesApiData="storagesApiData"
              ></S3Drive>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div> -->

  <vs-tabs
    :position="isSmallerScreen ? 'top' : 'left'"
    class="tabs-shadow-none"
    id="profile-tabs"
    :key="isSmallerScreen"
  >
    <!-- GENERAL -->
    <vs-tab
      icon-pack="fortawesome"
      icon="fab fa-google-drive"
      :label="!isSmallerScreen ? 'Google Drive' : ''"
    >
      <div class="tab-general md:ml-4 md:mt-0 mt-4 ml-0">
        <GoogleDrivePicker :storagesApiData="storagesApiData" />
      </div>
    </vs-tab>
    <vs-tab
      icon-pack="fortawesome"
      icon="fab fa-dropbox"
      :label="!isSmallerScreen ? 'Dropbox' : ''"
    >
      <div class="tab-change-pwd md:ml-4 md:mt-0 mt-4 ml-0">
        <DropboxPicker :storagesApiData="storagesApiData" />
      </div>
    </vs-tab>
    <vs-tab
      icon-pack="feather"
      icon="icon-box"
      :label="!isSmallerScreen ? 'Onedrive' : ''"
    >
      <div class="tab-info md:ml-4 md:mt-0 mt-4 ml-0">
        <OneDrivePicker :storagesApiData="storagesApiData" />
      </div>
    </vs-tab>
    <vs-tab
      icon-pack="feather"
      icon="icon-box"
      :label="!isSmallerScreen ? 'S3 Drive' : ''"
    >
      <div class="tab-info md:ml-4 md:mt-0 mt-4 ml-0">
        <S3Drive :storagesApiData="storagesApiData" />
      </div>
    </vs-tab>
  </vs-tabs>
</template>

<script>
import ApiService from "../../../services/api.service";
import GoogleDrivePicker from "./components/GoogleDrivePicker";
import DropboxPicker from "./components/DropboxPicker";
import OneDrivePicker from "./components/OneDrivePicker";
import S3Drive from "./components/S3Drive";

export default {
  name: "AddPaymentApi",
  components: {
    GoogleDrivePicker,
    DropboxPicker,
    OneDrivePicker,
    S3Drive
  },

  data() {
    return {
      activeComponent: "GoogleDrive",
      storagesApiData: {
        google_drive_developer_key: "",
        google_drive_client_id: "",
        google_drive_app_id: "",
        google_drive_scopes: "",
        dropbox_client_id: "",
        dropbox_client_secret: "",
        onedrive_client_id: "",
        onedrive_client_secret: "",
        s3_client_id: "",
        s3_client_secret: "",
        fatture_api_client_id: "",
        fatture_api_client_secret: "",
        has_google_drive: false,
        has_dropbox: false,
        has_one_drive: false,
        has_s3: false,
        has_fatture_api: false,
        updated_by: ""
      },
      isLoading: false
    };
  },
  computed: {
    isSmallerScreen() {
      return this.$store.state.windowWidth < 768;
    }
  },
  methods: {
    showComponent(value) {
      this.activeComponent = value;
    },
    getStorageApiData() {
      this.isLoading = true;
      ApiService.get("/storage/api")
        .then(response => {
          this.storagesApiData = response.data;
          this.isLoading = false;
          this.activeComponent = "GoogleDrive";
        })
        .catch(error => {
          this.isLoading = false;
          // this.$vs.dialog({
          //   color: "danger",
          //   title: `Something Went Wrong`,
          //   text: error.response.data.message
          // });
        });
    }
  },
  mounted() {
    this.getStorageApiData();
  }
};
</script>

<style scoped>
.payment-menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.payment-menu > li {
  font-size: 12px;
  font-weight: 600;
  margin: 15px 0px;
}

.payment-menu > li:hover {
  cursor: pointer;
}

.payment-menu > .active {
  color: blue;
}

.vx-card {
  min-height: 500px;
}
</style>
