<template>
  <vx-card no-shadow>
    <div class="vx-col w-full mb-base">
      <h6>S3 Credentials</h6>
      <br />
      <hr />
      <br /><br />
      <div class="vx-row">
        <div class="vx-col w-1/3">
          <form @submit.prevent="s3ApiIntegration">
            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Client ID <span class="text-danger">*</span></label>
                <vs-input
                  class="w-full"
                  v-model="storagesApiData.s3_client_id"
                  required
                />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Client Secret <span class="text-danger">*</span></label>
                <vs-input
                  class="w-full"
                  v-model="storagesApiData.s3_client_secret"
                  required
                />
              </div>
            </div>

            <div class="vx-row">
              <div class="vx-col w-full ml-auto">
                <vs-button class="mr-3 mb-2 w-full" button="submit"
                  >Save/Update</vs-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </vx-card>
</template>

<script>
import ApiService from "../../../../services/api.service";
export default {
  name: "S3Drive",
  props: {
    storagesApiData: {}
  },

  data() {
    return {};
  },
  methods: {
    s3ApiIntegration() {
      this.storagesApiData.has_google_drive = false;
      this.storagesApiData.has_dropbox = false;
      this.storagesApiData.has_one_drive = false;
      this.storagesApiData.has_s3 = true;
      this.storagesApiData.has_fatture_api = false;
      ApiService.post("/storage/api", this.storagesApiData)
        .then(response => {
          this.$toastr(
            "success",
            "Successfully S3 Credentials updated.",
            "S3 Credentials."
          );
        })
        .catch(error => {
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        });
    }
  }
};
</script>
