<template>
  <vx-card no-shadow>
    <div class="vx-col w-full mb-base">
      <h6>Fatture Cloud Api Credentials</h6>
      <br />
      <hr />
      <br /><br />
      <div class="vx-row">
        <div class="vx-col w-1/3">
          <form @submit.prevent="FattureApiIntegration">
            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Client ID <span class="text-danger">*</span></label>
                <vs-input
                  class="w-full"
                  v-model="storagesApiData.fatture_api_client_id"
                  required
                />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Client Secret <span class="text-danger">*</span></label>
                <vs-input
                  class="w-full"
                  v-model="storagesApiData.fatture_api_client_secret"
                  required
                />
              </div>
            </div>

            <div class="vx-row">
              <div class="vx-col w-full ml-auto">
                <vs-button class="mr-3 mb-2 w-full" button="submit"
                  >Save/Update</vs-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </vx-card>
</template>

<script>
import ApiService from "../../../../services/api.service";
export default {
  name: "FattureCloudAPI",

  data() {
    return {
      storagesApiData: {}
    };
  },
  methods: {
    FattureApiIntegration() {
      // this.storagesApiData.has_google_drive = false;
      // this.storagesApiData.has_dropbox = false;
      // this.storagesApiData.has_one_drive = false;
      // this.storagesApiData.has_s3 = true;
      // this.storagesApiData.has_fatture_api = false;
      // ApiService.post('/storage/api', this.storagesApiData).then(response => {
      //     this.$toastr('success', 'Successfully Fatture Cloud Api Credentials updated.', 'Fatture Cloud Api Credentials.');
      //   }).catch(error => {
      //   this.$vs.dialog({
      //     color: 'danger',
      //     title: `Something Went Wrong`,
      //     text: error.response.data.message
      //   })
      // })
    }
  }
};
</script>
