<template>
  <vx-card no-shadow>
    <div class="vx-col w-full mb-base">
      <h6>Paypal Integration</h6>
      <br />
      <hr />
      <br /><br />
      <div class="vx-row">
        <div class="vx-col w-1/3">
          <form @submit.prevent="paypalApiIntegration">
            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Environment <span class="text-danger">*</span></label>
                <vs-input
                  class="w-full"
                  v-model="paymentsApiData.paypal_environment"
                  required
                />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label
                  >Paypal Customer ID <span class="text-danger">*</span></label
                >
                <vs-input
                  class="w-full"
                  v-model="paymentsApiData.paypal_customer_id"
                  required
                />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label
                  >Paypal Customer Secret
                  <span class="text-danger">*</span></label
                >
                <vs-input
                  class="w-full"
                  v-model="paymentsApiData.paypal_customer_secret"
                  required
                />
              </div>
            </div>

            <div class="vx-row">
              <div class="vx-col w-full ml-auto">
                <vs-button class="mr-3 mb-2 w-full" button="submit"
                  >Save/Update</vs-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </vx-card>
</template>

<script>
import ApiService from "../../../../services/api.service";
export default {
  name: "PaypalIntegration",
  props: {
    paymentsApiData: {}
  },

  data() {
    return {};
  },

  methods: {
    paypalApiIntegration() {
      this.paymentsApiData.has_paypal = true;
      this.paymentsApiData.has_stripe = false;
      ApiService.post("/payment/api", this.paymentsApiData)
        .then(response => {
          this.$toastr(
            "success",
            "Successfully Paypal API updated.",
            "Paypal API Integrated."
          );
        })
        .catch(error => {
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        });
    }
  },

  mounted() {}
};
</script>
