<template>
  <vx-card no-shadow>
    <div class="vx-col w-full mb-base">
      <h6>Stripe Integration</h6>
      <br />
      <hr />
      <br /><br />
      <div class="vx-row">
        <div class="vx-col w-1/3">
          <form @submit.prevent="stripeApiIntegration">
            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Environment <span class="text-danger">*</span></label>
                <vs-input
                  class="w-full"
                  v-model="paymentsApiData.stripe_environment"
                  required
                />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Publisher key <span class="text-danger">*</span></label>
                <vs-input
                  class="w-full"
                  v-model="paymentsApiData.stripe_publisher_key"
                  required
                />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label>Secret key <span class="text-danger">*</span></label>
                <vs-input
                  class="w-full"
                  v-model="paymentsApiData.stripe_secret_key"
                  required
                />
              </div>
            </div>

            <div class="vx-row mb-6">
              <div class="vx-col w-full">
                <label
                  >Webhook Signing Secret Key
                  <span class="text-danger">*</span></label
                >
                <vs-input
                  class="w-full"
                  v-model="paymentsApiData.stripe_webhook_signing_secret_key"
                  required
                />
              </div>
            </div>

            <div class="vx-row">
              <div class="vx-col w-full ml-auto">
                <vs-button class="mr-3 mb-2 w-full" button="submit"
                  >Save/Update</vs-button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </vx-card>
</template>

<script>
import ApiService from "../../../../services/api.service";
export default {
  name: "StripeIntegration",
  props: {
    paymentsApiData: {}
  },

  data() {
    return {};
  },

  methods: {
    stripeApiIntegration() {
      this.paymentsApiData.has_paypal = false;
      this.paymentsApiData.has_stripe = true;
      ApiService.post("/payment/api", this.paymentsApiData)
        .then(response => {
          this.$toastr(
            "success",
            "Successfully Stripe API updated.",
            "Stripe API Integrated."
          );
        })
        .catch(error => {
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        });
    }
  },

  mounted() {}
};
</script>
