<template>
  <!-- <div class="vx-row">
    <div class="vx-col md:w-1/1 w-full mb-base">
      <vx-card title="Payment API">
        <div class="vx-row">
          <div class="vx-col md:w-1/4 w-full mb-base">
            <ul class="payment-menu">
              <li
                :class="{ active: activeComponent == 'paypal' }"
                @click="showComponent('paypal')"
              >
                Paypal Integration
              </li>
              <li
                :class="{ active: activeComponent == 'stripe' }"
                @click="showComponent('stripe')"
              >
                Stripe Integration
              </li>
              <li
                :class="{ active: activeComponent == 'futture' }"
                @click="showComponent('futture')"
              >
                Fatture Cloud Api
              </li>
            </ul>
          </div>
          <div class="vx-col md:w-3/4 w-full mb-base">
            <loading
              :active.sync="isLoading"
              :can-cancel="true"
              :is-full-page="false"
              :width="30"
              :height="30"
            >
            </loading>
            <div v-show="!isLoading">
              <PaypalIntegration
                v-if="activeComponent == 'paypal'"
                :paymentsApiData="paymentsApiData"
              ></PaypalIntegration>
              <StripeIntegration
                v-if="activeComponent == 'stripe'"
                :paymentsApiData="paymentsApiData"
              ></StripeIntegration>
              <FattureCloudApi
                v-if="activeComponent == 'futture'"
              ></FattureCloudApi>
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div> -->

  <vs-tabs
    :position="isSmallerScreen ? 'top' : 'left'"
    class="tabs-shadow-none"
    id="profile-tabs"
    :key="isSmallerScreen"
  >
    <!-- GENERAL -->
    <vs-tab
      icon-pack="fortawesome"
      icon="fab fa-paypal"
      :label="!isSmallerScreen ? 'Paypal Integration' : ''"
    >
      <div class="tab-general md:ml-4 md:mt-0 mt-4 ml-0">
        <paypal-integration :paymentsApiData="paymentsApiData" />
      </div>
    </vs-tab>
    <vs-tab
      icon-pack="fortawesome"
      icon="fab fa-stripe-s"
      :label="!isSmallerScreen ? 'Stripe Integration' : ''"
    >
      <div class="tab-change-pwd md:ml-4 md:mt-0 mt-4 ml-0">
        <stripe-integration :paymentsApiData="paymentsApiData" />
      </div>
    </vs-tab>
    <vs-tab
      icon-pack="feather"
      icon="icon-hash"
      :label="!isSmallerScreen ? 'Fatture Cloud Api' : ''"
    >
      <div class="tab-info md:ml-4 md:mt-0 mt-4 ml-0">
        <fatture-cloud-api />
      </div>
    </vs-tab>
  </vs-tabs>
</template>

<script>
import ApiService from "../../../services/api.service";
import PaypalIntegration from "./components/PaypalIntegration";
import StripeIntegration from "./components/StripeIntegration";
import FattureCloudApi from "./components/FattureCloudApi";
export default {
  name: "AddPaymentApi",
  components: {
    PaypalIntegration,
    StripeIntegration,
    FattureCloudApi
  },

  data() {
    return {
      activeComponent: "paypal",
      paymentsApiData: {
        paypal_environment: "",
        paypal_customer_id: "",
        paypal_customer_secret: "",
        stripe_environment: "",
        stripe_publisher_key: "",
        stripe_secret_key: "",
        stripe_webhook_signing_secret_key: "",
        has_paypal: false,
        has_stripe: false
      },
      isLoading: false
    };
  },

  computed: {
    isSmallerScreen() {
      return this.$store.state.windowWidth < 768;
    }
  },

  methods: {
    showComponent(value) {
      this.activeComponent = value;
    },

    getPaymentApiData() {
      this.isLoading = true;
      ApiService.get("/payment/api")
        .then(response => {
          this.paymentsApiData = response.data;
          this.isLoading = false;
        })
        .catch(error => {
          this.isLoading = false;
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        });
    }
  },

  mounted() {
    this.getPaymentApiData();
  }
};
</script>

<style scoped lang="scss">
.payment-menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.payment-menu > li {
  font-size: 12px;
  font-weight: 600;
  margin: 15px 0px;
}

.payment-menu > li:hover {
  cursor: pointer;
}

.payment-menu > .active {
  color: blue;
}

.vx-card {
  min-height: 500px;
}
#profile-tabs {
  .vs-tabs--content {
    padding: 0;
  }
}
</style>
