<template>
    <div class="vx-row justify-center">
        <div class="vx-col w-full lg:w-1/2 mb-base">
            <div class="centerx">
              <vs-card class="p-5">
                <div class="vx-row">
                  <div class="vx-col w-full mb-3">
                    <h4>Add Company</h4>
                  </div>
                  <div class="vx-col w-full">
                    <form @submit.prevent="addCompany">
                      <div class="vx-row mb-6">
                        <div class="vx-col w-1/2">
                          <vs-select
                            class="w-full"
                            placeholder="Search and select"
                            autocomplete
                            label="Owner Title"
                            :danger="$v.company.owner_title.$error ? true : false"
                            :danger-text="$v.company.owner_title.$error ? 'Title is required' : ''"
                            v-model.trim="$v.company.owner_title.$model"
                          >
                            <vs-select-item
                              :key="index"
                              :value="title.value"
                              :text="title.value"
                              v-for="(title, index) in titles"
                            />
                          </vs-select>
                        </div>

                        <div class="vx-col w-1/2">
                          <vs-input
                            class="w-full"
                            label="Owner First Name"
                            icon-pack="feather"
                            icon="icon-user"
                            val-icon-danger="clear"
                            :danger="$v.company.owner_first_name.$error ? true : false"
                            :danger-text="$v.company.owner_first_name.$error ? 'Owner first name is required.' : ''"
                            v-model.trim="$v.company.owner_first_name.$model"
                          />
                        </div>
                      </div>
                        <div class="vx-row mb-6">
                        <div class="vx-col w-1/2">
                          <vs-input
                            class="w-full"
                            label="Owner Last Name"
                            icon-pack="feather"
                            icon="icon-user"
                            val-icon-danger="clear"
                            :danger="$v.company.owner_last_name.$error ? true : false"
                            :danger-text="$v.company.owner_last_name.$error ? 'Owner last name is required' : ''"
                            v-model.trim="$v.company.owner_last_name.$model"
                          />
                        </div>

                          <div class="vx-col w-1/2">
                              <vs-input
                                  class="w-full"
                                  label="Owner Phone"
                                  icon-pack="feather"
                                  icon="icon-smartphone"
                                  val-icon-danger="clear"
                                  :danger="$v.company.owner_phone.$error ? true : false"
                                  :danger-text="$v.company.owner_phone.$error ? 'Phone number at least 10 alphabets' : ''"
                                  v-model.trim="$v.company.owner_phone.$model"
                              />
                          </div>
                      </div>

                      <div class="vx-row mb-6">
                          <div class="vx-col w-1/2">
                              <vs-input
                                  class="w-full"
                                  type="email"
                                  label="Owner Email"
                                  icon-pack="feather"
                                  icon="icon-mail"
                                  val-icon-danger="clear"
                                  :danger="$v.company.owner_email.$error ? true : false"
                                  :danger-text="$v.company.owner_email.$error ? 'Please insert a valid email address.' : ''"
                                  v-model.trim="$v.company.owner_email.$model"
                              />
                          </div>

                        <div class="vx-col w-1/2">
                              <vs-input
                                  class="w-full"
                                  type="password"
                                  label="Owner Password"
                                  icon-pack="feather"
                                  icon="icon-lock"
                                  val-icon-danger="clear"
                                  v-model="company.owner_password"
                                  :danger="$v.company.owner_password.$error ? true : false"
                                  :danger-text="$v.company.owner_password.$error ? 'Password at least 8 alphabets' : ''"
                                  v-model.trim="$v.company.owner_password.$model"
                              />
                          </div>
                      </div>

                      <div class="vx-row mb-6">
                          <div class="vx-col w-1/2">
                              <vs-input
                                  class="w-full"
                                  label="Company Name"
                                  icon-pack="feather"
                                  icon="icon-user"
                                  val-icon-danger="clear"
                                  :danger="$v.company.name.$error ? true : false"
                                  :danger-text="$v.company.name.$error ? 'Company Name at least 4 alphabets' : ''"
                                  v-model.trim="$v.company.name.$model"
                              />
                          </div>

                          <div class="vx-col w-1/2">
                              <vs-input
                                  class="w-full"
                                  type="phone"
                                  label="Company Phone"
                                  icon-pack="feather"
                                  icon="icon-smartphone"
                                  val-icon-danger="clear"
                                  :danger="$v.company.phone.$error ? true : false"
                                  :danger-text="$v.company.phone.$error ? 'Phone number at least 10 alphabets' : ''"
                                  v-model.trim="$v.company.phone.$model"
                              />
                          </div>
                      </div>

                      <div class="vx-row mb-6">
                        <div class="vx-col w-1/2">
                          <vs-input
                            class="w-full"
                            type="email"
                            label="Company Email"
                            icon-pack="feather"
                            icon="icon-mail"
                            val-icon-danger="clear"
                            :danger="$v.company.email.$error ? true : false"
                            :danger-text="$v.company.email.$error ? 'Please insert a valid email address.' : ''"
                            v-model.trim="$v.company.email.$model"
                          />
                          <vs-select
                            class="w-full mt-6"
                            placeholder="Search and select"
                            autocomplete
                            label="Plan"
                            :danger="$v.company.company_plan_id.$error ? true : false"
                            :danger-text="$v.company.company_plan_id.$error ? 'Company plan is required' : ''"
                            v-model.trim="$v.company.company_plan_id.$model"
                          >
                            <vs-select-item
                              :key="index"
                              :value="plan.id"
                              :text="plan.name"
                              v-for="(plan, index) in plans"
                            />
                          </vs-select>
                          <vs-select
                            class="w-full mt-6"
                            placeholder="Search and select"
                            autocomplete
                            label="Time Zone"
                            :danger="$v.company.time_zone.$error ? true : false"
                            :danger-text="$v.company.time_zone.$error ? 'Timezone is required' : ''"
                            v-model.trim="$v.company.time_zone.$model"
                          >
                            <vs-select-item
                              :key="index"
                              :value="time_zone"
                              :text="time_zone"
                              v-for="(time_zone, index) in time_zones"
                            />
                          </vs-select>
                        </div>
                        <div class="vx-col sm:w-1/2 w-full">
                          <vs-select
                            class="w-full mb-6"
                            placeholder="Search and select"
                            autocomplete
                            label="Language"
                            :danger="$v.company.language.$error ? true : false"
                            :danger-text="$v.company.language.$error ? 'Timezone is required' : ''"
                            v-model.trim="$v.company.language.$model"
                          >
                            <vs-select-item
                              :key="index"
                              :value="index"
                              :text="language.name"
                              v-for="(language, index) in allLanguages"
                            />
                          </vs-select>
                          <label class="vs-input--label">Company Address</label>
                          <vs-textarea
                            style="height: 113px"
                            class="w-full mb-0 shadow-none"
                            type="text"
                            val-icon-danger="clear"
                            :class="$v.company.address.$error ? 'textarea-danger' : ''"
                            v-model.trim="$v.company.address.$model"
                          />
                          <small v-if="$v.company.address.$error" class="textarea-danger-text">Address is required.</small>
                        </div>
                      </div>

                      <div class="vx-row mb-6">
                        <div class="vx-col sm:w-1/2">
                          <vs-input
                            class="w-full"
                            type="text"
                            label="VAT"
                            icon-pack="feather"
                            icon="icon-credit-card"
                            val-icon-danger="clear"
                            :danger="$v.company.vat.$error ? true : false"
                            :danger-text="$v.company.vat.$error ? 'VAT field is required.' : ''"
                            v-model.trim="$v.company.vat.$model"
                          />
                        </div>
                        <div class="vx-col sm:w-1/2">
                          <vs-input
                            class="w-full"
                            type="text"
                            label="REA"
                            icon-pack="feather"
                            icon="icon-credit-card"
                            val-icon-danger="clear"
                            :danger="$v.company.rea.$error ? true : false"
                            :danger-text="$v.company.rea.$error ? 'REA field is required.' : ''"
                            v-model.trim="$v.company.rea.$model"
                          />
                        </div>
                      </div>

                      <div class="vx-row mb-6">
                        <div class="vs-col w-full">
                          <label class="vs-input--label pl-5">Company Logo</label>
                          <div class="vx-row" >
                            <div class="vx-col w-full md:w-1/4  relative my-auto">
                              <vs-button v-if="company.logo"
                               radius
                               color="danger"
                               @click="company.logo = ''"
                               class="absolute right-0 top-0"
                               size="small"
                               type="filled"
                               icon="close"
                              >
                              </vs-button>
                              <div>
                                <img v-if="company.logo && fileType(company.logo) === 'image' "  :src="company.logo" class="mt-3 w-full"/>
                                <img v-if="company.logo && fileType(company.logo) !== 'image' " :src="'/images/file-icons/'+fileType(company.logo)+'.png'" class="mt-3 w-full" style="height: 200px;"/>
                              </div>
                            </div>
                          </div>
                          <VueGallery v-model="company.logo" :type="'button'" class="w-full  cursor-pointer pl-3 pr-3"></VueGallery>
                        </div>
                      </div>

                      <div class="vx-row mt-4">
                        <div class="vx-col sm:w-2/3 w-full ml-auto text-right">
                          <vs-button class="mr-3 mb-2" button="submit"
                          >Submit</vs-button
                          >
                          <vs-button
                            color="warning"
                            type="border"
                            class="mb-2"
                            @click="resetAddCompanyForm"
                          >Reset</vs-button
                          >
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </vs-card>
            </div>
        </div>
    </div>
</template>

<script>
import ApiService from "../../../services/api.service";
import { timeZones } from "../../../timezones";
import { languages } from "../../../languages";
import VueGallery from "@/components/v-gallery/VueGallery";
import {required, minLength, email} from 'vuelidate/lib/validators'
import {PlusIcon} from "vue-feather-icons";

export default {
    name: "AddCompany",
    data() {
        return {
          plans      : [],
          time_zones  : timeZones,
          allLanguages : languages,
          company    : {
            owner_title      : "Mr.",
            owner_first_name : "",
            owner_last_name  : "",
            owner_phone      : "",
            owner_email      : "",
            owner_password   : "",
            name             : "",
            phone            : "",
            email            : "",
            vat            : "",
            rea            : "",
            logo             : "",
            address          : "",
            company_plan_id  : null,
            time_zone        : '',
            language         : 'en',
          },
          titles: [
            {value: 'Mr.'},
            {value: 'Mrs.'},
            {value: 'Miss'},
          ],
          addCompanyPopup: false
        };
    },
    validations: {
      company: {
        owner_title      : { required },
        owner_first_name : { required },
        owner_last_name  : { required },
        owner_phone      : { required, minLength: minLength(10) },
        owner_email      : { required, email },
        owner_password   : { required, minLength: minLength(8) },
        name             : { required, minLength: minLength(4) },
        vat             : { required },
        rea             : { required },
        phone            : { required, minLength: minLength(10) },
        email            : { required, email },
        address          : { required },
        company_plan_id  : { required },
        language         : { required },
        time_zone        : { required }
      }
    },
    methods: {
      addCompany() {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          ApiService.post("/company/api", this.company)
          .then(response => {
            this.$toastr(
              "success",
              "Successfully Company Created",
              "Company Created"
            );
            this.$emit("getCompaniesData");
            this.resetAddCompanyForm();
          })
          .catch(error => {
            this.$toastr(
              "danger",
              error.response.data.message,
              "Something Went Wrong"
            );
          })
          .finally(() => {
            this.$router.push('/company')
          });
        }
      },

      resetAddCompanyForm() {
        this.$v.$reset();
        this.company = {
          owner_title     : "Mr.",
          owner_first_name : "",
          owner_last_name : "",
          owner_phone    : "",
          owner_email    : "",
          owner_password : "",
          name           : "",
          phone          : "",
          email          : "",
          address        : "",
          vat            : "",
          rea            : "",
          logo           : "",
          company_plan_id: null,
          time_zone      : null,
          language       : null,
        };
      },

      getPlansData() {
        ApiService.get("/membership/plans")
        .then(response => {
            this.plans = response.data.data;
        })
        .catch(error => {
          this.$toastr(
            "danger",
            error.response.data.message,
            "Something Went Wrong"
          );
        });
      }
    },
  components: {
    VueGallery,
    PlusIcon
  },
    mounted() {
      this.getPlansData();
    },
};
</script>
