<template>
  <div class="vx-row">
    <!-- TITLE COLOR -->
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-2/3 xl:w-2/3 mb-base">
      <ComposeMailComponent @sendMailSuccess="sendMailSuccess"></ComposeMailComponent>
    </div>
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/3 mb-base">
      <vx-card title="COMMUNICATION HISTORY">
        <div class="vx-row justify-between">
          <div class="vx-col"></div>
          <div class="vx-col">
            <vs-select
              placeholder="Export File"
              class="w-full"
              label-placeholder="Status"
              autocomplete
              v-model="selectValue"
              :disabled="!communicationHistory.length"
              @change="exportPdfOrExcel(selectValue)"
            >

              <vs-select-item :value="'export-pdf'" :text="'Export Pdf'"  />
              <vs-select-item :value="'export-excel'" :text="'Export Excel'" />

            </vs-select>
          </div>
        </div>
        <vs-table stripe :data="communicationHistory" class="mt-3">
          <template slot="thead">
            <vs-th>Date</vs-th>
            <vs-th>Subject</vs-th>
            <vs-th>Body</vs-th>
          </template>

          <template>
            <vs-tr
              :key="index"
              v-for="(communication, index) in communicationHistory"
            >
              <vs-td>
                {{ communication.created_at | formatDate }}
              </vs-td>
              <vs-td>
                <span color="primary" class="text-primary cursor-pointer" @click="viewEmail(communication)">{{ communication.mail_subject }}</span>
              </vs-td>
              <vs-td>
                <span v-html="communication.mail_body"></span>
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>

        <vs-row class="justify-center mt-3">
          <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage" class="w-full text-center"></vs-pagination>
        </vs-row>
      </vx-card>

      <!-- view email -->
      <vs-prompt  class="mail-view" :buttons-hidden="true" title="View Mail" :active.sync="activePopupViewMail">
        <ViewCompanyCommunication ref="view-email" :mailData="mailDetails"></ViewCompanyCommunication>
      </vs-prompt>
    </div>
  </div>
</template>

<script>
import ComposeMailComponent from "../../mail/components/ComposeMailComponent";
import ViewCompanyCommunication from "../../mail/components/ViewCommunicationMail";
import ApiService from '@/services/api.service';
export default {
  name: 'CompanyCommunicationComponent',
  components: {
    ComposeMailComponent,
    ViewCompanyCommunication
  },
  data() {
    return {
      communicationHistory: [],
      selectValue: '',
      mailDetails: {},
      totalPages      : 1,
      currentPage     : 1,
      activePopupViewMail: false
    }
  },

  methods: {
    sendMailSuccess() {
      this.getCommunicationHistory();
    },

    getCommunicationHistory(page=0) {
      let get = page == 0 ? '?':'?page='+page;
      ApiService.get(`/mail/superadmin-company-communication-list/${parseInt(this.$route.params.companyId)}${get}`).then(response => {
        this.communicationHistory = response.data.data;
        this.totalPages  = response.data.last_page;
        this.currentPage = response.data.current_page;
      }).catch(error => {
        this.$toastr('error', error.response.data.message, 'Something Wrong')
      })
    },

    exportPdfOrExcel(value) {
      this.isLoading = true;
      ApiService.get(`/mail/superadmin-company-communication-list/${value}/${parseInt(this.$route.params.companyId)}`)
        .then(response => {
          this.isLoading = false;
          window.open(response.data);
        })
        .catch(error => {
          this.isLoading = false;
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        })
    },

    viewEmail(mail) {
      this.mailDetails = mail;
      this.activePopupViewMail = true;
    }
  },

  watch: {
    currentPage: function(val, oldVal){
      this.getCommunicationHistory(val)
    }
  },

  mounted() {
    this.getCommunicationHistory();
  }
}
</script>

