<template>
  <vx-card class="p-5" v-if="companyName">
    <div class="vx-row">
      <div class="vx-col w-full mb-3">
        <h4>User Login History of {{companyName? companyName : ''}}</h4>
      </div>
      <div class="vx-col w-full">
        <vs-table :data="loginHistory">
          <template slot="thead">
            <vs-th>User Name</vs-th>
            <vs-th>Phone</vs-th>
            <vs-th>Role</vs-th>
            <vs-th>Device Name</vs-th>
            <vs-th>Login Time</vs-th>
          </template>

          <template slot-scope="{data}">
            <vs-tr :key="indextr" v-for="(tr, indextr) in data">
              <vs-td :data="data[indextr].user_name">{{ data[indextr].user_name }}</vs-td>

              <vs-td :data="data[indextr].phone_no">{{ data[indextr].phone_no }}</vs-td>

              <vs-td :data="data[indextr].role">{{ data[indextr].role }}</vs-td>
              <vs-td :data="data[indextr].device_name">{{ data[indextr].device_name }}</vs-td>
              <vs-td :data="data[indextr].login_time">{{ data[indextr].login_time | diffForHumans }}</vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </div>
    </div>
  </vx-card>
  <vx-card class="p-5 py-12 no-shadow" v-else="" >
    <div class="vx-row">
      <div class="vx-col w-full">
        <h2 style="color: #9a9a9a" class="text-center">This user hasn't login yet</h2>
      </div>
    </div>
  </vx-card>
</template>

<script>
import ApiService from "@/services/api.service";
import _ from "lodash";
export default {
  name: "CompanyUserLog",
  props: {},
  data() {
    return {
      loginHistory: [],
      companyName: '',
      company_id: parseInt(this.$route.params.companyId),
    };
  },
  mounted() {
    this.getCompanyUserLogById();
  },
  methods: {
    getCompanyUserLogByIdLazy() {
      this.getCompanyUserLogById();
    },
    getCompanyUserLogById() {
      this.isLoading = true;

      // let get      = page > 0 ? '?page='+page+'&':'?';
      // let count    = 0;
      // let length   = Object.keys(this.search).length;
      //
      // for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');

      ApiService.get(`/company/user-log/${this.company_id}`)
        .then(response => {
          this.companyName = response.data.length ? response.data[0].company_name : '';
          this.loginHistory = response.data;
          //console.log(response.data)

          this.isLoading    = false;

        })
        .catch(error => {
          this.isLoading = false;
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        }).finally(() => {
          this.isLoading = false;
      });
    },
  },
  created() {
    this.getCompanyUserLogByIdLazy = _.debounce(this.getCompanyUserLogById, 500)
  },
  watch: {},
  components: {},
};
</script>
