<template>
<div>
    <vs-card>
        <CompanyTabs></CompanyTabs>
    </vs-card>
</div>
</template>

<script>
import CompanyTabs from "./CompanyTabs";
export default {
    name: "CompanyParent",
    props: {},
    data() {
        return {};
    },
    methods: {},
    watch: {},
    components: {
      CompanyTabs
    }
};
</script>
