<template>
  <div>
    <vs-tabs grow v-model="selectedTab">
      <vs-tab @click="changeUrl('Details')" label="Details" icon-pack="fontawesome" icon="fa fa-list">
        <ViewCompany></ViewCompany>
      </vs-tab>
      <vs-tab @click="changeUrl('Communication')" label="Communication" icon-pack="feather" icon="icon-info">
        <CompanyCommunication></CompanyCommunication>
      </vs-tab>
      <!--<vs-tab @click="changeUrl()" label="Project" icon-pack="fontawesome" icon="fas fa-project-diagram">
        <Project></Project>
      </vs-tab>-->
      <vs-tab @click="changeUrl('ContactPersons')" label="Contact Persons" icon-pack="feather" icon="icon-user">
        <ViewCompanyUsers></ViewCompanyUsers>
      </vs-tab>
      <vs-tab @click="changeUrl('Participants')" label="Participants" icon-pack="feather" icon="icon-user">
        <ViewCompanyParticipants></ViewCompanyParticipants>
      </vs-tab>
      <vs-tab @click="changeUrl('UserLog')" label="User Log" icon-pack="fontawesome" icon="far fa-key">
        <CompanyUserLog ref="user_log"></CompanyUserLog>
      </vs-tab>
      <vs-tab
        @click="changeUrl('FileManager')"
        label="File Manager"
        icon-pack="fontawesome"
        icon="far fa-folder"
      >
        <FileManager></FileManager>
      </vs-tab>
    </vs-tabs>
  </div>
</template>
<script>
import ViewCompany from "./ViewCompany";
import CompanyUserLog from "./CompanyUserLogDetails";
import CompanyCommunication from "./CompanyCommunicationComponent";
import ViewCompanyUsers from "./ViewCompanyUsers";
import ViewCompanyParticipants from "./ViewCompanyParticipants";
import FileManager from "../../media/components/Media";
import Project from "../../project/components/Overview";
export default {
  name: "CompanyTabs",
  data() {
    return {
      selectedTab: this.getHash(),
      company_id: parseInt(this.$route.params.companyId),
    };
  },
  mounted() {

  },
  methods: {
    changeUrl(hash) {
      this.$router.push(`/company/${this.company_id}#${hash}`).catch(() => {});
    },
    getHash() {
    let allTabs = [
      'Details',
      'Communication',
      'ContactPersons',
      'Participants',
      'UserLog',
      'FileManager'
    ];
    let fullUrl = window.location.href;
    let tabName = _.last(_.split(fullUrl, '#'));
    return _.indexOf(allTabs, tabName);
  },
    // fireUserLogMethod(){
    //   this.changeUrl();
    //   setTimeout(() =>{
    //     console.log(this.$refs.user_log)
    //   }, 3000)
    //
    // }
  },
  components: {
    ViewCompany, ViewCompanyUsers, ViewCompanyParticipants, CompanyCommunication, CompanyUserLog, FileManager, Project
  }
};
</script>
