<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <loading
        :active.sync="isLoading"
        :can-cancel="true"
        :is-full-page="false"
        :width="30"
        :height="30"
      ></loading>

      <vx-card title="">

        <div class="vx-row justify-between">
          <div class="vx-col">
            <h4>Admin & HR List</h4>
          </div>
          <div class="vx-col flex text-right">
            <div class="vx-col text-right">
              <div class="vx-col w-3/10">
                <vs-button type="border" color="#555" @click="companyPopup = true">Add User</vs-button>
              </div>
              <div class="vx-col w-2/10">

              </div>
            </div>

            <!--<vs-button
              @click="companyPopup = true; checkComponent = 'addUser'; thisTitle = 'Add User'"
              title="Add User"
              color="dark"
              type="border"
              class="px-2 py-1 ml-2"
            >
              <UserPlusIcon
                size="1.5x"
                class="custom-class"
              ></UserPlusIcon>
            </vs-button>-->

          </div>
        </div>

        <div class="vx-row mt-3">
          <div class="vx-col w-full">
            <vs-table stripe :data="companyusers">
              <template slot="thead">
                <vs-th>Name</vs-th>
                <vs-th>Phone</vs-th>
                <vs-th>Email</vs-th>
                <!-- <vs-th>Address</vs-th> -->
                <vs-th>Role</vs-th>
                <vs-th>Receive Communication</vs-th>
                <vs-th>Action</vs-th>
              </template>

              <template>
                <vs-tr
                  :key="index"
                  v-for="(companyUser, index) in companyusers"
                >
                  <vs-td :data="companyUser.name"
                  >
                    <router-link :to="`/company-users/${companyUser.user.id}`">{{ companyUser.user.first_name }} {{ companyUser.user.last_name }}
                    </router-link>
                  </vs-td>
                  <vs-td :data="companyUser.phone"
                  >{{ companyUser.user.phone }}
                  </vs-td>
                  <vs-td :data="companyUser.email"
                  >{{ companyUser.user.email }}
                  </vs-td>
                  <!-- <vs-td :data="companyUser.address"
                  >{{ companyUser.user.address }}
                  </vs-td> -->
                  <vs-td :data="companyUser.role"
                  >{{ companyUser.user.role | uc_Words }}
                  </vs-td>

                  <vs-td :data="companyUser.role">
                    <vs-radio color="success" v-model="receive_communication" :vs-value="companyUser.user.id" @change="changeReceiveCommunication"></vs-radio>
                  </vs-td>

                  <vs-td>
                    <div class="flex">
                      <!--ViewCompanyUser :companyUser_id="companyUser.id"></ViewCompanyUser>
                      <EditCompanyUser  :companyUser_id="companyUser.id" @getCompanyUsers="getCompanyUsersData" ></EditCompanyUser-->
                      <div>
                        <span
                          @click="deleteCompanyUserPopup = true; companyUserId = companyUser.user.id"
                          class="cursor-pointer"
                        >
                          <trash-2-icon size="1.5x" class="custom-class text-dark"></trash-2-icon>
                        </span>
                        <router-link
                          title="Login As "
                          class="cursor-pointer text-dark"
                          :to="`/login-as/user/${companyUser.user_id}`"
                          target="_blank"
                        >
                          <UnlockIcon></UnlockIcon>
                        </router-link>
                      </div>
                    </div>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
            <vs-row class="justify-center mt-3">
              <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage"
                             class="w-full text-center"></vs-pagination>
            </vs-row>
          </div>
        </div>
      </vx-card>

      <vs-popup
        classContent="popup-example"
        title="Add User"
        :active.sync="companyPopup"
      >
        <AddCompanyUser @getCompanyUsersData="getCompanyUsersData"></AddCompanyUser>
      </vs-popup>

      <!-- Delete Companyuser popup-->
      <vs-popup title="Are you sure?" :active.sync="deleteCompanyUserPopup">
        <p class="my-5">
          This Company user will be delete permanently.
        </p>
        <vs-row class="mt-3 text-right">
          <vs-button @click="deleteCompanyUser" color="danger" type="filled" class="mr-2">Confirm</vs-button>
          <vs-button @click="deleteCompanyUserPopup=false" color="warning" type="border" class="mr-2">Cancel</vs-button>
        </vs-row>
      </vs-popup>
    </div>
  </div>
</template>

<script>
  import ViewCompanyUser from "../../user-management/components/HR/View";
  import EditCompanyUser from "../../user-management/components/HR/Edit";
  import AddCompanyUser from "../../user-management/components/HR/Create";
  import {
    RefreshCwIcon,
    PlusIcon,
    FilePlusIcon,
    FileTextIcon,
    UserPlusIcon,
    Trash2Icon,
    EditIcon,
    UnlockIcon
  } from "vue-feather-icons";
  import ApiService from "@/services/api.service";

  export default {
    name: "ViewCompanyUser",

    components: {
      RefreshCwIcon, PlusIcon, FilePlusIcon, FileTextIcon, UserPlusIcon, Trash2Icon, EditIcon, UnlockIcon,
      AddCompanyUser, ViewCompanyUser, EditCompanyUser
    },

    data() {
      return {
        companyusers: [],
        companyPopup: false,
        deleteCompanyUserPopup: false,
        isLoading: false,
        checkComponent: '',
        thisTitle: '',
        plans: [],
        companyUserId: 0,
        company_id: this.$route.params.companyId,
        selectValue: '',

        totalPages: 1,
        currentPage: 1,
        search: {},
        receive_communication: Number
      };
    },

    methods: {
      getCompanyUsersDataLazy() {
        this.getCompanyUsersData();
      },

      getCompanyUsersData(page = 0) {
        this.isLoading = true;

        let get = page > 0 ? '?page=' + page + '&' : '?';
        let count = 0;
        let length = Object.keys(this.search).length;

        for (let i in this.search) get += i + '=' + this.search[i] + (++count < length ? '&' : '');

        ApiService.get(`/company/hr${get}`).then(response => {
          console.log(response.data.data, 'fsdfa');
          this.companyusers = response.data.data;
          this.totalPages = response.data.last_page;
          this.currentPage = response.data.current_page;

          this.isLoading = false;
          this.companyPopup = false;

          this.companyusers.filter(ele => {
            if(ele.receive_communication === 1) {
              this.receive_communication = ele.user.id;
            }
          });

        }).catch(error => {
          this.isLoading = false;
          this.$toastr('error', error.response.data.message, 'Error');
        }).finally(() => {
          this.isLoading = false;
        });
      },

      deleteCompanyUser() {
        ApiService.delete(`/company/hr/${this.companyUserId}`).then(response => {
          this.getCompanyUsersData();
          this.$toastr('success', 'User Deleted', 'Success!');
          this.deleteCompanyUserPopup = false;
        }).catch(error => {
          this.deleteCompanyUserPopup = false;
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        }).finally(() => {
          this.companyPopup = false;
        })
      },

      exportPdfOrExcel(value) {
        this.isLoading = true;
        let get = '?';
        let count = 0;
        let length = Object.keys(this.search).length;
        for (let i in this.search) get += i + '=' + this.search[i] + (++count < length ? '&' : '');
        ApiService.get(`/company/user/${value}${get}`)
          .then(response => {
            this.isLoading = false;
            window.open(response.data);
          })
          .catch(error => {
            this.isLoading = false;
            this.$vs.dialog({
              color: "danger",
              title: `Something Went Wrong`,
              text: error.response.data.message
            });
          }).finally(() => {
          this.selectValue = null;
        });
      },

      changeReceiveCommunication() {
        this.isLoading = true;
        ApiService.get(`/company/hr/change-receive-communication/${this.receive_communication}`).then(response => {
          this.getCompanyUsersData();
          this.isLoading = false;
        }).catch(error => {
          this.isLoading = false;
          this.$toastr("error", error.response.data.message, "Something Went Wrong.");
        }).finally(() => {
          this.isLoading = false;
        });
      }
    },

    watch: {
      currentPage: function (val, oldVal) {
        this.getCompanyUsersData(val)
      }
    },

    mounted() {
      this.isLoading = true;
      this.getCompanyUsersData();
    },

    created() {
      this.getCompanyUsersDataLazy = _.debounce(this.getCompanyUsersData, 500)
    },
  };
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
