<template>
<div class="relative">

  <loading :active.sync="isLoading"
           :can-cancel="true"
           :is-full-page="false"
           :width="30"
           :height="30">
  </loading>
  <vs-row class="px-2 mb-3 mt-1 block text-right">
      <a @click.prevent="changePage(`/company/${company_id}/edit`, 'EditCompanyDetails')" class="text-black cursor-pointer" title="Edit" v-if="routeName == 'CompanyDetails'">
        <EditIcon size="1.5x" class="custom-class"></EditIcon>
      </a>
      <a @click.prevent="changePage(`/company/${company_id}`, 'CompanyDetails')" class="text-black text-left cursor-pointer" title="Back" v-if="routeName == 'EditCompanyDetails'">
        <ArrowLeftIcon size="1.5x" class="custom-class"></ArrowLeftIcon >
      </a>
<!--          <span @click="saveCompany()">Save</span>-->
  </vs-row>
  <vs-row v-if="routeName == 'CompanyDetails'">
    <div class="vs-col w-full lg:w-1/2 px-2 text-center">
      <img width="300" height="" class="rounded" :src="company.logo" :alt="company.name">
    </div>
    <div class="vs-col w-full lg:w-1/2 px-2">
      <vs-card>
        <div slot="header">
          <h3>
            Company Info
          </h3>
        </div>

        <vs-table stripe :data="[company]">
          <template>
            <vs-tr>
              <vs-td>
                Name
              </vs-td>
              <vs-td class="text-right" :data="company.name">
                {{ company.name}}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Phone
              </vs-td>
              <vs-td class="text-right" :data="company.phone">
                {{ company.phone}}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Email
              </vs-td>
              <vs-td class="text-right" :data="company.email">
                {{ company.email}}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Address
              </vs-td>
              <vs-td class="text-right" :data="company.address">
                {{ company.address}}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                City
              </vs-td>
              <vs-td class="text-right" :data="company.city">
                {{ company.city}}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Country
              </vs-td>
              <vs-td class="text-right" :data="company.country">
                {{ company.country}}
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>

      </vs-card>
    </div>

    <div class="vs-col w-full lg:w-1/2 px-2">
      <vs-card>

        <div slot="header">
          <h3>
            Owner Info
          </h3>
        </div>

        <vs-table stripe :data="[company.company_user]">
          <template>
            <vs-tr>
              <vs-td>
                Name
              </vs-td>
              <vs-td class="text-right" :data="company.company_user">
                {{ company.company_user ? company.company_user.user_as_admin.title :'' }}
                {{ company.company_user ? company.company_user.user_as_admin.first_name :'' }}
                {{ company.company_user ? company.company_user.user_as_admin.last_name :'' }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Phone
              </vs-td>
              <vs-td class="text-right" :data="company.company_user">
                {{ company.company_user ? company.company_user.user_as_admin.phone:'' }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Email
              </vs-td>
              <vs-td class="text-right" :data="company.company_user">
                {{ company.company_user ? company.company_user.user_as_admin.email:'' }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Address
              </vs-td>
              <vs-td class="text-right" :data="company.company_user">
                {{ company.company_user ? company.company_user.user_as_admin.address:'' }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Language
              </vs-td>
              <vs-td class="text-right" :data="company.company_user">
                {{ company.company_user ? company.company_user.user_as_admin.language:'' }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Timezone
              </vs-td>
              <vs-td class="text-right" :data="company.company_user">
                {{ company.company_user ? company.company_user.user_as_admin.timezone:'' }}
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </vs-card>
    </div>
    <div class="vs-col w-full lg:w-1/2 px-2">
      <vs-card>

        <div slot="header">
          <h3>
            Plan Info
          </h3>
        </div>

        <vs-table stripe :data="[company.company_plan]">
          <template>
            <vs-tr>
              <vs-td>
                Name
              </vs-td>
              <vs-td class="text-right" :data="company.company_plan">
                {{ company.company_plan ? company.company_plan.plan.name:'' }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Price
              </vs-td>
              <vs-td class="text-right" :data="company.company_plan">
                {{ company.company_plan ? company.company_plan.plan.price + company.company_plan.plan.currency:'' }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Interval
              </vs-td>
              <vs-td class="text-right" :data="company.company_plan">
                {{ company.company_plan ? company.company_plan.plan.interval:'' }}
              </vs-td>
            </vs-tr>

            <vs-tr>
              <vs-td>
                Status
              </vs-td>
              <vs-td class="text-right" :data="company.company_plan">
                {{ company.company_plan ? (company.company_plan.plan.active ? 'Active':'Inactive'):'' }}
              </vs-td>
            </vs-tr>
          </template>
        </vs-table>
      </vs-card>
    </div>
  </vs-row>
  <vs-row v-if="routeName == 'EditCompanyDetails'">
    <EditCompany :company_id="company_id" :plans="plans"></EditCompany>
  </vs-row>

</div>
</template>

<script>
import ApiService from "@/services/api.service";
import EditCompany from "./EditCompany";
import {
  EditIcon, ArrowLeftIcon
} from "vue-feather-icons";
export default {
  name: "ViewCompany",
  components: {
    EditIcon, ArrowLeftIcon,
    EditCompany
  },
  props: {},
  data() {
    return {
      companyPopup: false,
      company     : {},
      plans       : [],
      isLoading   : true,
      company_id  : parseInt(this.$route.params.companyId),
      routeName   : this.$route.name
    };
  },
  mounted() {
    // this.company_id = this.$route.params.companyId;
    this.getCompany();
    this.getPlansData();
  },
  methods: {
    changePage(url, name) {
      this.getCompany();

      this.routeName = name;
      this.$router.push(url)
    },
    saveCompany() {
      this.$route.push(`/company/${company_id}`)
    },
    getCompany() {
      this.isLoading = true;

      ApiService.get(`company/api/${this.company_id}`)
      .then(response =>{
        this.company = response.data;

      }).catch(error =>{
        console.error(error);
      }).finally(()=>{
        this.isLoading = false;
      })
    },
    getPlansData() {
      ApiService.get("/membership/plans")
      .then(response => {
        this.plans = response.data.data;
      })
      .catch(error => {
        this.$vs.dialog({
          color: "danger",
          title: `Something Went Wrong`,
          text: error.response.data.message
        });
      });
    }
  },
  watch: {
    companyPopup(val, oldval) {
      if(!val) this.company = {};
    },
  }
};
</script>
