<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <loading
        :active.sync="isLoading"
        :can-cancel="true"
        :is-full-page="false"
        :width="30"
        :height="30"
      ></loading>

      <vx-card title="">

        <div class="vx-row justify-between">
          <div class="vx-col">
            <h4>Participant List</h4>
          </div>
          <div class="vx-col flex text-right">
            <div class="vx-col">
              <vs-select
                placeholder="Export File"
                class="w-full"
                label-placeholder="Status"
                autocomplete
                v-model="selectValue"
                @change="exportPdfOrExcel(selectValue)"
              >

                <vs-select-item :value="'export-pdf'" :text="'Export Pdf'"  />
                <vs-select-item :value="'export-excel'" :text="'Export Excel'" />

              </vs-select>
            </div>

            <!--<vs-button
              @click="companyPopup = true; checkComponent = 'addUser'; thisTitle = 'Add Participant'"
              title="Add User"
              color="dark"
              type="border"
              class="px-2 py-1 ml-2"
            >
              <UserPlusIcon
                size="1.5x"
                class="custom-class"
              ></UserPlusIcon>
            </vs-button>-->

          </div>
        </div>

        <form @submit.prevent="getCompanyUsersData" class="vx-row mb-3">

          <div class="vx-col w-1/5">
            <vs-input @keyup="getCompanyUsersDataLazy" type="text" class="w-full" v-model="search.name" placeholder="name" label="Name" />
          </div>

          <div class="vx-col w-1/5">
            <vs-input @keyup="getCompanyUsersDataLazy" type="text" class="w-full" v-model="search.phone" placeholder="phone" label="Phone" />
          </div>

          <div class="vx-col w-1/5">
            <vs-input @keyup="getCompanyUsersDataLazy" type="text" class="w-full" v-model="search.email" placeholder="email" label="Email" />
          </div>

          <div class="vx-col w-1/5">
            <vs-input @keyup="getCompanyUsersDataLazy" type="text" class="w-full" v-model="search.address" placeholder="address" label="Address" />
          </div>
        </form>

        <div class="vx-row mt-3">
          <div class="vx-col w-full">
            <vs-table stripe :data="companyParticipants">
              <template slot="thead">
                <vs-th>Name</vs-th>
                <vs-th>Phone</vs-th>
                <vs-th>Email</vs-th>
                <vs-th>Address</vs-th>
                <vs-th>Role</vs-th>
                <vs-th>Action</vs-th>
              </template>

              <template>
                <vs-tr
                  :key="index"
                  v-for="(participant, index) in companyParticipants"
                >
                  <vs-td :data="participant.first_name"
                  >
                    <router-link :to="`/company/${$route.params.companyId}/participant/${participant.id}`">{{ participant.first_name }} {{ participant.last_name }}
                    </router-link>
                  </vs-td>
                  <vs-td :data="participant.phone"
                  >{{ participant.phone }}
                  </vs-td>
                  <vs-td :data="participant.email"
                  >{{ participant.email }}
                  </vs-td>
                  <vs-td :data="participant.address"
                  >{{ participant.address }}
                  </vs-td>
                  <vs-td :data="participant.role"
                  >{{ participant.role | uc_Words }}
                  </vs-td>

                  <vs-td>
                    <div class="flex">
                      <!--ViewCompanyUser :companyUser_id="companyUser.id"></ViewCompanyUser>
                      <EditCompanyUser  :companyUser_id="companyUser.id" @getCompanyUsers="getCompanyUsersData" ></EditCompanyUser-->
                      <div>
                        <span
                          @click="deleteCompanyUserPopup = true; companyUserId = participant.id"
                          class="cursor-pointer"
                        >
                          <trash-2-icon size="1.5x" class="custom-class text-dark"></trash-2-icon>
                        </span>
                        <router-link
                                title="Login As "
                                class="cursor-pointer text-dark"
                                :to="`/login-as/user/${participant.id}`"
                                target="_blank"
                        >
                          <UnlockIcon></UnlockIcon>
                        </router-link>
                      </div>
                    </div>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
            <vs-row class="justify-center mt-3">
              <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage" class="w-full text-center"></vs-pagination>
            </vs-row>
          </div>
        </div>
      </vx-card>

      <vs-popup
        classContent="popup-example"
        :title="thisTitle"
        :active.sync="companyPopup"
      >
        <AddCompanyUser v-if="checkComponent == 'addUser'" @getCompanyUsersData="getCompanyUsersData"></AddCompanyUser>
      </vs-popup>

      <!-- Delete Companyuser popup-->
      <vs-popup title="Are you sure?" :active.sync="deleteCompanyUserPopup">
        <p class="my-5">
          This Company user will be delete permanently.
        </p>
        <vs-row class="mt-3 text-right">
          <vs-button @click="deleteCompanyUser" color="danger" type="filled" class="mr-2">Confirm</vs-button>
          <vs-button @click="deleteCompanyUserPopup=false" color="warning" type="border" class="mr-2">Cancel</vs-button>
        </vs-row>
      </vs-popup>
    </div>
  </div>
</template>

<script>
import ViewCompanyUser from "../../user-management/components/ViewCompanyUser";
import EditCompanyUser from "../../user-management/components/EditCompanyUser";
import AddCompanyUser from "../../user-management/components/AddCompanyUser";
import {
  RefreshCwIcon,
  PlusIcon,
  FilePlusIcon,
  FileTextIcon,
  UserPlusIcon,
  Trash2Icon,
  EditIcon,
  UnlockIcon
} from "vue-feather-icons";
import ApiService from "@/services/api.service";

export default {
  name: "ViewCompanyParticipants",

  components: {
    RefreshCwIcon, PlusIcon, FilePlusIcon, FileTextIcon, UserPlusIcon, Trash2Icon, EditIcon, UnlockIcon,
    AddCompanyUser, ViewCompanyUser, EditCompanyUser
  },

  data() {
    return {
      companyParticipants    : [],
      companyPopup    : false,
      deleteCompanyUserPopup: false,
      isLoading       : false,
      checkComponent  : '',
      thisTitle       : '',
      plans           : [],
      companyUserId   : 0,
      company_id      : this.$route.params.companyId,
      selectValue     : '',

      totalPages      : 1,
      currentPage     : 1,
      search          : {}
    };
  },

  methods: {
    getCompanyUsersDataLazy() {
      this.getCompanyUsersData();
    },

    getCompanyUsersData(page=0) {
      this.isLoading = true;

      let get      = page > 0 ? '?page='+page+'&':'?';
      let count    = 0;
      let length   = Object.keys(this.search).length;

      for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');

      ApiService.get(`/company/${this.company_id}/participants${get}`)
        .then(response => {
          this.companyParticipants = response.data.data;
          this.totalPages   = response.data.last_page;
          this.currentPage  = response.data.current_page;

          this.isLoading = false;
          this.companyPopup = false;
        })
        .catch(error => {
          this.isLoading = false;
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        }).finally(() => {
        this.isLoading = false;
      });
    },

    deleteCompanyUser () {
      ApiService.delete(`/company/user/${this.companyUserId}`).then(response => {
        this.getCompanyUsersData();
        this.$toastr('success', 'User Deleted', 'Success!');
        this.deleteCompanyUserPopup = false;
      }).catch(error => {
        this.deleteCompanyUserPopup = false;
        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        this.companyPopup = false;
      })
    },

    exportPdfOrExcel(value) {
      this.isLoading = true;
      let get      = '?';
      let count    = 0;
      let length   = Object.keys(this.search).length;
      for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');
      ApiService.get(`/company/${this.$route.params.companyId}/participants/${value}${get}`)
      .then(response => {
        this.isLoading = false;
        this.fileDownload(response.data);
      })
      .catch(error => {
        this.isLoading = false;
        this.$vs.dialog({
          color: "danger",
          title: `Something Went Wrong`,
          text: error.response.data.message
        });
      }).finally(() => {
        this.selectValue = null;
      });
    }
  },

  watch: {
    currentPage: function(val, oldVal){
      this.getCompanyUsersData(val)
    }
  },

  mounted() {
    this.isLoading = true;
    this.getCompanyUsersData();
  },

  created() {
    this.getCompanyUsersDataLazy = _.debounce(this.getCompanyUsersData, 500)
  },
};
</script>

<style scoped>
.vx-card {
  min-height: 500px;
}
</style>
