<template>
    <div class="vx-row">
        <div class="vx-col w-full">
            <loading
                :active.sync="isLoading"
                :can-cancel="true"
                :is-full-page="false"
                :width="30"
                :height="30"
            ></loading>

            <vx-card title="">

                <div class="vx-row justify-between">
                    <div class="vx-col">
                        <h4>Company List</h4>
                    </div>
                    <div class="vx-col text-right">

                      <div class="vx-col">
                        <vs-select
                          placeholder="Export File"
                          class="w-full"
                          label-placeholder="Status"
                          autocomplete
                          v-model="selectValue"
                          @change="exportPdfOrExcel(selectValue)"
                        >

                          <vs-select-item :value="'export-pdf'" :text="'Export Pdf'"  />
                          <vs-select-item :value="'export-excel'" :text="'Export Excel'" />

                        </vs-select>
                      </div>
                    </div>
                </div>

                <form @submit.prevent="getCompaniesData" class="vx-row mb-3">

                    <div class="vx-col w-1/5">
                        <vs-input @keyup="getCompaniesDataLazy" type="text" class="w-full" v-model="search.name" placeholder="name" label="Name" />
                    </div>

                    <div class="vx-col w-1/5">
                        <vs-input @keyup="getCompaniesDataLazy" type="text" class="w-full" v-model="search.phone" placeholder="phone" label="Phone" />
                    </div>

                    <div class="vx-col w-1/5">
                        <vs-input @keyup="getCompaniesDataLazy" type="text" class="w-full" v-model="search.email" placeholder="email" label="Email" />
                    </div>

                    <div class="vx-col w-1/5">
                        <vs-input @keyup="getCompaniesDataLazy" type="text" class="w-full" v-model="search.address" placeholder="address" label="Address" />
                    </div>
                </form>

                <div class="vx-row mt-3">
                    <div class="vx-col w-full">
                        <vs-table stripe :data="companies">
                            <template slot="thead">
                                <vs-th>Name</vs-th>
                                <vs-th>Phone</vs-th>
                                <vs-th>Email</vs-th>
                                <vs-th>Address</vs-th>
                                <vs-th>Action</vs-th>
                            </template>

                            <template>
                                <vs-tr
                                  v-if="company.company_user.user_as_admin"
                                  :key="index"
                                  v-for="(company, index) in companies"
                                >
                                  <vs-td :data="company.name">
                                    <router-link :to="`/company/${company.id}`">{{ company.name }}</router-link>
                                  </vs-td>
                                  <vs-td :data="company.phone">
                                    {{ company.phone }}
                                  </vs-td>
                                  <vs-td :data="company.email">
                                    {{ company.email }}
                                  </vs-td>
                                  <vs-td :data="company.address">
                                    {{ company.address }}
                                  </vs-td>

                                  <vs-td>

                                    <div class="flex">
                                      <div>
                                        <a
                                          @click.prevent="deleteCompanyPopup = true; companyId = company.id"
                                          class="cursor-pointer text-dark"
                                        >
                                          <trash-2-icon size="1.5x" class="custom-class"></trash-2-icon>
                                        </a>
                                        <router-link
                                                title="Login As "
                                                class="cursor-pointer text-dark"
                                                :to="`/login-as/user/${company.company_user.user_id}`"
                                                target="_blank"
                                        >
                                          <UnlockIcon></UnlockIcon>
                                        </router-link>
                                      </div>
                                    </div>
                                  </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                        <vs-row class="justify-center mt-3">
                          <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage" class="w-full text-center"></vs-pagination>
                        </vs-row>
                    </div>
                </div>
            </vx-card>

            <vs-popup
                classContent="popup-example"
                :title="thisTitle"
                :active.sync="companyPopup"
            >
                <AddCompanyUser v-if="checkComponent == 'addUser'" @getCompaniesData="getCompaniesData"></AddCompanyUser>
                <AddCompany v-if="checkComponent == 'add'" @getCompaniesData="getCompaniesData" :plans="plans"></AddCompany>
            </vs-popup>

          <!-- Delete Company popup-->
          <vs-popup title="Are you sure?" :active.sync="deleteCompanyPopup">
            <p class="my-5">
              This Company will be delete permanently.
            </p>
            <vs-row class="mt-3 text-right">
              <vs-button @click="deleteCompany" color="danger" type="filled" class="mr-2">Confirm</vs-button>
              <vs-button @click="deleteCompanyPopup=false" color="warning" type="border" class="mr-2">Cancel</vs-button>
            </vs-row>
          </vs-popup>
        </div>
    </div>
</template>

<script>
import _ from "lodash";
import AddCompany from "./AddCompany";
import ViewCompany from "./ViewCompany";
import EditCompany from "./EditCompany";
import {
  RefreshCwIcon,
  PlusIcon,
  FilePlusIcon,
  FileTextIcon,
  UserPlusIcon,
  MoreVerticalIcon,
  Trash2Icon,
  EditIcon,
  UnlockIcon
} from "vue-feather-icons";
import ApiService from "@/services/api.service";

export default {
    name: "ViewCompanies",

    components: {
      RefreshCwIcon, PlusIcon, FilePlusIcon, FileTextIcon, UserPlusIcon, MoreVerticalIcon, Trash2Icon, EditIcon,
      AddCompany, ViewCompany, EditCompany, UnlockIcon
    },

    data() {
      return {
        companies       : [],
        companyPopup    : false,
        deleteCompanyPopup: false,
        isLoading       : false,
        checkComponent  : '',
        thisTitle       : '',
        plans           : [],
        companyId       : 0,

        totalPages      : 1,
        currentPage     : 1,
        items           : 5,
        selectValue     :'',

        search          : {}
      };
    },

    methods: {
      getCompaniesDataLazy() {
        this.getCompaniesData();
      },

      getCompaniesData(page=0) {
          this.isLoading = true;

          let get      = page > 0 ? '?page='+page+'&':'?';
          let count    = 0;
          let length   = Object.keys(this.search).length;

          for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');

          ApiService.get(`/company/api${get}`)
            .then(response => {
              this.companies    = response.data.data;
              // console.log(response.data.data);
              this.totalPages   = response.data.last_page;
              this.currentPage  = response.data.current_page;

              this.isLoading    = false;
              this.companyPopup = false;
            })
            .catch(error => {
              this.isLoading = false;
              this.$vs.dialog({
                color: "danger",
                title: `Something Went Wrong`,
                text: error.response.data.message
              });
            }).finally(() => {
            this.isLoading = false;
          });
        },

      exportPdfOrExcel(value) {
        this.isLoading = true;
        let get      = '?';
        let count    = 0;
        let length   = Object.keys(this.search).length;
        for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');
        ApiService.get(`/company/api/${value}${get}`)
          .then(response => {
            this.isLoading = false;
            this.fileDownload(response.data);
            // window.open(response.data);
          })
          .catch(error => {
            this.isLoading = false;
            console.log(error);
          })
          .finally(()=>{
            this.selectValue = null;
          });
      },

      getPlansData() {
          ApiService.get("/membership/plans")
          .then(response => {
              this.plans = response.data.data;
          })
          .catch(error => {
            this.$vs.dialog({
              color: "danger",
              title: `Something Went Wrong`,
              text: error.response.data.message
            });
          });
        },

      deleteCompany () {
        ApiService.delete(`/company/api/${this.companyId}`).then(response => {
          this.getCompaniesData();
          this.$toastr('success', 'Ticket Deleted', 'Success!')
          this.deleteCompanyPopup = false;
        }).catch(error => {
          this.deleteCompanyPopup = false;
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        }).finally(() => {
          this.companyPopup = false;
        })
      },
    },

    watch: {
      currentPage: function(val, oldVal){
        this.getCompaniesData(val)
      }
    },

    mounted() {
      this.isLoading = true;
      this.getCompaniesData();
      this.getPlansData();
    },

    created() {
      this.getCompaniesDataLazy = _.debounce(this.getCompaniesData, 500)
    },
};
</script>

<style scoped>
.vx-card {
  min-height: 500px;
}
</style>
