<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <vx-card>
        <form @submit.prevent="sendMail" ref="composeEmailForm">
          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <label>To <span class="text-danger">*</span></label>
              <vs-input class="w-full" :danger="$v.email.mail_to.$error ? true : false"
                        :danger-text="$v.email.mail_to.$error ? 'To must be an valid email.' : ''"
                        v-model.trim="$v.email.mail_to.$model"/>
            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <label>Subject <span class="text-danger">*</span></label>
              <vs-input class="w-full" :danger="$v.email.mail_subject.$error ? true : false"
                        :danger-text="$v.email.mail_subject.$error ? 'Subject Must be required.' : ''"
                        v-model.trim="$v.email.mail_subject.$model"/>
            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <label>Description <span class="text-danger">*</span></label>
              <quill-editor :class="$v.email.mail_body.$error ? 'textarea-danger' : ''"
                            v-model.trim="$v.email.mail_body.$model" :options="editorOption"
                            style="{'height': '300px', 'background-color': 'lightgrey'}"/>
              <small v-if="$v.email.mail_body.$error" class="texarea-danger-text">Email body Must be required.</small>
            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col w-full">
              <label>Add Attachment</label>
              <div v-for="(attachment,index) in email.mail_attachment" :key="index">
                <vue-gallery v-model="attachment.path" :type="'button'"></vue-gallery>
                <button class="btn btn-danger" @click="email.mail_attachment.splice(index,1)" type="button">Delete</button>
              </div>
              <button class="btn btn-primary" @click="email.mail_attachment.push({path : ''})" type="button">Add</button>

            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col w-full text-right">
              <vs-button color="primary" type="filled" button="submit">Send Mail</vs-button>
            </div>
          </div>
        </form>
      </vx-card>
    </div>
  </div>
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import {quillEditor} from 'vue-quill-editor'
import ApiService from '@/services/api.service'
import {required, email} from 'vuelidate/lib/validators'

export default {
  name: 'ComposeEmail',
  components: {
    quillEditor
  },
  data () {
    return {
      email: {
        mail_from: this.$store.state.AppActiveUser.email,
        mail_to: '',
        mail_subject: '',
        mail_body: '',
        mail_attachment: [{
          path: ''
        }],
        mail_sent: true
      },

      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
            [{'header': 1}, {'header': 2}],
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'font': []}]
          ]
        },
        placeholder: 'Message'
      }
    }
  },

  validations: {
    email: {
      mail_to: {
        required,
        email
      },
      mail_subject: {required},
      mail_body: {required}
    }
  },

  methods: {
    sendMail () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        // Api Called
        ApiService.post('/mail', this.email).then(response => {
          this.$toastr('success', 'Successfully Email Send.', 'Successfully Send')
          this.$emit('closeComposeEmailForm')
          this.email = {}
        }).catch(error => {
          this.$toastr('error', error.response.data.message, 'Something Wrong')
        })
      }
    },

    resetForm () {
      this.$refs['composeEmailForm'].reset()
    }
  }
}
</script>

<style>
.ql-container {
  height: 200px !important;
}
</style>

<style>
.unlayer-editor {
  height: 700px !important;
}

.ql-container {
  height: 200px !important;
}

.u_row > .container {
  width: 100% !important;
  max-width: auto !important;
}

.blockbuilder-branding {
  display: none !important;
}
</style>
