<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <loading :active.sync="isLoading"
        :can-cancel="true"
        :is-full-page="false"
        :width="30"
        :height="30">
      </loading>

      <vx-card class="p-0 m-0" v-if="!isLoading">
        <div v-if="inboxMails.length">
          <div v-for="(inboxMail, index) in inboxMails" :key="index" @click="viewEmail(inboxMail)">
            <div class="p-3" >
              <div class="flex w-full">
                <vs-avatar class="sender__avatar flex-shrink-0 mr-3 border-2 border-solid border-white" :src="inboxMail.user.photo?inboxMail.user.photo:baseUrl+'/images/avatar-s-2.jpg'" type="application/pdf" size="40px"></vs-avatar>
                <div class="flex w-full justify-between items-start">
                  <div class="mail__details">
                    <h5 class="mb-1">{{ inboxMail.mail_to }}</h5>
                    <span> {{ inboxMail.mail_subject }}</span>
                  </div>

                  <div class="mail-item__meta flex items-center">
                    <span>{{ inboxMail.created_at | formatDate }}</span>
                  </div>
                </div>
              </div>

              <div class="flex w-full">
                <div class="flex items-center ml-1">
                  <vs-checkbox  @click.stop class="vs-checkbox-small ml-0 mr-1"></vs-checkbox>
                  <!-- <star-icon size="1.5x" class="custom-class"></star-icon>  -->
                </div>
                <div class="mail__message truncate ml-3">
                  <span v-html="inboxMail.mail_body"></span>
                </div>
              </div>
            </div>
            <hr/>
          </div>
        </div>
        <div v-else>
          <h5>You have no inbox emails.</h5>
        </div>
      </vx-card>

      <!-- view email -->
      <vs-prompt  :buttons-hidden="true" title="View EMail" :active.sync="activePopupViewMail">
        <ViewEmail ref="view-email" :mailData="inboxMailDetails"></ViewEmail>
      </vs-prompt>
    </div>
  </div>
</template>

<script>
  import ApiService from "@/services/api.service";
  import { StarIcon } from 'vue-feather-icons';
  import ViewEmail from './ViewEmail';
  export default {
    name: 'InboxMail',

    data() {
      return {
        baseUrl: process.env.MIX_APP_URL,
        inboxMails: [],
        isLoading: false,
        activePopupViewMail: false,
        inboxMailDetails: {}
      }
    },

    components: {
      StarIcon,
      ViewEmail
    },

    methods: {
      getInboxEmails() {
        this.isLoading = true;
        // Api Called
        ApiService.get('/inbox-mail').then(response => {
          this.inboxMails = response.data.data;
          this.isLoading = false;
        }).catch(error => {
          this.isLoading = false;
          this.$toastr('error', error.response.data.message, 'Something Wrong');
        })
      },

      viewEmail(inboxMail) {
        console.log(inboxMail);
        this.inboxMailDetails = inboxMail;
        this.activePopupViewMail = true;
      }
    },

    mounted() {
      this.getInboxEmails();
    }
  }
</script>

<style scpoed>
  .unlayer-editor {
    height: 700px !important;
  }

  .u_row > .container {
    width: 100% !important;
    max-width: auto !important;
  }

  .blockbuilder-branding {
    display: none !important;
  }
</style>
