
<template>
  <div class="vx-row">
    <div class="vx-col w-full view-mail">
      <vx-card>
        <!-- MAIL CONTENT -->
        <div class="vx-row ">
          <div class="vx-col w-full vx-logo cursor-pointer flex justify-center">
            <logo class="w-10 mr-2 fill-current text-primary"/>
            <span class="vx-logo-text text-primary">Galileo</span>
          </div>
        </div>

        <!-- MAIL CONTENT -->
        <div class="vx-row">
          <div class="vx-col w-full">
            <div class="mail__content break-words mt-5 mb-4"> <span>Subject: </span> {{mailData.mail_subject }}</div>
          </div>
        </div>

        <!-- MAIL CONTENT -->
        <div class="vx-row">
          <div class="vx-col w-full">
            <div class="mail__content break-words mt-2 mb-4" v-html="mailData.mail_body"></div>
          </div>
        </div>

        <!-- MAIL ATTACHMENTS -->
        <div class="vx-row" v-if="tempAttachments.length">
          <div class="vx-col w-full border-b border-l-0 border-r-0 border-t-0 d-theme-border-grey-light border-solid mb-6 flex">
            <feather-icon icon="PaperclipIcon" class="mr-2" />
            <span class="block py-4">ATTACHMENTS</span>
          </div>
          <div class="flex">
            <div class="mail__attachment p-4" v-for="(attachment, index) in tempAttachments" :key="index">
              <img v-if="attachment && fileType(attachment) == 'image'"  :src="attachment" class="mt-3" style="height: 100px; width: 100px"/>
              <img v-else :src="'/images/file-icons/'+fileType(attachment)+'.png'" class="mt-3" style="height: 100px; width: 100px"/>
            </div>
          </div>
        </div>

        <div class="vx-row" v-else>
          <div class="vx-col">
            <h6>No attachment found.</h6>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import Logo from '../../../layouts/components/Logo';
export default {
  name: 'PreviewMail',
  props: {
    mailData: {},
    tempAttachments: Array
  },

  components: {
    Logo
  },

  data() {
    return {
    }
  },


  methods: {

  }
}
</script>

