<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <loading :active.sync="isLoading"
        :can-cancel="true"
        :is-full-page="false"
        :width="30"
        :height="30">
      </loading>

      <vx-card class="p-0 m-0" v-if="!isLoading">
        <div v-if="sentMails.length">
          <div v-for="(sentMail, index) in sentMails" :key="index" @click="viewEmail(sentMail)">
            <div class="p-3" >
              <div class="flex w-full">
                <vs-avatar class="sender__avatar flex-shrink-0 mr-3 border-2 border-solid border-white" :src="sentMail.user.photo?sentMail.user.photo:baseUrl+'/images/avatar-s-2.jpg'" type="application/pdf" size="40px"></vs-avatar>
                <div class="flex w-full justify-between items-start">
                  <div class="mail__details">
                    <h5 class="mb-1">{{ sentMail.mail_to }}</h5>
                    <span> {{ sentMail.mail_subject }}</span>
                  </div>

                  <div class="mail-item__meta flex items-center">
                    <span>{{ sentMail.created_at | formatDate }}</span>
                  </div>
                </div>
              </div>

              <div class="flex w-full">
                <div class="flex items-center ml-1">
                  <vs-checkbox  @click.stop class="vs-checkbox-small ml-0 mr-1"></vs-checkbox>
                </div>
                <div class="mail__message truncate ml-3">
                  <span v-html="sentMail.mail_body"></span>
                </div>
              </div>
            </div>
            <hr/>
          </div>
        </div>
        <div v-else>
          <h5>You have no sent emails.</h5>
        </div>
      </vx-card>

      <!-- view email -->
      <vs-prompt  :buttons-hidden="true" title="View EMail" :active.sync="activePopupViewMail">
        <ViewEmail ref="view-email" :mailData="sentMailDetails"></ViewEmail>
      </vs-prompt>
    </div>
  </div>
</template>

<script>
  import ViewEmail from "./ViewEmail";
  import ApiService from "@/services/api.service";
  import { StarIcon } from 'vue-feather-icons';
  export default {
    name: 'SentMail',

    components: {
      StarIcon,
      ViewEmail
    },

    data() {
      return {
        baseUrl: process.env.MIX_APP_URL,
        sentMails: [],
        isLoading: false,
        sentMailDetails: {},
        activePopupViewMail: false
      }
    },

    methods: {
      getSentEmails() {
        this.isLoading = true;
        // Api Called
        ApiService.get('/mail').then(response => {
          this.sentMails = response.data.data;
          this.isLoading = false;
        }).catch(error => {
          this.$toastr('error', error.response.data.message, 'Something Wrong');
          this.isLoading = false;
        })
      },

      viewEmail(sentMail) {
        this.sentMailDetails = sentMail;
        this.activePopupViewMail = true;
      }
    },

    mounted() {
      this.getSentEmails();
    }
  }
</script>

<style scpoed>
  .unlayer-editor {
    height: 700px !important;
  }

  .u_row > .container {
    width: 100% !important;
    max-width: auto !important;
  }

  .blockbuilder-branding {
    display: none !important;
  }
</style>
