<template>
  <div class="vx-row">

    <!-- TITLE COLOR -->
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-2/3 xl:w-2/3 mb-base">
      <vx-card title="SEND NEW COMMUNICATION">
        <form ref="composeEmailForm">
          <div class="vx-row mb-6">
            <div class="vx-col w-full">
               <vs-input label-placeholder="To" class="w-full"/>
            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col w-full">
               <vs-input label-placeholder="Subject" class="w-full"/>
            </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col w-full">
               <quill-editor placeholder="Body of the message"  :options="editorOption"
                            style="{'height': '300px', 'background-color': 'lightgrey'}"/>
             </div>
          </div>

          <div class="vx-row mb-6">
            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-base">
              <vs-button color="primary" type="filled" button="submit">Send Mail</vs-button>
            </div>
            <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-base">
               <vue-gallery :type="'button'"></vue-gallery>
            </div>
          </div>
        </form>
      </vx-card>
    </div>
    <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/3 mb-base">
      <vx-card title="COMMUNICATION HISTORY">
        <p>12/12/2002 Lorem ipsum, or lipsum as it is</p>
        <p>12/12/2002 Lorem ipsum, or lipsum as it is</p>
        <p>12/12/2002 Lorem ipsum, or lipsum as it is</p>
        <p>12/12/2002 Lorem ipsum, or lipsum as it is</p>
        <p>12/12/2002 Lorem ipsum, or lipsum as it is</p>
        <p>12/12/2002 Lorem ipsum, or lipsum as it is</p>
        <p>12/12/2002 Lorem ipsum, or lipsum as it is</p>
      </vx-card>
    </div>

  </div>
</template>

<script>
  import 'quill/dist/quill.core.css'
  import 'quill/dist/quill.snow.css'
  import { StarIcon } from 'vue-feather-icons';
  import {quillEditor} from 'vue-quill-editor'
  export default {
    name: 'StarredMail',

    data() {
      return {
        baseUrl: process.env.MIX_APP_URL,
        editorOption: {
          modules: {
            toolbar: [
              ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
              [{'header': 1}, {'header': 2}],
              [{'list': 'ordered'}, {'list': 'bullet'}],
              [{'font': []}]
            ]
          },
          placeholder: 'Message'
        }
      }
    },

    components: {
      StarIcon,
      quillEditor
    },

    methods: {
      inboxMail() {

      }
    }
  }
</script>

<style scpoed>
  .unlayer-editor {
    height: 700px !important;
  }

  .u_row > .container {
    width: 100% !important;
    max-width: auto !important;
  }

  .blockbuilder-branding {
    display: none !important;
  }
</style>
