
<template>
  <div class="vx-row">
    <div class="vx-col w-full view-mail">
      <vx-card>
        <!-- MAIL HEAD -->
        <div class="vx-row">
          <div class="vx-col w-full border-b border-l-0 border-r-0 border-t-0 d-theme-border-grey-light border-solid flex justify-between flex items-center">
            <!-- Sender Details -->
            <div class="flex items-center">
              <div>
                <vs-avatar class="sender__avatar--single flex-shrink-0 mr-3 border-2 border-solid border-white" :src="mailData.user.photo?mailData.user.photo:baseUrl+'/images/avatar-s-2.jpg'"  size="65px" />
              </div>

              <div class="flex flex-col">
                <h5 class="mb-1">{{ mailData.user.name }} </h5>
                <div class="flex items-center">
                  <span class="text-sm">{{ mailData.mail_from }} </span>
                  <vs-dropdown vs-custom-content vs-trigger-click class="inline-flex cursor-pointer">
                    <feather-icon icon="ChevronDownIcon" class="w-3 h-3" />
                    <vs-dropdown-menu style="z-index: 100000">
                    <div class="p-2">
                      <p class="text-sm mb-1">From: <span class="font-semibold"> {{ mailData.mail_from }} </span></p>
                      <p class="text-sm mb-1">To: <span class="font-semibold"> {{ mailData.mail_to  }} </span></p>
                      <p class="text-sm mb-1">Date: <span class="font-semibold"> {{ mailData.created_at | formatDate }} {{ mailData.created_at | formatDate }} </span></p>
                    </div>
                    </vs-dropdown-menu>
                  </vs-dropdown>
                </div>
              </div>
            </div>
            <!-- /Sender Details -->

            <!-- Mail Time & Date -->
            <div class="flex flex-col justify-end">
              <span class="text-right">{{ mailData.created_at | formatDate }}</span>
            </div>
          </div>
        </div>

        <!-- MAIL CONTENT -->
        <div class="vx-row">
          <div class="vx-col w-full">
            <div class="mail__content break-words mt-8 mb-4" v-html="mailData.mail_body"></div>
          </div>
        </div>

        <!-- MAIL ATTACHMENTS -->
        <div class="vx-row" v-if="mailData.mail_attachment">
          <div class="vx-col w-full border-b border-l-0 border-r-0 border-t-0 d-theme-border-grey-light border-solid mb-6 flex">
            <feather-icon icon="PaperclipIcon" class="mr-2" />
            <span class="block py-4">ATTACHMENTS</span>
          </div>
          <div class="flex">
            <div class="mail__attachment p-4" v-for="(attachment, index) in mailData.mail_attachment" :key="index">
              <img :src="attachment.path" width="100px" height="100px" />
            </div>
          </div>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ViewEmail',
    props: {
      mailData: {}
    },

    data() {
      return {
        baseUrl: process.env.MIX_APP_URL,
      }
    },


    methods: {

    }
  }
</script>

<style>
  .con-vs-dialog .vs-dialog {
    max-width: 700px !important;
  }
</style>
