<template>
  <div class="con-tab-ejemplo">
    <vs-row vs-type="flex">
      <vs-col
        vs-order="1"
        vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">
        <button @click="showPickerDialog()" class="btn-group-cloud">
          <img src="/images/file-upload/googledrive.png" alt=""> Google Drive
        </button>
      </vs-col>
      <vs-col
        vs-order="2"
        vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">
        <button id="dropbox_attachment" class="btn-group-cloud">
          <!--          <img src="/images/file-upload/dropbox.png" alt=""> Dropbox-->
        </button>
      </vs-col>
      <vs-col
        vs-order="3"
        vs-type="flex" vs-justify="center" vs-align="center" vs-w="3">
        <button @click="openOneDrivePicker()" id="onedrive-launcher" class="btn-group-cloud">
          <img src="/images/file-upload/onedrive.png" alt=""> Onedrive
        </button>
        <!--        <input id="fileUploadControl" name="fileUploadControl" type="file" />-->
      </vs-col>
    </vs-row>
  </div>
</template>
<!--<script defer type="application/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"-->
<!--        :data-app-key="storagesApiData.dropbox_client_id"></script>-->
<script>
  import ApiService from "@/services/api.service";

  export default {
    name: "CloudFilePicker",
    data() {
      return {
        uploader_id: this.$route.params.participantId,
        // --Google Drive--
        storagesApiData: {
          google_drive_developer_key: "",
          google_drive_client_id: "",
          google_drive_app_id: "",
          google_drive_scopes: "",
          dropbox_client_id: "",
          dropbox_client_secret: "",
          onedrive_client_id: "",
          onedrive_client_secret: "",
          s3_client_id: "",
          s3_client_secret: "",
          fatture_api_client_id: "",
          fatture_api_client_secret: "",
          has_google_drive: false,
          has_dropbox: false,
          has_one_drive: false,
          has_s3: false,
          has_fatture_api: false,
          updated_by: ''
        },

        // developerKey: process.env.MIX_GOOGLE_DRIVE_DEVELOPER_Key,
        // clientId: process.env.MIX_GOOGLE_DRIVE_CLIENT_ID,
        // appId: process.env.MIX_GOOGLE_DRIVE_APP_ID,
        // scope: ['https://www.googleapis.com/auth/drive.file'],
        // --One Drive--
        // one_drive_client_id: process.env.MIX_ONE_DRIVE_CLIENT_ID,
        // one_drive_redirect_uri: process.env.MIX_ONE_DRIVE_REDIRECT_URI,
        pickerApiLoaded: false,
        oauthToken: '',
        param: {},
      }
    },
    mounted() {

      this.getStorageApiData()
      // this.dropboxIconClicked();

      setTimeout(() => {
        this.DropBoxFilePicker()
      }, 10)

    },
    methods: {
      createDropBox(client_id) {
        let dropBox = document.createElement("script");
        dropBox.setAttribute(
          "src",
          "https://www.dropbox.com/static/api/2/dropins.js"
        );
        dropBox.setAttribute("id", "dropboxjs");
        dropBox.setAttribute("data-app-key", client_id);
        document.head.appendChild(dropBox);
      },
      getStorageApiData() {
        this.isLoading = true;
        ApiService.get('/storage/api').then(response => {
          this.storagesApiData = response.data;
          this.createDropBox(response.data.dropbox_client_id);
          this.isLoading = false;
          this.activeComponent = "GoogleDrive";
        }).catch(error => {
          console.log(error)
          this.isLoading = false;
          // this.$vs.dialog({
          //   color: 'danger',
          //   title: `Something Went Wrong`,
          //   text: error.response.message
          // })
        })
      },
      openOneDrivePicker() {
        let odOptions = {
          clientId: this.storagesApiData.onedrive_client_id,
          action: "download",
          advanced: {
            redirectUri: 'http://localhost:8000',
            endpointHint: 'api.onedrive.com',
          },
          openInNewWindow: true,
          multiSelect: true,
          success: function(files) {
            console.log(files);
            let param = {'type': 'one-drive', 'files_data': files.value }
            ApiService.post("/cloud-file-picker", param).then(response => {
              this.$toastr(
                "success",
                "Successfully File upload",
                "Company Created"
              );
            }).catch(error => {
              this.$vs.dialog({
                color: "danger",
                title: `Something Went Wrong`,
                text: error.response.data.message
              });
            });
          },
          cancel: function() {

          },
          error: function(error) {
            console.log(error);
          }
        }

        OneDrive.open(odOptions);
      },




      // ------------OneDriveFilePicker------------
      // openOneDrivePicker() {
      //   var odOptions = {
      //     clientId: "53e2f26c-cbe3-47e1-a5fa-cf14bf73ef4e",
      //     action: "download",
      //     sourceInputElementId: "fileUploadControl",
      //     sourceUri: "",
      //     fileName: "file.txt",
      //     openInNewWindow: true,
      //     multiSelect: true,
      //     advanced: {
      //       endpointHint: "api.onedrive.com",
      //     },
      //     success: function (files) {
      //       let ddd = files.value[0];
      //       console.log(ddd);
      //       fetch(ddd['@content.downloadUrl'])
      //         .then(resp => resp.blob())
      //         .then(blob => {
      //           const url = window.URL.createObjectURL(blob);
      //
      //           const a = document.createElement('a');
      //           a.style.display = 'block';
      //           a.href = url;
      //           // the filename you want
      //
      //           a.download = `${ddd.name}`;
      //           document.body.appendChild(a);
      //           a.click();
      //           window.URL.revokeObjectURL(url);
      //           alert('your file has downloaded!'); // or you know, something with better UX...
      //         })
      //         .catch(() => alert('oh no!'));
      //     },
      //     cancel: function () {
      //       alert('cancel')
      //     },
      //     error: function (error) {
      //       console.log(error)
      //     }
      //   }
      //   OneDrive.open(odOptions);
      // },
      // ------------DropBoxFilePicker------------
      DropBoxFilePicker() {
        let uploader_id = this.uploader_id;
        var options = {
          success: function (files) {
            this.param = {'type': 'dropbox', 'uploader_id': uploader_id, 'files_data': files}

            console.log(this.param)
            ApiService.post("/cloud-file-picker", this.param).then(response => {
              this.$toastr(
                "success",
                "Successfully File upload",
                "Company Created"
              );
            }).catch(error => {
              this.$vs.dialog({
                color: "danger",
                title: `Something Went Wrong`,
                text: error.response.data.message
              });
            });
          },
          cancel: function () {
            //optional
          },
          linkType: "direct", // "preview" or "direct"
          multiselect: true, // true or false
          extensions: ['.png', '.jpg', '.pdf'],
        };
        let button = Dropbox.createChooseButton(options);
        setTimeout(() => {
          document.getElementById("dropbox_attachment").appendChild(button);
        }, 400)
      },
      // ------------GoogleDriveFilePicker------------
      showPickerDialog() {
        this.loadPicker()
      },
      loadPicker() {
        gapi.load('auth', {'callback': this.onAuthApiLoad});
        gapi.load('picker', {'callback': this.onPickerApiLoad});
      },

      onAuthApiLoad() {
        window.gapi.auth.authorize(
          {
            'client_id': this.storagesApiData.google_drive_client_id,
            'scope': this.storagesApiData.google_drive_scopes,
            'immediate': false
          },
          this.handleAuthResult);
      },

      onPickerApiLoad() {
        this.pickerApiLoaded = true;
        this.createPicker();
      },

      handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
          this.oauthToken = authResult.access_token;
          this.createPicker();
        }
      },

      // Create and render a Picker object for searching images.
      createPicker() {
        console.log({'oauthToken': this.oauthToken})
        if (this.pickerApiLoaded && this.oauthToken) {
          var view = new google.picker.View(google.picker.ViewId.DOCS);
          view.setMimeTypes("image/png,image/jpeg,image/jpg");
          var picker = new google.picker.PickerBuilder()
            .enableFeature(google.picker.Feature.NAV_HIDDEN)
            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
            .setAppId(this.storagesApiData.google_drive_app_id)
            .setOAuthToken(this.oauthToken)
            .addView(view)
            .addView(new google.picker.DocsUploadView())
            .setDeveloperKey(this.storagesApiData.google_drive_developer_key)
            .setCallback(this.pickerCallback)
            .build();
          picker.setVisible(true);
        }
      },

      // A simple callback implementation.
      pickerCallback(data) {
        let uploader_id = this.uploader_id;
        if (data.action == google.picker.Action.PICKED) {
          var doc = data[google.picker.Response.DOCUMENTS][0];
          var url = doc[google.picker.Document.URL];
          var name = doc.name;
          this.param = {
            'type': 'google-drive',
            'uploader_id': uploader_id,
            'fileId': doc.id,
            'oAuthToken': this.oauthToken,
            'name': name
          }
          ApiService.post("/cloud-file-picker", this.param).then(response => {
            this.$toastr(
              "success",
              "Successfully File upload",
              "File Uploaded"
            );
          })
            .catch(error => {
              this.$vs.dialog({
                color: "danger",
                title: `Something Went Wrong`,
                text: error.response.data.message
              });
            });
        }
      }
    }
  }
</script>
<style lang="scss" scoped>
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

  .preview {
    height: 200px;
    width: 200px;
    background-color: gray;
    vertical-align: middle;
  }

  #scrollImageGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #scrollImageGallery .list-diplay {
    width: 90px;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .img-fluid-file {
    width: 90px;
    height: 80px;
    object-fit: fill;
  }

  .btn-group-cloud {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ddd !important;
    border-radius: 0px !important;
    padding: 6px 10px !important;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
  }

  .btn-group-cloud img {
    width: 28px;
    height: 24px;
    margin-right: 5px;
  }

  .dropzone-custom-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .dropzone-custom-title {
    margin-top: 0;
    color: #00b782;
  }

  .subtitle {
    color: #314b5f;
  }

  .vx-row-x {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .vx-row-x > .vx-col-x {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .vx-col-x > .list-diplay {
    margin-right: 5px;
  }

  .vs-popup--content {
    height: 100%;
    overflow: hidden !important;
  }

  .con-vs-tabs {
    height: 100% !important;
  }

  .con-vs-tabs .con-slot-tabs {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
  }

  .vs-tabs--content {
    position: relative;
    width: 100%;
    display: block;
    padding: 10px;
    height: 100%;
  }

  .con-tab-ejemplo-x {
    height: 100%;
  }

  .display-sidebar {
    flex: 0 0 300px !important;
    padding-left: 10px;
    border-left: 1px solid #ddd;
    max-width: 300px !important;
  }

  .image-block {
    height: 250px;
    width: 250px;
    overflow: hidden;
    border: 2px solid transparent;
    margin: 5px;
    background-repeat: no-repeat;
    background-size: cover;

    &.selected {
      border-color: green;
    }

    img {
      height: 250px;
    }
  }

  #imagescroll {
    height: 530px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .leftSection {
      display: none;
    }
    .rightSection {
      width: 100% !important;
      display: block;
    }
    #imagescroll {
      width: 100% !important;
    }
  }
</style>
