<template>
  <div style="width: 100%;">
    <h5 class="header-text">ATTACHMENT DETAILS</h5>
    <div class="flex">
      <div style="margin-right: 5px;height: 104px;
    width: 100px;
    vertical-align: middle;
    display: flex;
    overflow: hidden;">
        <img
          v-if="(updateGallaryData.type == 'image/jpeg') || (updateGallaryData.type == 'image/jpg') || (updateGallaryData.type == 'image/png')"
          class="selected_image" :src="'/'+gallaryDetails.path" alt="">
        <img v-if="updateGallaryData.type == 'application/pdf'" src="/images/file-upload/pdf.png" alt=""
             class="selected_image">
        <img v-if="updateGallaryData.type == 'application/msword'" src="/images/file-upload/doc.png" alt=""
             class="selected_image">
        <img v-if="updateGallaryData.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
             src="/images/file-upload/doc.png" alt="" class="selected_image">
      </div>
      <div style="display:flex;flex-direction:column;">
        <p style="color:darkgoldenrod;">{{ updateGallaryData.title }}</p>
        <p>{{ updateGallaryData.updated_at }}</p>
        <a href="javascript:void(0)" style="color: blue;">Edit Image</a>
        <a href="javascript:void(0)" style="color: tomato;" @click="deleteParmanent" :id="updateGallaryData.id">Delete
        </a>
        <a :href="'/'+gallaryDetails.path" style="color: tomato;" download :id="updateGallaryData.id">
          Download</a>
      </div>
    </div>
    <hr>
    <div class="vx-row mb-4">
      <div class="vx-col w-full">
        <label>title</label>
        <vs-input v-model="updateGallaryData.title" required readonly/>
      </div>
      <div class="vx-col w-full">
        <label>Alt Text</label>
        <vs-input v-model="updateGallaryData.alt" required/>
      </div>
      <div class="vx-col w-full">
        <label>Caption</label>
        <vs-input v-model="updateGallaryData.caption" required/>
      </div>
      <div class="vx-col w-full">
        <label>Description</label>
        <vs-textarea rows="3" v-model="updateGallaryData.description" required/>
      </div>
      <div class="vx-col w-full">
        <label>Privet</label>
        <vs-checkbox v-model="updateGallaryData.is_private" class="vs-checkbox-small ml-0 mr-1"></vs-checkbox>
      </div>
      <div class="vx-col w-full">
        <div style="display:flex;flex-direction: row;justify-content: space-between;">
          <label>Copy Link</label>
          <button class="copy-btn" @click="copyLinkUrl">Copy</button>
        </div>
        <vs-input v-model="updateGallaryData.file_url" required readonly/>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full ml-auto">
        <vs-button class="mr-3 mb-2 w-full" button="submit" style="background-color:green !important"
                   @click="updateMedia()">Update Attachment
        </vs-button>
      </div>
    </div>

  </div>
</template>

<script>
  import ApiService from "@/services/api.service";

  export default {
    name: "SelectedGalleryDetails",
    props: ['gallaryDetails', 'populatedGallaryData'],
    components: {},
    data() {
      return {
        updateGallaryData: {}
      }
    },
    mounted() {
      this.updateGallaryData = this.$props.gallaryDetails;
    },
    watch: {
      gallaryDetails() {
        this.updateGallaryData = this.$props.gallaryDetails;
      }
    },
    methods: {
      updateMedia() {
        ApiService.update('/media/' + this.updateGallaryData.id, this.updateGallaryData).then(response => {
          this.$toastr('success', 'Successfully updated file details .', 'Successfully updated file details.');
        }).catch(error => {
          this.isLoading = false;
          this.$vs.dialog({
            color: 'danger',
            title: `Something Went Wrong`,
            text: error.response.data.message
          })
        })
      },
      copyLinkUrl(e) {
        var targetObj = e.target;
        var inputObj = targetObj.parentElement.parentElement.querySelector('input');
        navigator.clipboard.writeText(inputObj.value).then(function () {
          targetObj.style.backgroundColor = "pink";
          targetObj.innerHTML = "Copying successful!";
          setTimeout(function () {
            targetObj.style.backgroundColor = "#fff5ee";
            targetObj.innerHTML = "Copy";
          }, 1100);
        }, function (err) {
        });
      },
      deleteParmanent(e) {
        var ok = confirm("Are you sure you want to delete?");
        if (ok) {
          var id = e.target.id
          ApiService.delete('media/' + id).then(response => {
            this.$emit('SelectedMedia', "id");
            this.$toastr('success', 'Successfully delete file details .', 'Successfully delete file details.');
          }).catch(error => {
            console.log(error);
            return;
            this.isLoading = false;
            this.$vs.dialog({
              color: 'danger',
              title: `Something Went Wrong`,
              text: error.response.data.message
            })
          })
        }
      }
    }
  }
</script>

<style lang="stylus" scoped>
  .flex {
    display: flex;
    flex-direction: row;
  }

  .flex > div {
    flex: 1;
  }

  .flex a, p {
    color: black;
    font-size: 12px;
    font-width: 500;
    text-transform: capitalize;
  }

  .selected_image {
    width: 100%;
    /*height: 100px;*/
    margin: auto;
  }


  .header-text {
    margin-bottom: 7px;
    font-size: 12px;
    font-width: 600;
    text-transform: uppercase;
    text-align: left;
  }

  .vs-con-input-label {
    width: 100%;
  }

  .copy-btn {
    padding: 5px 8px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: seashell;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.7px;
    cursor: pointer;
  }
</style>
