<template>
  <div class="vx-col w-full">
    <loading :active.sync="isLoading"
     :can-cancel="true"
     :is-full-page="false"
     :width="30"
     :height="30">
    </loading>
    <form @submit.prevent="addCompanyUser">
      <div class="vx-row">
        <div class="vx-col sm:w-1/2">
          <vs-select
            class="w-full"
            placeholder="Search and select"
            autocomplete
            label="Title"
            :danger="$v.companyUser.title.$error ? true : false"
            :danger-text="$v.companyUser.title.$error ? 'Title is required' : ''"
            v-model.trim="$v.companyUser.title.$model"
          >
            <vs-select-item
              :key="index"
              :value="title.value"
              :text="title.value"
              v-for="(title, index) in titles"
            />
          </vs-select>
        </div>


        <div class="vx-col sm:w-1/2">
          <vs-input
            label="First Name"
            class="w-full"
            icon-pack="feather"
            icon="icon-user"
            val-icon-danger="clear"
            :danger="$v.companyUser.first_name.$error ? true : false"
            :danger-text="$v.companyUser.first_name.$error ? 'Name at least 4 alphabets' : ''"
            v-model.trim="$v.companyUser.first_name.$model"
          />
        </div>

        <div class="vx-col sm:w-1/2">
          <vs-input
            label="Last Name"
            class="w-full"
            icon-pack="feather"
            icon="icon-user"
            val-icon-danger="clear"
            :danger="$v.companyUser.last_name.$error ? true : false"
            :danger-text="$v.companyUser.last_name.$error ? 'Name at least 4 alphabets' : ''"
            v-model.trim="$v.companyUser.last_name.$model"
          />
        </div>

        <div class="vx-col sm:w-1/2">
          <vs-input
            label="Phone"
            class="w-full"
            type="phone"
            icon-pack="feather"
            icon="icon-smartphone"
            val-icon-danger="clear"
            :danger="$v.companyUser.phone.$error ? true : false"
            :danger-text="$v.companyUser.phone.$error ? 'Phone number at least 10 alphabets' : ''"
            v-model.trim="$v.companyUser.phone.$model"
          />
        </div>

      </div>

      <div class="vx-row">
        <div class="vx-col sm:w-1/2">
          <vs-input
            label="Email"
            class="w-full"
            type="email"
            icon-pack="feather"
            icon="icon-mail"
            val-icon-danger="clear"
            :danger="$v.companyUser.email.$error ? true : false"
            :danger-text="$v.companyUser.email.$error ? 'Please insert a valid email address.' : ''"
            v-model.trim="$v.companyUser.email.$model"
          />
        </div>

        <div class="vx-col sm:w-1/2">
          <vs-input
            label="Password"
            class="w-full"
            type="password"
            icon-pack="feather"
            icon="icon-lock"
            val-icon-danger="clear"
            :danger="$v.companyUser.password.$error ? true : false"
            :danger-text="$v.companyUser.password.$error ? 'Password at least 8 alphabets' : ''"
            v-model.trim="$v.companyUser.password.$model"
          />
        </div>
      </div>

      <div class="vx-row mb-6">
        <div class="vx-col sm:w-1/2 con-select-example">
          <vs-select
            class="w-full"
            placeholder="Search and select"
            autocomplete
            label="Time Zone"
            :danger="$v.companyUser.time_zone.$error ? true : false"
            :danger-text="$v.companyUser.time_zone.$error ? 'Timezone is required' : ''"
            v-model.trim="$v.companyUser.time_zone.$model"
          >
            <vs-select-item
              :key="index"
              :value="time_zone"
              :text="time_zone"
              v-for="(time_zone, index) in time_zones"
            />
          </vs-select>

<!--                    <div class="vs-component vs-con-input-label vs-input w-full vs-input-primary mt-4">-->
<!--                      <vs-select-->
<!--                        class="w-full"-->
<!--                        placeholder="Search and select"-->
<!--                        autocomplete-->
<!--                        label="Role"-->
<!--                        :danger="$v.companyUser.role.$error ? true : false"-->
<!--                        :danger-text="$v.companyUser.role.$error ? 'Role is required' : ''"-->
<!--                        v-model.trim="$v.companyUser.role.$model"-->
<!--                      >-->
<!--                        <vs-select-item-->
<!--                          :key="index"-->
<!--                          :value="role.value"-->
<!--                          :text="role.text"-->
<!--                          v-for="(role, index) in roles"-->
<!--                        />-->
<!--                      </vs-select>-->
<!--                    </div>-->

        </div>

        <div class="vx-col sm:w-1/2 w-full">
          <label class="vs-input--label">Address</label>
          <vs-textarea
            rows="4"
            class="w-full mb-0 shadow-none"
            type="text"
            val-icon-danger="clear"
            :class="$v.companyUser.address.$error ? 'textarea-danger' : ''"
            v-model.trim="$v.companyUser.address.$model"
          />
          <small v-if="$v.companyUser.address.$error" class="textarea-danger-text">Address is required.</small>
        </div>

      </div>

      <div class="vx-row">
            <div class="vx-col sm:w-2/3 w-full ml-auto text-right">
                <vs-button class="mr-3 mb-2" button="submit"
                    >Submit</vs-button
                >
                <vs-button
                    color="warning"
                    type="border"
                    class="mb-2"
                    @click="resetAddCompanyUserForm"
                    >Reset</vs-button
                >
            </div>
        </div>
    </form>
  </div>
</template>

<script>
import ApiService from "../../../services/api.service";
import { timeZones } from "../../../timezones";
import {required, minLength, email } from 'vuelidate/lib/validators'
export default {
    name: "AddCompanyUser",
    data() {
        return {
            time_zones :timeZones,
            roles      :[],
            isLoading: false,
            companyUser: {
                title: 'Mr.',
                first_name: '',
                last_name: '',
                email    : '',
                password : '',
                phone    : '',
                address  : '',
                time_zone: '',
                role     : 'user',
            },
            titles: [
              {value: 'Mr.'},
              {value: 'Mrs.'},
              {value: 'Miss'},
            ],
            addCompanyPopup: false
        };
    },
  validations: {
    companyUser: {
      title : { required },
      first_name : { required },
      last_name  : { required },
      email      : { required, email },
      password   : { required, minLength: minLength(8) },
      phone      : { required, minLength: minLength(10) },
      address    : { required },
      time_zone  : { required },
      role       : { required }
    }
  },
    methods: {
      addCompanyUser() {
        this.$v.$touch();
        this.companyUser.project_slug = this.$route.params.projectSlug;
        if (!this.$v.$invalid) {
          this.isLoading = true;
          ApiService.post("/company/user", this.companyUser)
            .then(response => {
              this.$toastr(
                "success",
                "Successfully Company User Created",
                "Company User Created"
              );
              this.$emit("getCompanyUsersData");
              this.isLoading = false;
              this.$v.$reset();
              this.resetAddCompanyUserForm();
            })
            .catch(error => {
              console.log(error.response.data);
              this.isLoading = false;
              // console.log(error);
              this.$toastr('error', error.response.data.message, 'Something Went Wrong!');
            });
        }
      },

      resetAddCompanyUserForm: function () {
        this.$v.$reset();
        this.companyUser = {
          title: 'Mr.',
          first_name:  '',
          last_name: '',
          email    : '',
          password : '',
          phone    : '',
          address  : '',
          time_zone:'',
          role     :'user',
        }
      }
    },

    mounted() {
      this.roles = [
        {
          text: 'User',
          value: 'user'
        },
        {
          text: 'HR',
          value: 'hr'
        }
      ];
    },
};
</script>
<style>
  .con-select, .vs-con-input-label {
    margin-left: 0px !important;
  }
</style>
