<template>
  <div>
    <vs-button
      @click="companyPopup = true; getCompany()"
      title="Edit company details"
      color="warning"
      type="gradient"
      size="small"
      class="px-2 py-1 rounded-none"
    >
      Edit
    </vs-button>
    <vs-popup
      classContent="popup-example"
      title="Edit Company User"
      :active.sync="companyPopup"
    >
      <div class="relative">

        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :width="30"
                 :height="30">
        </loading>

        <div class="vx-row">
          <div class="vx-col w-full mb-base">
            <div class="centerx">
              <form @submit.prevent="updateCompany">
                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label>
                      First Name
                      <span class="text-danger">*</span>
                    </label>
                  </div>
                  <div class="vx-col sm:w-2/3 w-full">
                    <vs-input
                      class="w-full"
                      :danger="$v.companyUser.first_name.$error ? true : false"
                      :danger-text="$v.companyUser.first_name.$error ? 'Name is Required.' : ''"
                      v-model.trim="$v.companyUser.first_name.$model"
                    />
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label>
                      Last Name
                      <span class="text-danger">*</span>
                    </label>
                  </div>
                  <div class="vx-col sm:w-2/3 w-full">
                    <vs-input
                      class="w-full"
                      :danger="$v.companyUser.last_name.$error ? true : false"
                      :danger-text="$v.companyUser.last_name.$error ? 'Name is Required.' : ''"
                      v-model.trim="$v.companyUser.last_name.$model"
                    />
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label>
                      Email
                      <span class="text-danger">*</span>
                    </label>
                  </div>
                  <div class="vx-col sm:w-2/3 w-full">
                    <vs-input
                      class="w-full"
                      type="email"
                      :danger="$v.companyUser.email.$error ? true : false"
                      :danger-text="$v.companyUser.email.$error ? 'Please insert a valid email address.' : ''"
                      v-model.trim="$v.companyUser.email.$model"
                    />
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label>
                      Phone
                      <span class="text-danger">*</span>
                    </label>
                  </div>
                  <div class="vx-col sm:w-2/3 w-full">
                    <vs-input
                      class="w-full"
                      type="phone"
                      :danger="$v.companyUser.phone.$error ? true : false"
                      :danger-text="$v.companyUser.phone.$error ? 'Phone number at least 10 alphabets' : ''"
                      v-model.trim="$v.companyUser.phone.$model"
                    />
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label>
                      Address
                      <span class="text-danger">*</span>
                    </label>
                  </div>
                  <div class="vx-col sm:w-2/3 w-full">
                    <vs-textarea
                      rows="2"
                      class="vs-col w-full m-0 shadow-none"
                      placeholder="Write in detail..."
                      :class="$v.companyUser.address.$error ? 'textarea-danger' : ''"
                      v-model.trim="$v.companyUser.address.$model"
                    />
                    <span v-if="$v.companyUser.address.$error" class="con-text-validation span-text-validation-danger vs-input--text-validation-span v-enter-to ">
                      Address is required
                    </span>
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label>
                      Time Zone
                      <span class="text-danger">*</span>
                    </label>
                  </div>
                  <div class="vx-col sm:w-2/3 w-full con-select-example">
                    <vs-select
                      class="w-full"
                      placeholder="Search and select"
                      autocomplete
                      label
                      :danger="$v.companyUser.time_zone.$error ? true : false"
                      :danger-text="$v.companyUser.time_zone.$error ? 'Timezone is required' : ''"
                      v-model.trim="$v.companyUser.time_zone.$model"
                    >
                      <vs-select-item
                        :key="index"
                        :value="time_zone"
                        :text="time_zone"
                        v-for="(time_zone, index) in time_zones"
                      />
                    </vs-select>
                  </div>
                </div>

                <div class="vx-row mb-6">
                  <div class="vx-col sm:w-1/3 w-full">
                    <label>
                      Role
                      <span class="text-danger">*</span>
                    </label>
                  </div>
                  <div class="vx-col sm:w-2/3 w-full con-select-example">
                    <vs-select
                      class="w-full"
                      placeholder="Search and select"
                      autocomplete
                      label
                      :danger="$v.companyUser.role.$error ? true : false"
                      :danger-text="$v.companyUser.role.$error ? 'Role is required' : ''"
                      v-model.trim="$v.companyUser.role.$model"
                    >
                      <vs-select-item
                        :key="index"
                        :value="role.value"
                        :text="role.text"
                        v-for="(role, index) in roles"
                      />
                    </vs-select>
                  </div>
                </div>

                <div class="vx-row">
                  <div class="vx-col sm:w-2/3 w-full ml-auto">
                    <vs-button class="mr-3 mb-2" button="submit">Update</vs-button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import ApiService from "@/services/api.service";
import { timeZones } from "../../../timezones";
import {required, minLength, email } from 'vuelidate/lib/validators'
export default {
  name: "EditCompanyUser",
  props: {
    companyUser_id : Number,
    plans          : Array
  },
  data() {
    return {
      time_zones: timeZones,
      roles:[],
      companyUser: {
        title: '',
        first_name : '',
        last_name  : '',
        email      : '',
        password   : '',
        phone      : '',
        address    : '',
        time_zone  :'',
        role       :'',
      },
      isLoading    : true,
      companyPopup : false
    };
  },
  validations: {
    companyUser: {
      first_name : { required },
      last_name  : { required },
      email      : { required, email },
      phone      : { required, minLength: minLength(10) },
      address    : { required },
      time_zone  : { required },
      role       : { required}
    }
  },
  methods: {
    getCompany() {
      this.isLoading = true;
      ApiService.get(`company/user/${this.companyUser_id}`)
        .then(response =>{
          let data = response.data;

          this.companyUser = {
            title: data.title,
            first_name: data.first_name,
            last_name: data.last_name,
            email     : data.email,
            password  : data.password,
            phone     : data.phone,
            address   : data.address,
            time_zone : data.timezone,
            role      : data.role,

          }

        }).catch(error =>{
        console.error(error);
      }).finally(()=>{
        this.isLoading = false;
      })
    },
    updateCompany() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        ApiService.update(`/company/user/${this.companyUser_id}`, this.companyUser)
        .then(response => {
          this.$toastr(
            "success",
            "Successfully Company User Updated",
            "Company User Updated!"
          );
          this.$emit("getCompanyUsers");
          this.companyPopup = false;
          this.companyUser = {};
        })
        .catch(error => {
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        });
      }
    },
  },
  mounted() {
    this.roles = [
      {
        text: 'User',
        value: 'user'
      },
      {
        text: 'HR',
        value: 'hr'
      }
    ];
  },
  watch: {
    companyPopup(val, oldval) {
      if(!val) this.companyUser = {};
    },
  }
};
</script>
