<template>
  <div class="vx-row">
    <div class="vx-col w-full">
      <vx-card>
        <h4 class="text-center mt-3 mb-10">Select the list you want to see</h4>
        <br/>
        <div class="grid-layout-container alignment-block">
          <vs-row vs-align="center" vs-type="flex" vs-justify="center" vs-w="12">
            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="2" class="p-3">
              <div class="border-gray w-full text-center p-10 cursor-pointer" @click="gotoUserList('User')">
                <users-icon size="3.5x" class="custom-class"></users-icon>
                <h6>Users</h6>
              </div>
            </vs-col>

            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="2" class="p-3">
              <div class="border-gray w-full text-center p-10 cursor-pointer" @click="gotoUserList('Hr')">
                <users-icon size="3.5x" class="custom-class"></users-icon>
                <h6>HR</h6>
              </div>
            </vs-col>

            <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="2" class="p-3">
              <div class="border-gray w-full text-center p-10 cursor-pointer" @click="gotoUserList('Admin')">
                <users-icon size="3.5x" class="custom-class"></users-icon>
                <h6>Admin</h6>
              </div>
            </vs-col>
          </vs-row>
        </div>
      </vx-card>
    </div>
  </div>
</template>

<script>
import { UsersIcon } from 'vue-feather-icons'
export default {
  name: "ViewCompanyUsers",
  components: {
    UsersIcon
  },


  data() {
    return {

    };
  },

  methods: {
    gotoUserList(value) {
      this.$router.push({ path: 'users', query: { user: value } });
    }
  },

  watch: {
    currentPage: function(val, oldVal){
      this.getCompanyUsersData(val)
    }
  },

  mounted() {

  },

  created() {
  },
};
</script>

<style>
  .vx-card {
    min-height: 400px !important;
  }
  .border-gray {
    border: 2px solid slategrey;
  }
</style>

