<template>
    <div class="vx-row">
        <div class="vx-col w-full mb-base">
            <h1>Send User Credentials.</h1>
        </div>
    </div>
</template>

<script>
import ApiService from "../../../services/api.service";
import {required, minLength, email } from 'vuelidate/lib/validators'
export default {
};
</script>
