<template>
  <div class="vx-row">
    <div class="vx-col w-full participant-list">
      <loading
        :active.sync="isLoading"
        :can-cancel="true"
        :is-full-page="false"
        :width="30"
        :height="30"
      ></loading>

      <vx-card title="" no-shadow>

        <div class="vx-row justify-between">
          <div class="vx-col">
            <h4>{{ listTitle }} List</h4>
          </div>
          <div class="vx-col text-right">
            <div class="vx-row">
              <div class="vx-col w-3/10">
                <vs-button type="border" color="#555" @click="showImportExcelPopup">Import Participant</vs-button>
              </div>

              <div class="vx-col w-3/10">
                <vs-button type="border" color="#555" @click="addParticipantPopup = true">Add Participant</vs-button>
              </div>

              <div class="vx-col w-2/10">
                <vs-select
                  placeholder="Export File"
                  class="w-full"
                  label-placeholder="Status"
                  autocomplete
                  v-model="selectValue"
                  @change="exportPdfOrExcel(selectValue)"
                >

                  <vs-select-item :value="'export-pdf'" :text="'Export Pdf'"/>
                  <vs-select-item :value="'export-excel'" :text="'Export Excel'"/>

                </vs-select>
              </div>

              <div class="vx-col w-2/10">
                <vs-button color="primary" :disabled="!options.length" type="gradient" @click="sendCredentials">Send
                  Credentials
                </vs-button>
              </div>
            </div>
          </div>

        </div>

        <form @submit.prevent="getCompanyUsersData" class="vx-row mb-3 mt-5">

          <div class="vx-col w-1/5">
            <vs-input @keyup="getCompanyUsersDataLazy" type="text" class="w-full" v-model="search.name"
                      placeholder="name" label="Name"/>
          </div>

          <div class="vx-col w-1/5">
            <vs-input @keyup="getCompanyUsersDataLazy" type="text" class="w-full" v-model="search.phone"
                      placeholder="phone" label="Phone"/>
          </div>

          <div class="vx-col w-1/5">
            <vs-input @keyup="getCompanyUsersDataLazy" type="text" class="w-full" v-model="search.email"
                      placeholder="email" label="Email"/>
          </div>

          <div class="vx-col w-1/5">
            <vs-input @keyup="getCompanyUsersDataLazy" type="text" class="w-full" v-model="search.address"
                      placeholder="address" label="Address"/>
          </div>
        </form>

        <div class="vx-row mt-3">
          <div class="vx-col w-full">
            <vs-table stripe :data="companyUsers">
              <template slot="thead">
                <vs-th>
                  <vs-checkbox v-model="alloptions" @change="selectAll">
                  </vs-checkbox>
                </vs-th>
                <vs-th>Name</vs-th>
                <vs-th>Phone</vs-th>
                <vs-th>Email</vs-th>
                <vs-th>Address</vs-th>
                <vs-th>Role</vs-th>
                 <vs-th v-for="(assessment, index) in projectAssessment" :key="index">
                  {{ assessment.key }}
                   <input type="checkbox" v-model="assessment.selectAssessment"   @change="selectAllAssessment(assessment.id, index)"/>
<!-- <vs-checkbox v-model="selectAssessment"   @change="selectAllAssessment(assessment.id, index)"></vs-checkbox>-->
                 </vs-th>
                <vs-th>Action</vs-th>
              </template>

              <template>
                <vs-tr
                  :key="index"
                  v-for="(companyUser, index) in companyUsers"
                >
                  <vs-td>
                    <vs-checkbox v-model="options" :vs-value="companyUser.id" @change="checkboxSelected">
                    </vs-checkbox>
                  </vs-td>
                  <vs-td color :data="companyUser.name"
                  >
                    <router-link :to="`/project/${$route.params.projectSlug}/participants/${companyUser.id}`">{{ companyUser.first_name }} {{ companyUser.last_name }}
                    </router-link>
                  </vs-td>
                  <vs-td :data="companyUser.phone"
                  >{{ companyUser.phone }}
                  </vs-td>
                  <vs-td :data="companyUser.email"
                  >{{ companyUser.email }}
                  </vs-td>

                  <vs-td :data="companyUser.address"
                  >{{ companyUser.address }}
                  </vs-td>

                  <vs-td :data="companyUser.role"
                  >{{ companyUser.role }}
                  </vs-td>

                    <vs-td v-for="(assessment, innerindex) in projectAssessment" :key="innerindex">
                      <input v-model="companyUser.newArray" :value="assessment.id" :id="assessment.id"  @change="selectParticipantAssessment()" type="checkbox"/>
                    </vs-td>

                  <vs-td>
                    <div class="flex">

                      <div>
                        <router-link :to="`/project/${$route.params.projectSlug}/participants/${companyUser.id}`">
                          <edit-icon size="1.5x" class="custom-class cursor-pointer text-dark"></edit-icon>
                        </router-link>

                      </div>
                      <div>
                        <trash-2-icon @click="deleteCompanyUserPopup = true; companyUserId = companyUser.id" size="1.5x"
                                      class="custom-class cursor-pointer text-dark"></trash-2-icon>
                      </div>
                      <div>
                        <router-link
                          title="Login As "
                          class="cursor-pointer text-dark"
                          :to="`/login-as/user/${companyUser.id}`"
                          target="_blank"
                        >
                          <unlock-icon size="1.5x" class="custom-class"></unlock-icon>
                        </router-link>
                      </div>
                    </div>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
            <vs-row class="justify-center mt-3">
              <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage"
                             class="w-full text-center"></vs-pagination>
            </vs-row>
          </div>
        </div>
      </vx-card>

      <vs-popup
        classContent="popup-example"
        title="Add Participant"
        :active.sync="addParticipantPopup"
      >
        <AddParticipant @getCompanyUsersData="getCompanyUsersData"></AddParticipant>
      </vs-popup>


      <vs-popup
        classContent="popup-example"
        :title="thisTitle"
        :active.sync="showSendUserCredentialsPopup"
      >
        <SendUserCredentials></SendUserCredentials>
      </vs-popup>

      <!-- Delete Companyuser popup-->
      <vs-popup title="Are you sure?" :active.sync="deleteCompanyUserPopup">
        <p class="my-5">
          This Company user will be delete permanently.
        </p>
        <vs-row class="mt-3 text-right">
          <vs-button @click="deleteCompanyUser" color="danger" type="filled" class="mr-2">Confirm</vs-button>
          <vs-button @click="deleteCompanyUserPopup=false" color="warning" type="border" class="mr-2">Cancel</vs-button>
        </vs-row>
      </vs-popup>

      <vs-popup title="Import Participant Data" :active.sync="activeImportPopup">
        <div class="vx-row">
          <div class="vx-col">
            <div v-if="validationErrors.length">
              <vs-alert title="Import Error" color="danger" active="true">
                <li v-for="(value, key, index) in validationErrors">{{ value[0] }}</li>
              </vs-alert>
            </div>
          </div>
        </div>
        <div class="vx-row mt-3">
          <div class="vx-col mt-3">
            <input type="file" id="file" ref="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
          </div>
          <div class="vx-col">
            <vs-button @click="handleFileUpload()">Import</vs-button>
          </div>
        </div>
      </vs-popup>
    </div>
  </div>
</template>

<script>
  import ViewCompanyUser from "./ViewCompanyUser";
  import EditCompanyUser from "./EditCompanyUser";
  import AddParticipant from "./AddCompanyUser";
  import EditParticipant from "./participant/AccountComponent";
  import SendUserCredentials from "./SendUserCredentials";
  import {
    RefreshCwIcon,
    PlusIcon,
    FilePlusIcon,
    FileTextIcon,
    UserPlusIcon,
    Trash2Icon,
    UnlockIcon,
    EditIcon,
    PlusSquareIcon
  } from "vue-feather-icons";
  import ApiService from "@/services/api.service";

  export default {
    name: "ViewCompanyUsers",

    components: {
      RefreshCwIcon, PlusIcon, FilePlusIcon, FileTextIcon, UserPlusIcon, Trash2Icon, UnlockIcon, EditIcon,
      ViewCompanyUser, EditCompanyUser, SendUserCredentials, AddParticipant, EditParticipant, PlusSquareIcon
    },

    data() {
      return {
        companyUsers: [{
          participant_assessments: [],
          newArray: []
        }],
        projectData: {},
        companyPopup: false,
        deleteCompanyUserPopup: false,
        activeImportPopup: false,
        showSendUserCredentialsPopup: false,
        assignAssessmentPopup: false,
        isLoading: false,
        checkComponent: '',
        thisTitle: '',
        plans: [],
        companyUserId: 0,
        selectValue: '',

        totalPages: 1,
        currentPage: 1,
        search: {},
        routeParams: '/company/user',
        file: '',
        validationErrors: [],
        addParticipantPopup: false,
        options: [],
        alloptions: false,
        listTitle: '',
        projectAssessment: [],
        participantId: 0,
        checkAssessments: [],
        saveAssessments: [],

        companyParticipants: [{
          newParticipantAssessment: [],
        }],
      };
    },

    methods: {
      getCompanyUsersDataLazy() {
        this.getCompanyUsersData();
      },

      getCompanyUsersData(page = 0) {
        this.isLoading = true;
        this.search.project_slug = this.$route.params.projectSlug;
        console.log(this.search, 'ddd');

        let get = page > 0 ? '?page=' + page + '&' : '?';
        let count = 0;
        let length = Object.keys(this.search).length;

        for (let i in this.search) get += i + '=' + this.search[i] + (++count < length ? '&' : '');

        ApiService.get(`${this.routeParams}${get}`)
          .then(response => {
            this.companyUsers = response.data.data;
            this.totalPages = response.data.last_page;
            this.currentPage = response.data.current_page;

            this.isLoading = false;
            this.addParticipantPopup = false;

            this.companyUsers = this.companyUsers.map(user => {
              user.newArray = [];
              user.participant_assessments.forEach((assessment,index) => {
                this.projectAssessment.forEach((el,idx) => {
                  if (el.id === assessment.assessment_id) user.newArray.push(el.id);
                });
              });
              return user;
            });
            console.log(this.companyUsers, 'dsffs');
          })
          .catch(error => {
            this.isLoading = false;
            this.$vs.dialog({
              color: "danger",
              title: `Something Went Wrong`,
              text: error.response.data.message
            });
          }).finally(() => {
          this.isLoading = false;
        });
      },

      deleteCompanyUser() {
        ApiService.delete(`/company/user/${this.companyUserId}`).then(response => {
          this.getCompanyUsersData();
          this.$toastr('success', 'Ticket Deleted', 'Success!');
          this.deleteCompanyUserPopup = false;
        }).catch(error => {
          this.deleteCompanyUserPopup = false;
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        }).finally(() => {
          this.companyPopup = false;
        })
      },

      exportPdfOrExcel(value) {
        this.isLoading = true;
        let get = '?';
        let count = 0;
        let length = Object.keys(this.search).length;
        for (let i in this.search) get += i + '=' + this.search[i] + (++count < length ? '&' : '');
        ApiService.get(`/company/user/${value}${get}`)
          .then(response => {
            this.isLoading = false;
            this.fileDownload(response.data);
            // window.open(response.data);
          })
          .catch(error => {
            this.isLoading = false;
            console.log(error);

          })
          .finally(() => {
            this.selectValue = null;
          });
      },

      gotoUserDetails(value, email, path) {
        this.$router.push({path: path, query: {userid: value}});
      },

      showImportExcelPopup() {
        this.activeImportPopup = true;
        this.validationErrors = [];
        this.$refs.file.value = null;
      },

      handleFileUpload() {
        this.file = this.$refs.file.files[0];
        let formData = new FormData();
        formData.append('file', this.file);
        formData.append('project_slug', this.$route.params.projectSlug);
        this.isLoading = true;
        ApiService.post(`/users/import/`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
          .then(response => {
            this.getCompanyUsersData();
            this.$toastr('success', 'Successfully Import Excel File', 'Success!');
            this.isLoading = false;
            this.activeImportPopup = false;
          })
          .catch(error => {
            this.isLoading = false;
            this.validationErrors = error.response.data;
          })
      },

      checkboxSelected() {
        console.log(this.options, 'dd');
      },

      selectAll() {
        this.options = [];
        if (this.alloptions == true) {
          this.companyUsers.forEach(el => {
            this.options.push(el.id);
          })
        } else {
          this.options = [];
        }
        console.log(this.options)
      },

      selectAllAssessment(id, index) {
        if(this.projectAssessment[index].selectAssessment == true) {
          this.companyUsers.forEach(el => {
            if(!el.newArray.includes(id)) {
              el.newArray.push(id);
            }
          })
        } else {
          this.companyUsers.forEach(el => {
            if(el.newArray.includes(id)) {
              let index = el.newArray.indexOf(id);
              el.newArray.splice(index, 1);
            }
          })
        }

        this.selectParticipantAssessment();
      },

      sendCredentials() {
        ApiService.post(`/users/send-credentials`, {ids: this.options}, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(response => {
          if (response.data.status == 'success') {
            this.$toastr('success', response.data.message, 'Success!');
            this.options = ''
            this.alloptions = false
          } else {
            this.$toastr('error', response.data.message, 'Error')
          }
        }).catch(error => {
          this.$toastr('error', error.response.data, 'Error')
        })
      },

      getProjectAssessment() {
        ApiService.get(`/company-assessment/${this.projectData.company_id}/${this.projectData.id}`)
          .then(response => {
            this.projectAssessment = response.data;
            this.projectAssessment = this.projectAssessment.map(assessment => {
              assessment.selectAssessment = false;
              return assessment;
            });
            console.log(this.projectAssessment, 'aaaa');
            this.getCompanyUsersData();
          }).catch(error => {
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      },

      getParticipantAssessment() {
        ApiService.get(`/company-assessment/get-participant-assessment/${this.participantId}`)
          .then(response => {
            response.data.filter(ele => {
              this.checkAssessments.push(ele.assessment.id);
            });
          }).catch(error => {
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      },

      selectParticipantAssessment() {
        console.log(this.companyUsers, 'ddd');
        this.isLoading = true;
        ApiService.post(`/company-assessment/assign-participant-assessment/by-participant-checkbox`, this.companyUsers)
          .then(response => {
            this.isLoading = false;
            this.getCompanyUsersData();
            this.$toastr('success', 'Assessments Updated Successfully!', 'Success!')
          }).catch(error => {
          this.isLoading = false;
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      },

      getProject() {
        ApiService.get(`/project/${this.$route.params.projectSlug}`)
          .then(response => {
            this.projectData = response.data;
            this.getProjectAssessment();
            console.log(this.projectData, 'Project Data');
          }).catch(error => {
          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        })
      },
    },

    watch: {
      currentPage: function (val, oldVal) {
        this.getCompanyUsersData(val)
      }
    },

    mounted() {

      this.isLoading = true;
      if (this.$route.query.user == 'User') {
        this.routeParams = '/users/user';
        this.listTitle = 'Participant';
      }

      if (this.$route.query.user == 'Hr') {
        this.routeParams = '/users/hr';
        this.listTitle = 'HR';
      }

      if (this.$route.query.user == 'Admin') {
        this.routeParams = '/users/admin';
        this.listTitle = 'Admin';
      }

      if (this.callingRoute == 'CompanyUsers') {
        this.routeParams = `company/${this.$route.params.companyId}/users`;
        this.listTitle = 'Participant';
      }

      this.getProject();

    },

    created() {
      this.getCompanyUsersDataLazy = _.debounce(this.getCompanyUsersData, 500)
    },
  };
</script>

<style scoped>
  .participant-list .vx-card {
    min-height: 500px;
  }
</style>
