<template>
<div>
    <vs-button
        @click="companyPopup = true; getCompanyUser()"
        title="View user details"
        color="success"
        type="gradient"
        size="small"
        class="px-2 py-1 rounded-none rounded-l"
    >
        View
    </vs-button>
    <vs-popup
            classContent="popup-example"
            title="User Details"
            :active.sync="companyPopup"
    >
        <div class="relative">

            <loading :active.sync="isLoading"
                     :can-cancel="true"
                     :is-full-page="false"
                     :width="30"
                     :height="30">
            </loading>

            <table class="table table-auto table-striped table-responsive mb-5 w-full">
                <tr>
                    <td class="text-left w-1/3"><strong>Name</strong></td>
                    <td class="text-left w-2/3">: {{ companyUser.name }}</td>
                </tr>
                <tr>
                    <td class="text-left w-1/3"><strong>Phone</strong></td>
                    <td class="text-left w-2/3">: {{ companyUser.phone }}</td>
                </tr>
                <tr>
                    <td class="text-left w-1/3"><strong>Email</strong></td>
                    <td class="text-left w-2/3">: {{ companyUser.email }}</td>
                </tr>
                <tr>
                    <td class="text-left w-1/3"><strong>Address</strong></td>
                    <td class="text-left w-2/3">: {{ companyUser.address }}</td>
                </tr>
                <tr>
                    <td class="text-left w-1/3"><strong>City</strong></td>
                    <td class="text-left w-2/3">: {{ companyUser.city }}</td>
                </tr>
                <tr>
                    <td class="text-left w-1/3"><strong>Country</strong></td>
                    <td class="text-left w-2/3">: {{ companyUser.country }}</td>
                </tr>
            </table>
        </div>
    </vs-popup>
</div>
</template>

<script>
import ApiService from "@/services/api.service";
export default {
    name: "ViewCompanyUser",
    props: {
      companyUser_id: Number
    },
    data() {
        return {
          companyPopup  : false,
          companyUser   : {},
          isLoading     : true
        };
    },
    methods: {
      getCompanyUser() {
        this.isLoading = true;

        ApiService.get(`company/user/${this.companyUser_id}`)
        .then(response =>{
          this.companyUser = response.data;

        }).catch(error =>{
          console.error(error);
        }).finally(()=>{
          this.isLoading = false;
        })
      }
    },
    watch: {
      companyPopup(val, oldval) {
        if(!val) this.companyUser = {};
      },
    }
};
</script>
