<template>
  <div class="vx-row">
    <div class="vx-col md:w-1/1 w-full mb-base">
      <vx-card title="Mail">
        <div class="vx-row">
          <div class="vx-col md:w-1/6 w-full mb-base">
            <ul class="mail-menu">
              <li>
                <vs-button class="bg-primary-gradient w-full" icon-pack="feather" icon="icon-edit" @click="activePopup = true">Compose</vs-button>
              </li>
              <li :class="{ active: activeComponent == 'inbox-mail' }" class="flex items-center justify-between items-center" @click="showComponent('inbox-mail')">
                <div class="flex items-center mb-2">
                  <mail-icon size="1.5x" class="custom-class"></mail-icon>
                  <span class="text-lg ml-3">Inbox</span>
                </div>
                <vs-chip class="number" color="danger">2</vs-chip>
              </li>

              <li :class="{ active: activeComponent == 'sent-mail' }" class="flex items-center justify-between items-center" @click="showComponent('sent-mail')">
                <div class="flex items-center mb-2">
                  <send-icon size="1.5x" class="custom-class"></send-icon>
                  <span class="text-lg ml-3">Sent</span>
                </div>
              </li>

              <li :class="{ active: activeComponent == 'starred-mail' }" class="flex items-center justify-between items-center" @click="showComponent('starred-mail')">
                <div class="flex items-center mb-2">
                  <star-icon size="1.5x" class="custom-class"></star-icon>
                  <span class="text-lg ml-3">Starred</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="vx-col md:w-5/6 w-full mb-base">
            <loading :active.sync="isLoading"
              :can-cancel="true"
              :is-full-page="false"
              :width="30"
              :height="30">
            </loading>
            <div v-show="!isLoading">
              <InboxMail v-if="activeComponent == 'inbox-mail'"></InboxMail>
              <SentMail v-if="activeComponent == 'sent-mail'" ref="sentMailComponent"></SentMail>
               <StarredMail v-if="activeComponent == 'starred-mail'"></StarredMail>
            </div>
          </div>
        </div>
      </vx-card>

      <!-- compose email -->
      <vs-prompt @close="clearComposeEmailForm" :buttons-hidden="true" title="Compose Mail" :active.sync="activePopup">
        <ComposeEmail ref="composeEmail" @closeComposeEmailForm="closeComposeEmailForm"></ComposeEmail>
      </vs-prompt>
    </div>
  </div>
</template>

<script>
  import ApiService from "@/services/api.service";
  import InboxMail from "./components/InboxMail";
  import SentMail from "./components/SentMail";
  import StarredMail from "./components/StarredMail";
  import ComposeEmail from "./components/ComposeEmail";
  import { MailIcon, SendIcon, StarIcon } from 'vue-feather-icons';
  export default {
    name: "Mail",
    components: {
      InboxMail,
      SentMail,
      StarredMail,
      MailIcon,
      SendIcon,
      StarIcon,
      ComposeEmail
    },

    data() {
      return {
        baseUrl: process.env.MIX_APP_URL,
        activeComponent: "inbox-mail",
        isLoading: false,
        activePopup: false,
      }
    },

    methods: {
      showComponent(value) {
        this.activeComponent = value;
      },

      closeComposeEmailForm() {
        this.activePopup = false;
        this.$refs['sentMailComponent'].getSentEmails();
      },

      clearComposeEmailForm() {
        this.$refs['composeEmail'].resetForm();
      },

      getInboxMailData() {
        // this.isLoading = true;
      }
    },

    mounted() {
      this.getInboxMailData();
    }
  }
</script>

<style>
  .con-vs-dialog .vs-dialog {
    max-width: 700px !important;
  }
</style>
<style scoped>
  .mail-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .mail-menu > li {
    font-size: 12px;
		font-weight: 600;
    margin: 15px 0px;
  }

  .mail-menu > li:hover {
    cursor: pointer;
  }

  .mail-menu > .active {
    color: blue;
  }

  .vx-card {
    min-height: 500px;
  }
</style>
