<template>
  <div class="vx-row justify-center">
    <div class="vx-col w-1/2 mb-base">
      <div  class="centrex">
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :width="30"
                 :height="30">
        </loading>
        <vx-card>
          <div class="vx-row">
            <div class="vx-col w-full mb-3">
              <h4>Edit Ticket</h4>
            </div>
          <div class="vx-col w-full">
        <vs-row class="mb-3">
          <vs-input
            class="vs-col w-full m-0"
            label="Title"
            icon-pack="feather"
            icon="icon-type"
            val-icon-danger="clear"
            v-model="editTicket.title"
            :danger="$v.editTicket.title.$error ? true : false"
            :danger-text="$v.editTicket.title.$error ? 'Title is required and must be between 4 to 190 alphabets' : ''"
            v-model.trim="$v.editTicket.title.$model"
          />
        </vs-row>
        <div class="vx-row mb-3">
          <div class="vx-col w-1/2">
            <vs-select
              placeholder="Search and select"
              class="w-full m-0"
              label="Assigned To"
              autocomplete
              v-model="editTicket.assigned_to"
            >
              <vs-select-item :key="index" :value="item.id" :text="item.title+' '+item.first_name+' '+item.last_name" v-for="(item,index) in superAdmins" />
            </vs-select>
          </div>
          <div class="vx-col w-1/2">
            <vs-select
              placeholder="Search and select"
              class="w-full m-0"
              label="Company"
              autocomplete
              disabled="true"
              v-model.trim="editTicket.user_id"
            >
              <vs-select-item :key="index" :value="item.company_user.user_id" :text="item.name" v-for="(item,index) in allCompanies" />
            </vs-select>
          </div>
        </div>
        <div class="vx-row mb-3">
          <div class="vx-col w-1/2">
            <vs-select
              placeholder="Search and select"
              class="w-full m-0"
              label="Priority"
              autocomplete
              v-model="editTicket.priority"
            >
              <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in priorities" />
            </vs-select>
          </div>
          <div class="vx-col w-1/2">
            <vs-select
              placeholder="Search and select"
              class="w-full m-0"
              label="Status"
              autocomplete
              v-model="editTicket.status"
            >
              <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in statuses" />
            </vs-select>
          </div>
        </div>
        <vs-row class="mb-3">
          <label class="vs-input--label">Description</label>
          <quill-editor
            class="w-full"
            ref="email-body"
            :options="editorOption"
            :class="$v.editTicket.body.$error ? 'textarea-danger' : ''"
            v-model.trim="$v.editTicket.body.$model"
          />
          <small v-if="$v.editTicket.body.$error" class="textarea-danger-text">Body is required and must be greater than 100 alphabets.</small>
        </vs-row>
            <vs-row class="mb-3">
              <div class="vx-row" v-if="my_files.length">
                <div class="vx-col w-full lg:w-1/4 relative my-auto" v-for="(attachment,index) in my_files" :key="index">
                  <vs-button
                    v-if="attachment"
                    radius
                    color="danger"
                    @click="my_files.splice(index,1)"
                    class="absolute right-0 top-0"
                    size="small"
                    type="filled"
                    icon="close"
                  ></vs-button>
                  <div>
                    <img v-if="attachment && fileType(attachment) === 'image'"  :src="attachment" class="mt-3 w-full"/>
                    <img v-if="attachment && fileType(attachment) !== 'image'" :src="'/images/file-icons/'+fileType(attachment)+'.png'" class="mt-3 w-full" style="height: 200px;"/>
                  </div>
                </div>
              </div>
            </vs-row>
            <vs-row  class="mb-3">
              <VueGallery  v-model="attachment_paths" :type="'button'" class="cursor-pointer w-full "></VueGallery>
            </vs-row>
        <!--<vs-row class="mb-3">
          <div class="w-1/6 relative" v-for="(file, index) in editTicket.files">
            <vs-button class="absolute p-0" title="Delete" color="danger" type="gradient" size="small" @click="deleteThisFile(index)">
              <XIcon size="1.5x" class="custom-class"></XIcon>
            </vs-button>
            <img class="w-full" :src="file.file" alt="image">
          </div>
        </vs-row>-->

        <div class="vx-col sm:w-2/3 w-full ml-auto text-right">
          <vs-button @click="updateTicket(editTicket.id)" color="primary" type="filled">Update</vs-button>
          <vs-button @click="popupTicketEdit=false" color="warning" type="border">Cancel</vs-button>
        </div>
          </div>
          </div>
          </vx-card>
      </div>
    </div>
  </div>
</template>


<script>
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.snow.css';
import { quillEditor } from 'vue-quill-editor';
import ApiService from "@/services/api.service"
import { XIcon } from 'vue-feather-icons'
import VueGallery from "@/components/v-gallery/VueGallery"
import {required, minLength, maxLength} from 'vuelidate/lib/validators'

export default {
  name:"EditTicket",
  data () {
    return {
      isLoading       : true,
      supportId       : this.$route.params.supportId,
      editTicket      : { my_files: [] },
      my_files        : [],
      priorities      : [],
      superAdmins     : [],
      allCompanies    : {},
      file             : '',
      attachment_paths: '',
      statuses        : [],
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
            [{'header': 1}, {'header': 2}],
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'font': []}]
          ]
        },
        placeholder: 'Write in detail...'
      },
    }
  },
  validations: {
    editTicket: {
      title : { required, minLength: minLength(4), maxLength: maxLength(190) },
      body  : { required, minLength: minLength(100) }
    }
  },
  methods: {
    getSuperAdmin() {
      ApiService.get(`/ticket/super-admin`).then(response => {
        this.superAdmins = response.data;
        // console.log( this.assigns);
      }).catch(error => {
        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },
    getAllCompanies() {
      ApiService.get(`/company/allCompanies`).then(response => {
        this.allCompanies = response.data;
        console.log(this.allCompanies);
      }).catch(error => {
        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },
    deleteThisFile(index) {
      let id = this.editTicket.files[index].id
      ApiService.delete(`/ticket/file/${id}`).then(response => {
        this.$toastr('success', 'File Deleted', 'Success!')
        _.pullAt(this.editTicket.files, index)
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },
    updateTicket(id) {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        let update = _.pick(this.editTicket, ['title', 'user_id', 'status', 'assigned_to', 'priority', 'body', 'my_files']);
        update.my_files = this.my_files;

        ApiService.update(`/ticket/${id}`, update).then(response => {
          this.$emit('getTickets')
          this.$toastr('success', 'Ticket Updated', 'Success!')
          this.popupTicketEdit = false
        }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
        }).finally(() => {
          // this.popupTicketEdit = false;
        })
      }
    },
    getTicket() {
      this.isLoading = true;

      ApiService.get(`/ticket/${this.supportId}`).then(response => {
        console.log('asas', response.data);
        this.editTicket = response.data;
        this.editTicket.my_files = [];
        this.editTicket.files.filter(element => {
          this.my_files.push(element.file)
        })
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        // this.popupTicketEdit = false;
        this.isLoading = false;
      })
    },
    resetForm() {
      this.editTicket  = {};
    }
  },
  mounted() {
    this.getAllCompanies();
    this.getTicket();
    this. getSuperAdmin();
    this.priorities = [
      {
        text: 'High',
        value: 'high'
      },
      {
        text: 'Middle',
        value: 'middle'
      },
      {
        text: 'Low',
        value: 'low'
      }
    ];
    this.statuses = [
      {
        text: 'Open',
        value: 'open'
      },
      {
        text: 'Close',
        value: 'close'
      },
      {
        text: 'Cancel',
        value: 'cancel'
      }
    ];
  },
  components: {
    VueGallery,
    XIcon,quillEditor
  },

  watch: {
    attachment_paths : function(val, oldVal) {
      if(this.my_files.includes(val)) {
        this.$toastr('error', 'Same file cannot be uploaded.', 'No file select.');
      } else {
        this.my_files.push(val);
      }
    }
  },
};
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
