<template>
  <div class="vx-row justify-center">
    <div class="vx-col w-1/2 mb-base">
      <div class="centrex">
        <vx-card>
          <div class="vx-row">
            <div class="vx-col w-full mb-3">
              <h4>Add Ticket</h4>
            </div>
            <div class="vx-col w-full">
              <vs-row class="mb-3">
                <vs-input
                  class="vs-col w-full m-0"
                  label="Title"
                  icon-pack="feather"
                  icon="icon-type"
                  val-icon-danger="clear"
                  :danger="$v.addTicket.title.$error ? true : false"
                  :danger-text="$v.addTicket.title.$error ? 'Title is required and must be between 4 to 190 alphabets' : ''"
                  v-model.trim="$v.addTicket.title.$model"
                />
              </vs-row>
              <div class="vx-row mb-3">
                <div class="vx-col w-1/3">
                  <vs-select
                    placeholder="Search and select"
                    class="w-full m-0"
                    label="Priority"
                    autocomplete
                    :danger="$v.addTicket.priority.$error ? true : false"
                    :danger-text="$v.addTicket.priority.$error ? 'Priority is required ' : ''"
                    v-model.trim="$v.addTicket.priority.$model"
                  >
                    <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in priorities" />
                  </vs-select>
                </div>
                <div class="vx-col w-1/3">
                  <vs-select
                    placeholder="Search and select"
                    class="w-full m-0"
                    label="Assigned To"
                    autocomplete
                    :danger="$v.addTicket.assigned_to.$error ? true : false"
                    :danger-text="$v.addTicket.assigned_to.$error ? 'Assigned To is required ' : ''"
                    v-model.trim="$v.addTicket.assigned_to.$model"
                  >
                    <vs-select-item :key="index" :value="item.id" :text="item.title+' '+item.first_name+' '+item.last_name" v-for="(item,index) in superAdmins" />
                  </vs-select>
                </div>
                <div class="vx-col w-1/3">
                  <vs-select
                    placeholder="Search and select"
                    class="w-full m-0"
                    label="Company"
                    autocomplete
                    :danger="$v.addTicket.user_id.$error ? true : false"
                    :danger-text="$v.addTicket.user_id.$error ? 'Assigned To is required ' : ''"
                    v-model.trim="$v.addTicket.user_id.$model"
                  >
                    <vs-select-item :key="index" :value="item.company_user.user_id" :text="item.name" v-for="(item,index) in allCompanies" />
                  </vs-select>
                </div>
              </div>
              <vs-row class="mb-3">
                <label class="vs-input--label">Description</label>
               <quill-editor
                  class="w-full"
                  ref="email-body"
                  :options="editorOption"
                  :class="$v.addTicket.body.$error ? 'textarea-danger' : ''"
                  v-model.trim="$v.addTicket.body.$model"
                />
                <small v-if="$v.addTicket.body.$error" class="textarea-danger-text">Body is required and must be greater than 100 alphabets.</small>
              </vs-row>
              <vs-row class="mb-3">
                <div class="vs-col w-full">
                  <div class="vx-row" v-if="addTicket.my_files.length">
                    <div class="vx-col w-full lg:w-1/4 relative my-auto" v-for="(attachment,index) in addTicket.my_files" :key="index">
                      <vs-button
                        v-if="attachment"
                        radius
                        color="danger"
                        @click="addTicket.my_files.splice(index,1)"
                        class="absolute right-0 top-0"
                        size="small"
                        type="filled"
                        icon="close"
                      ></vs-button>
                      <div>
                        <img v-if="attachment && fileType(attachment) === 'image'"  :src="attachment" class="mt-3 w-full"/>
                        <img v-if="attachment && fileType(attachment) !== 'image'" :src="'/images/file-icons/'+fileType(attachment)+'.png'" class="mt-3 w-full" style="height: 200px;"/>
                      </div>
                    </div>
                  </div>
                </div>
              </vs-row>
              <vs-row  class="mb-3">
                <VueGallery  v-model="attachment_paths" :type="'button'" class="cursor-pointer w-full "></VueGallery>
              </vs-row>
              <div class="vx-col sm:w-2/3 w-full ml-auto text-right">
                <vs-button @click="saveTicket()" color="primary" type="filled">Save</vs-button>
                <vs-button
                  color="warning"
                  type="border"
                  class="mb-2"
                  @click="resetForm"
                >Reset</vs-button
                >
              </div>
            </div>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>


<script>
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.snow.css';
import { quillEditor } from 'vue-quill-editor';
import ApiService from '@/services/api.service'
import { PlusIcon } from 'vue-feather-icons'
import VueGallery from "@/components/v-gallery/VueGallery"
import {required, minLength, maxLength} from 'vuelidate/lib/validators'

export default {
  name:'OpenTicket',
  props: {
    user_id: Number
  },
  data () {
    return {
      addTicket: {
        title       : '',
        priority    : '',
        assigned_to : '',
        user_id     : '',
        body        : '',
        my_files    : [],
      },
      popupFile        : false,
      attachment_paths : '',
      priorities       : [],
      superAdmins      : [],
      allCompanies     : {},
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
            [{'header': 1}, {'header': 2}],
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'font': []}]
          ]
        },
        placeholder: 'Write in detail...'
      },
    }
  },

  validations: {
    addTicket: {
      title : { required, minLength: minLength(4), maxLength: maxLength(190) },
      priority    :  { required },
      assigned_to : { required },
      user_id : { required },
      body  : { required, minLength: minLength(100) }
    }
  },
  methods: {
    saveTicket() {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        //this.addTicket.user_id = this.user_id

        ApiService.post('/ticket', this.addTicket).then(response => {
          this.resetForm();
          this.$v.$reset();
          this.$emit('getTickets')
          this.$toastr('success', 'Ticket Saved', 'Success!');
          this.addPopup = false;
        }).catch(error => {

          if (error.response.status == 422) {
            for (let property in error.response.data.errors) {
              this.$toastr('error', error.response.data.errors[property], 'Error')
            }
          }
          else {
            this.$toastr('error', 'Error in form validation');
          }
        }).finally(()=>{
          this.resetForm();
        })
      }
    },
    getSuperAdmin() {
      ApiService.get(`/ticket/super-admin`).then(response => {
        this.superAdmins = response.data;
       // console.log( this.assigns);
      }).catch(error => {
        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },
    getAllCompanies() {
      ApiService.get(`/company/allCompanies`).then(response => {
        this.allCompanies = response.data;
        console.log(this.allCompanies);
      }).catch(error => {
        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },

    resetForm() {
      this.$v.$reset();
      this.attachment_paths = '';
      this.addTicket.title = ''
      this.addTicket.priority = ''
      this.addTicket.assigned_to = ''
      this.addTicket.body = ''
      while( this.addTicket.my_files.length > 0) this.addTicket.my_files.pop();
    }
  },
  components: {
    VueGallery,
    PlusIcon,quillEditor
  },
  mounted() {
    this.getAllCompanies();
    this.getSuperAdmin();
    this.priorities = [
      {
        text: 'High',
        value: 'high'
      },
      {
        text: 'Middle',
        value: 'middle'
      },
      {
        text: 'Low',
        value: 'low'
      }
    ];
  },

  watch: {
    attachment_paths : function(val, oldVal) {
      if(this.addTicket.my_files.includes(val)) {
        this.$toastr('error', 'Same file cannot be uploaded.', 'No file select.');
      } else {
        this.addTicket.my_files.push(val);
      }
    }
  },
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
