<template>
  <div>
    <loading :active.sync="isLoading"
             :can-cancel="true"
             :is-full-page="false"
             :width="30"
             :height="30">
    </loading>
    <vx-card title="">
      <vs-row class="justify-between mb-5">
        <h4>Ticket List</h4>
        <div class="flex">
          <div class="vx-col">
            <vs-select
              placeholder="Export File"
              class="w-full"
              label-placeholder="Status"
              autocomplete
              v-model="selectValue"
              @change="exportPdfOrExcel(selectValue)"
            >
              <vs-select-item :value="'export-pdf'" :text="'Export Pdf'"  />
              <vs-select-item :value="'export-excel'" :text="'Export Excel'" />
            </vs-select>
             </div>
           </div>
      </vs-row>

      <form @submit.prevent="getTickets()" class="vx-row mb-3">

        <div class="vx-col w-1/5">
          <vs-select
            placeholder="Search and select"
            class="w-full"
            label="Name"
            label-placeholder="Name"
            autocomplete
            v-model="search.user_id"
            @change="getTicketsLazy()"
            >
            <vs-select-item :value="'all'" :text="'All'" />
            <vs-select-item :key="index" :value="item.id" :text="item.name" v-for="(item,index) in users" />
          </vs-select>
        </div>

        <div class="vx-col w-1/5">
          <vs-input @keyup="search.title.length >= 3 ? getTicketsLazy():''" type="text" class="w-full" v-model="search.title" placeholder="keywords" label="Keywords" />
        </div>
        <div class="vx-col w-1/5">
          <vs-select
            placeholder="Search and select"
            class="w-full"
            label="Priority"
            label-placeholder="Priority"
            autocomplete
            v-model="search.priority"
            @change="getTicketsLazy()"
            >
            <vs-select-item :value="'all'" :text="'All'" />
            <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item, index) in priorities" />
          </vs-select>
        </div>
        <!--<div class="vx-col w-1/5">
          <vs-input @keyup="getTicketsLazy()" type="text" class="w-full" v-model="search.body" placeholder="description" label="Description" />
        </div>-->
        <div class="vx-col w-1/5">
          <vs-select
            placeholder="Search and select"
            class="w-full"
            label="Status"
            label-placeholder="Status"
            autocomplete
            v-model="search.status"
            @change="getTicketsLazy()"
            >
            <vs-select-item :value="'all'" :text="'All'" />
            <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="item,index in statuses" />
          </vs-select>
        </div>
      </form>

      <vs-table stripe :data="tickets">
        <template slot="thead">
            <vs-th>#</vs-th>
            <vs-th>Name</vs-th>
            <vs-th>Title</vs-th>
            <vs-th>Priority</vs-th>
            <vs-th>Description</vs-th>
            <vs-th>Status</vs-th>
            <vs-th class="text-center">Action</vs-th>
        </template>

        <template>
            <vs-tr :key="index" v-for="(ticket, index) in tickets">
              <vs-td :data="index+1">
                {{ index + 1 }}
              </vs-td>
              <vs-td :data="ticket.user.first_name">
                <router-link :to="`/support/${ticket.id}/edit`">{{ ticket.user.title+' '+ticket.user.first_name+' '+ticket.user.last_name }}</router-link>
              </vs-td>
              <vs-td :data="ticket.title">
                {{ ticket.title }}
              </vs-td>
              <vs-td class="capitalize" :data="ticket.priority">
                {{ ticket.priority }}
              </vs-td>
              <vs-td width="40%" class="capitalize" :data="ticket.body" v-html="ticket.body">
                {{ ticket.body }}
              </vs-td>
              <vs-td :data="ticket.status">
                <div title="Open" class="text-warning">
                  <ClockIcon v-if="ticket.status == 'open'" size="1.5x" class="custom-class"></ClockIcon>
                </div>
                <div title="Close" class="text-success">
                  <check-square-icon v-if="ticket.status == 'close'" size="1.5x" class="custom-class"></check-square-icon>
                </div>
                <div title="Cancel" class="text-danger">
                  <XIcon v-if="ticket.status == 'cancel'" size="1.5x" class="custom-class"></XIcon>
                </div>
              </vs-td>
              <vs-td>
                <div class="flex">
                  <router-link title="Replay to this ticket" class="text-dark" :to="`/support/${ticket.id}/replay`">
                    <ExternalLinkIcon title="Replay to this ticket"  size="1.5x" class="custom-class cursor-pointer"></ExternalLinkIcon>
                  </router-link>
                <router-link class="text-dark ml-2" :to="`/support/${ticket.id}/edit`" title="Edit">
                   <edit-icon size="1.5x" class="custom-class"></edit-icon>
                </router-link>
                <span
                  @click="popupDelete=true; deleteId=ticket.id"
                  color="danger"
                  type="gradient"
                  size="small"
                  class="cursor-pointer text-dark ml-2"
                  :disabled="ticket.replies.length > 0"
                >
                  <trash-2-icon size="1.5x" class="custom-class"></trash-2-icon>
                </span>
                <!--  <EditTicket
                    :user_id="user.id"
                    :ticketId="ticket.id"
                    :ticketReplies="ticket.replies"
                    :priorities="priorities"
                    :statuses="statuses"
                    @getTickets="getTickets"
                  ></EditTicket>-->
                </div>

              </vs-td>
            </vs-tr>
        </template>
      </vs-table>
      <vs-row class="justify-center mt-3">
        <vs-pagination v-if="totalPages > 1" :total="totalPages" v-model="currentPage" class="w-full text-center"></vs-pagination>
      </vs-row>
    </vx-card>

    <div class="centerx">
      <vs-popup class="holamundo"  title="Are you sure?" :active.sync="popupDelete">
        <p class="my-5">
          This ticket will be deleted permanently!
        </p>
        <vs-row class="mt-3 text-right">
          <vs-button @click="deleteThisTicket()" color="danger" type="filled" class="mr-2">Confirm</vs-button>
          <vs-button @click="popupDelete=false" color="warning" type="border" class="mr-2">Cancel</vs-button>
        </vs-row>
      </vs-popup>
    </div>

  </div>
</template>

<script>
import ApiService from '@/services/api.service'
import {
  CheckSquareIcon,
  XIcon,
  ClockIcon,
  PlusIcon,
  FilePlusIcon,
  FileTextIcon,
  RefreshCwIcon,
  MoreVerticalIcon,
  Trash2Icon, EditIcon,
  ExternalLinkIcon
} from 'vue-feather-icons'
import OpenTicket from './OpenTicket'
import EditTicket from './EditTicket'
// import ReplayTicket from './ReplayTicket'

export default {
  data () {
    return {
      users         : [],
      user          : [],
      tickets       : [],
      addTicket     : {},
      search        : [],
      priorities    : [],
      statuses      : [],

      totalPages    : 1,
      currentPage   : 1,
      items         : 10,
      isLoading     : true,

      deleteId      : '',
      editTicket    : {},
      editTicketTmp : {},
      popupDelete   : false,
      selectValue   : '',

      select1:3,
      options1:[
        {text:'IT', value:0},
        {text:'Blade Runner', value:2},
        {text:'Thor Ragnarok', value:3}
      ]
    }
  },

  methods: {
    getTicketsLazy() {
      this.getTickets();
    },
    getTickets(page=0) {
      this.isLoading = true;

      let get      = page > 0 ? '?page='+page+'&':'?';
      let count    = 0;
      let length   = Object.keys(this.search).length;

      for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');

      ApiService.get(`/ticket${get}`).then(response => {
        this.tickets     = response.data.data;
        this.totalPages  = response.data.last_page;
        this.currentPage = response.data.current_page;
        console.log(    this.tickets  )
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        this.isLoading = false;
      });
    },

    getAllUser() {
      ApiService.get('/users/roleWiseUsers').then(response => {
        this.users = response.data;
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      })
    },

    deleteThisTicket () {
      ApiService.delete(`/ticket/${this.deleteId}`).then(response => {
        this.getTickets();
        this.$toastr('success', 'Ticket Deleted', 'Success!')
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        this.popupDelete = false;
      })
    },

    exportPdfOrExcel(value) {
      this.isLoading = true;
      let get      = '?';
      let count    = 0;
      let length   = Object.keys(this.search).length;
      for(let i in this.search) get += i+'='+this.search[i]+(++count < length ? '&':'');
      ApiService.get(`/ticket/${value}/${get}`)
        .then(response => {
          this.isLoading = false;
          window.open(response.data);
        })
        .catch(error => {
          this.isLoading = false;
          this.$vs.dialog({
            color: "danger",
            title: `Something Went Wrong`,
            text: error.response.data.message
          });
        })
        .finally(()=>{
          this.selectValue = null;
        });
    }
  },

  mounted() {
    this.getAllUser()
    this.getTickets()
    console.log(this.tickets)

    this.user       = this.$store.state.AppActiveUser;
    this.priorities = [
      {
        text: 'High',
        value: 'high'
      },
      {
        text: 'Middle',
        value: 'middle'
      },
      {
        text: 'Low',
        value: 'low'
      }
    ];
    this.statuses = [
      {
        text: 'Open',
        value: 'open'
      },
      {
        text: 'Close',
        value: 'close'
      },
      {
        text: 'Cancel',
        value: 'cancel'
      }
    ];
  },
  watch: {
    //For Pagination
    currentPage: function(val, oldVal){
      this.getTickets(val)
    }
  },
  created() {
    //For Delay on search
    this.getTicketsLazy = _.debounce(this.getTickets, 500)
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    }
  },
  components: {
    OpenTicket, EditTicket, /*ReplayTicket,*/ Trash2Icon, EditIcon,
    CheckSquareIcon, XIcon, ClockIcon, PlusIcon, RefreshCwIcon, FilePlusIcon, FileTextIcon, MoreVerticalIcon,
    ExternalLinkIcon
  }
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
<style lang="stylus">
.popup-example
  .vs-input
    float left
    width 50%
    margin 10px
    margin-top 5px
  .con-select
    margin-left 10px
    width 50%
    margin-bottom 10px
</style>
