<template>
  <div class="vx-row justify-center">
    <div class="vx-col w-1/2 mb-base">
      <div  class="centrex reply-ticket">
        <vx-card>
            <div class="vx-col w-full mb-3">
              <h4>Replay Ticket</h4>
            </div>
        <vs-row class="mb-3">
          <h4 class="block w-full">{{ thisTicket.title }}</h4>
          <small class="block w-full">{{ thisTicket.created_at }}</small>
        </vs-row>
        <vs-row class="mb-3" v-html="thisTicket.body">
          <p>{{ thisTicket.body }}</p>
        </vs-row>
        <p class="rounded px-0 mt-3 justify-between flex">
          <span>
            <span :key="ind" v-for="(myFile, ind) in thisTicket.files" :title="file.file">
              <img v-if="myFile.file && fileType(myFile.file) === 'image'"  :src="'/images/file-icons/jpg.png'" class="custom-class cursor-pointer" @click="file = myFile.file, popupFile = true" style="width: 25px; height: 25px"/>
              <img v-if="myFile.file && fileType(myFile.file) !== 'image'" :src="'/images/file-icons/'+fileType(myFile.file)+'.png'" class="custom-class cursor-pointer" @click="file = myFile.file, popupFile = true" style="width: 25px; height: 25px"/>
            </span>
          </span>
          <span >
            <span title="Open" v-if="thisTicket.status=='open'">
              <ClockIcon size="1.5x" class="custom-class cursor-pointer"  :class="{'text-warning' : thisTicket.status=='open'}"></ClockIcon>
            </span>

            <span title="Close" v-if="thisTicket.status=='close'">
              <CheckSquareIcon size="1.5x" class="custom-class cursor-pointer"  :class="{'text-success' : thisTicket.status=='close'}"></CheckSquareIcon>
            </span>

            <span title="Cancel" v-if="thisTicket.status=='cancel'">
              <XIcon size="1.5x" class="custom-class cursor-pointer"  :class="{'text-danger' : thisTicket.status=='cancel'}"></XIcon>
            </span>

          </span>
        </p>
        <hr class="my-3" />

        <vs-row class="mb-3">
            <label>Message <span class="text-danger">*</span></label>
            <quill-editor
              class="w-full"
              ref="email-body"
              :options="editorOption"
              :class="$v.replayTicket.body.$error ? 'textarea-danger' : ''"
              v-model.trim="$v.replayTicket.body.$model"
            />
            <small v-if="$v.replayTicket.body.$error" class="textarea-danger-text">Body is required.</small>
        </vs-row>
        <vs-row class="mb-3">
          <div class="vx-row" v-if=" replayTicket.my_files">
            <div class="vx-col" v-for="(attachment,index) in  replayTicket.my_files" :key="index" style="position: relative;">
              <vs-button v-if="attachment" radius color="danger"  @click=" replayTicket.my_files.splice(index,1)" style="position: absolute; top: -5px; left: 137px;"  size="small" type="filled" icon="close"></vs-button>
              <img v-if=" attachment && fileType(attachment) !== 'image'"  :src="'/images/file-icons/'+fileType(attachment)+'.png'" width="150px" height="150px" class="mt-3"/>
              <img  v-if="attachment && fileType(attachment) === 'image'"  :src="attachment" width="150px" height="150px" class="mt-3"/>

            </div>
          </div>
        </vs-row>
          <vs-row  class="mb-3">
            <VueGallery  v-model="attachment_paths" :type="'button'" class="cursor-pointer w-full "></VueGallery>
          </vs-row>

        <vs-button @click="saveTicketReplay()" color="primary" type="filled">Save</vs-button>
          <vs-button
            color="warning"
            type="border"
            class="mb-2"
            @click="resetForm"
          >Reset</vs-button>

        <hr class="my-3" />

        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :is-full-page="false"
                 :width="30"
                 :height="30">
        </loading>
        <vs-row class="mb-3" v-if="replies.length > 0">
          <vs-col :key="index" v-for="(replay, index) in replies" class="mb-2 bg-grey p-2 rounded">
            <strong class="block text-white">{{replay.user.name}}</strong>
            <small class="block">{{ replay.created_at }}</small>
            <p class="bg-grey-light rounded px-2 mt-3 py-3 " v-html="replay.body">{{replay.body}}</p>
            <div class="rounded px-0 mt-3 flex">
              <span  :key="ind" v-for="(myFile, ind) in replay.files" :title="myFile.file" >
                <img v-if="myFile.file && fileType(myFile.file) === 'image'"  :src="'/images/file-icons/jpg.png'" class="custom-class cursor-pointer mr-1" @click="file = myFile.file, popupFile = true" style="width: 25px; height: 25px"/>
                <img v-if="myFile.file && fileType(myFile.file) !== 'image'" :src="'/images/file-icons/'+fileType(myFile.file)+'.png'" class="custom-class cursor-pointer mr-2" @click="file = myFile.file, popupFile = true" style="width: 25px; height: 25px"/>
              </span>
            </div>
          </vs-col>

        </vs-row>
        <vs-row class="my-3 text-center text-secondary block" v-else >
          No Replies Available
        </vs-row>

          <vs-popup :fullscreen="fileType(file) !== 'image'" title="Files" :active.sync="popupFile">
            <iframe v-if="fileType(file) !== 'image'" :src="file" height="800px" width="100%"></iframe>
            <img v-else :src="file" class="w-full"/>
          </vs-popup>

        </vx-card>
      </div>
    </div>
  </div>
</template>


<script>
import 'quill/dist/quill.core.css';
import 'quill/dist/quill.snow.css';
import { quillEditor } from 'vue-quill-editor';
import ApiService from '@/services/api.service'
import { PlusIcon, FileIcon, ClockIcon, CheckSquareIcon, XIcon } from 'vue-feather-icons'
import VueGallery from "@/components/v-gallery/VueGallery"
import {minLength, required} from "vuelidate/lib/validators";
export default {
  name:'ReplayTicket',
  props: {
    user_id    : Number,
  },
  data () {
    return {
      replayTicket     : {
        body: '',
        my_files: []
      },
      replies          : {},
      isLoading        : false,
      ticketId         : this.$route.params.supportId,
      thisTicket       : {},
      attachment_paths : '',
      popupFile        : false,
      file             : '',

      ex               :'',
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block'],
            [{'header': 1}, {'header': 2}],
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'font': []}]
          ]
        },
        placeholder: 'Write in detail...'
      },
    }
  },
  validations: {
    replayTicket: {
      body  : { required }
    }
  },
  methods: {
    getReplies() {
      this.isLoading = true;
      ApiService.get(`/ticket/replay/${this.ticketId}`).then(response => {
        this.resetForm();
        this.replies = response.data.replies;
        this.thisTicket = response.data.ticket;
      }).catch(error => {

        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(()=>{
        this.isLoading = false;
      })
    },

    saveTicketReplay() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
      this.replayTicket.user_id   = this.thisTicket.user_id
      this.replayTicket.parent_id = this.thisTicket.id
      ApiService.post('/ticket/replay', this.replayTicket).then(response => {
        this.replies = response.data;
        this.$toastr('success', 'Replay Saved', 'Success!');
      }).catch(error => {
        if (error.response.status == 422) {
          for (let property in error.response.data.errors) {
            this.$toastr('error', error.response.data.errors[property], 'Error')
          }
        }
      }).finally(() => {
        // this.popupReplay= false;
        this.getReplies();
        this.resetForm();
      })
       }
      },

    getFileExtension(file){
      let FileType = file.split('.')
      return this.ex = ( FileType[FileType.length-1]).toLowerCase();
    },

    resetForm() {
        this.attachment_paths = '';
        this.file             = '';
        this.id               = 0 ;
        this.replayTicket.body= '';
        while( this.replayTicket.my_files.length > 0) this.replayTicket.my_files.pop();
        console.log( this.replayTicket)
        this.$v.$reset();
    }
  },
  mounted() {
    this.getReplies();
  },
  watch: {
    attachment_paths : function(val, oldVal) {
      if(this.replayTicket.my_files.includes(val)) {
        this.$toastr('error', 'Same file cannot be uploaded.', 'No file select.');
      } else
        this.replayTicket.my_files.push(val);
    }
  },
  components: {
    VueGallery,quillEditor,
    PlusIcon, FileIcon, ClockIcon, CheckSquareIcon, XIcon
  }

}
</script>

<style scoped>
  .reply-ticket vx-card {
    min-height: 500px;
  }

  .reply-ticket .vx-card .vx-card__collapsible-content img {
    display: inline-block;
  }
</style>
