<template>
  <ReplayTicket></ReplayTicket>

</template>

<script>
import ReplayTicket from './ReplayTicket'
export default {
  name: "TicketParent",
  props: {},
  data() {
    return {};
  },
  methods: {},
  watch: {},
  components: {
    ReplayTicket
  }
}
</script>

<style scoped></style>
