
<template>
  <div class="relative">
    <loading :active.sync="isLoading"
             :can-cancel="true"
             :is-full-page="false"
             :width="30"
             :height="30">
    </loading>
    <vx-card title="Report">

      <h1 class="text-center block mt-20 text-warning">
        Under Construction
      </h1>
    </vx-card>
  </div>
</template>

<script>
import ApiService from '@/services/api.service'

export default {
  name: 'Report',
  data () {
    return {
      isLoading : true
    }
  },
  methods: {},
  mounted() {
    this.isLoading = false;
    console.log('Report Loaded!')
  },
  watch: {},
  components: {}
}
</script>

<style scoped>
  .vx-card {
    min-height: 500px;
  }
</style>
<style lang="stylus">
.popup-example
  .vs-input
    float left
    width 50%
    margin 10px
    margin-top 5px
  .con-select
    margin-left 10px
    width 50%
    margin-bottom 10px
</style>